<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Détails commission</title>
	<style>
	.cursor-pointer{
	  cursor: pointer;
	}
	</style>
</head>

<body>
<section layout:fragment="content">

<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">                           
                            <h1 class="m-0">

                            	Détails de la Commission Promotionnelle
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

<section th:if="${detailOffre == null}"  class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 card mt-5 p-5">
                    <div class="text-center">
                        <h1 class="text-danger">Cette commission n'existe pas.</h1>
                    </div>
                </div>
            </div>
        </div>
</section> 
           
<section th:if="${detailOffre != null}"  class="card m-2 p-2">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="resume-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="home" aria-selected="true">Résumé</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  	<div class="card-block-header">
															<h4>Informations principales</h4>
															<div class="card-block-body">
	<div class="row">
																	<label class="col-sm-4 col-form-label">Nom de la Commission :</label>
																	<div class="col-sm-8" th:text="${detailOffre.nomCommisionPromo}">
																	</div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Période :</label>
																	<p class="col-sm-4">
																	<span  th:text="${detailOffre.dateDebut} ">
																	</span> ->
																	<span  th:text="${detailOffre.dateFin} ">
																	</p>
																	
																</div>
																
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Prix demande palier (1-20) :</label>
																	<p class="col-sm-4">
																	<span  th:text="${detailOffre.montantDemandePalier1}">
																	</span> DT
																	</p>
																	
																</div>
																
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Prix demande palier (21-30) :</label>
																	<div class="col-sm-8" >
																	<span th:text="${detailOffre.montantDemandePalier2}"></span> 
																	DT
																	</div>
																	
																</div>
																
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Prix demande palier (31-50) :</label>
																	<p class="col-sm-8" >
																	<span th:text="${detailOffre.montantDemandePalier3}">
																	</span> DT
																	</p>
																	
																</div>
																
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Prix demande palier (51-99) :</label>
																	<p class="col-sm-8">
																	<span  th:text="${detailOffre.montantDemandePalier4}">
																	</span> DT
																	</p>
																	
																</div>
																
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Prix demande palier (> 100) :</label>
																	<p class="col-sm-8">
																	<span  th:text="${detailOffre.montantDemandePalier5}">
																	</span> DT
																	</p>
																</div>
																</div>
																</div>
</div>
    
</section>
</section>
</body>
</html>
<script th:inline="javascript">



</script>
