<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>
<link rel="stylesheet" href="/css/customvariablestyle.css">
    <title>Offres Commissions</title>

</head>

<body>
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">                           
                            <h1 class="m-0">
                            	Liste de commissions promotionnelles
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
<div class="container card p-3">

<div class="mb-5">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOffreCommissionModal">
	  Créer commission promotionnelle
	</button>
</div>


        <table id="commissionTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Nom commission</th>
                    <th>Periode</th>
                    <th>Date de création</th>
                    <th>Créer par</th>
                    <th>Date de modification</th>
                    <th>Modifier par</th>
                    <th>Etat</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <!-- Les lignes de données seront générées dynamiquement par DataTables jQuery -->
            </tbody>
        </table>
    </div>

<div class="modal fade" id="addOffreCommissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <form id="addOffreCommissionForm" th:action="@{/commissionpromotionnel/offre/ajouter}"  method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une Commission promotionnelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			<div class="modal-body">
			         <div class="form-group">
			            <label for="date">Nom de commision</label>
			            <input class="form-control" type="text" id="namepromo" name="namepromo" required>
			        </div>
			        <div class="form-group">
			            <label for="date">Date Debut</label>
			            <input class="form-control" type="date" id="datedebut" name="datedebut" required>
			        </div>
			
			
			    <div class="form-group">
			            <label for="date">Date Fin</label>
			            <input class="form-control" type="date" id="datefin" name="datefin" required>
			        </div>
			  
			
			        <div class="form-group">
			        <h4>Palier 1 (1-20)</h4>
			        <div class="row">
			         <div class="col-md-6">
					    <label for="montant">Montant demande </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantdemande1" name="montantdemande1" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					   <!--   <div class="col-md-4">
					    <label for="montant">Montant activation </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantactivation1" name="montantactivation1" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					    
					        <div class="col-md-4">
					    <label for="montant">Montant Payement </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantpayement1" name="montantpayement1" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					  -->
					</div>
					</div>
					
					      <div class="form-group">
					       <h4>Palier 2 (21-30)</h4>
					       <div class="row">
			         <div class="col-md-6">
					    <label for="montant">Montant demande </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantdemande2" name="montantdemande2" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					  <!--   <div class="col-md-4">
					    <label for="montant">Montant activation </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantactivation2" name="montantactivation2" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					    
					        <div class="col-md-4">
					    <label for="montant">Montant Payement </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantpayement2" name="montantpayement2" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div> -->
					</div>
					</div>
					
						      <div class="form-group">
						       <h4>Palier 3 (31-50)</h4>
					  			       <div class="row">
			         <div class="col-md-6">
					    <label for="montant">Montant demande </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantdemande3" name="montantdemande3" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					   <!--   <div class="col-md-4">
					    <label for="montant">Montant activation </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantactivation3" name="montantactivation3" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					    
					        <div class="col-md-4">
					    <label for="montant">Montant Payement </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantpayement3" name="montantpayement3" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div> -->
					</div>
					</div>
					
						      <div class="form-group">
						       <h4>Palier 4 (51-99)</h4>
					  	  			       <div class="row">
			         <div class="col-md-6">
					    <label for="montant">Montant demande </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantdemande4" name="montantdemande4" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					  <!--     <div class="col-md-4">
					    <label for="montant">Montant activation </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantactivation4" name="montantactivation4" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					    
					        <div class="col-md-4">
					    <label for="montant">Montant Payement </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantpayement4" name="montantpayement4" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div> -->
					</div>
					</div>
					      <div class="form-group">
					       <h4>Palier 5 (> 100)</h4>
							  	  			       <div class="row">
			         <div class="col-md-6">
					    <label for="montant">Montant demande </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantdemande5" name="montantdemande5" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					<!--    <div class="col-md-4">
					    <label for="montant">Montant activation </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantactivation5" name="montantactivation5" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div>
					    
					        <div class="col-md-4">
					    <label for="montant">Montant Payement </label>
					    <div class="input-group">
					        <input class="form-control" type="number" step="0.01" id="montantpayement5" name="montantpayement5" autocomplete="off" required>
					        <div class="input-group-append">
					            <span class="input-group-text">TND</span>
					        </div>
					    </div>
					    </div> --> 
					</div>
					</div>
				
			        
			</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary" id="submitOffreCommission">Enregistrer</button>
            </div>
          </form>
        </div>
    </div>
</div>

<!-- Modal de changement etat -->
<div class="modal fade" id="confirmationChangementEtat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
	    <form th:action="@{changer-etat-offre}" method="POST">
	        <div class="modal-content">
	            <div class="modal-header">
	                
	                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	               <input type="hidden" name="idOffre" id="idOffre">
	                Êtes-vous sûr de vouloir changer l'état de cette offre de commission ?
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
	                <button type="submit" class="btn btn-primary" id="confirmChangeState">Confirmer</button>
	            </div>
	        </div>
	    </form>
    </div>
</div>
<input type="hidden" name="resultat" th:value="${resultat}" />
</section>
</body>
</html>
<script th:inline="javascript">
var resultat = /*[[${resultat}]]*/ '';
var alertMessage = "";

if (resultat === 'success') {
    alertMessage = 'La modification de l\'état a été effectuée avec succès.';
} else if (resultat === 'erreur') {
    alertMessage = 'Il y a une offre active dans ce mois.';
}

if (alertMessage) {
    $(document).Toasts("create", {
        title: resultat === 'success' ? 'Succès' : 'Erreur',
        body: alertMessage,
        class: resultat === 'success' ? 'bg-success' : 'bg-danger',
        autohide: true,
        delay: 10000,
    });
}

$(document).ready(function () {
    var oTable1 = $('#commissionTable').DataTable({
        "language": {
            "lengthMenu": "Affichage _MENU_ enregistrements par page",
            "zeroRecords": "Rien trouvé - désolé",
            "info": "Afficher _START_ -  _END_ de _TOTAL_ commissions",
            "infoEmpty": "Aucun enregistrement disponible",
            "paginate": {
                "first": "<i class='fa fa-fast-backward'></i>",
                "last": "<i class='fa  fa-fast-forward '></i>",
                "next": "<i class='fa fa-solid fa-chevron-right'></i>",
                "previous": "<i class='fa fa-solid fa-chevron-left'></i>",
            },
        },
        "processing": true,
        "serverSide": true,
        "ordering": true,
        "searching": true,
        "ajax": "/commissionpromotionnel/allOffreCommissions",
        "lengthMenu": [
            [10, 20, 50, 100, 200, 500],
            [10, 20, 50, 100, 200, 500],
        ],
        "columnDefs": [
            {
                "orderable": false,
                "targets": [0, 1, 2, 3, 4, 5, 6]
            }
        ],
        "columns": [
      	  {
              data: null,
              render: function (data, type, row) {
            	 
             		 return row.nomCommisionPromo;
              }
        },
	    	  {
	              data: null,
	              render: function (data, type, row) {
	            	 
	             		 return row.dateDebut+" / "+row.dateFin;
	              }
	        },
	    
	      
	  
	        {
	              data: null,
	              render: function (data, type, row) {			             		
	            	// Convertissez la date en un objet Date JavaScript
	                  var dateObj = new Date(row.createdDate);

	                  // Obtenez le jour, le mois et l'année
	                  var day = dateObj.getDate();
	                  var month = dateObj.getMonth() + 1; // Les mois sont indexés de 0 à 11, donc ajoutez 1
	                  var year = dateObj.getFullYear();

	                  // Formatez la date au format "DD/MM/YYYY"
	                  var formattedDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;

	                  return formattedDate;
	              }
	           },
		        {
		              data: null,
		              render: function (data, type, row) {
		             		 return row.createdBy.firstName +" "+ row.createdBy.lastName;
		              }
		        },
		        {
		              data: null,
		              render: function (data, type, row) {			             		
		            	if(row.modifyBy != null){
			                  var dateObj = new Date(row.modifiedDate);
			                  
			                  var day = dateObj.getDate();
			                  var month = dateObj.getMonth() + 1; 
			                  var year = dateObj.getFullYear();
			                  
			                  var formattedDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;

			                  return formattedDate;
		            	}else{
		            		return "";
		            	}

		              }
		           },
			        {
			              data: null,
			              render: function (data, type, row) {
			            	  if(row.modifyBy != null){
			            		  return row.modifyBy.firstName +" "+ row.modifyBy.lastName;
			            	  }else{
			            		  return "";
			            	  }
			             		 
			              }
			        },
		        {
		              data: null,
		              render: function (data, type, row) {
		            	  if(row.isActive == true ){
		                      return "<span class='badge badge-success'>Activé</span>"		                   
		            	  }else{
		                   return "<span class='badge badge-danger'>Désactivé</span>"
		                  }

		              }
		        },
		        {
		              data: null,
		              render: function (data, type, row) {
		            	  result = "<button class='btn btn-primary change-state' onclick='ouvrirModalChangementEtat(" + row.id + ")'>Changer l'état</button>"
		            	  result += "<a  class='btn btn-primary change-state pl-2 ml-2 text-white' href='/commissionpromotionnel/detailsCommissionPromo/" + row.id + "'>Detail</a>"
		             
		              return result ;
		              }
		        },
        ]
    });
});


    
   
//Fonction pour ouvrir le modèle "changement etat"
function ouvrirModalChangementEtat(idOffre) {
  document.getElementById('idOffre').value = idOffre;
  $('#confirmationChangementEtat').modal('show'); // Ouvrir le modèle
}

</script>
