<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Suivi des Commissions</title>

</head>

<body>
<section layout:fragment="content">

<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">                           
                            <h1 class="m-0">
                            	Calcul de commissions Promotionnelle
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
<section class="card m-2 p-2">
 <div class="container mt-2">
        <div class="d-flex justify-content-between align-items-center ">
            <div class="col-md-9">
                <form >
                <div class="d-flex justify-content-between align-items-center">
                <div class="col-sm-6 " >
	                <label >Sélectionner une offre de commission</label>
<select id="offreActive" name="offreActive"
														class="form-control" th:required="true">
														<option th:each="offre : ${offreActive}"
															th:value="${offre.id}"
															th:text="${offre.nomCommisionPromo}"
															></option>
													</select>
				
					</div>
					  <div class="col-sm-6 "   sec:authorize="hasAnyAuthority('COMMISSION_FINNANCIER_ALL','COMMISSION_FINNANCIER_AREA')" >
                        <label  for="professions"
                          > Revendeur </label
                        >                       
                        <input list="userAffected" 
                           			class="form-control" 
                           			autocomplete="off" 
                           			type="text" 
                           			name="revendeur" 
                           			id="revendeur" 
                           			placeholder="Veuillez entrer le nom de votre revendeur">
                           			
							<datalist id="userAffected">
							<option  th:each="user : ${client}"
                              th:value="${user.codeUser}"
                              th:text="${user.firstName + ' ' + user.lastName + (user.nomCommercial != null ? ' ' + user.nomCommercial : '')}">
		                     </option>
							</datalist>

                      </div>
                     
                      <div class="col-md-4">
                    <button type="button" class="btn btn-primary ml-2" id="buttonCalculer" onclick="getData()">Calculer</button>   
                    </div>             
                     </div>    
                </form>                
            </div>
        </div>
    </div>
     <div id="resultatsDiv" class="hidden mt-5">
     	   	
        <div class="alert alert-info text-center" role="alert">
        	<h1 class="text-center mb-3">Détails Commission</h1>
            <h4>Résumé des Commissions de <span name="moisNom"></span> <span name="anneeNom"></span></h4>
        </div>
               <div class="container mt-5">
        	<table class="table col-md-5">
		      <thead>
		        <tr>
		          <th>Montant Commission</th>
		          <th>Montant</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>Commissions sur Demande</td>
		          <td><span name="total"></span></span> TND</td>
		        </tr>
		        <tr>
		          <td>Commissions sur Activation</td>
		          <td><span name="totalCommissions"></span> TND</td>
		        </tr>
		        <tr>
		          <td>Commissions sur paiement</td>
		          <td><span name="totalCommissionsPaiement"></span></span> TND</td>
		        </tr>
		        <!-- Ajoutez plus de lignes ici pour d'autres montants et statuts -->
		      </tbody>
		      <tfoot>
		        <tr>
		          <th>Total :</th>
		          <th><span name="commission"></span> TND</th>
		        </tr>
		      </tfoot>
		    </table>
        </div>
     	<div class="container mt-5">
     	<div class="alert alert-secondary" role="alert">
            <h2>Résumé des Commissions sur Demande</h2>
        </div>
	     	<table class="table table-bordered">
		        <thead>
		            <tr>
		                <th>Periode</th>
		                <th>Total Demandes</th>
		                <th>Demandes Acceptées</th>
		                <th>Demandes Rejetées</th>
		                <th>Demandes en Attente </th>
		                <th>Demande Non réalisée</th>
		                <th>Total des Commissions / demandes</th>
		                <th>Details</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td><span name="moisNom"></span></td>
		                <td><span name="totalDemandes"></span></td>
                    	<td><span name="demandesAccepte"></span></td>
                    	<td><span name="demandesRejete"></span></td>
                    	<td><span name="demandesEnAttente"></span></td>
                    	<td><span name="nbFirstFactureNonPayed"></span></td>
                    	<td><span name="total"></span> TND</td>
                    	<td>
								  <a class="btn btn-primary" data-toggle="collapse" href="#detailsDemande" role="button" aria-expanded="false" aria-controls="collapseExample">
								    Details
								  </a>		
		                </td>
		            </tr>
		        </tbody>
		    </table>  
		  <div class="collapse ml-3 mr-3" id="detailsDemande">
						<div class="border border-primary rounded border-light p-2">
								<div class="text-center mb-3">
							        <h3 class="text-primary">Détails de la commission sur demande acceptées</h3>
							    </div>
						    <table id="tableau_details_commission_demande" class="table table-bordered">
					            <thead class="thead-primary">
					                <tr>
					                    <th>Code Client</th>
					                    <th>Etat</th>
					                    <th>status</th>
					                </tr>
					            </thead>
					            <tbody>
					                
					            </tbody>
        					</table>
						</div>
				</div> 
     	</div>
 
		    
	
		    		  <div>
		    		 
                      <p> - Hors avance </p>
		    		  </div>
		  <!-- Button trigger modal -->
		  <div id="validationCommision"></div>
			
			
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Confirmation de Commission</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        Êtes-vous sûr de vouloir valider les commissions du mois de <b><span name="moisNom"></span></b> ?			        
			        <div id="msgCommissionEnAttente"></div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			        <button type="button" id="validationButton" class="btn btn-primary" onclick="sendData()">Valider</button>
			      </div>
			    </div>
			  </div>
			</div>
    </div>
    
		<!-- model first facture non versé -->
		<div sec:authorize="hasAnyAuthority('COMMISSION_FINNANCIER_ALL','COMMISSION_FINNANCIER_AREA')" class="modal fade" id="modelNbFirstFactureNonVerse" tabindex="-1" role="dialog" aria-labelledby="modelNbFirstFactureNonVerse" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Liste des premières factures non versées</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		         <table id="tableau_list_firstFacture_nonVerse" class="table table-bordered">
					            <thead class="thead-primary">
					                <tr>
					                    <th>Facture</th>
					                    <th>client</th>
					                    <th>Payé par</th>
					                </tr>
					            </thead>
					            <tbody>
					                
					            </tbody>
        		</table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		      </div>
		    </div>
		  </div>
		</div>
</section>
</section>
</body>
</html>
<script th:inline="javascript">
let obj ;
function getData() {
	
	//Initialisation
	table = $('#tableau_details_commission_facture').DataTable()
	table.destroy();
	
	//Initialisation
	table = $('#tableau_details_commission_first_facture').DataTable()
	table.destroy();
	
	//Initialisation
	table = $('#tableau_details_commission_demande').DataTable()
	table.destroy();
	
	//Initialisation
	table = $('#tableau_list_firstFacture_nonVerse').DataTable()
	table.destroy();
	
	$('.loader-container').show();
	
	$('#tableau_details_commission_demande').DataTable.clear
	$('#tableau_details_commission_first_facture').DataTable.clear
	$('#tableau_details_commission_facture').DataTable.clear
	$('#tableau_list_firstFacture_nonVerse').DataTable.clear

    const inputElement = document.getElementById("date");
	//input date pour fireFox
    const alternativeInputElement = document.getElementById("alternativeDate");


    
    var apiUrl = "/commissionpromotionnel/getCommission";
     let idRevendeur =  null ; 
     if(document.getElementById("revendeur")){
    	 idRevendeur = document.getElementById("revendeur").value;
     }
     let idPromo = null
     if(document.getElementById("offreActive")){
    	 idPromo = document.getElementById("offreActive").value;
     }
    const dataToSend = {
    		revendeur: idRevendeur,
    		idPromo : idPromo
    	};

    $.ajax({
        url: apiUrl,
        method: "POST",
      //  contentType: 'application/json',
        data:dataToSend ,
        success: function (data) {
        
        	var erreur = data.erreur;
        	if(erreur != null){
        		    const errorMessages = {
        		        "REV_REQUIRED": "Le champ revendeur est requis.",
        		        "REV_NOT_FOUND": "Le revendeur n'a pas été trouvé.",
        		        "DATE_REQUIRED": "La date est requise.",
        		    };

        		    for (const errorType in errorMessages) {
        		        if (erreur.includes(errorType)) {
        		            $(document).Toasts("create", {
        		                title: "Erreur",
        		                body: errorMessages[errorType],
        		                class: "bg-danger",
        		                autohide: true,
        		                delay: 5000,
        		            });
        		        }
        		    }        		
        		$('.loader-container').hide();
        		$("#resultatsDiv").addClass("hidden");
            	return;
        	}

        	obj = data ;
        	$('.loader-container').hide();
        	
        	// Afficher la div resultat
        	$("#resultatsDiv").removeClass("hidden");
        	
        	// Mettre à jour le contenu de la span avec le nom du mois sélectionné
            //var selectedDate = new Date(date);
            //var monthName = monthNames[selectedDate.getMonth()];
            // var year = selectedDate.getFullYear();
            $("span[name='moisNom']").text([data.dateDebut] + " -" + data.dateFin);
            
         // Mettre à jour les informations de commission de demenades
            $("span[name='totalDemandes']").text(data.commissionDemandes.totalDemandes);
            $("span[name='demandesAccepte']").text(data.commissionDemandes.demandesAccepte);
            $("span[name='demandesRejete']").text(data.commissionDemandes.demandesRejete);
            $("span[name='demandesEnAttente']").text(data.commissionDemandes.demandeEnAttente);
            $("span[name='nbFirstFactureNonPayed']").text(data.commissionDemandes.nbFirsFactureNonPayed);
            $("span[name='total']").text(parseFloat(data.commissionDemandes.total).toFixed(3)) ;
            
            // Mettre à jour les informations de Commission sur activation (first facture)
          
            if(data.commissionActivation){
            	  $("span[name='nbDemandeActive']").text(data.commissionActivation.nbCommissionActivation);
            spanNbFirstFactureNonVerse = data.commissionActivation.nbFirsFactureNonVerse
            if(data.isAdmin == true && data.commissionActivation.nbFirsFactureNonVerse > 0 ){
                spanNbFirstFactureNonVerse += '<button type="button" class="btn btn-outline-primary ml-3" data-toggle="modal" data-target="#modelNbFirstFactureNonVerse">Afficher</button>'
            }
            $("span[name='nbFirstFactureNonVerse']").html(spanNbFirstFactureNonVerse);
            
            $("span[name='totalCommissions']").text(parseFloat(data.commissionActivation.totalCommissions).toFixed(3)) ;
            }
           // Mettre à jour les informations de Commission des paiements
           if(data.commissionPaiements){
            $("span[name='nbFacturePayee']").text(data.commissionPaiements.nbFacturePayee);
            $("span[name='totalCommissionsPaiement']").text(parseFloat(data.commissionPaiements.totalCommissionsPaiement).toFixed(3));
            $("span[name='nbFactureNonVerse']").text(data.commissionPaiements.nombreFactureNonVerse);
           }
            var commission = 
               
                parseFloat(data.commissionDemandes.total);
            $("span[name='commission']").text(commission.toFixed(3));
            
            
            $("#validationCommision").empty();
          
            if(data.isAdmin == false){
                if(data.validation == true){
                	
                	let btn = `<button type="button" class="btn btn-success ml-3" id="buttonValidationModel" data-toggle="modal" data-target="#exampleModal">
          			  valider
          			</button> `
                  	$("#validationCommision").append(btn);            		

          			if(!data.verif15Jours){
          				var validationMessage = '';

                		if (!data.verif15Jours) {
                		    validationMessage += '<h5 class="text-danger mt-2">Vous devez attendre au moins 1 mois après la fin du mois de cette commission pour pouvoir la valider.</h5>';

                		}
                		
                		
                		$("#validationCommision").html(validationMessage);
          			}
            		            		
            		if (data.verifCommissionEnAttente == true) {
            			msg = '<p class="text-danger mt-2 my-2">Attention : Il reste des demandes en attente. Veuillez noter que si vous validez votre commission pour ces demandes, elle ne pourra pas être modifiée ultérieurement.</p>';
            		    $("#msgCommissionEnAttente").html(msg);
            		}
            		          		
                }else{
                	$("#validationCommision").empty();
                	$("#validationCommision").html('<p class="font-weight-bold text-success">Cette commission est déjà validée.</p>');
                }
            }  	
            
            if(data.isAdmin == true){
                //tableau liste first facture non versé
                var tableListFirstFactureNonVerse = document.querySelector('#tableau_list_firstFacture_nonVerse tbody');
                tableListFirstFactureNonVerse.innerHTML = ''; // Efface le contenu précédent du tableau
                
                data.listFirstFactureNonVerse.forEach(function(row) {
                    var newRow = tableListFirstFactureNonVerse.insertRow(tableListFirstFactureNonVerse.rows.length);
                    newRow.insertCell(0).textContent = row.ref_facture;
                    newRow.insertCell(1).innerHTML =  "<a href='/client/viewclient/"+row.clientid+"' target=_blank>"+row.referenceClient+"</a>";
                    newRow.insertCell(2).textContent = row.firstName + " " + row.lastName + " / " + (row.nomCommercial ? row.nomCommercial : "") + " / ( " + row.codeUser +" )";
                });
                createDataTableListFirstFactureNonVerse()
            }

  			
 
     
         
            
          //details commission demande
            var tableBodyDetailsDemande = document.querySelector('#tableau_details_commission_demande tbody');
            tableBodyDetailsDemande.innerHTML = ''; // Efface le contenu précédent du tableau
            
            data.commissionDemandes.detailsCommissionDemande.forEach(function(row) {
                var newRow = tableBodyDetailsDemande.insertRow(tableBodyDetailsDemande.rows.length);
                newRow.insertCell(0).innerHTML = row.referenceClient;
                newRow.insertCell(1).innerHTML = row.etatCommission == false ? "<span class='badge badge-danger'> Non réalisé </span>" : "";	
                newRow.insertCell(2).textContent = row.statutCommission;
            });
            createDataTableDetailsDemande()

        },
        error: function (error) {
        	$('.loader-container').hide();
            console.error('Erreur lors de la récupération des données:', error);
        }
    });
}
function createDataTableDetailsDemande(){
    $(document).ready(function () {
    	
        $('#tableau_details_commission_demande').DataTable({
            "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucun résultat trouvé",
                "info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
                "search": "Rechercher",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "lengthMenu": [10, 20, 50, 200, 500, 999]
        });
    });
}

function createDataTableListFirstFactureNonVerse(){
    $(document).ready(function () {
    	
        $('#tableau_list_firstFacture_nonVerse').DataTable({
            "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucun résultat trouvé",
                "info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
                "search": "Rechercher",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "lengthMenu": [10, 20, 50, 200, 500, 999],
            "autoWidth": true
        });
    });
}






    function sendData (){
    	 
    	// Désactiver le bouton
		  $('#validationButton').prop('disabled', true);
		  
		  // Ajouter la classe qui affiche le chargeur
		  $('#validationButton').addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');
		  
		  // Afficher le conteneur de chargeur
		  $('.loader-container').show();

    	 $.ajax({
 	        type: "POST",
 	        contentType: "application/json",
 	        url: "/commissionpromotionnel/saveCommision",
 	        data: JSON.stringify(obj),
 	        dataType: "json",
 	        timeout: 100000,
 	        async:false,
 	        success: function (data) {
 	        	  if(data == true){
 	        		   $(document).Toasts("create", {
 	        		        title: "Ajouter commission",
 	        		        body: "Votre commision est enregistreé  ",
 	        		        class: "bg-success",
 	        		        autohide: true,
 	        		        delay: 1000,
 	        		      });
 	        			$('.toast').on('hidden.bs.toast', function () {
 		            		  // Code to execute after the toast has been hidden
 		            		    window.location.reload()
 		            		});
 	        	  }
 	        	  else {
 	        		  
 	        		// Masquer la modal
 	        		 $('#exampleModal').modal('hide');

 	        		// Supprimer le bouton
 	       			$('#buttonValidationModel').remove();

		 	       		// Masquer le conteneur de chargeur
		 	       		$('.loader-container').hide();
 	        		  
 		        		   $(document).Toasts("create", {
 		        		        title: "Erreur !",
 		        		        body: "La commission est déjà validée.",
 		        		        class: "bg-danger",
 		        		        autohide: true,
 		        		        delay: 10000,
 		        		      });
 	        	  }
 	         
 	        },
 	        error: function (e) {
 	          console.log("ERROR: ", e);
 	        },
 	      }); 
    }

    const browser = navigator.userAgent;
	// Vérifier si le navigateur est Firefox



</script>
