<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="historique(ClientHistory)">
<div>

                    <div class="table-responsive">
                        <table class="table table-bordered" id="historiqueDataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date </th>
                                <th>Cree par</th>

                            </tr>
                            </thead>
                            <tbody>
                           
                                   <tr th:each="ob:${ClientHistory}">
                                <td th:text=${ob.description}></td>
                                <td th:text=${ob.created_date}></td>
                               <!--<td th:text="${#dates.format(ob.createddate, 'dd-MM-yyyy')} "></td>--> 
                                <td ><em th:if="${ob.created_by != null}"><span  th:text=${ob.first_name}></span> (<span th:text=${ob.code_user}></span>)</em></td>


                            </tr>
                            </tbody>
                        </table>
                    </div>
    <footer >
        <p>&copy;Chifco 2022</p>
    </footer>
        <script>
    $(document).ready(function () {
        $('#historiqueDataTable').DataTable({
            "language": {
                "sEmptyTable": "Aucune donnée disponible dans le tableau",
                "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 éléments",
                "sInfoFiltered": "(filtré de _MAX_ éléments au total)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "Afficher _MENU_ éléments",
                "sLoadingRecords": "Chargement...",
                "sProcessing": "Traitement...",
                "sSearch": "Rechercher :",
                "sZeroRecords": "Aucun élément correspondant trouvé",
                "oPaginate": {
                    "sFirst": "Premier",
                    "sPrevious": "<",
                    "sNext": ">",
                    "sLast": "Dernier"
                },

            },
            order: [1, "desc"],
            columnDefs: [{
	    	    orderable: false,
	    	    targets: [0 , 2],
	    	    
	      
	    	  }],
        });
    });
</script>
    </div>
</body>
</html>