<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="Information(Information , infromationcreateur)">
			
								
											<div class="row">
												<div class="col-sm-6">
													<div class="card-block">
														<div class="card-block-header">
															<h4>Informations principales</h4>
															<div class="card-block-body">
																<div class="row">
																	<label class="col-sm-4 col-form-label">Nom:</label>
																	<div class="col-sm-8" th:text="${Information.firstName}"></div>
																
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Prénom:</label>
																		<div class="col-sm-8" th:text="${Information.lastName}"></div>
																	
																</div>
	                                                               <div class="row">
																	<label class="col-sm-4 col-form-label">Nom commercial:</label>
																	<div class="col-sm-8" th:text="${Information.nomCommercial}"></div>
																	
																</div>
																  <div class="row">
																	<label class="col-sm-4 col-form-label">Interlocuteur:</label>
																	<div class="col-sm-8" th:text="${Information.interlocuteur}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Email:</label>
																	<div class="col-sm-8" th:text="${Information.email}"></div>
																	
																</div>
																	<div class="row">
																	<label class="col-sm-4 col-form-label">Cin:</label>
																	<div class="col-sm-8" th:text="${Information.cin}"></div>
																	
																</div>
	                                                              <div class="row">
																	<label class="col-sm-4 col-form-label">Type:</label>
																	<div class="col-sm-8" th:text="${Information.typeUser}"></div>
																	
																</div>
																    <div class="row">
																	<label class="col-sm-4 col-form-label">Role:</label>
																	<div class="col-sm-8" th:text="${Information.role?.roleName}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Activité Principale:</label>
																	<div class="col-sm-8" th:text="${Information.ActivitePrincipale}"></div>
																
																</div>
																  <div class="row">
																	<label class="col-sm-4 col-form-label">Gouvernorat:</label>
																	<div class="col-sm-8" th:text="${Information.gouvernorat?.gouvernoratName}"></div>
																	
																</div>
                                                                   <div class="row">
																	<label class="col-sm-4 col-form-label">Ville:</label>
																	<div class="col-sm-8" th:text="${Information.ville?.villeName}"></div>
																	
																</div>


																<div class="row">
																	<label class="col-sm-4 col-form-label">Adresse:</label>
																	<div class="col-sm-8" th:text="${Information.adresse}"></div>
																	
																</div>

																<div class="row">
																	<label class="col-sm-4 col-form-label">Code postal:</label>
																	<div class="col-sm-8" th:text="${postalCode}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Plafond revendeur :</label>
																	<div class="col-sm-8" th:text="${Information.plafonRevendeur}"></div>
																	
																</div>




																<div class="row">
																	<label class="col-sm-4 col-form-label">Coordonnées Bancaires :</label>
																	<div class="col-sm-8" th:text="${Information.coordonneesBancaires}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Numéro de téléphone:</label>
																	<div class="col-sm-8" th:text="${Information.telephone}"></div>
															
																</div>
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Avoir du stock:</label>
																	<div class="col-sm-8">
																		<span th:if="${Information.withStock}" style="color:green">Oui</span>
																		<span th:unless="${Information.withStock}" style="color:red">Non</span>
																	</div>
																	
																</div>
																			<div class="row">
																	<label class="col-sm-4 col-form-label">Classe Revendeur:</label>
																	<div class="col-sm-8">
																		<span th:text="${Information.classUser}" style="color:green"></span>
																	
																	</div>
																	
																</div>

															</div>
														</div>
													</div>
													<div class="card-block">
														<h4>Cree par</h4>
														<div class="card-block-body">
															<span class="col-sm-8"
																		th:text="${ infromationcreateur.firstName } "></span>
																		<span th:text="${ infromationcreateur.lastName}"></span>
														</div>
														</div>
												</div>
												<div class="col-sm-6">
												<div class="card-block">
														<h4>Information  Boutique</h4>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Régime fiscal :</label>
																	<div class="col-sm-8" th:text="${Information.regimeFiscal}"></div>
																	
																</div>
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Forme juridique :</label>
																	<div class="col-sm-8" th:text="${Information.formeJuridique}"></div>
																	
																</div>
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Identification fiscale:</label>
																	<div class="col-sm-8" th:text="${Information.identificationFiscale}"></div>
																	
																</div>
														</div>
													<div class="card-block">
														<h4>Document Revendeur</h4>
														<div th:if="${Information.contrat != null}">
													 <a th:href="@{${'/photos/'+Information.email+'/'+Information.contrat}}" id="prev2Contrat"
                                      >Contrat</a>
                                  >
                                          </div>
                                          
                                          <div th:if="${Information.carteFiscale != null}">
                                          <a  th:href="@{${'/photos/'+Information.email+'/'+Information.carteFiscale}}" id="prev2imageFileFiscale"
                                        >Carte Fiscale </a>
                                          </div>
                                          
                                           <div  th:switch="${Information.RNE}">
                                          <p th:case="null"></p>
                                           <a th:case="*" th:href="@{${'/photos/'+Information.email+'/'+Information.RNE}}" id="prev2RNE"
                                    >RNE</a>
                                    </div>
													</div>



												</div>
											</div>


									

    </div>
</body>
</html>