<div th:fragment="sessionConnectedlist(sessionConnected)">



    <div class="table-responsive">
        <table class="table table-bordered" id="HistoryCnxDataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Date debut</th>
                    <th>Date fin</th>
                </tr>

            </thead>
            <tbody>
                <tr th:each="ob:${sessionConnected}">
                    <td th:text="${#dates.format(ob.acctstarttime, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(ob.acctstoptime, 'dd-MM-yyyy HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <footer>
        <p>&copy;Chifco 2022</p>
    </footer>
    <script>
        $(document).ready(function () {
            $('#HistoryCnxDataTable').DataTable({
                "language": {
                    "sEmptyTable": "Aucune donnée disponible dans le tableau",
                    "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                    "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 éléments",
                    "sInfoFiltered": "(filtré de _MAX_ éléments au total)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Afficher _MENU_ éléments",
                    "sLoadingRecords": "Chargement...",
                    "sProcessing": "Traitement...",
                    "sSearch": "Rechercher :",
                    "sZeroRecords": "Aucun élément correspondant trouvé",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "<",
                        "sNext": ">",
                        "sLast": "Dernier"
                    },

                },
              
                "ordering": false,
                "searching": true
            });
        });
    </script>

</div>
</body>

</html>