<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Ajouter Nouvelle Config Notification </title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
          
    <div class="mt-2">
        <div class="col-12 grid-margin">
            <div class="card">
                <h4 class="card-title">Ajouter Nouvelle Config Notification </h4>
                <div class="card-body">
                 
                    <form class="form-sample" action="#" th:action="@{/NotificationConfig/add-notifications}" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Action Notification</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="actionNotification" placeholder="action Notification" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Liste email</label>
                                    <div class="col-sm-8 input-group align-items-center">
                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="email" required="required"/>
                                        <div class="input-group-append" onclick="add_Liste_email();">
                                            <i class="fa fa-plus"></i>
                                          </div>
                                       
                                    </div>
                                </div>
                                <div id=Liste_email></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Liste télephone </label>
                                    <div class="col-sm-8 input-group align-items-center">
                                        <input type="tel" class="form-control"  id='télephone' name="télephone" placeholder="télephone" required="required"/>
                                        <div class="input-group-append"  onclick="add_Liste_telephone();">
                                            <i class="fa fa-plus"></i>
                                          </div>
                                    </div>
                                   
                                </div>
                                <div id=Liste_telephone></div>
                            </div>

                       
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gouvernorat</label>
                                        <div class="col-sm-9">
                                            <select id="gouvernorat" name="gouvernorat" class="form-control" th:required="true">
                                           
                                            <option value="">Sélectionner un Gouvernorat</option>
                    <option
                      th:each="ville : ${villes}"
                      th:value="${ville.gouvernoratId}"
                      th:text="${ville.gouvernoratName}"
                      >
                    ></option>
                </select>
                                        </div>
                                </div>
                            </div>
                        </div>
<input type="hidden" id="listeEmail" name="listeEmail" />
<input type="hidden" id="Listetélephone" name="Listetélephone"/>
                      <div style="margin-top: 20px; text-align: center;">
                            <button type="submit" class="btn btn-success" style="margin-right: 20px;">Sauvegarder</button>
                            <button type="reset" class="btn btn-danger" style="margin-left: 20px;" >Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>

</section>
</body>
</html>

<script th:inline="javascript">
let indexlisteEmail = 0
let indexlisteTelephone = 0
let listeEmail = Array();
let listeTelephone = Array();
function add_Liste_email(){
    listeEmail.push(document.getElementById('Email').value); // adding Email element to array
document.getElementById('Email').value=''; // Making Email box blank
dispListe_email(); // displaying the array elements
}
function add_Liste_telephone(){
    listeTelephone.push(document.getElementById('télephone').value); // adding télephone element to array
document.getElementById('télephone').value=''; // Making  télephone box blank
dispListe_telephone(); // displaying the array elements
}

function dispListe_telephone(){
var str='';
for (i=0;i<listeTelephone.length;i++) 
{ 
str += i + ':'+listeTelephone[i] + "<br >";  // adding each element with key number to variable
} 

document.getElementById('Liste_telephone').innerHTML=str; // Display the elements of the array

document.getElementById("Listetélephone").value = listeTelephone ;
}

function dispListe_email(){
var str='';
for (i=0;i<listeEmail.length;i++) 
{ 
str += i + ':'+listeEmail[i] + "<br >";  // adding each element with key number to variable
} 

document.getElementById('Liste_email').innerHTML=str; // Display the elements of the array
document.getElementById("listeEmail").value = listeEmail ;
}

</script>

