<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Notifcation</title>
     <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
     <style>
#tutorialTable_filter{
display:none
}
</style>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Liste des Notifcation</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="card-header py-3">
        <a href="add-user.html" th:href="@{/NotificationConfig/add-notification}"
           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
           sec:authorize="hasAnyAuthority('ADD_USER')">
            <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un configuration</a>
    </div>
    <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="blocFilter">
                   <button
                    id="togglebutton"
                    class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-3"
                  >
                    Filtre
                  </button>
                </div>
                </div>
                </div>
                </div>
                    <form id="showMe3" method="get">
                    <div class="row">
                      
          <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="Nom">Nom evenement</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="NomEvent"
                          placeholder="NomEvent"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      
                    
                      </div>
                          <div class="col-sm-3 mt-3">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)"
                        >
                          Rechercher
                        </button>
                      </div>
                      </form>
             
    <div class="row">
        <div class="col-12 grid-margin">
            <div >
                <div class="card-body">
                    <div >

                              <div id="model">

                              </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
        </div>
        
                  <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div>
                    <div class="blocy">
                      <table
                        id="tutorialTable"
                        class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline"
                      >
                        <!-- Header Table -->
                        <thead class="table dataTable no-footer">
                          <tr>
                          <th>Event Action</th>
                                <th>create ddate</th>
                                <th>Numero de Telephone</th>
                                <th>Adresse Email</th>
                                <th>Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="hasediterole" th:value="${hasediterole}" id="hasediterole"/>
          <input type="hidden" name="message" id="message"
					th:value="${message} ?  ${message} : ''" />
    </section>

</section>
</body>


</html>
<script  th:inline="javascript">
var oTable;

var NomEvent = "";

function showmodel(rows) {
  var data = oTable.row($(rows).parents("tr")).data();
  let htmlfooter = "";
 
let htmlmodel =                `
                              <div class="modal modal-warning fade in" data-backdrop="false" tabindex="-1" role="dialog" id="modal-warning`+data.clientid+`" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                        </div>`
                                        if(data.enabled){
                                        htmlmodel+=  `<div  class="modal-body">
                                            <h3 >Etes vous sure de vouloir désactiver ce client ?</h3>
                                        </div>`
                                        htmlfooter = `<button th:case="true" type="submit" class="btn btn-danger" ><i class="fa fa-check"></i>&nbsp;Oui</button>`
                                      }else {
                                          htmlmodel+= `<div  class="modal-body">
                                            <h3 th:case="false">Etes vous sure de vouloir activer ce client ?</h3>
                                          </div>`
                                          htmlfooter = `<button th:case="false" type="submit" class="btn btn-success" ><i class="fa fa-check"></i>&nbsp;Oui</button>`
 
                                        }
                                        htmlmodel += `<div class="modal-footer">
                                            <form action="/client/enabledisable/`+data.clientid+`" method="POST">
                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non</button>
                                                <div >`
                                                  htmlmodel+= htmlfooter;
                                                  
                                                  htmlmodel+= `</div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            `


  $('#model').empty().append(htmlmodel); 
  $("#modal-warning").modal();
                       
}
var messagenotif = document.getElementById("message").value ;
    if (messagenotif !== "" && messagenotif == "clientupdated") {
     	$(document).Toasts('create', {
  		  title: "La modification a été effectuée avec succès",
  		  body: "",
  		  class: 'bg-success',
  		  autohide:true,
  		  delay: 10000
  		})
    }
$("#togglebutton").click(function () {

    $("#showMe3").toggle();
  });
  
function onchangeSearch(event) {
    let name = event.target.name;
    switch (name) {
      case "NomEvent": {
        NomEvent = event.target.value;
        break;
      }


    }}
    
function onclicksherh(event) {
    //event.preventdefault()
    
    event.preventDefault();
    //$('#tutorialTable').DataTable().ajax.reload();
    $("#tutorialTable")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
        	NomEvent: NomEvent,


   
          
        })
      )
      .draw();
  } 
  
  
oTable = $("#tutorialTable").DataTable({
    processing: true,
    serverSide: true,
    ordering: true,
    order: [3, "desc"],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: true,
    fixedHeader: true,
    ajax: "/NotificationConfig/getallNotificationConfig",
    lengthMenu: [
      [10, 20, 50],
      [10, 20, 50],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "Première",
        last: "Dernière",
        next: ">>",
        previous: "<<",
      },
      search: "Chercher:",
    },
    initComplete: function (json) {
      //Make your callback here.
      //updatecheklist();
     // document.getElementById("tutorialTable_filter").style.display = "none";
    },

    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
      {
        className: "dtr-control",
        orderable: false,
        targets: 4,
      },
       { "width": "20%", "targets":4 }
    ],

    columns: [

      { data: "eventAction" },
      {
        data: null,
        render: function (data, type, row) {
          return row.createdDate ;
         
        },
      },
      {
        data: null,
        render: function (data, type, row) {
          if(row.phoneNumbers.length >0){
            let phonenum = row.phoneNumbers.map(el => el.phoneNumbers) ;
          return phonenum 
          }
         
         else
         return ""
        },
      },

      {
        data: null,
        render: function (data, type, row) {
          if(row.emailAdresse.length >0){
            let emails = row.emailAdresse.map(el => el.emailAdresse) ;
          return emails 
          }
         
         else
         return ""
        },
      },
  

          
          {
        	  data : null , 
        	  render : function (data , type , row){
              let viewclient =     ` <a  href='/NotificationConfig/getDetailsConfig/`+row.notificationConfigId+`''>
                        <button type="button" class="d-none d-sm-inline-block btn  btn-primary btn-flat shadow-sm">
                        Details  <i class="fa fa-eye" aria-hidden="true"></i></button> 
                    </a>
                   <a href='/NotificationConfig/editConfig/` +
                row.notificationConfigId +
                `'>
                <button  class="d-none d-sm-inline-block btn  btn-primary btn-flat shadow-sm">
                Modifier <i  class="fa  fa-edit"></i></button> </a>` 

                 return viewclient
             

          }
        },
    	  





    ],
  });
</script>