<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>Demande de changement débit </title>
    <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
    <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />
    <style>
        #tutorialTable_filter {
            display: none;
        }
    </style>
</head>
<body>
    <section layout:fragment="content">
        <section class="content">
            <div class="container-fluid">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">Demande de changement débit</h1>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>      
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">                                        
                                <!-- Client Search -->
                                <div class="col-sm-6 col-md-3 mb-5" sec:authorize="hasAnyAuthority('READ_SUBSCRIPTION_REQUEST_AREA','READ_SUBSCRIPTION_REQUEST_ALL','READ_SUBSCRIPTION_LIST_OWNER')">
                                    <label class="col-form-label" for="referenceChifco">Client</label>
                                    <div class="input-group">
                                        <input type="text" id="referenceChifco" name="referenceChifco" class="form-control" placeholder="Veuillez saisir le code client.">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" onclick="searchClient()">Chercher</button>
                                        </div>
                                    </div>
                                    <div id="clientResult" class="mt-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Subscription Info Card -->
                <div class="row" id="secondCard" style="display: none;">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body" id="subscriptionInfo">   
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Subscription Info Card -->      
            </div>       
            <input type="hidden" name="clients" th:value="${clients}" id="clients"/>
            <input type="hidden" name="message" id="message" th:value="${message} ?  ${message} : ''" />
                  	<input type="hidden" id="isadmin" th:value="${isadmin}" />
        </section>
    </section>
    <!-- Modal for Confirmation -->
    <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" data-toggle="modal" data-target="#myModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel" style="text-align: center;">Confirmation changement débit</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/operationAbonnement/changementdebit" method="POST">
                    <input type="hidden" value="" name="clientid" id="clientid"></input>
                    <input type="hidden" id="selectedPackId" name="packId"></input>
                    <div class="container mt-1 bg-light rounded border border-dark">
                        <div class="row">
                            <div class="col-3 mb-2 mt-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2 mt-2">
                                <h5 class="old-info">Ancien pack</h5>
                            </div>
                            <div class="col-3 mb-2 mt-2">
                                <h5 class="new-info">--------------></h5>
                            </div>
                            <div class="col-3 mb-2 mt-2">
                                <h5 class="new-info">Nouveau pack</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mb-2">
                                <h5 class="old-info">Pack</h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="new-info">Pack</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mb-2">
                                <h5 class="old-info">Catégorie</h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="new-info">Category</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 mb-2">
                                <h5 class="old-info">Débit</h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="old-info"></h5>
                            </div>
                            <div class="col-3 mb-2">
                                <h5 class="new-info">Débit</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                </form>
                
            </div>
        </div>
      
    </div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function searchClient() {
        const reference = document.getElementById('referenceChifco').value;

        if (reference.trim() === '') {
            alert('Please enter a client reference.');
            return;
        }
 var isAdministr = document.getElementById('isadmin').value == 'true';
        fetch(`/operationAbonnement/rechercheficheabonnementpourtransfertwithref?reference=${reference}`)
            .then(response => response.json())
            .then(data => {
                const clientResult = document.getElementById('clientResult');
                clientResult.innerHTML = ''; // Clear previous results

               if (data.length === 0) {
				 if (isAdministr) {
                        clientResult.innerHTML = '<p style="color:red;">Aucun client ou opération en cours</p>';
                    } else {
                        clientResult.innerHTML = '<p style="color:red;">Client n\'appartient pas à votre liste ou opération en cours </p>';
                    }
      
                 $('#secondCard').hide();   
                return;
            }

                data.forEach(client => {
                    loadClientDetails(client.clientid);
                });
            })
            .catch(error => {
                console.error('Error fetching client:', error);
            });
    }
var ss='';
    function loadClientDetails(clientId) {
        $('#secondCard').show();             
        $.ajax({
            type: 'GET',
            url: '/operationAbonnement/getabonnementtoChangementDebitInfo/' + clientId,
            data: { clientId: clientId },
            success: function (data) {
                $('#subscriptionInfo').empty();
                $('#demandeMigrationButton').prop('disabled', true);

                var html =
                 '<div class="row">' +
                        '<div class="col-sm-6">' +
                        '<div class="card-block">' +
                        '<div class="card-block-header">' +
                        '<h4>Informations principales</h4>' +
                        '<div class="card-block-body">' +
                        '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Prenom:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.firstName + '</div>' +
                        '</div>' +
                        '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Nom:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.lastName + '</div>' +
                        '</div>' +
                           '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Cin:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.cin + '</div>' +
                        '</div>' +
                            '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Gouvernorat:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.gouvernorat?.gouvernoratName + '</div>' +
                        '</div>' +
                          '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Ville:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.ville?.villeName + '</div>' +
                        '</div>' +
                           '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Adresse:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.adresse+ '</div>' +
                        '</div>' +
                           '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Code Postale:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.codePostale?.code+ '</div>' +
                        '</div>' +
                         '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Téléphone Mobile:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.telMobile+ '</div>' +
                        '</div>' +
                          '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Téléphone fixe:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.telFixe+ '</div>' +
                        '</div>' +
                        '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Status demande:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.statut.designation + '</div>' +
                          '</div>' +
                           '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Code Client:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.referenceClient + '</div>' +
                        '</div>' +
                   
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-6">' +
                        '<div class="card-block">' +
                        '<h4>Informations forfait</h4>' +
                        '<div class="card-block-body">' +     
                        '</div>' +        
                     
                        '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Pack Actuel:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.pack.title + '</div>' +
                        '</div>' +
                        '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Offre:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.pack.offre?.title + '</div>' +
                        '</div>' +
                          '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Category:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.pack.categoriePack?.categorieProduitInternetNom + '</div>' +
                        '</div>' +
                        '<div class="row">' +
                        '<label class="col-sm-4 col-form-label">Débit:</label>' +
                        '<div class="col-sm-8">' + data.abonnement.pack?.debitPack + '</div>' +
                        '</div>' +
                       
                        //end
                  
                           '<div style="text-align: center;">' +
'<span style="display: inline-block; transform: rotate(0deg); font-size: 24px;color:#7a36b0;">&#9660;</span>' + 
'<h4 style="display: inline-block; margin-left: 5px;color:#7a36b0;">Changer débit</h4>' +
'</div>'+

                        '<div class="card-block-body">' +
                        '<div class="row">' +
                        '<select class="form-control" id="newProductSelect" name="packId" th:required="true">' +
                        '<option value="" style="text-align:center;" >Sélectionner un débit...</option>' +
  
        data.packs.forEach(function(pack) {
           var option = document.createElement('option');
    option.style.textAlign = 'center';
    option.value = pack.packId;
    option.textContent = pack.debitPack + ' Mbs - '+pack.offre.title;
    ss+=option.outerHTML;
     $('#demandeMigrationButton').prop('disabled', false);
        });
        html += ss+'</select>' +               
                        '</div>' +
                        '</div>' +
                        '<br><div class="row">' +
                        '<button type="button" id="demandeMigrationButton" class="btn btn-primary" data-toggle="modal" data-target="#myModal" disabled>Demande changement débit</button>' +                     
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                              '</div>' +
     //modal start
                       '<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">' +
    '<div class="modal-dialog modal-lg">' +
        '<div class="modal-content">' +
            '<div class="modal-header">' +
                '<h3 class="modal-title" id="myModalLabel" style="text-align: center;">Confirmation changement débit</h3>' +
                '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span>' +
                '</button>' +
            '</div>' +
            '<form action="/operationAbonnement/changementdebit" method="POST">' +
				'<input type="hidden" value='+data.abonnement.clientid+' name="clientid" id="clientid"></input>'+
				  '<input type="hidden" id="selectedPackId" name="packId"></input>' +		
                '<div class="container mt-1 bg-light rounded border border-dark ">' +
                    '<div class="row">' +
						   '<div class="col-3 mb-2 mt-2">' +
                            '<h5 class="old-info"></h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2 mt-2">' +
                            '<h5 class="old-info">Ancien pack</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2 mt-2">' +
                            '<h5 class="new-info">--------------></h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2 mt-2">' +
                            '<h5 class="new-info">Nouveau pack</h5>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
						 '<div class="col-3 mb-2">' +
                            '<h5 class="old-info">Pack</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="old-info">' + data.abonnement.pack.title + '</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="old-info"></h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="new-info">Pack</h5>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
						 '<div class="col-3 mb-2">' +
                            '<h5 class="old-info">Catégorie</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="old-info">' + data.abonnement.pack?.categoriePack?.categorieProduitInternetNom + '</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="old-info"></h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="new-info">Category</h5>' +
                        '</div>' +
                    '</div>' +
                    '<div class="row">' +
						 '<div class="col-3 mb-2">' +
                            '<h5 class="old-info">Débit</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="old-info">' + data.abonnement.pack?.debitPack + '</h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="old-info"></h5>' +
                        '</div>' +
                        '<div class="col-3 mb-2">' +
                            '<h5 class="new-info">Débit</h5>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
                '<div class="modal-footer">' +
                    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>' +

                '<button type="submit" class="btn btn-primary">Sauvegarder</button>' +
                '</div>' +
            '</form>' +
        '</div>' +
    '</div>' +
'</div>';

                $('#subscriptionInfo').append(html);
                $(document).on('change', '#newProductSelect', function() {
                    var selectedPackId = $(this).val();
                    if (selectedPackId) {
                        $('#demandeMigrationButton').prop('disabled', false);
                    } else {
                        $('#demandeMigrationButton').prop('disabled', true);
                    }
                });

                $(document).on('change', '#newProductSelect', function() {
                    var selectedPackId = $(this).val();
                    if (selectedPackId) {
                        var selectedPack = data.packs.find(function(pack) {
                            return pack.packId == selectedPackId;
                        });
                        console.log(selectedPack);
                        $('#selectedPackId').val(selectedPackId);
                        $('.container  .row:nth-child(2) .new-info').text(selectedPack.title);
                        $('.container  .row:nth-child(3) .new-info').text(selectedPack.categoriePack.categorieProduitInternetNom);
                        $('.container  .row:nth-child(4) .new-info').text(selectedPack.debitPack);
                    } else {
                        $('#selectedPackId').val('');
                        $('.container  .row:nth-child(2) .new-info').text('');
                        $('.container  .row:nth-child(3) .new-info').text('');
                        $('.container  .row:nth-child(4) .new-info').text('');
                    }
                });

                

                $('#clientid').val(clientId);
            },
            error: function(error) {
                console.error('Error fetching subscription information:', error);
                $('#demandeMigrationButton').prop('disabled', true);
            }
        });
    }

    function getProgressBarWidth(status) {
        switch (status) {
            case 'DRAFT':
                return 20;
            case 'SIGNED_DOC':
                return 40;
            case 'WAIT_TT':
                return 50;
            case 'INSTALLED':
                return 65;
            case 'ASSIGNED':
                return 80;
            case 'VALID':
                return 90;
            case 'ACTIVE':
            case 'REFUSED':
            case 'CANCELED':
            case 'UNPAID':
                return 100;
            default:
                return 0;
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
