<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Demande de transfert </title>
   <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
  <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />
     <style>
#tutorialTable_filter{
display:none
}
</style>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Demande de transfert</h1>
                        </div>
                    </div>
                </div>
            </div>      
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">                                        
                            <div class="col-sm-6 col-md-3 mb-5" sec:authorize="hasAnyAuthority('READ_SUBSCRIPTION_REQUEST_AREA','READ_SUBSCRIPTION_REQUEST_ALL','READ_SUBSCRIPTION_LIST_OWNER')">
                                <label class="col-form-label" for="referenceChifco">Client</label>
                                <div class="input-group">
                                    <input type="text" id="referenceChifco" name="referenceChifco" class="form-control" placeholder="Veuillez saisir le code client.">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="searchClient()">Chercher</button>
                                    </div>
                                </div>
                                <div id="clientResult" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second card -->
            <div class="row" id="secondCard" style="display: none;">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- Left column for subscriptionInfo -->
                                <div class="col-md-6">
                                    <div id="subscriptionInfo"></div>
                                </div>
                                <!-- Right column for Demande de transfert -->
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-block">
                                                <div class="card-block-header">
                                                    <h4>Demande de transfert</h4>
                                                </div>
                                                <div class="card-block-body">
                                                    <form class="form-sample" id="form-sample" action="/operationAbonnement/addDemandeTransfert" method="POST">
                                                        <input type="hidden" id="clientId" name="clientId" />
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Gouvernorat*</label>
                                                                    <div class="col-sm-9">
                                                                        <select id="gouvernorats" name="gouvernorats" class="form-control" required>
                                                                            <option value="">Sélectionner un Gouvernorat</option>
                                                                               <option th:each="ville : ${villes}" th:value="${ville.gouvernoratId}"
                          													th:text="${ville.gouvernoratName}"></option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Ville*</label>
                                                                    <div class="col-sm-9">
                                                                        <select id="villes" name="villes" class="form-control" required>
                                                                            <option value="">Sélectionner une ville</option>
                                                                            <!-- Populate with actual options -->
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Adresse *</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" name="adresse" id="adresse" placeholder="Adresse" required />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-3 col-form-label">Code postal *</label>
                                                                    <div class="col-sm-9">
                                                                        <select class="form-control" name="codepostale" id="codepostale" required>
                                                                            <option value="">Sélectionner un code postal</option>
                                                                            <!-- Populate with actual options -->
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-5 col-form-label">Position XY *</label>
                                                                    <div class="row col-sm-12">
                                                                        <div class="col-md-10 pr-0">
                                                                            <input type="text" class="form-control" name="positionxy" placeholder="Position xy" required />
                                                                        </div>
                                                                        <div class="col-md-2 pl-0">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text btn btn-primary" id="basic-addon1" data-toggle="modal" data-target="#modalTT"><i class="fas fa-map-marker-alt"></i></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-6">
                                                                <label class="col-sm-5 col-form-label">Résidence</label>
                                                                <div class="col-sm-7">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-radio">
                                                                                <label class="form-check-label">
                                                                                    <input type="radio" class="form-check-input" name="residence" value="False"> Locataire
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-radio">
                                                                                <label class="form-check-label">
                                                                                    <input type="radio" class="form-check-input" name="residence" value="True" checked> Propriétaire
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                       <!--      <div class="form-group col-sm-6">
                                                                <label class="col-sm-5 col-form-label">Raccordement</label>
                                                                <div class="col-sm-7">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-radio">
                                                                                <label class="form-check-label">
                                                                                    <input  type="radio" class="form-check-input" name="raccordement" value="False"> Non
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-radio">
                                                                                <label class="form-check-label">
                                                                                    <input  type="radio" class="form-check-input" name="raccordement" value="True" checked> Oui
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>-->
                                                        </div>
                                                        <button type="submit" class="btn btn-success" style="margin-right: 20px">Ajouter demande de transfert</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of second card -->
                 <div class="modal fade" id="modalTT" tabindex="-1" role="dialog" aria-labelledby="modalTTlabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTTlabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe src="https://geo.tunisietelecom.tn/mytaghtia" width="700" height="700" title="mytaghtia"></iframe>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
          		<input type="hidden" id="isadmin" th:value="${isadmin}" />
        </div>
      </div>
        </div>
    </section>
</section>


</body>
</html>
<script>
    function searchClient() {
        const reference = document.getElementById('referenceChifco').value;
console.log(reference);
        if (reference.trim() === '') {
            alert('Please enter a client reference.');
            return;
        }
 var isAdministr = document.getElementById('isadmin').value == 'true';
        fetch(`/operationAbonnement/rechercheficheabonnementpourtransfertwithref?reference=${reference}`)
            .then(response => response.json())
            .then(data => {
                const clientResult = document.getElementById('clientResult');
                clientResult.innerHTML = ''; // Clear previous results

                 if (data.length === 0) {
				 if (isAdministr) {
                        clientResult.innerHTML = '<p style="color:red;">Aucun client ou opération en cours</p>';
                    } else {
                        clientResult.innerHTML = '<p style="color:red;">Client n\'appartient pas à votre liste ou opération en cours </p>';
                    }
      
                 $('#secondCard').hide();   
                return;
            }

                data.forEach(client => {
                    loadClientDetails(client.clientid);
                    console.log("under load client details" + client.clientid);
                });
            })
            .catch(error => {
                console.error('Error fetching client:', error);
            });
    }

     function loadClientDetails(clientId) {
        $('#secondCard').show();             
        $.ajax({
            type: 'GET',
            url: '/operationAbonnement/getabonnementtomigrationInfo/' + clientId,
            data: { clientId: clientId },
            success: function (data) {
                $('#subscriptionInfo').empty();

                var html = '<div class="col-md-12">' +
                    '<div class="card-block">' +
                    '<div class="card-block-header">' +
                    '<h4>Informations principales</h4>' +
                    '<div class="card-block-body">' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Prenom:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.firstName + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Nom:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.lastName + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Cin:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.cin + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Gouvernorat:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.gouvernorat?.gouvernoratName + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Ville:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.ville?.villeName + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Adresse:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.adresse + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Code Postale:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.codePostale?.code + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Téléphone Mobile:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.telMobile + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Téléphone fixe:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.telFixe + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Situation familiale:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.situationFamiliale + '</div>' +
                    '</div>' +
                    '<h4>Informations forfait</h4>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Status demande:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.statut.designation + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Code Client:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.referenceClient + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Pack Actuel:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.pack.title + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Offre:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.pack.offre?.title + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Category:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.pack.categoriePack?.categorieProduitInternetNom + '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<label class="col-sm-4 col-form-label">Type de paiement:</label>' +
                    '<div class="col-sm-8">' + data.abonnement.typePaiement.nomTypePaiement + '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>';
                $('#subscriptionInfo').append(html);
                // Set the clientId in the form
                $('#clientId').val(clientId);
            },
            error: function (error) {
                console.error('Error fetching subscription information:', error);
                $('#secondCard').hide();
            }
        });
    }
	
 	$("#villes").change(function() {
		sendAjaxRequestCodePostal()
	})
	function sendAjaxRequest() {
		var villeid = $("#gouvernorats").val();
		$
				.get(
						"/client/getgouvernorats/" + villeid,
						function(data) {
							$("#villes").empty();
							if (data.length !== 0) {
								$
										.get(
												"/client/codepostale/"
														+ data[0].villeId,
												function(data) {
													$("#codepostale").empty();

													data
															.forEach(function(
																	item, i) {

																var optiondata = "<option value ='" +
          item.postalCodeId+"'>"
																		+ item.name
																		+ "-"
																		+ item.code
																		+ "</option>";

																$(
																		"#codepostale")
																		.append(
																				optiondata);
															});

												});
							}
							data
									.forEach(function(item, i) {
										var option = "<option value = " +
          item.villeId +
          ">"
												+ item.villeName + "</option>";
										$("#villes").append(option);
									});
						});
	}
	function sendAjaxRequestCodePostal() {
		var villeid = $("#villes").val();
		$
				.get(
						"/client/codepostale/" + villeid,
						function(data) {
							$("#codepostale").empty();

							data
									.forEach(function(item, i) {

										var option = "<option value = '" +
          item.postalCodeId+"'>"
												+ item.name
												+ "-"
												+ item.code
												+ "</option>";
										$("#codepostale").append(option);
									});
						});
	}
	$(document).ready(function() {
		$("#gouvernorats").change(function() {
			sendAjaxRequest();
		});
	});
</script>
