<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorator="layout"
>
  <head>
    <title>Demandes de transfert</title>
       <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
        <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />

    <style>
      #checkedabonnementfixe {
  display: none;
}
#addreferenceabonnement{
  display: none;
}
#menu {
  display: none;
}
table  {
margin: 0 auto;
width: 100%;
clear: both;
border-collapse: collapse;
table-layout: fixed; 
word-wrap:break-word; 
}
table td {
width: 20%;
}
.tablebadge {
 text-align: center;
 color:white;
 padding:"2px";
 font-weight: 600;
 border-radius: 2px;
 padding: 4px 8px;
}
    </style>
  </head>
  <body>
    <section layout:fragment="content">
      <section class="content">
        <div class="container-fluid">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-12">
                  <h1 class="m-0">Liste des demandes de transfert</h1>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="blocFilter">
                    <a th:href="@{/operationAbonnement/rechercheficheabonnementtransfert}" class="d-inline-block btn btn-sm bg-violet shadow-sm mb-3"><i
                            class="fas fa-plus fa-sm text-white-50" sec:authorize="hasAnyAuthority('ADD_REQUEST_OPERATION')"
                            ></i> Ajouter demande de transfert</a>
								<button id="downloadenmasse" class="d-inline-block btn btn-sm bg-olive shadow-sm mb-3" sec:authorize="hasAnyAuthority('EXPORT_ALLTYPES_REQUEST')">
						    Extraire les demandes(<span id="countAbonnementSelected"></span>)
						</button>
                  <form
                    id="myForm"
                    class="form-sample"
                    method="post"
                    action=""
                    style="display: none"
                  ></form>										
<button type="button" class="d-inline-block btn btn-sm bg-violet shadow-sm mb-3" data-toggle="modal" data-target="#myModal" sec:authorize="hasAnyAuthority('UPDATE_MIGRATION_REQUEST_STATUS')">
    Changer le statut des demandes 
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="uploadModalLabel">
                    Changer le statut des demandes
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="uploadedittranfertenmasse" enctype="multipart/form-data" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" id="customFile" required="required" />
                            <label class="custom-file-label" for="customFile">Télécharger le fichier</label>
                        </div>
                    </div>
                </div>
                <img src="/images/Templatechangerstatut.jpg" width="90%" />
                <p>
                    merci de respecter cette
                    <a href="/file/TemplateChangersSatut.xlsx">template</a>
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Télécharger</button>
                </div>
            </form>
        </div>
    </div>
</div>
                  <button
                    id="togglebutton"
                    class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-3"
                  >
                    Filtre
                  </button>
                  <form id="showMe3" method="get">
                    <div class="row">
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="statutListfiltre"
                          >Status</label
                        >
                        <select
                          id="statutListfiltre"
                          name="statutListfiltre"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        ></select>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="statutListfiltre"
                          >Status TT</label
                        >
                        <select
                          id="statutTTListfiltre"
                          name="statutTTListfiltre"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" >
                      <option value = ''>Statut</option>
                      <option value="Enregistrée">Enregistrée</option>     
                        <option value="Attente Construction">Attente Construction</option>   
                         <option value="Mise en service TT">Mise en service TT</option>         
                      <option value="Clôturée">Clôturée</option>
                      <option value="Instance">Instance</option>
                      <option value="Annulée">Annulée</option>
                      </select>
                      </div>
                      <div class="col-sm-6 col-md-3">
                      <label class="col-form-label" for="villes">Gouvernorat
                      </label> <select id="gouvernorat" name="gouvernorat" class="form-control"
                        th:onchange="|onchangeSearch(event)|">
                        <option value="">Gouvernorat</option>
                        <option th:each="ville : ${villes}" th:value="${ville.gouvernoratId}"
                          th:text="${ville.gouvernoratName}"></option>
                      </select>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <label class="col-form-label" for="gouvernorat">Ville</label>
                      <select id="villes" name="villes" class="form-control" th:onchange="|onchangeSearch(event)|">
                        <option value="">Ville</option>
                      </select>
                    </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="Nom">Nom</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="Nom"
                          placeholder="Nom"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" />
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="Prenom"
                          >Prénom</label
                        >
                        <input
                          id="textsearch"
                          type="text"
                          name="Prenom"
                          placeholder="Prénom"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" />
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="CIN">Identification</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="CIN"
                          placeholder="Identification"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" />
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="TEL"
                          >Téléphone</label >
                        <input
                          id="textsearch"
                          type="number"
                          name="TEL"
                          placeholder="Téléphone"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" />
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="RefTT"
                          >Référence TT</label >
                        <input
                          id="textsearch"
                          type="text"
                          name="RefTT"
                          placeholder="Référence TT"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" />
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="RefChif"
                          >Référence</label >
                        <input
                          id="textsearch"
                          type="text"
                          name="RefChif"
                          placeholder="Référence"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|" />
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="professions"
                          >Profession</label >
                        <select
                          id="professions"
                          name="professions"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|">
                          <option value="">Profession</option>
                          <option
                            th:each="profession : ${professions}"
                            th:value="${profession.professionId}"
                            th:text="${profession.name}" ></option>
                        </select>
                      </div>
                       <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="categories">Catégorie</label>
                        <select
                          id="Categories"
                          name="Categories"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|">
                          <option value="">Catégorie</option>
                          <option
                            th:each="categorie : ${categories}"
                            th:value="${categorie.categorieProduitInternetId}"
                            th:text="${categorie.categorieProduitInternetNom}"></option>
                        </select>
                      </div>                  
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-3  mt-3"  sec:authorize="hasAnyAuthority('WRITE_ADMINISTRATEUR')">
                                         <div class="form-group row">
                                             <label class="col-sm-4 col-form-label">Date debut</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="datedebut" id="datedebut"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                                     </div>
                      <div class="col-sm-6 col-md-3  mt-3"  sec:authorize="hasAnyAuthority('WRITE_ADMINISTRATEUR')">
                                         <div class="form-group row">
                                             <label class="col-sm-4 col-form-label">Date fin</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="datefin" id="datefin"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                                     </div>
                      <div class="col-sm-3 mt-3">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)" >
                          Rechercher
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div>
                    <div class="blocy">
                      <table
                         id="tutorialTable"
                        class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline">
                        <!-- Header Table -->
                        <thead class="table dataTable no-footer">
                          <tr>
                            <th scope="col">
                              <input
                                name="select_all"
                                id="select_all"
                                value="1"
                                type="checkbox"
                               />
                            </th>
                            <th scope="col">Référence</th>
                            <th scope="col">Référence TT</th>
                            <th scope="col">Statut TT</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Identifiant</th>
                            <th scope="col">Nom et prénom</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Date de Creation</th>
                             <th scope="col">Ancienne Adresse</th>
                            <th scope="col">Adresse</th>
                            <th scope="col" >Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
             <input type="hidden" name="message" id="message" th:value="${message} ?  ${message} : ''" />
          <input
            type="hidden"
            name="notfoundcalcul"
            id="notfoundcalcul"
            th:value="notfoundcalcul ?  ${notfoundcalcul} : ''"
          />
          <input
            type="hidden"
            name="tiragecalcul"
            id="tiragecalcul"
            th:value="tiragecalcul ?  ${tiragecalcul} : ''"
          />
          <input
            type="hidden"
            name="reservationcalcul"
            id="reservationcalcul"
            th:value="reservationcalcul ?  ${reservationcalcul} : ''"
          />
          <input
            type="hidden"
            name="constricutioncalcul"
            id="constricutioncalcul"
            th:value="constricutioncalcul ?  ${constricutioncalcul} : ''"
          />
          <input
            type="hidden"
            name="confirmationclientcalcul"
            id="confirmationclientcalcul"
            th:value="confirmationclientcalcul ?  ${confirmationclientcalcul} : ''"
          />
          <input
            type="hidden"
            name="etudecalcul"
            id="etudecalcul"
            th:value="etudecalcul ?  ${etudecalcul} : ''"
          />
          <input
            type="hidden"
            name="anullercalcul"
            id="anullercalcul"
            th:value="anullercalcul ?  ${anullercalcul} : ''"
          />
                 <input
            type="hidden"
            name="fixeNonExisteClacule"
            id="fixeNonExisteClacule"
            th:value="fixeNonExisteClacule ?  ${fixeNonExisteClacule} : ''"
          />        
          <div
            class="modal fade"
            id="ModalAddReference"
            data-backdrop="false"
            tabindex="-1"
            role="dialog"
            aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="uploadModalLabel">
                    Ajouter Reference des demandes
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form
                  th:action="@{/demandeabonnement/uploadaddreferenceabonnementenmasse}"
                  enctype="multipart/form-data"
                  method="post" >
                  <div class="modal-body">
                    <div class="form-group">
                      <input
                        type="file"
                        name="filecustomFile"
                        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        required/>
                    </div>
                  </div>
                  <img src="/images/TemplateAddReference.jpg" width="90%" />
                  <p>
                    merci de respecter cette
                    <a href="/file/TemplateAddReference.xlsx">template</a>
                  </p>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">
                      Fermer
                    </button>
                    <button type="submit" class="btn btn-primary">
                      Télécharger
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="hasediterole" th:value="${hasediterole}" id="hasediterole"/>
          <div th:if="${successAlerts}" th:data-success="${successAlerts}"></div>
    <div th:if="${dangerAlerts}" th:data-danger="${dangerAlerts}"></div>
    <div th:if="${message}" th:data-message="${message}"></div>
      </section>
    </section>
  </body>
</html>
<script th:inline="javascript">
 var chekfixeexiste = null;
  let changeRecherche = true;
  var oTable;
  var hasediterole = document.getElementById("hasediterole").value;
  var statutListfiltre = "";
  var villes = "";
  var gouvernorat = "";
  var professions = "";
  var categories = "";
  var produit = "";
  var TEL = "";
  var Nom = "";
  var Prenom = "";
  var CIN = "";
  var RefTT = "";
  var RefChif = "";
  var datedebut = "";
  var datefin = "";
  var statutTTListfiltre = "";
  var CreePar="";
  /*<![CDATA[*/
  var listedes_ids = /*[[${listedes_ids}]]*/ "default";
  var UPDATE_SUBSCRIPTION_REQUEST_ADMIN = /*[[${UPDATE_SUBSCRIPTION_REQUEST_ADMIN}]]*/ "default";
  /*]]>*/

var countAbonnementSelected = listedes_ids.length;


  if (document.getElementById('countAbonnementSelected') != null) {
    document.getElementById('countAbonnementSelected').innerHTML = countAbonnementSelected;
  }
 function updatecheklist() {

    if (listedes_ids.length !== 0) {
      // Vérifier 0 existe pour checked checkbox select-all  	  }
      //	const found = listedes_ids.find(element => element == 0);	  
      if (listedes_ids.length >= $('input[name="chekelement"]').length && changeRecherche) {

        document.getElementById("select_all").checked = true;
      }
    }
     if (listedes_ids.length !== 0) {
      listedes_ids.forEach(function (item, index, array) {
        var elem = document.getElementById(item);
        if (elem !== null) {
          document.getElementById(item).checked = true;
        }
      });

      if (document.getElementById("idabon")) {
        document.getElementById("idabon").value = listedes_ids
      }
      countAbonnementSelected = listedes_ids.length
      // }
    }
    if (listedes_ids.length == 0) {
      countAbonnementSelected = 0;

    }
  }
  $("#downloadenmasse").click(function (e) {
    e.preventDefault();
    if (listedes_ids.length !== 0) {
      var url = "/operationAbonnement/extractenmasse?typeDemande=T";
      $("#myForm").attr("action", url);
      $("#myForm").submit();
    } else {
      alert("Veuillez selectionner les demandes à extraire");
        window.location.reload();
    }
  });
  function toggleCheckboxajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
    this.toggleCheckbox(column, data.operationId);
  }
  function toggleCheckbox(element, id) {
    if (element.checked === true) {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/operationAbonnement/addid",
        data: JSON.stringify(id),
        dataType: "json",
        timeout: 100000,
        success: function (data) {  
			 listedes_ids.push(id);       
          updatecheklist();
             document.getElementById('countAbonnementSelected').innerHTML = countAbonnementSelected;
        },
        error: function (e) {
          console.log("ERROR: ", e);
        },
      });
    } else {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/operationAbonnement/removeid",
        data: JSON.stringify(id),
        dataType: "json",
        timeout: 100000,
        success: function (data) {
      let newelm = listedes_ids.filter((el) => el !== id);
          listedes_ids = newelm;
          updatecheklist();
          document.getElementById('countAbonnementSelected').innerHTML = countAbonnementSelected;
        },
        error: function (e) {
          console.log("ERROR: ", e);
        },
      });
    }
  }

  function cacherliste() {
    var hiddenDiv = document.getElementById("showMe");
    var hiddenDiv2 = document.getElementById("showMe2");
    var checkedabonnementfixe =  document.getElementById("checkedabonnementfixe");
    var addreferenceabonnement =  document.getElementById("addreferenceabonnement");
    checkedabonnementfixe.style.display =  "none" 
    addreferenceabonnement.style.display =  "none" 
    hiddenDiv.style.display = "none";
    hiddenDiv2.style.display = "none";
  }

  function onchangeSearch(event) {
    let name = event.target.name;
    switch (name) {
      case "statutListfiltre": {
        statutListfiltre = event.target.value;
        break;
      }
      case "statutTTListfiltre":{
        statutTTListfiltre = event.target.value;
        break;
      }
       case "villes": {
        villes = event.target.value;
        break;
      }
      case "gouvernorat": {
        gouvernorat = event.target.value;
        villes = "";
        if (gouvernorat == "") villes = "";
        break;
      }

      case "professions": {
        professions = event.target.value;
        break;
      }
      case "Categories": {
        categories = event.target.value;
        break;
      }
      case "produit": {
        produit = event.target.value;
        break;
      }
      case "RefChif": {
        RefChif = event.target.value;
        break;
      }
      case "RefTT": {
        RefTT = event.target.value;
        break;
      }
      case "CIN": {
        CIN = event.target.value;
        break;
      }
      case "Prenom": {
        Prenom = event.target.value;
        break;
      }
      case "Nom": {
        Nom = event.target.value;
        break;
      }
      case "TEL": {
        TEL = event.target.value;
        break;
      }
      case "datefin": {
    	  datefin = event.target.value;
          break;
        }
        case "datedebut": {
        	datedebut = event.target.value;
        break;
      }
         case "CreePar": {
        	CreePar = event.target.value;
        break;
      }
    }
  }
  function onclicksherh(event) {
    event.preventDefault();
    $("#tutorialTable")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
          statutListfiltre: statutListfiltre,
          statutTTListfiltre:statutTTListfiltre,
          gouvernorat: gouvernorat,
          professions: professions,
          Categories: categories,
          produit: produit,
           villes: villes,
          refChif: RefChif,
          refTT: RefTT,
          cin: CIN,
          prenom: Prenom,
          CreePar:CreePar,
          nom: Nom,
          tel: TEL,
          datefin:datefin,
          datedebut:datedebut,         
        })
      )
      .draw();
            document.getElementById("select_all").checked = false;
    changeRecherche = false;
  }
  function showdetailsajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
    let href =
      "/operationAbonnement/viewmigration/" + data.operationId;
    window.location.href = href;
  }
    function triggerModalUploadenmasse(e) {
    e.preventDefault();
    $("#uploadModal").modal();
  }
  function triggerModalAddReference(e) {
    e.preventDefault();
    $("#ModalAddReference").modal();
  }
$.get("/operationAbonnement/getallstatusabonnement", function (data) {
      $("#statutListfiltre").empty();
      var option = "<option value = ''>Statut</option>";
      $("#statutListfiltre").append(option);
      data.forEach(function (item, i) {
        var option =
          "<option value = " +
          item.statutId +
          ">" +
          item.designation +
          "</option>";
        $("#statutListfiltre").append(option);
      });
    });
    function sendAjaxRequest() {
    var villeid = $("#gouvernorat").val();
    if (villeid === "") {
      $("#villes").empty();
      var option = "<option value = ''>Ville</option>";
      $("#villes").append(option);
    } else {
      $.get("/client/getgouvernorats/" + villeid, function (data) {
        $("#villes").empty();
        var option = "<option value = ''>Ville</option>";
        $("#villes").append(option);
        data.forEach(function (item, i) {
          var option =
            "<option value = " +
            item.villeId +
            ">" +
            item.villeName +
            "</option>";
          $("#villes").append(option);
        });
      });
    }
  }
  function sendAjaxRequest2() {
    var option = "<option value = ''>Produit</option>";
    var categorieid = $("#categories").val();
    if (categorieid === "") {
      $("#produit").empty();
      $("#produit").append(option);
    } else {
      $.get("/demandeabonnement/getproduits/" + categorieid, function (data) {
        $("#produit").empty();
        $("#produit").append(option);
        data.forEach(function (item, i) {
          var option =
            "<option value = " +
            item.produitid +
            ">" +
            item.produitNom +
            "</option>";
          $("#produit").append(option);
        });
      });
    }
  }
var numberSelect = 0;
var elements = document.getElementsByClassName("numberSelect");
for (var i = 0; i < elements.length; i++) {
  elements[i].innerHTML = numberSelect;
}
var demandeIds = [];
function checkDefaultCheckbox(){
    if (demandeIds.length !== 0) {
    	demandeIds.forEach(function (item, index, array) {
          var elem = document.getElementById(item);
          if (elem !== null) {
            document.getElementById(item).checked = true;
          }
        });
      }   
    numberSelect = demandeIds.length;
    var elements = document.getElementsByClassName("numberSelect");
    for (var i = 0; i < elements.length; i++) {
      elements[i].innerHTML = numberSelect;
    }
}
  function etatttcolor (row){
	  let motif = ""
  let color = "red";
	  switch (row.etatTT ) {
      case "Attente Construction": {
    	  color = "#ff9c33" // oranger
        break;
      }
      case "Confirmation Client": {
    	  color = "#3358ff "       
        break;
      }
      case "Construction Ligne": {
    	  color = "#33f9ff"
        break;
      }

      case "Reservation": {
    	  color = "#ff7133 " //orange
        break;
      }
      case "TirageJarretiere": {
    	  color = "#33ffb5"; //green
        break;
      }
      case "Mise en service TT":{
      color = "#33f0b5"; //green
      break;
      }
      case "Enregistrée":{
      color = "#0077fd"; //blue
      break;
      }
      case "Instance":{
      color = "#fd008e"; //pink
      break;
      }
      case "Confirmation Client OK":{
        color = "#109326"; //pink
      break;
      }
      case "Refusé par TT":{
        color = "#991e33"; //pink
      break;
      }
      case "Clôturée":{
        color = "#544af1"; 
      break;
      }
      default:
    	  color = "red";  
	  }
    if(row.motifRefus){
      motif = "  motif :" +row.motifRefus
    } 
      return "<div class='tablebadge' style=background-color:"+color+">" + row.etatTT + motif +"</div>";
  }
  $(document).ready(function () {
    var token = $("meta[name='_csrf']").attr("content");
    var parameterName = $("meta[name='_csrf_parameter']").attr("content");
    var messagenotif = document.getElementById("message").value;
    if (messagenotif !== "" && messagenotif == "uploadeditmigrationenmasse") {
      var notfoundcalcul = document.getElementById("notfoundcalcul").value;
      var tiragecalcul = document.getElementById("tiragecalcul").value;
      var reservationcalcul =
        document.getElementById("reservationcalcul").value;
      var constricutioncalcul = document.getElementById(
        "constricutioncalcul"
      ).value;
      var confirmationclientcalcul = document.getElementById(
        "confirmationclientcalcul"
      ).value;
      var etudecalcul = document.getElementById("etudecalcul").value;
      var anullercalcul = document.getElementById("anullercalcul").value;
      var fixeNonExisteClacule =  document.getElementById("fixeNonExisteClacule").value; 
      var bodystring = "change statut demande xls effectuer  : ";
      if(fixeNonExisteClacule != "" && fixeNonExisteClacule > 0){
    	  bodystring += "Téléphone  fixe non existe" + notfoundcalcul + "Dossier"
      }
      if (notfoundcalcul != "" && notfoundcalcul > 0)
        bodystring += "non traiter " + notfoundcalcul + "Dossier";
      if (reservationcalcul != "" && reservationcalcul > 0)
        bodystring += "reservation Ligne " + notfoundcalcul + "Dossier";
      if (reservationcalcul != "" && reservationcalcul > 0)
      bodystring += "reservation Ligne " + reservationcalcul + "Dossier";
      if (constricutioncalcul != "" && constricutioncalcul > 0)
        bodystring += "Construction Ligne " + constricutioncalcul + "Dossier";
      if (confirmationclientcalcul != "" && confirmationclientcalcul > 0)
        bodystring +=
          "Confirmation Client " + confirmationclientcalcul + "Dossier";
      if (etudecalcul != "" && etudecalcul > 0)
        bodystring += "encore en etude " + etudecalcul + "Dossier";
      if (anullercalcul != "" && anullercalcul > 0)
        bodystring += "Dossier Anuller " + anullercalcul;
      $(document).Toasts("create", {
        title: "change statut demande xls",
        body: bodystring,
        class: "bg-success",
        autohide: true,
        delay: 10000,
      });
    }
    if(messagenotif !== "" && messagenotif == "erreuruploadeditabonnementenmasse"){
 	   $(document).Toasts("create", {
	        title: "changer statut demande",
	        body: "Impossible d'importer ce fichier : Le contenu de ce fichier n'est pas valide ",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
    }
          if(messagenotif !== "" && messagenotif == "Demande a été dupliquée avec succès."){
 	   $(document).Toasts("create", {
	        title: "Succée",
	        body: "Demande a été dupliquée avec succès. ",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });
    }
    if(messagenotif !== "" && messagenotif == "sendtt"){
      $(document).Toasts("create", {
	        title: "demande envoyer au tt avec succes",
	        body: "",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });
    }
    if(messagenotif !== "" && messagenotif == "sendttReferenceObligtoir"){
      $(document).Toasts("create", {
	        title: "Référence TT est obligatoire.",
	        body: "",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
    }
    if(messagenotif !== "" && messagenotif == "numeroTelephoneObligatoir"){
      $(document).Toasts("create", {
	        title: "Le numéro téléphone fixe est obligatoire.",
	        body: "",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
    }
  
    if (messagenotif !== "" && messagenotif == "demandeupdated") {
     	$(document).Toasts('create', {
  		  title: "Succès",
  		  body: "La modification a été effectuée avec succès",
  		  class: 'bg-success',
  		  autohide:true,
  		  delay: 10000
  		})
    }
    if(messagenotif !== "" && messagenotif == "sendttReferenceExiste"){
      $(document).Toasts("create", {
	        title: "Erreur",
	        body: "Référence TT déjà utilisé",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
      }
      if(messagenotif !== "" && messagenotif == "fileempty"){
      $(document).Toasts("create", {
	        title: "Importation des données:",
	        body: "Le format de fichier n'est pas pris en compte seul les fichier Xlsx sont pris en charge",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
      }     
    if (
      messagenotif !== "" &&
      messagenotif == "uploadaddreferenceabonnementenmasse"
    ) {
      var etudecalcul = document.getElementById("etudecalcul").value;
      var notfoundcalcul = document.getElementById("notfoundcalcul").value;
      var referenceexistcount = document.getElementById("anullercalcul").value;
      var bodystring = "ajouter Reference demande xls effectuer  : ";
      if (notfoundcalcul != "" && notfoundcalcul > 0)
        bodystring += "non traiter  :" + notfoundcalcul + "Dossier";
      if (etudecalcul != "" && etudecalcul > 0)
        bodystring += "Etude de ligne : " + etudecalcul + "Dossier";
      if (referenceexistcount != "" && referenceexistcount > 0){
    	  bodystring += "reference Existe: " + referenceexistcount + "Dossier";  
    	   $(document).Toasts("create", {
    	        title: "ajouter Reference demande xls",
    	        body: "reference Existe: " + referenceexistcount,
    	        class: "bg-danger",
    	        autohide: true,
    	        delay: 10000,
    	      });
      }
      else{    
      $(document).Toasts("create", {
        title: " Les références TT ont été ajoutées avec succès",
        body: bodystring,
        class: "bg-success",
        autohide: true,
        delay: 10000,
      });
      }
    }    
    if (
    	      messagenotif !== "" &&
    	      messagenotif == "erreurreferenceabonnementenmasse"
    	    ) {    	
 	   $(document).Toasts("create", {
	        title: "Importation des données:",
	        body: "Impossible d'importer ce fichier : Le contenu de ce fichier n'est pas valide: ",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
    	
    }
    oTable = $("#tutorialTable").DataTable({
      processing: true,
      serverSide: true,
      ordering: true,
      order: [7, "desc"],
      responsive: {
        details: {
          type: "column",
        },
      },
      searching: true,
      fixedHeader: true,
      // scrollY:500,
      ajax: "/operationAbonnement/getalldemandestransfert",
      lengthMenu: [
        [10, 20, 50],
        [10, 20, 50],
      ],

      language: {
        lengthMenu: "Affichage _MENU_ par page",
        zeroRecords: "Rien trouvé - désolé",
        emptyTable: "aucune donnée disponible",
        info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
        infoEmpty: "Aucun enregistrement disponible",
        paginate: {
          first: "<i class='fa fa-fast-backward'></i>",
				  last: "<i class='fa  fa-fast-forward '></i>",
				  next: "<i class='fa fa-solid fa-chevron-right'></i>",
				  previous: "<i class='fa fa-solid fa-chevron-left'></i>",
        },
        search: "Chercher:",
      },
      initComplete: function (json) {
        updatecheklist();
        document.getElementById("tutorialTable_filter").style.display = "none";
      },
    columnDefs: [
        {
          className: "dtr-control",
          orderable: false,
          targets: 0,
        },
        { orderable: false, targets: 9 },      
          { width: "1%", targets: 0 },
         { "width": "9%", "targets": 1 },     
        { "width": "10%", "targets": 2 }, 
	      { "width": "8%", "targets": 3 },
	      { "width": "11%", "targets": 4 },
	      { "width": "8%", "targets": 5 },
	      { "width": "10%", "targets": 6 },
		{ "width": "8%", "targets": 7 },
		{ "width": "8%", "targets": 8 },
		{ "width": "10%", "targets": 9 },
		{ "width": "10%", "targets": 10 },
		{ "width": "13%", "targets": 11}
      ],
      columns: [
        {
          data: null,
          render: function (data, type, row) {
            return (
              "<input type='checkbox' name='chekelement' onclick='toggleCheckboxajax(this)' id=" +
              row.operationId +
              " name='idChecked' />"
            );
          },
        },
        { data: "referenceChifco" },
         {
          data: null,
          render: function (data, type, row) {
            if (row.referenceTT)
              return  row.referenceTT; 
            else return "";
          },
        },
        {
          data: null,
          render: function (data, type, row) {
            if (row.etatTT)
              return  etatttcolor(row)  
            else return "";
          },
        },
        {
          data: null,
          render: function (data, type, row) {
            if (row.statut && row.statut.designation)
              return (
                "<div class='tablebadge' style=background-color:" +
                row.statut.couleur +
                ">" +
                row.statut.designation +
                "</div>"
              );
            else return "";
          },
        },
        { data: "cin" },
        {
          data: null,
          render: function (data, type, row) {
            return row.firstName + " " + row.lastName;
          },
        }, 
        { data: "telFixe" },
        {
          data: null,
          render: function (data, type, row) {
            return new Date(row.createdDate).toLocaleDateString("en-GB");
          },
        },
         {
          data: null,
          render: function (data, type, row) {
            if (row.ancien_value)
              return  row.ancien_value; 
            else return "";
          },
        },
           {
          data: null,
          render: function (data, type, row) {
            if (row.adresse)
              return  row.adresse+" - "+row.gouvernorat.gouvernoratName+" - "+row.ville.villeName; 
            else return "";
          },
        },
        
			{data: null,
          render: function (data, type, row) {
     		if(row.statut.nomStatut != "REFUSED" && row.statut.nomStatut !="CANCELED" && row.statut.nomStatut !="RESILIATION" && row.statut.nomStatut !="SAISIE_INFAISABLE"&& row.statut.nomStatut =="SIGNED_DOC"){
			return(
             `<a  href='/operationAbonnement/changerstatut/`+ row.operationId+`''>
  <button type="button" class="d-none d-sm-inline-block btn  btn-info btn-flat shadow-sm">
            Details  <i class="fa fa-eye" aria-hidden="true"></i>
  </button> 
 </a>`+
  `<a  href='/operationAbonnement/modifdemandetransfert/`+ row.operationId+`''>
  <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Modifier  <i class="fa fa-edit" aria-hidden="true"></i>
  </button> 
 </a>`
 );
 }else if(row.statut.nomStatut == "VALID" && row.etatTT=="Mise en service TT"){
	 return(
		           `<a  href='/operationAbonnement/changerstatut/`+ row.operationId+`''>
  <button type="button" class="d-none d-sm-inline-block btn  btn-info btn-flat shadow-sm">
            Details  <i class="fa fa-eye" aria-hidden="true"></i>
  </button> 
 </a>`
	 );
  }
 			else {
	 			return(
           		           `<a  href='/operationAbonnement/changerstatut/`+ row.operationId+`''>
  <button type="button" class="d-none d-sm-inline-block btn  btn-info btn-flat shadow-sm">
            Details  <i class="fa fa-eye" aria-hidden="true"></i>
  </button> 
 </a>`		              
 );
 }
        	},
      }],
    });
    oTable.on("draw", function () {
      updatecheklist();
    });
    $('thead input[name="select_all"]').on("click", function (e) {

      if (this.checked) {
        let selectedid = this.id;
        $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "/operationAbonnement/addall?typeDemande=T",
          data: JSON.stringify({
            statutListfiltre: statutListfiltre,
            statutTTListfiltre: statutTTListfiltre,
            gouvernorat: gouvernorat,
            professions: professions,
            categories: categories,
            produit: produit,
            villes: villes,
            refChif: RefChif,
            refTT: RefTT,
            cin: CIN,
            prenom: Prenom,
            nom: Nom,
            tel: TEL,
            datefin: datefin,
            datedebut: datedebut,
            CreePar: CreePar

          }),
          dataType: "json",
          timeout: 100000,
          async: false,
          success: function (data) {
            listedes_ids = data;
            updatecheklist();
            countAbonnementSelected = data.length;
            document.getElementById('countAbonnementSelected').innerHTML = countAbonnementSelected;

          },
          error: function (e) {
            console.log("ERROR: ", e);
          },
        });
      } else {

        $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "/operationAbonnement/removeall?typeDemande=T",
          dataType: "json",
          timeout: 100000,
          async: false,
          success: function (data) {
            listedes_ids.forEach(function (item, index, array) {
              var elem = document.getElementById(item);
              if (elem !== null) {
                document.getElementById(item).checked = false;
              }
            });
            listedes_ids = []
            document.getElementById('countAbonnementSelected').innerHTML = listedes_ids.length;
          },
          error: function (e) {
            console.log("ERROR: ", e);
          },
        });
     
      }

      e.stopPropagation();
    });
      $("#gouvernorat").change(function () {
      sendAjaxRequest();
    }); 
    $("#categories").change(function () {
      sendAjaxRequest2();
    });
    $("#togglebutton").click(function () {
      $("#showMe3").toggle();
    });
    $("#showMe3").validate({
      rules: {
        CIN: {
          minlength: 7,
          maxlength: 13,
        },
        TEL: {
          minlength: 8,
          digits: true,
          maxlength: 8,
          number: true
        },
      },
      messages: {
        CIN: {
          minlength:
            "Votre cin doit être composé d'au moins 7 chiffre ",
            maxlength:
                "Votre cin doit être composé d'au plus 12 chiffre ",        
        },
        TEL: {
          minlength: "Votre numero telephone  doit être d'au moins 8 chiffres",
          maxlength: "Votre numero telephone doit être d'au plus 8 chiffres",
          digits : "S'il vous plait, entrez un nombre valide.",
          number:"S'il vous plait, entrez un nombre valide."
        },
      },
      errorElement: "em",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");

        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.next("label"));
        } else {
          error.insertAfter(element);
        }
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid").removeClass("is-valid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).addClass("is-valid").removeClass("is-invalid");
      },
    });
  });

        $(document).ready(function() {
            const successAlerts = $('[data-success]').data('success');
            const dangerAlerts = $('[data-danger]').data('danger');
            const message = $('[data-message]').data('message');

            if (successAlerts) {
                $(document).Toasts("create", {
                    title: "Change Statut Demande XLS",
                    body: successAlerts,
                    class: "bg-success",
                    autohide: true,
                    delay: 10000,
                });
            }

            if (dangerAlerts) {
                $(document).Toasts("create", {
                    title: "Change Statut Demande XLS",
                    body: dangerAlerts,
                    class: "bg-danger",
                    autohide: true,
                    delay: 10000,
                });
            }

        
        });
    </script>
