<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Admin Modems</title>
<link rel="stylesheet" href="/css/customvariablestyle.css">
</head>

<body id="page-top">
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>


    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des modems </h1>			
                            
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                <a data-toggle="modal" id="togglebutton" 
                       class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
                            class="fas fa-filter fa-sm text-white-50"></i> Filtre</a>                        
                                 
                    <a sec:authorize="hasAnyAuthority('CREATE_MODEM')"
                    	data-toggle="modal" th:attr="data-target='#importModal'"
                       class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                            class="fas fa-upload fa-sm text-white-50"></i> Importer Modems</a>

                    <a sec:authorize="hasAnyAuthority('EXPORT_MODEM')"
                    	id="exportationButton" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Exporter <span class="numberSelect"></span> Modems </a>

                    <a sec:authorize="hasAnyAuthority('CREATE_MODEM')"
                    	th:href="@{/ajoutermodem}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-plus fa-sm text-white-50"                          
                            ></i> Ajouter modem</a>

                    <a sec:authorize="hasAnyAuthority('LIST_MODEM_AFFECTED_OTHER','LIST_MODEM_AFFECTED_ADMIN')"
                    	data-toggle="modal" th:attr="data-target='#affectedModel'"
                       class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                            class="fas fa-share fa-sm text-white-50"></i> Affecter <span class="numberSelect"></span> modems à</a>

                </div>
                    <form id="showMe3" method="get" autocomplete="off">
                    <div class="row">
                      
	          			<div class="col-md-3">
	                        <label class="col-form-label" for="numSerie">Numéro de série</label>
	                        <input
	                          id="textsearch"
	                          type="text"
	                          name="numSerie"
	                          placeholder="Numéro de série"
	                          class="form-control"
	                          th:onchange="|onchangeSearch(event)|"
	                        />
	                    </div>
                       <div class="col-md-3">
                        <label class="col-form-label" for="type">Type</label>
                        <select 
                          id="type"
                          name="type"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                            <option value = ''>Type</option>
    						<option th:each="type : ${type}" 
    								th:value="${type.categorieProduitInternetCode}" 
    								th:text="${type.categorieProduitInternetCode}"></option>
                        </select>
                      </div>
                       <div class="col-md-3">                      
	                      <label class="col-form-label" for="modem">Statut ( Affecté / Non affecté )</label>
							<select  class="form-control" id="statut" name="statut" th:onchange="|onchangeSearch(event)|">
							  <option value = ''>Statut</option>
							  <option value="1">Affecté</option>
							  <option value="0">Non affecté</option>
							</select>
 						</div> 
 						 
 						 <div class="col-md-3">                      
	                      <label class="col-form-label" for="etat">Etat ( Validé / Non validé)</label>
							<select  class="form-control" id="etat" name="etat" th:onchange="|onchangeSearch(event)|">
							  <option value = ''>Etat</option>
							  <option value="false">Actif </option>
							  <option value="true">Non actif</option>
							</select>
 						</div>                      

                        <div class="col-md-3">
                        <label class="col-form-label" for="type">Affecter à</label>
                           <input list="userAffected" 
                           			class="form-control" 
                           			autocomplete="off" 
                           			type="text" 
                           			name="affetedUser" 
                           			id="affetedUser" 
                           			th:required="true" 
                           			placeholder="Veuillez entrer le nom de votre revendeur"
                           			th:onchange="onchangeSearch(event); validationDataList(event);">
                           			
							<datalist id="userAffected">
							<option th:each="u:${listusers}"
		                             th:value="${u.codeUser}"
        							 th:text="${u.firstName + ' ' + u.lastName + (u.nomCommercial != null ? ' ' + u.nomCommercial : '')}">
		                     </option>
							</datalist>
							<div id="alertContainer"></div>
                      </div>
                         <div class="col-md-3">
	                        <label class="col-form-label" for="numSerie">Login</label>
	                        <input
	                          id="textsearch"
	                          type="text"
	                          name="login"
	                          placeholder="login (Email)"
	                          class="form-control"
	                          th:onchange="|onchangeSearch(event)|"
	                        />
	                    </div>
	                                             <div class="col-md-3">
	                        <label class="col-form-label" for="numSerie">Date de creation</label>
	                        <input
	                          id="dateCreation"
	                          type="date"
	                          name="dateCreation"
	                          class="form-control"
	                          th:onchange="|onchangeSearch(event)|"
	                        />
	                    </div>
			                    <div class="row ml-1 mt-2 w-100">
			                      <div class="col-sm-4 col-md-4  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-5 col-form-label"> Plage numéro de série : du</label>
			                                             <div class="col-sm-7">
			                                                 <input type="text" class="form-control"
			                                                        placeholder="Numéro de série de début"
			                                                        name="numSerieDebut" id="numSerieDebut"   th:onchange="|onchangeSearch(event)|"/>
			                                             </div>
			                                         </div>
			                       </div>
			                      <div class="col-sm-4 col-md-4  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-1 col-form-label">au</label>
			                                             <div class="col-sm-7">
			                                                 <input type="text" class="form-control"
			                                                        placeholder="Numéro de série de fin"
			                                                        name="numSerieFin" id="numSerieFin" th:onchange="|onchangeSearch(event)|"/>
			                                             </div>
			                                         </div>
			                       </div>             
			                    </div>
                                           
                    </div>
					<div class="text-center">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mt-3"
                          th:onclick="onclicksherh(event)"
                          id="buttonRecherche"
                        >
                          Rechercher
                        </button>
                      </div>
                  </form>

                <div class="card-body">

                    <div sec:authorize="hasAnyAuthority('CREATE_MODEM')" 
                      class="modal fade" th:attr="id='importModal'" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Vous voulez vraiment importer un
                                        ficher?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <form th:action="@{/confirm_import}" method="post" enctype="multipart/form-data">

                                        <div class="input-group">
                                            <input class="form-control" id="file" type="file" name="file"/ accept=".xlsx">
                                        </div>
										<p class="mt-2">merci de respecter <a href="/file/TemplateAddModem.xlsx">cette template</a></p>
										<p class="mt-2 text-warning">Limite d'importation : 700 lignes max.<br> Veuillez vérifier que votre fichier ne dépasse pas cette limite avant de l'importer.</a></p>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" name ="uploadXls" id="uploadXls" type="submit">Confirmer</button>
                                            <button class="btn btn-danger" type="button" data-dismiss="modal">Annuler
                                            </button>
                                        </div>


                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div sec:authorize="hasAnyAuthority('LIST_MODEM_AFFECTED_OTHER','LIST_MODEM_AFFECTED_ADMIN')"
                      class="modal fade" th:attr="id='affectedModel'" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Affecter à</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">


                    			<form th:action="@{/verificationAffectModem}" id="affectFrom" method="post">

                                        <input 
                                        	list="revendeur" 
                                        	class="form-control" 
                                        	autocomplete="off" 
                                        	type="text" 
                                        	name="selectuser" 
                                        	id="selectuser" 
                                        	th:required="true"
                                        	oninvalid="this.setCustomValidity('Veuillez remplir ce champ svp')"
       										oninput="this.setCustomValidity('')" 
                                        	placeholder="Veuillez entrer le code ou le nom"
                                        	th:onchange="|validationDataListAffectation(event)|">
										<datalist id="revendeur">
										   <option th:each="u:${listusers}"
		                                            th:value="${u.codeUser}"
													th:text="${u.firstName + ' ' + u.lastName + (u.nomCommercial != null ? ' ' + u.nomCommercial : '')}">
		                                    </option>
										</datalist>
										<div id="alertContainerAffectation"></div>
    									<input type="hidden" name="modemIdsField" id="modemIdsField">
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" id="affect" type="submit">Confirmer</button>
                                            <button class="btn btn-danger" type="button" data-dismiss="modal">Annuler
                                            </button>
                                        </div>


                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div th:if="${messagesucces}" id="alert-success" class="alert alert-success" role="alert">
                        <strong th:text="${messagesucces}"></strong>
                    </div>

                    <div  id="alert-danger" th:if="${USER_NOT_FOUND != null or USER_REQUIRED != null or MODEM_IDS_REQUIRED != null or EXCEL_ROW_LIMIT_ERROR != null or EXCEL_IMPORT_ERROR != null or EXCEL_TABLE_ERROR != null}" class="alert alert-danger mr-1 ml-1">
					    <p th:text="${USER_NOT_FOUND}"></p>
					    <p th:text="${EXCEL_IMPORT_ERROR}"></p>
					    <p th:text="${USER_REQUIRED}"></p>
					    <p th:text="${MODEM_IDS_REQUIRED}"></p>
					    <p th:text="${EXCEL_ROW_LIMIT_ERROR}"></p>
					    <p th:text="${EXCEL_TABLE_ERROR}"></p>
					</div>
   			<table class="table table-hover table-bordered" id="modamtabel">
                            <thead>
                            <tr>
	                             <th scope="col">
	                              <input sec:authorize="hasAnyAuthority('LIST_MODEM_AFFECTED_ADMIN','EXPORT_MODEM')"
	                                name="select_all"
	                                value="1"
	                                id="select_all"
	                                type="checkbox"
	                              />                              
	                            </th>
                                <th>Model</th>
                                <th >Numero Serie</th>
                                <th>Marque</th>
                                <th >Date de creation</th>
                                <th>client</th>
                                <th>Distribiteur</th>
                                <th>Revendeur</th>
                                <th>Pos</th>
                                <th>Etat</th>
                                <th>Action</th>
                               
                            </tr>
                            
                            </thead>
                            </table>

                </div>


            </div>

        </div>

		<!-- Le modèle Bootstrap -->
		<div class="modal" id="modalDesaffecter">
		  <div class="modal-dialog">
		  <form th:action="@{desaffecterModem}" method="POST">
			    <div class="modal-content">
			      <!-- Contenu du modèle -->
			      <div class="modal-header">
			        <h5 class="modal-title">Désaffecter modem</h5>
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			      </div>
			      <div class="modal-body">
			        <input type="hidden" name="revendeurId" id="revendeurId">
			        <input type="hidden" name="distId" id="distId">
			        <input type="hidden" name="modemId" id="modemId">
			        <input type="hidden" name="posId" id="posId">
			        <p>Voulez-vous vraiment désaffecter ce modem depuis <span id="user"></span> ?</p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			        <button class="btn btn-primary" type="submit" name="buttonAffectation" id="buttonAffectation">désaffecter</button>
			      </div>
			    </div>
		    </form>
		  </div>
		</div>
		
<!-- Modale Bootstrap changement status modem -->
<div class="modal fade" id="changestatusModemModal" tabindex="-1" role="dialog" aria-labelledby="modemModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<form th:action="@{/modem/changerStatus}" method="post">
		    <div class="modal-header">
		        <h5 class="modal-title" id="modemModalLabel">Changer l'état du modem</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
		            <span aria-hidden="true">&times;</span>
		        </button>
		    </div>
		    <div class="modal-body mt-2">
		        <input type="hidden" name="modemIdStatus" id="modemIdStatus">
		        <p id="msgStatus"></p>
		        <!-- checkbox garder méme email -->
		        <div class="form-check mt-2 d-none" id="divKeepCredentials">
		            <input type="checkbox" class="form-check-input" id="keepCredentials" name="keepCredentials" onchange="toggleCredentialsFields()" th:checked="false">
		            <label class="form-check-label" for="keepCredentials">Garder la même adresse e-mail et mot de passe</label>
		        </div>
		        <!-- Nouveau nom d'utilisateur -->
		        <div class="form-group mt-2 d-none" id="divNewEmail">
		            <label for="email">Nouveau email :</label>
		            <input type="email" id="email" name="email" class="form-control" placeholder="Entrez le nouveau email" required="required">
		        </div>
		        <!-- Nouveau mot de passe -->
		        <div class="form-group d-none" id="divNewPassword">
		            <label for="newPassword">Nouveau mot de passe :</label>
		            <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Entrez le nouveau mot de passe" required="required">
		        </div>
		        <!-- commentaire -->
		        <div class="form-group mt-2 d-none" id="divCommentaire">
		            <label for="commentaire">Commentaire :</label>
		            <textarea id="commentaire" name="commentaire" class="form-control" rows="4" placeholder="Entrez votre commentaire ici" maxlength="250" required="required"></textarea>
		        </div>
		    </div>
		    <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
		        <button class="btn btn-primary" type="submit">Confirmer</button>
		    </div>
		</form>
    </div>
  </div>
</div>

    <input
    type="hidden"
    name="message"
    id="message"
    th:value="${message} ?  ${message} : ''"
  />
    </section>
 

</section>


</body>

</html>

<script th:inline="javascript">
var oTable;
$('.loader-container').show();

//Désactiver button d'affectaion par defaut
if(document.getElementById('affect')){
  document.getElementById('affect').disabled = true;
}

var numberSelect = 0;
var elements = document.getElementsByClassName("numberSelect");
for (var i = 0; i < elements.length; i++) {
  elements[i].innerHTML = numberSelect;
}


//initialiser le tableau pour stocker les modem_id
var modemIds = [];

//pour chcked les checkbox qui dans tableau modemIds
function checkDefaultCheckbox(){
    if (modemIds.length !== 0) {
    	modemIds.forEach(function (item, index, array) {
          var elem = document.getElementById(item);
          if (elem !== null) {
            document.getElementById(item).checked = true;
          }
        });
      }
    
    numberSelect = modemIds.length;
    var elements = document.getElementsByClassName("numberSelect");
    for (var i = 0; i < elements.length; i++) {
      elements[i].innerHTML = numberSelect;
    }

}

//pour vider tableau modemIds
function viderModemIds(){
	if (modemIds.length !== 0) {
    	modemIds.forEach(function (item, index, array) {
          var elem = document.getElementById(item);
          if (elem !== null) {
            document.getElementById(item).checked = false;
          }
        });
      }
	  modemIds.splice(0, modemIds.length);
	  
	    numberSelect = modemIds.length;
	    var elements = document.getElementsByClassName("numberSelect");
	    for (var i = 0; i < elements.length; i++) {
	      elements[i].innerHTML = numberSelect;
	    }
}

//définir la fonction pour ajouter modem_id au tableau
function addModemId(modemId) {
	  modemIds.push(modemId);
	    numberSelect++;
	    var elements = document.getElementsByClassName("numberSelect");
	    for (var i = 0; i < elements.length; i++) {
	      elements[i].innerHTML = numberSelect;
	    }

	    if(numberSelect == modemIds.lengt){
	  	  document.getElementById("select_all").checked = true;
	    }

}

//définir la fonction pour supprimer modem_id du tableau
function removeModemId(modemId) {
	  var index = modemIds.findIndex(element => element == modemId)
	  if (index > -1) {
	    modemIds.splice(index, 1);
	  }
	  document.getElementById("select_all").checked = false;
	  
	    numberSelect--;
	    var elements = document.getElementsByClassName("numberSelect");
	    for (var i = 0; i < elements.length; i++) {
	      elements[i].innerHTML = numberSelect;
	    }
}

//définir le gestionnaire d'événements pour les cases à cocher
function handleCheckboxClick(checkbox) {
  var modemId = checkbox.getAttribute('id');
  if (checkbox.checked) {
    addModemId(modemId);
  } else {
    removeModemId(modemId);
  }
}

//filtre modem
$("#togglebutton").click(function () {

    $("#showMe3").toggle();
  });

var numSerie = ""
var type = ""
var numSerieDebut =""
var numSerieFin =""
var affetedUser = "";
var statut = "";
var login = "";
var dateCreation = "";
var etat = "";

function onchangeSearch(event) {
    let name = event.target.name;
  
    switch (name) {
      case "numSerie": {
    	  numSerie = event.target.value;
        break;
      }
      case "type": {
    	  type = event.target.value;
        break;
      }
      case "numSerieDebut": {
    	  numSerieDebut = event.target.value;
        break;
      }
      case "numSerieFin": {
    	  numSerieFin = event.target.value;
        break;
      }
      case "affetedUser": {
    	  affetedUser = event.target.value;
        break;
      }
      case "statut": {
    	  statut = event.target.value;
        break;
      }
      case "login": {
    	  login = event.target.value;
        break;
      }
      case "dateCreation": {
    	  dateCreation = event.target.value;
        break;
      }
      case "etat": {
    	  etat = event.target.value;
        break;
      }
    }
    
  }
  
function onclicksherh(event) {
	  //event.preventdefault()
	  event.preventDefault();

	  //$('#tutorialTable').DataTable().ajax.reload();
	  $("#modamtabel")
	    .DataTable()
	    .column(0)
	    .search(
	      JSON.stringify({
	    	  numSerie: numSerie,
	    	  type: type,
	    	  numSerieDebut : numSerieDebut,
	    	  numSerieFin : numSerieFin,
	    	  affetedUser : affetedUser,
	    	  statut : statut,
	    	  login : login,
	    	  dateCreation : dateCreation,
	    	  etat : etat
	      })
	    )
	    .draw();
      document.getElementById("select_all").checked = false;
	   viderModemIds()

}


function updateModalajax(column){
	  var data = oTable.row($(column).parents('tr')).data();
let href = "/edit/" + data.modem_id;
window.location.href =href ; 
}

function historyModalajax(column){
	  var data = oTable.row($(column).parents('tr')).data();
let href = "/modem/detail/" + data.modem_id;
window.location.href =href ; 
}

var messagenotif = document.getElementById("message").value;
if(messagenotif !== "" && messagenotif == "STATUS_CHANGE_SUCCESSFUL"){
	$(document).Toasts("create", {
	     title: "Succès",
	     body: "Changement de statut réussi.",
	     class: "bg-success",
	     autohide: true,
	     delay: 10000,
	   });
	}
	
else if (messagenotif === "MODEM_EMAIL_EXISTS") {
    // Message d'erreur pour email existant
    $(document).Toasts("create", {
        title: "Erreur",
        body: "L'e-mail du modem existe déjà.",
        class: "bg-danger",
        autohide: true,
        delay: 10000
    });
}
if(messagenotif !== "" && messagenotif == "modemecree"){
$(document).Toasts("create", {
     title: "modeme a été cree",
     body: "",
     class: "bg-success",
     autohide: true,
     delay: 10000,
   });
}
var UPDATE_MODEM = /*[[${UPDATE_MODEM}]]*/ "default";
var LIST_MODEM_AFFECTED_ADMIN = /*[[${LIST_MODEM_AFFECTED_ADMIN}]]*/ "default";
var EXPORT_MODEM = /*[[${EXPORT_MODEM}]]*/ "default";
var READ_MODEM_DETAILS = /*[[${READ_MODEM_DETAILS}]]*/ "default";
var READ_MODEM_HISTORY = /*[[${READ_MODEM_HISTORY}]]*/ "default";
var DEACTIVATE_MODEM = /*[[${DEACTIVATE_MODEM}]]*/ "default";
var UNASSIGN_MODEM = /*[[${UNASSIGN_MODEM}]]*/ "default";

function deleteModalajax(column){

	  var data = oTable.row($(column).parents('tr')).data();
	
	  $('#deleteModal'+data.modem_id).modal('show');
	 
}
	$(document)
			.ready(
					function() {
						   oTable =   $('#modamtabel').DataTable({
							   "language": {
									"lengthMenu": "Affichage _MENU_ enregistrements par page",
						            "zeroRecords": "Rien trouvé - désolé",
						            "info": "Afficher _START_ -  _END_ de _TOTAL_ Modems ",
						            "infoEmpty": "Aucun enregistrement disponible",
						            paginate: {
						                first: "<i class='fa fa-fast-backward'></i>",
						                last: "<i class='fa  fa-fast-forward '></i>",
						                next: "<i class='fa fa-solid fa-chevron-right'></i>",
						                previous: "<i class='fa fa-solid fa-chevron-left'></i>",
						              },
						        },
                             pagingType: 'full_numbers',
						      processing: true,
						      serverSide: true,
						      ordering: true,
						      searching : true,
						      "processing": true, // activer le mode processing
						      "serverSide": true, // activer le mode server-side
						      ajax: '/allmodemAdmin',
						      lengthMenu: [
						          [10, 20, 50 , 100 , 200,500],
						          [10, 20, 50 , 100 , 200,500],
						        ],
						      columnDefs: [{
						    	    orderable: false,
						    	    targets: [0 , 1 , 2, 3, 4, 5, 6, 7, 8, 9, 10 ],
						    	    
						      
						    	  }] ,"autoWidth": false,	
						      columns: [
						          {
						              data: null,
						              render: function (data, type, row) {
                                          if(LIST_MODEM_AFFECTED_ADMIN == true || EXPORT_MODEM == true) {   						            	
						            	return (		                		
						            	  "<input type='checkbox' name='chekelement' onclick='handleCheckboxClick(this)' id=" +
						                  row.modem_id +
						                  " name='idChecked' />"
						                );}else{
						                	return ''
						                }
						              },
						            },
						          { data: 'modelModem' },
						          { data: 'numSerie', "width": "1%"},
						          {data : 'marque'},
						          {data : "created_date"},
						         // { data: 'debit' },
						          {   
						        	 data: null,

                                 	render: function (data, type, row) {
                                     document.getElementById("modamtabel_filter").style.display = "none";
                                     if(row.referenceClient != null ){
                                        return row.nomClient+" ( "+row.referenceClient +" )"
                                     }
                                     else
                                     return ""
                                    }
						         },
						         { data: null ,
                                	render : function(data,type, row) {
                                                
										if(row.affectedistributeur != null) {
											return row.first_nameDistributeur +" ( "+ row.code_userDistributeur + " )"
										}
                                       else  return  ""
                                    
                                    	}
						         },
						         { data: null ,
	                                	render : function(data,type, row) {
	                                                
											if(row.affecterevendeur != null) {
												return (row.nomCommercial != null ? row.nomCommercial : row.first_nameRv) + " ( "+row.code_userRv+" )"
											}
	                                       else  return  ""
	                                    
	                                    	}
							         },
                                    
						          { data: null ,
                                render : function(data,
												type, row) {
                                                
                                        if (row.affectepointdevente != null)
                                        return row.codePos
                                        else  return  ""
                                    
                                    }
							      },
						          { data: null ,
		                                render : function(data,
														type, row) {                                 
		                                       return row.status ? "<span class='badge badge-danger'>Non actif</span>" : "<span class='badge badge-success'>Actif</span>";
		                                    
		                                    }
								   },
                                  {
										data : null,
										render : function(data,
												type, row) { 
											var html ="<div class='row'>";
                                             if(UPDATE_MODEM == true) {   
											html+= 	
											" <div><button type='button' style='cursor:pointer' onclick='updateModalajax(this)'"
											+ "class='fa  fa-edit  fa-2x icons-header-color d-none d-sm-inline-block btn btn-sm btn-info shadow-sm'"
                                            + "aria-hidden='true'></button></div>";
										}
                                   
                                        if(READ_MODEM_DETAILS == true || READ_MODEM_HISTORY == true) {
                                        	html+= 
                                            "<div><button type='button' class='btn btn-primary ml-2' onclick='historyModalajax(this)'>" +
                                            "<i class='fa fa-history'></i>" +
                                            "</button></div>";
     								   }
                                        if(DEACTIVATE_MODEM && row.referenceClient == null){
                                        	if(row.status){
                                            	html+='<div><button class="btn btn-success ml-2" onclick="ouvrirModalStatusModem('+row.modem_id +','+ row.status +')"><i class="fas fa-power-off"></i></button></div>'
                                            }else{
                                            	html+='<button class="btn btn-danger ml-2" onclick="ouvrirModalStatusModem('+row.modem_id +','+ row.status +')"><i class="fas fa-power-off"></i></button>'
                                            } 
                                        }
                                                                              
                                        if(UNASSIGN_MODEM){
                                            if(row.referenceClient == null && (row.affecterevendeur  != null || row.affectedistributeur != null || row.affectepointdevente != null)){
                                            	
                                            	var nomRevendeur = null;
                                                if(row.affecterevendeur != null){
                                                  nomRevendeur = (row.nomCommercial != null ? row.nomCommercial : row.first_nameRv) + " ( "+row.code_userRv+" )";
                                                }
                                                
                                                var nomDist = null;
                                                if(row.affectedistributeur != null){
                                                 nomDist = row.first_nameDistributeur +" ( "+ row.code_userDistributeur + " )";
                                                }
                                                
                                                var nomPos = null;
                                                if(row.affectepointdevente != null){
                                                	nomPos = row.codePos;
                                                }
                                                
                                               
                                                html += "<div>" +
                                                "<button class='btn btn-outline-primary ml-2' " +
                                                "onclick='ouvrirModalSuppAffectation(" + row.modem_id + "," + row.affecterevendeur + "," + row.affectedistributeur + "," + row.affectepointdevente + ",\"" + nomRevendeur + "\",\"" + nomDist + "\",\"" + nomPos + "\")'>" +
                                                "<i class='fas fa-times'></i><i class='fas fa-user'></button>" +
                                                "</div>";	
                                            }
                                        }

                                        return html+="</div>"
									}
									},

						          
						         
						      ],
						  });

						    oTable.on('processing.dt',function(e, settings, processing) {
						    	   
						        // Update state of "Select all" contrselect_allol
						        checkDefaultCheckbox();
						        if (processing) {
						            // afficher le spinner
									  $('.loader-container').show();
						          } else {
						            // cacher le spinner
									  $('.loader-container').hide();
						          }
						      });					
					});
	
	  
	
	function toggleCheckboxajax(column) {
		    var data = oTable.row($(column).parents("tr")).data();
		    this.toggleCheckbox(column, data.demandeId);
		    
		  }


	  	 
	 		//Ajouter un loader
			$('#uploadXls').on('click', function(event) {
			  
			  // Désactiver le bouton
			  $(this).prop('disabled', true);
			  
			  // Ajouter la classe qui affiche le chargeur
			  $(this).addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');
			  
			  // Afficher le conteneur de chargeur
			  $('.loader-container').show();
			  
			  // Soumettre le formulaire
			  $(this).closest('form').submit();
			});


			 //Ajouter un loader
			$('#affect').on('click', function(event) {
			  
			  // Désactiver le bouton
			  $(this).prop('disabled', true);
			  
			  // Ajouter la classe qui affiche le chargeur
			  $(this).addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');
			  
			  // Afficher le conteneur de chargeur
			  $('.loader-container').show();
			  
			  // Soumettre le formulaire
			  $(this).closest('form').submit();
			});	 



	 $(document).ready(function() {
	        $('#affectFrom').submit(function() {
	            $('#modemIdsField').val(modemIds.join(','));
	        });
	    });

	    $('thead input[name="select_all"]').on("click", function (e) {
	        if (this.checked) {
	                 	 $.ajax({
	                          type: "POST",
	                          contentType: "application/json",
	                          url: "/modem/allmodemid",
	                          data: JSON.stringify({
	                        	  numSerie: numSerie,
	                	    	  type: type,
	                	    	  numSerieDebut : numSerieDebut,
	                	    	  numSerieFin : numSerieFin,
	                	    	  affetedUser : affetedUser,
	                	    	  statut : statut,
	                	    	  dateCreation : dateCreation,
	                	    	  etat : etat
	                           }),
	                          dataType: "json",
	                          timeout: 100000,
	                          async:false,
	                          success: function (data) {
	                        	viderModemIds()
	                        	modemIds=data;
	                            checkDefaultCheckbox();
	                          },
	                          error: function (e) {
	                            console.log("ERROR: ", e);
	                          },
	                        });        	

	       } else {
	    	   
	    	   viderModemIds()
	       }
	       e.stopPropagation();
	     });

	    $(document).ready(function() {
			$('#exportationButton').click(function() {
				// Création du formulaire
				var form = $('<form></form>');
				form.attr('method', 'post');
		        // Utilisation de la syntaxe Thymeleaf pour générer l'URL
		        form.attr('action', /*[[@{/exporterData}]]*/ '');
				
		        // Ajout d'un champ input de type hidden pour stocker le tableau modemIds
		        var modemIdsField = $('<input></input>');
		        modemIdsField.attr('type', 'hidden');
		        modemIdsField.attr('name', 'modemIds');
		        modemIdsField.val(modemIds.join(','));
		        form.append(modemIdsField);

		        // Ajout du formulaire à la page et soumission automatique
				$('body').append(form);
				form.submit();
			});
		});
	    
	    
	 // Sélectionner les éléments qui contiennent les alertes
	    var successAlert = $("#alert-success");
	    var dangerAlert = $("#alert-danger");

	    // Définir un minuteur pour supprimer les alertes après 5 secondes
	    setTimeout(function() {
		  if (successAlert.length) {
		    successAlert.remove();
		  }
		  if (dangerAlert.length) {
		    dangerAlert.remove();
		  }
		}, 10000);
	    
	    //Validation de datalist dans filtre
	    function validationDataList(event) {
	    	  var selectedValue = event.target.value;
	    	  var datalistOptions = document.getElementById('userAffected').options;
	    	  var optionExists = false;
	    	  if(selectedValue.length != 0){
		    	  for (var i = 0; i < datalistOptions.length; i++) {
			    	    if (datalistOptions[i].value === selectedValue) {
			    	      optionExists = true;
			    	      break;
			    	    }
			    	  } 
		    	  if (!optionExists) {
		    		  var alertElement = document.createElement('div');
		    	      alertElement.classList.add('text-danger');
		    	      alertElement.textContent = "Veuillez choisir un élément valide dans la liste.";
		    	 
		    		  var alertContainer = document.getElementById('alertContainer');
		    	      alertContainer.innerHTML = '';
		    	      alertContainer.appendChild(alertElement);
		    	      
		    	      // Désactiver le bouton de soumission "Rechercher"
		    	      document.getElementById('buttonRecherche').disabled = true;
			    	}else {
			    	      // Supprimer l'alerte et activer le bouton de soumission "Rechercher"
			    	      var alertContainer = document.getElementById('alertContainer');
			    	      alertContainer.innerHTML = '';
			    	      
			    	      // Activer le bouton de soumission "Rechercher"
			    	      document.getElementById('buttonRecherche').disabled = false;
			    	    }
	    	  }else{
	    		// Supprimer l'alerte et activer le bouton de soumission "Rechercher"
	    	      var alertContainer = document.getElementById('alertContainer');
	    	      alertContainer.innerHTML = '';
	    	      
	    		// Activer le bouton de soumission "Rechercher"
	    	      document.getElementById('buttonRecherche').disabled = false;
	    	  }


	    	}
	    
	  //Validation de datalist d'affectation
	    function validationDataListAffectation(event) {
	    	  var selectedValue = event.target.value;
	    	  var datalistOptions = document.getElementById('revendeur').options;
	    	  var optionExists = false;
	    	  if(selectedValue.length != 0){
		    	  for (var i = 0; i < datalistOptions.length; i++) {
			    	    if (datalistOptions[i].value === selectedValue) {
			    	      optionExists = true;
			    	      break;
			    	    }
			    	  } 
		    	  if (!optionExists) {
		    		  var alertElement = document.createElement('div');
		    	      alertElement.classList.add('text-danger');
		    	      alertElement.textContent = "Veuillez choisir un élément valide dans la liste.";
		    	 
		    		  var alertContainerAffectation = document.getElementById('alertContainerAffectation');
		    	      alertContainerAffectation.innerHTML = '';
		    	      alertContainerAffectation.appendChild(alertElement);
		    	      
		    	      // Désactiver le bouton de soumission "Rechercher"
		    	      document.getElementById('affect').disabled = true;
			    	}else {
			    	      // Supprimer l'alerte et activer le bouton de soumission "Rechercher"
			    	      var alertContainerAffectation = document.getElementById('alertContainerAffectation');
			    	      alertContainerAffectation.innerHTML = '';
			    	      
			    	      // Activer le bouton de soumission "Rechercher"
			    	      document.getElementById('affect').disabled = false;
			    	    }
	    	  }else{
	    		// Supprimer l'alerte et activer le bouton de soumission "Rechercher"
	    	      var alertContainerAffectation = document.getElementById('alertContainerAffectation');
	    	      alertContainerAffectation.innerHTML = '';
	    	      
	    		// Activer le bouton de soumission "Rechercher"
	    	      document.getElementById('affect').disabled = true;
	    	  }
	    	}

//Fonction pour ouvrir le modèle "supp affectation"
function ouvrirModalSuppAffectation (idModem , idRevendeur, idDist, idPos, nomRevendeur, nomDist, nomPos) {

	document.getElementById('modemId').value = idModem;
		  document.getElementById('revendeurId').value = idRevendeur;
		  document.getElementById('distId').value = idDist;
		  document.getElementById('posId').value = idPos;
		  
		  if(idPos != null){
			  $('#user').html(" point de vente<b> "+nomPos+" </b> ");
		  }else if(idRevendeur != null){
			  $('#user').html(" revendeur<b> "+nomRevendeur+" </b> ");
		  }else if(idDist != null){
			  $('#user').html(" distributeur<b> "+nomDist+" </b> ");
		  } 
		  
	      $('#modalDesaffecter').modal('show');
}

//Fonction pour ouvrir le modèle "changement status modem"
function ouvrirModalStatusModem (idModem, status) {
	document.getElementById('modemIdStatus').value = idModem;
	var divNewEmail = document.getElementById("divNewEmail");
	var divNewPassword = document.getElementById("divNewPassword");
	var divKeepCredentials = document.getElementById("divKeepCredentials");
	var divCommentaire = document.getElementById("divCommentaire");
	
	if(status){
		$('#msgStatus').html("<h3>Voulez-vous activer ce modem ? </h3>");
		
		$('#email').prop('required', true);
		$('#newPassword').prop('required', true);
		divNewEmail.classList.remove("d-none");
		divNewPassword.classList.remove("d-none");
		divKeepCredentials.classList.remove("d-none");
		
		$('#commentaire').prop('required', false);
		$('#commentaire').removeAttr("maxlength");
		divCommentaire.classList.add("d-none");
	} else{
		$('#msgStatus').html("<h3>Voulez-vous désactiver ce modem ? </h3>");
		
		$('#email').prop('required', false);
		$('#newPassword').prop('required', false);		
		divNewEmail.classList.add("d-none");
		divNewPassword.classList.add("d-none");
		divKeepCredentials.classList.add("d-none");
		
		$('#divCommentaire').prop('required', true);
		divCommentaire.classList.remove("d-none");
	}
	
	 $('#changestatusModemModal').modal('show');
}

function toggleCredentialsFields() {
    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("newPassword");
    const keepCredentialsCheckbox = document.getElementById("keepCredentials");

    if (keepCredentialsCheckbox.checked) {
        emailInput.disabled = true;
        passwordInput.disabled = true;
    } else {
        emailInput.disabled = false;
        passwordInput.disabled = false;
    }
}
</script>
