<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Modifier Modem</title>
</head>
<body>
<section layout:fragment="content">

<div class="container">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-sm-12">                           
                            <h1>
                            <span sec:authorize="hasAnyAuthority('READ_MODEM')"><a  th:href="@{/modemsadmin}"><button class="btn btn-primary mr-3">Retour</button></a></span>
                            <span sec:authorize="!hasAnyAuthority('READ_MODEM')"><a  th:href="@{/modems}"><button class="btn btn-primary mr-3">Retour</button></a></span>
                              Modem : <span th:text="${modem.numSerie}"></span>
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        <div class="col-md-12 card mt-3 pt-3" sec:authorize="hasAnyAuthority('READ_MODEM_DETAILS')">
                    <div class="row mb-2">
                        <div class="col-sm-6">                           
                            <h1>
                            Détails du modem
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
            <table class="table">
                <tr>
                    <th class="col-md-2">Numéro de série</th>
                    <td th:text="${modem.numSerie}"></td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td th:text="${modem.modelModem}"></td>
                </tr>
                <tr>
                    <th>Marque</th>
                    <td th:text="${modem.marque}"></td>
                </tr>
				<tr th:if="${modem.affectePointdeVente != null && modem.affecteClient == null}">
			    	<th>Affecté à point de vente</th>
					<td th:text="${user.nomCommercial + ' ( ' +user.codeUser+ ' ) '}"></td>
				</tr>
				<tr th:if="${modem.affecteDistributeur != null && modem.affecteRevendeur == null && modem.affecteClient == null}">
				    <th>Affecté à distributeur</th>
					<td th:text="${user.firstName + ' ' + user.lastName + ' ( ' +user.codeUser+ ' ) '}"></td>
				</tr>
				<tr th:if="${modem.affecteRevendeur != null && modem.affecteClient == null}">
				    <th>Affecté à revendeur</th>
					<td th:text="${user.firstName + ' ' + user.lastName + ' / ' +user.nomCommercial+ ' / ( ' +user.codeUser+ ' ) '}"></td>
				</tr>
				<tr th:if="${modem.affecteClient}">
				    <th>Affecté à client</th>
				    <td th:text="${refClient}"></td>
				</tr>
				
                 <tr th:if="${modem.email}">
				    <th>login  modem</th>
				    <td th:text="${modem.email}"></td>
				</tr>
				<tr th:if="${modem.password}">
				    <th>password modem</th>
				    <td th:text="${modem.password}"></td>
				</tr>  
				                      
            </table>
        </div>
        <div class="col-md-12 card mt-3 pt-3" sec:authorize="hasAnyAuthority('READ_MODEM_HISTORY')">
            <h1>Historique</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Date</th>
                    <th>Declenché par :</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="h : ${modemHisotry}">
                    <td th:text="${h.action}"></td>
					<td th:text="${#dates.format(h.createdDate, 'yyyy-MM-dd HH:mm')}"></td>                    
					<td th:text="${h.user.firstName + ' ' + h.user.lastName + ' ( ' +h.user.codeUser+ ' ) '}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
</body>
</html>

