<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Liste Demande Modem</title>
     <link rel="stylesheet" href="/css/customvariablestyle.css"> 
</head>
<body>
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

    <section class="content mt-5">
 <div class="container-fluid">

   <div class="card shadow mb-4 p-2">
               <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste Demande Modem </h1>			                            
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
                 <div class="card-header py-3">   
                   <form method="get" class="row">
                    <div class="row col-md-12">
		                    <div class="col-md-4" sec:authorize="hasAnyAuthority('VOIR_LISTE_DEMANDE_MODEM')">
		                        <label class="col-form-label" for="type">Type d'utilisateur</label>
		                        <select 
		                          id="type"
		                          name="type"
		                          class="form-control"
		                          th:onchange="|onchangeSearch(event)|"
		                        >
		                            <option value = ''>Type d'utilisateur</option>
		    						<option value="REVENDEUR">Revendeur</option>
		    						<option value="DISTRIBUTEUR">Distributeur</option>
		    						<option value="POS">Point de vente</option>    						
		                        </select>
		                      </div>
		                      <div class="col-md-4" sec:authorize="hasAnyAuthority('VOIR_LISTE_DEMANDE_MODEM_AREA')">
		                        <label class="col-form-label" for="type">Mes demandes /Demandes des revendeurs</label>
		                        <select 
		                          id="type"
		                          name="type"
		                          class="form-control"
		                          th:onchange="|onchangeSearch(event)|"
		                        >
		                            <option value = ''>Mes demandes /Demandes des revendeurs</option>
		                            <option value="DISTRIBUTEUR">Mes demandes</option>
		    						<option value="REVENDEUR">Demandes des revendeurs</option>
		                        </select>
		                      </div>
		                       <div class="col-md-4" sec:authorize="hasAnyAuthority('VOIR_LISTE_DEMANDE_MODEM','VOIR_LISTE_DEMANDE_MODEM_AREA')">
		                        <label class="col-form-label" for="type">Utilisateur</label>							
								<select
		                          id="user"
		                          name="user"
		                          class="form-control js-select2"
		                           data-control="select2"
		                            data-placeholder="Select utilisateur"
		                          th:onchange="|onchangeSearch(event)|"
		                        >
		                          <option value="">Affecté à</option>
									<option th:each="u:${listusers}"
		                            th:value="${u.userid}"
		        					th:text="${u.firstName + ' ' + u.lastName + (u.nomCommercial != null ? ' / ' + u.nomCommercial : '')}">
		                          </option>
		                        </select>
		                      </div>
		               </div>
                     <div class="row col-md-8 mt-3">
	                      <div class=" col-md-4">
	                                         <div class="form-group row">
	                                             <label class="col-form-label mr-2"> Date de création: du</label>
	                                             <div>
	                                                 <input type="date" class="form-control"
	                                                        placeholder="Choisissez une date de début"
	                                                        name="dateDebut" id="dateDebut"    th:onchange="|onchangeSearch(event)|"/>
	                                             </div>
	                                         </div>
	                       </div>
	                      <div class="col-md-6">
	                                         <div class="form-group row">
	                                             <label class="col-form-label mr-2">au</label>
	                                             <div>
	                                                 <input type="date" class="form-control"
	                                                        placeholder="Choisissez une date de fin"
	                                                        name="dateFin" id="dateFin"    th:onchange="|onchangeSearch(event)|"/>
	                                             </div>
	                                         </div>
	                       </div>
                  
                    </div>
                      <div>
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mt-3"
                          th:onclick="onclicksherh(event)"
                          id="buttonRecherche"
                        >
                          Rechercher
                        </button>
                      </div>
                      
                   </form>
                 </div>
                <div class="card-body">
                     <table class="table table-bordered display supertable  table-striped  no-footer dtr-inline" id="modamtabel">
                            <thead  class="table">                      
                                <th>Date </th>
                                <th>Type</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Quantité</th>
                                <th>Type modem</th>
                            </thead>
                      </table>

                </div>
        
       </div>
</div>
</section>
    <input
    type="hidden"
    name="message"
    id="message"
    th:value="${message} ?  ${message} : ''"
  />
</section>
</body>
</html>

<script th:inline="javascript">

var messagenotif = document.getElementById("message").value;
if (messagenotif !== "" && messagenotif == "SUCCESS_REGISTER") {
	   $(document).Toasts("create", {
	        title: "Votre demande de stock a été envoyée avec succès.",
	        body: "",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}


var oTable;

function updateModalajax(column){
	  var data = oTable.row($(column).parents('tr')).data();
let href = "/modem/editmodem/" + data.statutId;
window.open(href)
}
	$(document)
			.ready(
					function() {
						  oTable =   $('#modamtabel').DataTable({
						      processing: true,
						      serverSide: true,
						      ordering: true,
							  searching: true,
						      ajax: '/getAllListeModemDemande',
						      lengthMenu: [
						          [10, 20, 50 , 100 , 200,500],
						          [10, 20, 50 , 100 , 200,500],
						        ],
							  
      language: {
        lengthMenu: "Affichage _MENU_ par page",
        zeroRecords: "Rien trouvé - désolé",
        emptyTable: "aucune donnée disponible",
        info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
        infoEmpty: "Aucun enregistrement disponible",
        paginate: {
          first: "Première",
          last: "Dernière",
          next: ">>",
          previous: "<<",
        },
        search: "Chercher:",
      },
						      columnDefs: [{
						    	    orderable: false,
						    	    targets: [0, 1, 2, 3, 4, 5]
						      
						    	  }],
						    	 
						      columns: [
						          {
						              "data": "createdDate",
						              "render": function(data, type, row) {
						                  // Convertir la date au format JJ/MM/AAAA
						                  var date = new Date(data);
						                  var day = date.getDate();
						                  var month = date.getMonth() + 1;
						                  var year = date.getFullYear();
						                  var formattedDate = (day < 10 ? '0' + day : day) + '-' +
						                                      (month < 10 ? '0' + month : month) + '-' + year;
						                  return formattedDate;
						              }
						          },
						            {
						                data: 'user.typeUser',
						                render: function(data, type, row) {
						                    var color = data === 'DISTRIBUTEUR' ? 'blue' : 'green';
						                    return '<span style="color: ' + color + '">' + data + '</span>';
						                }
						            },
								  {
							          data: null,
							          render: function (data, type, row) {
							            return row.user.firstName + " " + row.user.lastName + (row.user.nomCommercial != null ? " / "+row.user.nomCommercial:"");
							          },
							        },
															  {
						          data: null,
						          render: function (data, type, row) {
						            return row.user.adresse +"/"+row.user.gouvernorat.gouvernoratName+"/"+row.user.ville.villeName
						          },
						        },
						          { data: 'quantiter' },
						          { data: 'typeModem' },
						         
						      ],
						  });
						    oTable.on('processing.dt',function(e, settings, processing) {
						    	   
						        if (processing) {
						            // afficher le spinner
									  $('.loader-container').show();
						          } else {
						            // cacher le spinner
									  $('.loader-container').hide();
						          }
						      });	
					
						
					
					});

	var type = ""
	var user = ""
	var dateDebut = ""
	var dateFin = ""
	
		function onchangeSearch(event) {
	    let name = event.target.name;
	  
	    switch (name) {
	      case "type": {
	    	  type = event.target.value;
	        break;
	      }
	      case "user": {
	    	  user = event.target.value;
	        break;
	      }
	      case "dateDebut": {
	    	  dateDebut = event.target.value;
	        break;
	      }
	      case "dateFin": {
	    	  dateFin = event.target.value;
	        break;
	      }
	    }
	    
	  }
	  
	function onclicksherh(event) {
		  //event.preventdefault()
		  event.preventDefault();

		  //$('#tutorialTable').DataTable().ajax.reload();
		  $("#modamtabel")
		    .DataTable()
		    .column(0)
		    .search(
		      JSON.stringify({
		    	  type: type,
		    	  user : user,
		    	  dateDebut : dateDebut,
		    	  dateFin : dateFin
		      })
		    )
		    .draw();
	}
    $(document).ready(function() {
        $('.js-select2').select2({ allowClear: true});
      });
</script>


