<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>État du stock</title>
<link rel="stylesheet" href="/css/customvariablestyle.css">
</head>

<body id="page-top">
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

 <div class="container card mt-5 p-3">
                <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"><a  th:href="(${retourVers}=='dist' ? @{/recapDist} : @{/recapRev})"><button class="btn btn-primary mr-3">Retour</button></a> Modems disponibles </h1>			
                            
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

<h2 th:if="${#lists.size(modemsADSL) == 0 && #lists.size(modemsVDSL) ==0 && #lists.size(modemsGPON) ==0} ">Il n'y a pas des modems disponibles.</h2>    
<div class="row mt-3">
  <div th:if="${#lists.size(modemsADSL)}>0" class="col-md-4">
    	<h3><span th:text="${#lists.size(modemsADSL)}"></span> Modems ADSL disponible</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Numéro de série</th>
          <th scope="col">Marque</th>
          <th scope="col">etat</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="modem : ${modemsADSL}">
          <td th:text="${modem.numSerie}"></td>
          <td th:text="${modem.marque}"></td>
           <td>
			  <span th:if="${modem.status}" class="badge badge-danger">Non actif</span>
			  <span th:unless="${modem.status}" class="badge badge-success">Actif</span>
			</td>

        </tr>
      </tbody>
     </table>
  </div>
  
  
  <div th:if="${#lists.size(modemsVDSL)}>0" class="col-md-4 border-left border-primary">
    <h3><span th:text="${#lists.size(modemsVDSL)}"></span> Modems VDSL disponible</h3>
    </table>
        <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Numéro de série</th>
          <th scope="col">Marque</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="modem : ${modemsVDSL}">
          <td th:text="${modem.numSerie}"></td>
          <td th:text="${modem.marque}"></td>
           <td>
			  <span th:if="${modem.status}" class="badge badge-danger">Non actif</span>
			  <span th:unless="${modem.status}" class="badge badge-success">Actif</span>
			</td>
        </tr>
      </tbody>
    </table>
  </div>
   <!--modem xdsl -->
   <div th:if="${#lists.size(modemsXDSL)}>0" class="col-md-4 border-left border-primary">
    <h3><span th:text="${#lists.size(modemsXDSL)}"></span> Modems XDSL disponible</h3>
    </table>
        <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Numéro de série</th>
          <th scope="col">Marque</th>
          <th>Etat</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="modemxdsl : ${modemsXDSL}">
          <td th:text="${modemxdsl.numSerie}"></td>
          <td th:text="${modemxdsl.marque}"></td>
           <td>
			  <span th:if="${modemxdsl.status}" class="badge badge-danger">Non actif</span>
			  <span th:unless="${modemxdsl.status}" class="badge badge-success">Actif</span>
			</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div th:if="${#lists.size(modemsGPON)}>0" class="col-md-4 border-left border-primary">
    <h3><span th:text="${#lists.size(modemsGPON)}"></span> Modems Fibre disponible</h3>
    </table>
        <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Numéro de série</th>
          <th scope="col">Marque</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="modem : ${modemsGPON}">
          <td th:text="${modem.numSerie}"></td>
          <td th:text="${modem.marque}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    
  </div>
  
</section>
</body>

</html>

<script th:inline="javascript">

</script>
