<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
 <!-- Importez les bibliothèques SockJS et Stomp -->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
<meta charset="UTF-8">
<title>Crm Chifco</title>
<style>
#tutorialTable_filter{
display:none
}
 
 .table-striped>tbody>tr.backgroundColorred{
background-color: #D90000 !important;
 color: #D90000;
}
.table-striped>tbody>tr.backgroundColorOrange{
background-color: #e9009f !important;
 color: #EF6500
}
.table-striped>tbody>tr.backgroundColorYellow{
background-color: #EFB800 !important;
 color: #EFC100 ;
}
.backgroundColorBlack{
 color:  #000000 ;
}
</style>
</head>
<body>
	<section layout:fragment="content">
	<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-12">
						<h1 class="m-0">Liste des factures payées par revendeurs</h1>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
                                   <button
                    id="factureDownloadEnMasse"
                    class="d-inline-block btn btn-sm btn-info shadow-sm mb-3"
                  >
                    Extraire Liste des Factures payées
                  </button>
                  
                                               <form
                    id="myExportForm"
                    class="form-sample"
                    method="get"
                    action=""
                    style="display: none"
                  >
                    <!--        <div th:if = "${_csrf.parameterName">
                                       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                       </div>-->

                       <input type="hidden" id="ExportRecherchePrixMin" name="ExportRecherchePrixMin"><br>
        <input type="hidden" id="ExportRecherchePrixmax" name="ExportRecherchePrixmax"><br>
        <input type="hidden" id="ExportRechercheDatedebut"  name="ExportRechercheDatedebut"><br>
        <input type="hidden" id="ExportRechercheCodeDatefin" name="ExportRechercheCodeDatefin"><br>
          <input type="hidden" id="ExportRechercheRef_facture" name="ExportRechercheRef_facture"><br>
           <input type="hidden" id="ExportRechercheRef_avoir" name="ExportRechercheRef_avoir"><br>
          
          
                  </form>
		<button id="createbordauraux"
			class="d-inline-block btn btn-sm btn-info shadow-sm mb-3"
			sec:authorize="hasAnyAuthority('CREATE_SLIP')" disabled="true">
			Créer un nouveau bordereau ( <span id="montantTotal">0</span> TND )</button>
		<div class="row">
			<div class="col-12">
				<div class="card shadow mb-4">
					<div class="blocFilter">
						<div id="formsendbr"></div>
					</div>
				</div>
			</div>
		</div>
		                  <form id="showMe3" method="get"   sec:authorize="hasAnyAuthority('CREATE_SLIP','READ_PAYED_INVOICE_ALL')">
                    <div class="row">




                      <div class="col-sm-6 col-md-6" sec:authorize="hasAnyAuthority('READ_PAYED_INVOICE_ALL')">
                        <label class="col-form-label" for="ref_facture"
                          >Reference Facture</label
                        >
                        <input
                          id="ref_facture"
                          type="string"
                          name="ref_facture"
                          placeholder="ref facture"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      
                            <div class="col-sm-6 col-md-6" sec:authorize="hasAnyAuthority('READ_PAYED_INVOICE_ALL')">
                        <label class="col-form-label" for="ref_facture"
                          >Reference Avoir</label
                        >
                        <input
                          id="ref_avoir"
                          type="string"
                          name="ref_avoir"
                          placeholder="ref facture"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>



                      <div class="col-sm-6 col-md-6">
                        <label class="col-form-label" for="TEL"
                          >prix maximal</label
                        >
                        <input
                          id="prixmax"
                          type="number"
                          name="prixmax"
                          placeholder="prix maximal"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-sm-6 col-md-6">
                        <label class="col-form-label" for="RefTT"
                          >prix minimum </label
                        >
                        <input
                          id="prixmin"
                          type="Number"
                          name="prixmin"
                          placeholder="prix minimum"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>



                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6  mt-3">
                                         <div class="form-group ">
                                             <label class=" col-form-label">Date debut</label>
                                             <div >
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="datedebut" id="datedebut"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                                     </div>
                      <div class="col-sm-6 col-md-6  mt-3">
                                         <div class="form-group ">
                                             <label class=" col-form-label">Date fin</label>
                                             <div >
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="datefin" id="datefin"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                                     </div>
                      <div class="col-sm-3 mt-3">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)"
                        >
                          Rechercher
                        </button>
                      </div>
                    </div>
                  </form>
		<div class="row">
			<div class="col-12">
				<div class="card shadow mb-4">
					<div class="card-body">
						<div>
							<div class="blocy">
								<table id="tutorialTable"
									class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline">
									<!-- Header Table -->
									<thead class="table dataTable no-footer">
										<tr>
											<th data-priority="1"><input sec:authorize="hasAnyAuthority('CREATE_SLIP')" id="select_all"
												name="select_all" value="1" type="checkbox" />
											</th>
											<th>Type</th>
											<th>Reference</th>
											<th>Client</th>
                                            <th>CIN</th>
											<th>Date facture / Avoir</th>
											<th>Montant (TND)</th>
											<th>Date échéance </th>
											<th>Type de paiement</th>
											<th>Payé le jour</th>
											<th>Etat</th>
											<!-- <th data-priority="2">Action</th> -->
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal -->
    <div
    class="modal fade"
    id="myModal"
    data-backdrop="false"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">
             Bordereau pdf
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body" id="modal-body">
         
          </div>
          
    
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Fermer
            </button>

          </div>

      </div>
    </div>
  </div>
	</section>
</body>
</html>

<script th:inline="javascript">
//var port = /*[[${port}]]*/ "default";
//var host = /*[[${host}]]*/ "default";

var CREATE_SLIP = /*[[${CREATE_SLIP}]]*/ "default";
$('.loader-container').show();
var prixmin = "";
var prixmax = "";
var datedebut = "";
var datefin = "";
var montantTotal = 0;
var ref_facture = ""
var ref_avoir = ""

var oTable;
var  array = [] ;
var payment =  "<form id='myForm' class='form-sample'  method='post' action=''>"
	payment += "<input id='factureliste' name='factureliste' type='hidden' value='"+array+"'> </form>" ;
$('#formsendbr').append(payment)

$("#togglebutton").click(function () {

    $("#showMe3").toggle();
  });
  
$('thead input[name="select_all"]').on("click", function (e) {
    if (this.checked) {
             	 $.ajax({
                      type: "POST",
                      contentType: "application/json",
                      url: "/payement/allFactureId",
                      data: JSON.stringify({
                    	  prixmin: prixmin,
	                      	prixmax: prixmax,
	                      	datedebut: datedebut,
	                      	datefin: datefin,
                       
                       }),
                      dataType: "json",
                      timeout: 100000,
                      async:false,
                      success: function (data) {  
                    	  
                    	  viderFactureIds()
                  
                    	  array = data.ids;
                    	  checkDefaultCheckbox()
                    	  montantTotal = data.sommeMontantFacture
                    	  let options = {
                				  minimumFractionDigits: 3,
                				  maximumFractionDigits: 3
                				};
                    	  document.getElementById('montantTotal').innerHTML = montantTotal.toLocaleString(undefined, options)
                    	  $("#createbordauraux").prop('disabled', false) ;
                    	  document.getElementById("factureliste").value = array;
                      },
                      error: function (e) {
                        console.log("ERROR: ", e);
                      },
                    });        	

   } else {
	   viderFactureIds()
	   montantTotal = 0
	   document.getElementById('montantTotal').innerHTML = 0
 	  $("#createbordauraux").prop('disabled', true) ;
 	  document.getElementById("factureliste").value = [];
   }
   e.stopPropagation();
 });
 
 function onchangeSearch(event) {
    let name = event.target.name;
    switch (name) {
      case "prixmin": {
    	  prixmin = event.target.value;
        break;
      }
      case "prixmax": {
    	  prixmax = event.target.value;
        break;
      }
      case "datedebut": {
    	  datedebut = event.target.value;

        break;
      }

      case "datefin": {
    	  datefin = event.target.value;
        break;
      }
      case "ref_facture" : {
        ref_facture = event.target.value;
        break;
      }
      
      case "ref_avoir":{
    	  ref_avoir = event.target.value;
      }
    }}
    
function onclicksherh(event) {
    //event.preventdefault()
    event.preventDefault();
    //$('#tutorialTable').DataTable().ajax.reload();
    $("#tutorialTable")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
        	prixmin: prixmin,
        	prixmax: prixmax,
        	datedebut: datedebut,
        	datefin: datefin,
        	ref_facture:ref_facture,
        	ref_avoir:ref_avoir
   
          
        })
      )
      .draw();
  }
function toggleCheckboxajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
	  var montant = column.dataset.montant
  	  var type = column.dataset.type
  	  
    if(column.checked){
  	  array.push(column.id)

  	  if(type=="Facture"){
  		montantTotal= Number(montantTotal) + Number(column.dataset.montant)
  	  }else{
  		montantTotal= Number(montantTotal) - Number(column.dataset.montant)
  	  }  	  
  	  let options = {
				  minimumFractionDigits: 3,
				  maximumFractionDigits: 3
				};
	 document.getElementById('montantTotal').innerHTML = montantTotal.toLocaleString(undefined, options)
    }
    else{
  	  const fillterdarray = array.filter(el => el != column.id) ; 
  	  array = fillterdarray ;

 	  if(type==="Facture"){
 		montantTotal= Number(montantTotal) - Number(column.dataset.montant)
 	  }else{
 		montantTotal= Number(montantTotal) + Number(column.dataset.montant)
 	  }
 	 let options = {
			  minimumFractionDigits: 3,
			  maximumFractionDigits: 3
			};
 	 document.getElementById('montantTotal').innerHTML = montantTotal.toLocaleString(undefined, options)
 		document.getElementById("select_all").checked = false
    } 
   if(array.length > 0 )
	  {
	  
	  $("#createbordauraux").prop('disabled', false) ; 
	  document.getElementById("factureliste").value = array;

	  }
  else
	  {
	  $("#createbordauraux").prop('disabled', true) ;
	  montantTotal = 0
	  document.getElementById('montantTotal').innerHTML = 0
	 
	  }
  }
$("#createbordauraux").click(function (e) {
    e.preventDefault();

    if (array.length !== 0) {
      var url = "/bordereau/BordereauCreation";
      $("#myForm").attr("action", url);
    $("#myForm").submit() 


       // window.location.reload();
       
    } else {
      alert("Veuillez selectionner les factures");
      //  window.location.reload();
    }
  });

$(document)
.ready(
		function() {
oTable = $("#tutorialTable").DataTable({
	pagingType: 'full_numbers',
    processing: true,
    serverSide: true,
    ordering: true,
    searching : true,
    "processing": true, // activer le mode processing
    "serverSide": true, // activer le mode server-side
    order: [9, "asc"],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: true,
    fixedHeader: true,
    ajax: "/payement/listepaymentrevendeur",
    lengthMenu: [
      [20, 50, 150],
      [20, 50, 150],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "<i class='fa fa-fast-backward'></i>",
				  last: "<i class='fa  fa-fast-forward '></i>",
				  next: "<i class='fa fa-solid fa-chevron-right'></i>",
				  previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
      search: "Chercher:",
    },

    initComplete: function (json) {

        document.getElementById("tutorialTable_filter").style.display = "none";
      },

    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
      {
          className: "dtr-control",
          orderable: false,
          targets: 6,
        },
        {
            className: "dtr-control",
            orderable: false,
            targets: 2,
          },
          {
              className: "dtr-control",
              orderable: false,
              targets: 10,
            },
    ],

    columns: [
    	{  data: null,
            render: function (data, type, row) {
            		if(CREATE_SLIP == true){
            			return "<input type='checkbox' class='chekelement' name='chekelement' onclick='toggleCheckboxajax(this)' id=" +
                		row.encaissement_id +
                		" data-montant='" +
                		row.montant_facture +
                		"' data-type='" +
                		row.type +
                		"' />"
            		}
            		return ""

          },
        },
        {
            data: null,
            render: function (data, type, row) {
            	if(row.type)
              return row.type  ;
            	return "";
             
            },
          },

      {
        data: null,
        render: function (data, type, row) {
        	if(row.ref_facture){
        		return row.ref_facture  ;
        	}else{
        		return row.ref_avoir_client;
        	}
          
        	return "";
         
        },
      },
      {
          data: null,
          render: function (data, type, row) {
          	if(row.first_name)
            return row.first_name + "  " + row.last_name  ;
          	return "";
           
          },
        },
        {
          data: null,
          render: function (data, type, row) {
          	if(row.cin )
            return  row.cin;
          	return "";
           
          },
        },
        {
            data: null,
            render: function (data, type, row) {
				var options = {
				    day: 'numeric',
				    month: 'numeric',
				    year: 'numeric'
				};

            	if(row.created_date){

            	    return new Date(row.created_date).toLocaleString('en-GB', options) ;
            	}
          


            	return "";
             
            },
          },
      {
    	   data: null,
           render: function (data, type, row) {
           	if(row.montant_facture && row.type == "Facture"){
           		return row.montant_facture.toFixed(3);
           	}else{
           		return "-"+row.montant_facture.toFixed(3);
           	}
             
           	return "";
            
           },
         },
         { data: null ,
       	  render: function (data, type, row) {
       		 var options = {
				    day: 'numeric',
				    month: 'numeric',
				    year: 'numeric'
				};
       		  if(row.date_echeance)
       	            return new Date(row.date_echeance).toLocaleString('en-GB' ,options)   ;
       	          	return "---";
             }},
      {
        data: null,
        render: function (data, type, row) {
        	if(row.type_de_payment)
        		
           return row.type_de_payment;
        	else return "";
        },
      },
    
    
      {

        data: null,
        render: function (data, type, row) {
        var options = {
    day: 'numeric',
    month: 'numeric',
    year: 'numeric'
};

        	if(row.date)
        		
           return new Date(row.date).toLocaleString('en-GB',options);
        	else return "";
        },
      },
      {

          data: null,
          render: function (data, type, row) {
          var options = {
      day: 'numeric',
      month: 'numeric',
      year: 'numeric'
  };

          	if(row.date)
          		{
          		const currentDate = new Date();
        		const createdDate = new Date(data.date)

      		// Calculate the difference in milliseconds
      		const timeDifference = currentDate - createdDate;
      		const daysDifference = timeDifference / (1000 * 60 * 60 * 24);
                if (daysDifference >= 25) {
                	  return " plus de 25 jours"
                }
                else   if (daysDifference >= 20 && daysDifference < 25) {
              	  
                	  return " plus de 20 jours"
              	  
                }
      else   if (daysDifference >= 15 && daysDifference < 20) {
              	  
             return " plus de 15 jours"
              	  
                }
      else return ""
          		}
           
          	else return "";
          },
        },

      ],
      createdRow: function( row, data, dataIndex){
    	  
    		const currentDate = new Date();
    		const createdDate = new Date(data.date)

  		// Calculate the difference in milliseconds
  		const timeDifference = currentDate - createdDate;
  		const daysDifference = timeDifference / (1000 * 60 * 60 * 24);
            if (daysDifference >= 25) {
          	    $(row).addClass('backgroundColorred');
            }
            else   if (daysDifference >= 20 && daysDifference < 25) {
          	  
          	     $(row).addClass('backgroundColorOrange');
          	  
            }
  else   if (daysDifference >= 15 && daysDifference < 20) {
          	  
         $(row).addClass('backgroundColorYellow');
          	  
            }
            
  else 
	  $(row).addClass('backgroundColorBlack');
                
        },
});

  oTable.on('processing.dt',function(e, settings, processing) {
	  checkDefaultCheckbox();
      if (processing) {
          // afficher le spinner
			  $('.loader-container').show();
        } else {
          // cacher le spinner
			  $('.loader-container').hide();
        }
    });					
});

   function pdfBordereauform(id){


   let a = document.createElement("a");
        a.setAttribute("style", "display: none");
        a.href = "/bordereau/imprimerBordereauA4/"+id;
        a.target = "_blank";
   a.click();

    }
$(document).on('submit','#myForm', function(event){
    //   $('#PaymentFactures').submit(function(event) {
        event.preventDefault(); // Prevent the form from submitting via the browser
        var form = $(this);
        $("#createbordauraux").prop('disabled', true) ; 


        montantTotal = 0
  	  document.getElementById('montantTotal').innerHTML = 0


      //  form.submit()
       $.ajax({
          type: form.attr('method'),
         url: form.attr('action'),
         responseType: 'arraybuffer',
          data: form.serialize()
        }).done(function(data) {
        	

        	if(data != 0 && data != null)
        {
        	array = [];
        	$('#tutorialTable').DataTable().ajax.reload()
          $(document).Toasts("create", {
	        title: "Un nouveau bordereau a été créé avec succès",
	        body: "",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });


	var payment = "<div>Votre bordereau a été créé avec succès :  " ;
	payment+="<button onClick='pdfBordereauform("+data+")' class='d-inline-block btn btn-sm btn-info shadow-sm mb-3' style='margin-top: 11px;'><i class='fa fa-download'></i>Télécharger voctre bordereau</button>  	</div>"

        	  	$('#modal-body').empty().append(payment);
              $("#myModal").modal();

        }
        	else {
        		 $(document).Toasts("create", {
        		        title: "un ou plusieur facture a eté deja utiliseé avec un  bordereau",
        		        body: "",
        		        class: "bg-danger",
        		        autohide: true,
        		        delay: 10000,
        		      });	
        			// Add an event listener to the toast
          		$('.toast').on('hidden.bs.toast', function () {
          		  // Code to execute after the toast has been hidden
          		    window.location.reload()
          		});
        		}
        	
        }

        )
        .fail(function(data) {

        	window.location.reload();
         });
        })

 $("#factureDownloadEnMasse").click(function (e) {
    e.preventDefault();

    
    document.getElementById("ExportRecherchePrixMin").value = prixmin;
    document.getElementById("ExportRecherchePrixmax").value = prixmax;
    document.getElementById("ExportRechercheDatedebut").value = datedebut;
    document.getElementById("ExportRechercheCodeDatefin").value = datefin;
    document.getElementById("ExportRechercheRef_facture").value = ref_facture;
    document.getElementById("ExportRechercheRef_avoir").value = ref_avoir;
    
      var url = "/payement/factureDownloadEnMasse";
      $("#myExportForm").attr("action", url);
      $("#myExportForm").submit();


  });
    
//pour vider tableau Facture ids
function viderFactureIds(){
	if (array.length !== 0) {
		array.forEach(function (item, index, array) {
          var elem = document.getElementById(item);
          if (elem !== null) {
            document.getElementById(item).checked = false;
          }
        });
      }
	array.splice(0, array.length);
}

//pour chcked les checkbox qui dans tableau Facture ids
function checkDefaultCheckbox(){
    if (array.length !== 0) {
    	array.forEach(function (item, index, array) {	   	
          var elem = document.getElementById(item);
          if (elem !== null) {
            document.getElementById(item).checked = true;
          }
        });
      }
}





</script>
