<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Ajouter  Avoir Client </title>
        <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
        <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />
</head>
<body>
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

    <section class="content">
        <div class="container-fluid">

    <div >
        <div class="col-12 grid-margin">
        
            <div class="card">
                       <h4 class="card-title  m-3">Ajouter un Avoir</h4>  
                                 
<div class="card-body">


		  <!--   <button type="button" class="btn btn-primary mb-2 ml-2" id="addFormButton">
		  	  <i class="fas fa-plus"></i> Ajouter une ligne
			</button>--> 
			<!-- @{/AvoirClient/saveNewEntryAvoirClient} -->
<div id="formContainer" class="row m-2">
<form class="cloned-form-sample p-1 rounded border border-light col-md-6" id="clonedForm1" action="#"  method="POST" >
	<div class="col-md-10">
    						
                             
                            </div>
						<div class="float-right">
							<span 	type="button" 
									class="btn btn-danger btn-icon-only btn-sm bi-trash dell hidden" 
									onclick="supprimerFormulaire(this)"
									name="buttonDell"
							>
								<i class="fas fa-trash-alt"></i>
							</span>
						</div>
						
						

						<div class="col-md-10">
    						<!-- 	<div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Libellé</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="labelle" id="labelle" placeholder="Libellé" th:required="required" />
                                    </div>
                                </div> -->
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Montant Ht</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" name="montantHt" min="0.001" step="0.001" id="montantHt" placeholder="Montant HT" th:required="required" />
                                    </div>
                                </div>
                            </div>
    					<div class="col-md-10">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">% TVA</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" min="0" name="baseTva" id="baseTva" placeholder="baseTva" th:required="required" />
                                    </div>                                    
                                </div>
                            </div>
    					<div class="col-md-10">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Montant TVA</label>
                                    <div class="col-sm-9">
                                      <input  class="form-control" name="montantTva" id="montantTva" disabled="disabled" value="0">
                                        <!--   input type="number" class="form-control" name="montantTva" id="montantTva" placeholder="montant Tva" th:required="required" /-->
                                    </div>
                                </div>
                            </div>
                            
    					<div class="col-md-10">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Total TTC</label>
                                    <div class="col-sm-9">
                                        <input id="claculettc" class="form-control" name="montantAvoir" disabled="disabled" value="0">
                                        <!--   input type="number" class="form-control" name="montantAvoir" placeholder="montantAvoir"
                                               th:required="required"/-->
                                    </div>
                                  
                                </div>
                            </div>

</form></div>
                   
                    <form class="form-sample mt-3" id="formAvoir" action="#"   method="POST" onsubmit="saveformulaireCloned(event)">
                          <input type="hidden" name="clientId" th:value="${clientId}" />
                          <div class="row">
                          	<div class="col-md-6 pr-3">
                                    <label class="col-sm-12 col-form-label"> Choisir type avoir</label>
                                    <div class="col-sm-12">
                                        <select  class="form-control" name="typeAVr" id="typeAVr"  th:required="required" >
                                        <option value=true>Geste commercial</option>
                                         <option value=false>Avoir</option>
                                        </select>
                                    </div>
                                </div>
                                
                                           <div class="col-md-8 pr-3">
	                             <div class="col-md-12">
	                                <div class="form-group row">
	                                    <label class="col-sm-12 col-form-label">Facture  Concernées</label>
	                                    <div class="col-sm-12">
	                                   
	                                    <select class="form-control js-select2"  data-control="select2"          multiple="multiple"
	                                     name="RefFacture" id="RefFacture" th:required="required">
                    <option value="" disabled>-- Sélectionnez une facture --</option>

                    <!-- Loop through facture list -->
                    <option th:each="facture : ${factures}"
                            th:value="${facture.ref_facture}"
                             
                            th:text="${facture.ref_facture}">
                    </option>
                </select>
	                                    </div>
	                                </div>
	                            </div>
                            </div>
  <div id="dateMserivice">
          <div class="col-md-12">
	                                <div class="form-group row">
	                                    <label class="col-sm-12 col-form-label">Date de Mise en service</label>
	                                    <div class="col-sm-12">
	                                        <input type="date" class="form-control" name="dateMs" id="dateMs"  ></input>
	                                    </div>
	                                
	                            </div>
                            </div>
  </div>
      	
                         
                                              
                                
                                                            <div id="coupureFields" style="display: none;">
                                                             <div class="row">
                                 
	                             <div class="col-md-12">
	                                <div class="form-group row">
	                                    <label class="col-sm-12 col-form-label">Ref  Reclamation</label>
	                                    <div class="col-sm-12">
	                                        <input type="text" class="form-control" name="RefReclamation" id="RefReclamation" placeholder="Veuillez saisir le RefReclamation."  pattern="^(?!\\s+$).+" th:required="required"></input>
	                                    </div>
	                                
	                            </div>
                            </div>
                            </div>
  <label>Periode d'indisponibilité  de  :</label>
  <input type="date" id="dateDebut" name="dateDebutCoupur" class="form-control" />

  <label>Periode d'indisponibilité  a  :</label>
  <input type="date" id="dateFin" name="dateFinCoupur" class="form-control" />
</div>                                    
                                         <div class="col-md-4 pr-3">
	                             <div class="col-md-12">
	                                <div class="form-group row">
	                                    <label class="col-sm-12 col-form-label">Motif  Avoir</label>
	                                    <div class="col-sm-12">
	                                    <select id="commAvoir" name="commAvoir">
  <option value="">-- Choisir motif --</option>
</select>
	                                    </div>
	                                </div>
	                            </div>
                            </div>
                            
 
                          <div class="col-md-4 pr-3">
	                             <div class="col-md-12">
	                                <div class="form-group row">
	                                    <label class="col-sm-12 col-form-label">Commentaire  Avoir</label>
	                                    <div class="col-sm-12">
	                                        <textarea rows="3" class="form-control" name="motifAvoir" id="motifAvoir" placeholder="Veuillez saisir le commentaire"  pattern="^(?!\\s+$).+" th:required="required"></textarea>
	                                    </div>
	                                </div>
	                            </div>
                            </div>
                           
                                   <div class="col-md-4 pr-3 form-group ">
                                    <label class="col-sm-12 col-form-label">Valider Par</label>
                                    <div class="col-sm-12">
                                      <input  class="form-control" name="validePar" id="validePar" type="text" required >
                                    </div>
                                </div>
                            
                            <div class="col-md-4 border-left border-light pl-3">
                            	<label class="col-sm-12 mt-2 col-form-label">Statut Avoir :</label>
                                  
                                  <div class="form-group col">                                   
                                    <div class="col-sm-12 mt-3 mb-3">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input onchange="toggleSelectForm()" type="radio" style="opacity: 1 !important" class="form-check-input" name="IsClientPayed" id="membershipRadios2" value="False" checked> Avoir Non Payé
                                            
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="form-radio">
                                            <label class="form-check-label" >
                                                <input onchange="toggleSelectForm()" type="radio" style="opacity: 1 !important;" class="form-check-input" name="IsClientPayed" id="membershipRadios1" value="True"> Avoir Payé
                                            </label>
                                        </div>
                                        <div id="selectForm" class="ml-3 mt-3" style="display: none;">
                                        <label class="col-sm-3 col-form-label">Payé par : </label>
				                           <input list="listRev" 
				                           			class="form-control" 
				                           			autocomplete="off" 
				                           			type="text" 
				                           			name="rev" 
				                           			id="rev" 				                           			
				                           			placeholder="Veuillez entrer le nom / code de revendeur"
				                           			th:onchange="validationDataList(event);">
				                           			
											<datalist id="listRev">
											<option th:each="u:${revendeur}"
						                             th:value="${u.codeUser}"
				        							 th:text="${u.firstName + ' ' + u.lastName + (u.nomCommercial != null ? ' ' + u.nomCommercial : '')}">
						                     </option>
											</datalist>
											<div class="text-danger" id="alertContainer"></div>
											<div class="form-group row mt-3">
												<label class="col-sm-12 mt-2 col-form-label">Autorisation d'utilisation dans la création de bordereau  : </label>
				                                    <div class="col-sm-5 mb-3 ml-4">
				                                        <div class="form-radio">
				                                            <label class="form-check-label">
				                                                <input type="radio" style="opacity: 1 !important" class="form-check-input" name="isUsedBrd" id="isUsedBrd" value="True" > Oui		                                            
				                                            </label>
				                                        </div>
				                                    </div>
				                                    <div class="col-sm-5">
				                                        <div class="form-radio">
				                                            <label class="form-check-label">
				                                                <input type="radio" style="opacity: 1 !important" class="form-check-input" name="isUsedBrd" id="isUsedBrd" value="False" > Non				                                            
				                                            </label>
				                                        </div>
				                                    </div>
				                                    <div id="isUsedBrdError" class="text-center text-danger"></div>
			                                  </div>
			                                  								  
										</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 border-left border-light pl-2">
                            	<div class="container mt-4">
							      <div class="form-group">
							        <label for="hasRaccordement">Ajouter frais de raccordement dans la prochaine facture ? :</label><br>
							        <div class="form-check form-check-inline">
							          <input type="radio" class="form-check-input" name="hasRaccordement" id="hasRaccordementYes" value="True">
							          <label class="form-check-label" for="hasRaccordementYes">Oui</label>
							        </div>
							        <div class="form-check form-check-inline">
							          <input type="radio" class="form-check-input" name="hasRaccordement" id="hasRaccordementNo" value="False" checked>
							          <label class="form-check-label" for="hasRaccordementNo">Non</label>
							        </div>
							      </div>
							  </div>
							  <div class="container mt-5 bg-light rounded border border-dark p-3"> 
								    <h3 class="mb-2">Total Avoir</h3>
								    <div class="totals pl-3">
								        <div class="total-item mb-2">
								            <strong>Total Montant HT : </strong>
								            <span id="totalMontantHT">0 TND</span>
								        </div>
								        <div class="total-item mb-2">
								            <strong>Total TVA : </strong>
								            <span id="totalTVA">0 TND</span>
								        </div>
								        <div class="total-item">
								            <strong>Total Montant TTC : </strong>
								            <span id="totalMontantTTC">0 TND</span>
								        </div>
								    </div>
							    </div>
                            </div>
                       </div>

                        
                        <div style="margin-top: 20px; text-align: center;">
                        
                        <button type="button" onclick="affichageModelAvoir()"
                        	class="btn btn-primary" 
                        	data-toggle="modal" 
                        	data-target=".bd-example-modal-lg">Confirmation</button>

                            <button type="reset" class="btn btn-danger" style="margin-left: 20px;" >Réinitialiser</button>
                        </div>
                        
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						  
						  <div class="modal-dialog modal-lg">
					  
						    <div class="modal-content">
						    <div class="modal-header">
						        <h5 class="modal-title">Confirmation avoir</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="container p-3">
									    <table class="table">
									      <thead>
									        <tr>
									          <th>Libellé</th>
									          <th>Montant Ht</th>
									          <th>% TVA</th>
									          <th>Montant TVA</th>
									          <th>Total TTC</th>
									        </tr>
									      </thead>
									      <tbody id="table-body">
									       
									        <!-- Autres lignes de factures ici -->
									      </tbody>
									    </table>
									    <div class="row">
									         <div class="col-md-3">
									     
									         <div class="form-group">
									          <label for="typeAvrComfirm">Type</label>
									          <p id="typeAvrComfirm"></p>
									        </div>
									           <div class="form-group">
									          <label for="reffacture">Ref facture</label>
									          <p id="reffactureavr"></p>
									        </div>
									      </div>
									      <div class="col-md-3">
									        <div class="form-group">
									          <label for="motif">commentaire</label>
									          <p id="confirmationMotif"></p>
									        </div>
									      </div>
									      <div class="col-md-5 border-left border-light">
									        <div class="form-group">
									          <label class="col-sm-12 col-form-label">Statut :</label>
											  <div class="col-sm-12"><span id="statut"></span></div>
									        </div>
									        <div class="form-group">
									          <label class="col-sm-12 col-form-label">Utilisé par :</label>
											  <div class="col-sm-12"><span id="revendeur"></span></div>
									        </div>
									        <div class="form-group">
									        	<label class="col-sm-12 col-form-label">Autorisation d'utilisation dans la création de bordereau :</label>
												<div class="col-sm-12"><span id="isUsed"></span></div>
									        </div>
									      </div>
									      <div class="col-md-4 border-left border-light">
									        <div class="form-group">
									        <label class="col-sm-6 col-form-label">Raccordement :</label>
											<div class="col-sm-6"><span id="raccordement"></span></div>
									        </div>
									      </div>
									    </div>
										<div class="container mt-5 bg-light rounded border border-dark p-3"> 
										    <h3 class="mb-2">Total Avoir</h3>
										    <div class="totals d-flex flex-row pl-3">
										        <div class="total-item mr-3">
										            <strong>Total Montant HT : </strong>
										            <span id="totalMontantHTModel">0 TND</span>
										        </div>
										        <div class="total-item mr-3">
										            <strong>Total TVA : </strong>
										            <span id="totalTVAModel">0 TND</span>
										        </div>
										        <div class="total-item">
										            <strong>Total Montant TTC : </strong>
										            <span id="totalMontantTTCModel">0 TND</span>
										        </div>
										    </div>
										</div>

									  </div>
									   <div class="modal-footer">
												<input type="submit" id="saveButton" class="btn btn-primary"  value="Sauvegarder" />
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
								      </div>
							
						    </div>
						  </div>
						</div>							
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
</section>
</body>
</html>

<script th:inline="javascript">
let totalMontantTTCVerif = 0
// miss a jour les montant total
function updateTotals() {
	var totalMontantTTC = 0;
	var totalMontantHT = 0;
	var totalTVA = 0;
	
	
	 var forms = document.querySelectorAll('.cloned-form-sample');    
     var i = 0;
     forms.forEach(function (form) {
    	let montnatHt =  form.querySelector('input[name="montantHt"]').value != "" ? form.querySelector('input[name="montantHt"]').value : 0
        let montantTva = form.querySelector('input[name="montantTva"]').value != ""	 ? form.querySelector('input[name="montantTva"]').value : 0
         // Collect data from the form	            
          var formObj = {
         montantHT: montnatHt,  
         tva: montantTva, 
         montantTTC: form.querySelector('input[name="montantAvoir"]').value,
         // Add other fields as needed

     };      
         
          totalMontantHT += parseFloat(formObj.montantHT);
          totalTVA += parseFloat(formObj.tva);
          totalMontantTTC += parseFloat(formObj.montantTTC);
          
          i++;
     });
    
     totalMontantTTCVerif = totalMontantTTC;
    document.getElementById('totalMontantHT').innerText =  totalMontantHT.toFixed(3) + " TND";
    document.getElementById('totalTVA').innerText = totalTVA.toFixed(3) + " TND";
    document.getElementById('totalMontantTTC').innerText = totalMontantTTC.toFixed(3) + " TND";
    
    document.getElementById('totalMontantHTModel').innerText = totalMontantHT.toFixed(3) + " TND";
    document.getElementById('totalTVAModel').innerText = totalTVA.toFixed(3) + " TND";
    document.getElementById('totalMontantTTCModel').innerText = totalMontantTTC.toFixed(3) + " TND";
}

var formCounter = 0; // Initialize form counter
document.querySelector('#clonedForm1').querySelectorAll('.form-control').forEach(input => {
    var id = input.id + formCounter; // Add the form counter to the ID

    input.id = id;
    input.value = ''; // Reset input value
    input.dataset.formIndex = formCounter; // Update the form index in data attribute


});
document.querySelector('#clonedForm1').querySelectorAll('.form-control').forEach(input => {
    input.addEventListener('change', function () {
        calculettcProduit(this.dataset.formIndex); // Pass the form index from data attribute
    });
})
/*
document.getElementById('addFormButton').addEventListener('click', function () {
    // Clone the existing form template
    

    var clonedForm = document.querySelector('#clonedForm1').cloneNode(true);
    
    // Increment form counter
    formCounter++;

    // Update class names and IDs in the cloned form
    clonedForm.querySelectorAll('.form-control').forEach(input => {
        var id = input.id + formCounter; // Add the form counter to the ID
        input.id = id;
        input.value = ''; // Reset input value
        input.dataset.formIndex = "0"+formCounter; // Update the form index in data attribute
    });
        
    clonedForm.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('change', function () {
            calculettcProduit(this.dataset.formIndex); // Pass the form index from data attribute
        });
    })
    var formId = 'clonedForm' + (formCounter+1); 
    clonedForm.id = formId;
    
    // Append the cloned form to the container
    document.getElementById('formContainer').appendChild(clonedForm);
    
    
    //afficher le button supprimer formulaire
    if (formId !== "clonedForm1") {
    	var form = document.getElementById(formId);
    	var deleteButton = form.querySelector(".dell");
        deleteButton.classList.remove("hidden");
    }
});
*/

function calculettcProduit(formIndex)
{
	var pourcentTva = 0;
	var produitPrixHt = 0 
	if($("#baseTva"+formIndex).val()){
		 pourcentTva = parseFloat($("#baseTva"+formIndex).val());
	}
   if($("#montantHt"+formIndex).val()){
		 produitPrixHt = parseFloat($("#montantHt"+formIndex).val()); 
   }


	
	var montantTva = produitPrixHt * (pourcentTva / 100);
	let produitPrixTTC = montantTva + produitPrixHt;
	document.getElementById("montantTva"+formIndex).value = montantTva.toFixed(3);
	document.getElementById("claculettc"+formIndex).value = produitPrixTTC.toFixed(3);

	updateTotals()
}

function toggleSelectForm() {
	var selectForm = document.getElementById("selectForm");
	var radioChecked = document.getElementById("membershipRadios1").checked;
	if (radioChecked) {
	  selectForm.style.display = "block";

	}
	else {
	  var datalistOptions = document.getElementById('rev');
	  datalistOptions.value = '';
	  var alertContainer = document.getElementById('alertContainer');
      alertContainer.innerHTML = '';
   	  // Activer le bouton de soumission "sauvegarder"
      //document.getElementById('sauvegarder').disabled = false;
	  selectForm.style.display = "none";
	}
}

//Validation de datalist dans filtre
function validationDataList(event) {
	  var selectedValue = event.target.value;
	  var datalistOptions = document.getElementById('listRev').options;
	  var optionExists = false;
	  if(selectedValue.length != 0){
    	  for (var i = 0; i < datalistOptions.length; i++) {
	    	    if (datalistOptions[i].value === selectedValue) {
	    	      optionExists = true;
	    	      break;
	    	    }
	    	  } 
    	  if (!optionExists) {
    		  var alertElement = document.createElement('div');
    	      alertElement.classList.add('text-danger');
    	      alertElement.textContent = "Veuillez choisir un élément valide dans la liste.";
    	 
    		  var alertContainer = document.getElementById('alertContainer');
    	      alertContainer.innerHTML = '';
    	      alertContainer.appendChild(alertElement);
    	      
    	      // Désactiver le bouton de soumission "Rechercher"
    	      document.getElementById('sauvegarder').disabled = true;
	    	}else {
	    	      // Supprimer l'alerte et activer le bouton de soumission "sauvegarder"
	    	      var alertContainer = document.getElementById('alertContainer');
	    	      alertContainer.innerHTML = '';
	    	      
	    	      // Activer le bouton de soumission "sauvegarder"
	    	      document.getElementById('sauvegarder').disabled = false;
	    	    }
	  }else{
		// Supprimer l'alerte et activer le bouton de soumission "sauvegarder"
	      var alertContainer = document.getElementById('alertContainer');
	      alertContainer.innerHTML = '';
	      
		// Activer le bouton de soumission "sauvegarder"
	      document.getElementById('sauvegarder').disabled = false;
	  }


	}


//supprimer formulaire
function supprimerFormulaire(boutonSupprimer) {
    var formulaireParent = boutonSupprimer.closest('form'); // Trouver le parent form
    var formulaireId = formulaireParent.id; // Récupérer l'ID du parent form
    
    if (formulaireId && formulaireId !== 'clonedForm1') {
        formulaireParent.remove(); // Supprimer le formulaire du DOM
        updateTotals()
    } else {
    	$(document).Toasts('create', {
   		  title: "error",
   		  body: "Formulaire ne peut pas être supprimé.",
   		  class: 'bg-danger',
   		  autohide:true,
   		  delay: 5000
   		})
    }
}

function affichageModelAvoir(){	
	
	var avoirs = [];
	var tbody = document.getElementById("table-body");
	document.getElementById("table-body").innerHTML = ""

	//entry avoir
	let formArray = [];
    var forms = document.querySelectorAll('.cloned-form-sample');          
    var i = 0; 
    forms.forEach(function (form) {
    	        	
    	var formObj = {
    		    labelle: document.getElementById("commAvoir").value,
    		    montantHt: parseFloat(form.querySelector('input[name="montantHt"]').value),
    		    baseTva: parseFloat(form.querySelector('input[name="baseTva"]').value)
    		    // Ajoutez d'autres champs ici
    		  };
        // Add other fields as needed
        	             	              
         i++;
         // Calculate TVA and total
         var montantTva = formObj.montantHt * (formObj.baseTva / 100);
         var totalTtc = formObj.montantHt + montantTva;

         // Add data to the table
         avoirs.push({
           labelle: formObj.labelle,
           montantHt: formObj.montantHt,
           baseTva: formObj.baseTva,
           montantTva: montantTva,
           totalTtc: totalTtc
         });
    });
        


	for (var i = 0; i < avoirs.length; i++) {
	  var row = document.createElement("tr");
	  row.innerHTML = `
	    <td>${avoirs[i].labelle}</td>
	    <td>${avoirs[i].montantHt.toFixed(3)}</td>
	    <td>${avoirs[i].baseTva}</td>
	    <td>${avoirs[i].montantTva.toFixed(3)}</td>
	    <td>${avoirs[i].totalTtc.toFixed(3)}</td>
	  `;
	  tbody.appendChild(row);
	}
	
	//motif avoir
	var motif = document.getElementById("motifAvoir").value;
	document.getElementById("confirmationMotif").innerHTML = motif
	
	 //Afficher le statut payé ou non payé
	   var statut = document.querySelector('input[name="IsClientPayed"]:checked').value;
	  if (statut === 'True') {
		  document.getElementById('statut').innerText = 'Payée';
		} else {
		  document.getElementById('statut').innerText = 'Non Payée';
	  }
	  
	   var statut = document.getElementById('typeAVr').value;
		  if (statut === 'true') {
			  document.getElementById('typeAvrComfirm').innerText="geste co" 
			} else {
				  document.getElementById('typeAvrComfirm').innerText="avoir" 
		  }
		  let refFactureMultiple = document.getElementById('RefFacture')
		  let refReclamtion = document.getElementById('RefReclamation').value;
		  const refFacture = Array.from(refFactureMultiple.selectedOptions)
          .map(option => option.value);

		  console.log(refFacture)
		  document.getElementById('reffactureavr').innerText=refFacture

	
	  //Afficher le revendeur et l'utilisation dans les bordereaux
	  if(refFacture){
		  const formData = new FormData();
		  if(refFacture){
			  formData.append("referenceFacture", refFacture);

		  }
		 
		  formData.append("montant", totalMontantTTCVerif);
		  if(refReclamtion){
			  formData.append("referenceReclamation", refReclamtion);

		  }
		  formData.append("type", statut);
		  verifMontantAndFactureExiste(formData)
	  }
	  var rev = document.getElementById('rev').value;
	  if(statut === "True"){
	 	 if(rev !== null && rev !== ''){
	 	 	document.getElementById('revendeur').innerText = rev
	 	 	 	
	   }
	  }else{
	 	 document.getElementById('revendeur').innerHTML = "----------------";
	 	 document.getElementById('isUsed').innerText = "-------------";
	  } 
	  
	  // Afficher l'utilisation dans les bordereaux ou un -------- si non défini
	  var isUsedElement = document.querySelector('input[name="isUsedBrd"]:checked');
  	  var isUsed = isUsedElement ? isUsedElement.value : '';
		 if(statut === "True"){
			 if (isUsed === 'True') {
				  document.getElementById('isUsed').innerText = 'Oui';
			} else if(isUsed === 'False'){
				  document.getElementById('isUsed').innerText = "Non";
			}
		 }else{
			 document.getElementById('isUsed').innerText = "-------------";
		 } 
		 
		 //Afficher le statut payé ou non payé
		  var raccordement = document.querySelector('input[name="hasRaccordement"]:checked').value;
		  if (raccordement === 'True') {
			  document.getElementById('raccordement').innerText = 'Oui';
			} else {
			  document.getElementById('raccordement').innerText = 'Non';
		  }
	
}


//Fermer modem bootstrap
function fermerModal() {
	  $('#exampleModal').modal('hide');
}

//Empêche la soumission du formulaire ajouter Avoir si montantHt <= 0
/*document.getElementById('formAvoir').addEventListener('submit', function(event) {
	  var montantHt = parseFloat(document.getElementById('montantHt').value);
	  if (montantHt <= 0) {
	    event.preventDefault(); // Empêche la soumission du formulaire
	    alert("Le montant HT doit être supérieur à zéro.");
	  }
	});*/

jQuery.validator.addMethod(
		"regexInputText",
		function(value, element, regexp) {
		var check = false;
			  return this.optional(element) || regexp.test(value);
		},
		"Please check your input."
);
	
	jQuery.validator.addMethod(
			"checkIsUsedBrd",
			function(value, element, regexp) {				
				var isUsedBrdChecked = $("input[name='isUsedBrd']").is(":checked");
				if(isUsedBrdChecked == false){
					return false
				}else{
					return true
				}				
			},
			"Please check your input."
	);
	
	jQuery.validator.addMethod(
			"checkIsUser",
			function(value, element, regexp) {				
				var revSelected = $("#rev").val();
				if(revSelected === ""){
					return false
				}else{
					return true
				}				
			},
			"Veuillez sélectionner un utilisateur."
	);


function validerChampTexte() {
    var champTexte = document.getElementById("motifAvoir").value;
    var pattern = /\S/; // Expression régulière pour vérifier les espaces vides

    if (pattern.test(champTexte)) {
        alert("Le champ texte contient des caractères autres que des espaces vides.");
        return false; // Empêche la soumission du formulaire
    }
}


function validateForm() {
    var labelle = document.getElementById("labelle").value;
    var montantHt = parseFloat(document.getElementById("montantHt").value);
    var baseTva = parseFloat(document.getElementById("baseTva").value);

    if (labelle === "") {
        alert("Veuillez entrer un labelle.");
        return false;
    }

    if (isNaN(montantHt) || montantHt <= 0) {
        alert("Veuillez entrer un montant HT valide.");
        return false;
    }

    if (isNaN(baseTva) || baseTva < 0) {
        alert("Veuillez entrer un % TVA valide.");
        return false;
    }

    // Calculs pour le montant TVA et Total TTC
    var montantTva = montantHt * (baseTva / 100);
    var montantAvoir = montantHt + montantTva;

    // Mise à jour des champs désactivés
    document.getElementById("montantTva").value = montantTva.toFixed(3);
    document.getElementById("claculettc").value = montantAvoir.toFixed(3);

    return true;
}

// Événement de soumission du formulaire
document.getElementById("clonedForm1").addEventListener("submit", function(event) {
    if (!validateForm()) {
        event.preventDefault(); // Empêche l'envoi du formulaire si la validation échoue
    }
});

		 $('#clonedForm2').validate({
              rules: {
            	
                  montantHt: {
                      required: true,
                      step: 0.001,
                      min : 0.001
                  },
                  baseTva: {
                      required: true,
                      step: 0.001,
                      min : 0
                  },
                  motifAvoir: {
                      required: true,
                      regexInputText : /[a-zA-Z]/,
                  },
                  rev: {
                	  checkIsUser: true 
                  },
                  isUsedBrd: {
                	  checkIsUsedBrd: true
                  }
              },
              messages: {
            	  
                  montantHt: {
                      required: "Veuillez saisir le montant HT.",
                      step: "Veuillez entrer un montant avec 3 chiffres après la virgule.",
                      min: "Veuillez saisir un montant supérieur à 0."
                  },
                  baseTva: {
                      required: "Veuillez saisir le pourcentage de TVA.",
                      step: "Veuillez entrer un montant avec 3 chiffres après la virgule.",
                      min: "Veuillez saisir un montant supérieur ou égal à 0."
                  },
                  motifAvoir: {
                      required: "Veuillez saisir le commentaire de l'avoir.",
                      regexInputText: "Veuillez entrer au moins un caractère."
                  },
                  commAvoir : {
                	  required : "Veuillez saisir un motif",
                	  regexInputText: "Veuillez entrer au moins un caractère."
                  } ,
                  rev: {
                	  checkIsUser: "Veuillez sélectionner un utilisateur."
                  },
                  isUsedBrd: {
                	  checkIsUsedBrd: "Veuillez sélectionner l'une de ces options."
                  }
                 
              } ,errorClass: 'is-invalid',
              validClass: 'is-valid',
              errorPlacement: function(error, element) {

                    error.addClass('invalid-feedback');
                    error.insertAfter(element);                  
                },
          });

		  $(document).ready(function() {
	          $('#formAvoir').validate({
	              rules: {
	            	  motifAvoir: {
	                      required: true,
	                      regexInputText : /[a-zA-Z]/,
	                  },
	                  isUsedBrd: {
	                	  checkIsUsedBrd: true
	                  },
	                  commAvoir:{
	                	  required: true, 
	                  }
	              },
	              messages: {	
	            	  motifAvoir: {
	                      required: "Veuillez saisir le commentaire de l'avoir.",
	                      regexInputText: "Veuillez entrer au moins un caractère."
	                  },
	                  commAvoir : {
	                	  required : "Veuillez saisir un motif",
	                	  regexInputText: "Veuillez entrer au moins un caractère."
	                  } ,
	                  isUsedBrd: {
	                	  checkIsUsedBrd: "Veuillez sélectionner l'une de ces options."
	                  }
	                 
	              } ,errorClass: 'is-invalid',
	              validClass: 'is-valid',
	              errorPlacement: function(error, element) {
	                  if (element.attr('name') === 'isUsedBrd') {
	                	  error.addClass('invalid-feedback');
	                	    $('#isUsedBrdError').append(error);

	                  } else {
	                    error.addClass('invalid-feedback');
	                    error.insertAfter(element);
	                  }
	                },
	                highlight: function(element, errorClass, validClass) {
	                    if ($(element).attr('name') === 'isUsedBrd') {
	                      $(element).closest('.form-group').find('input[name="isUsedBrd"]').addClass(errorClass).removeClass(validClass);
	                    } else {
	                      $(element).addClass(errorClass).removeClass(validClass);
	                    }
	                    $(element).closest('.form-group').addClass('has-danger').removeClass('has-success');
	                  },
	                  unhighlight: function(element, errorClass, validClass) {
	                    if ($(element).attr('name') === 'isUsedBrd') {
	                      $(element).closest('.form-group').find('input[name="isUsedBrd"]').removeClass(errorClass).addClass(validClass);
	                    } else {
	                      $(element).removeClass(errorClass).addClass(validClass);
	                    }
	                    $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
	                  },
	          });
	      });


function afficherErreur(inputTvaId, msg, erreurNom) {

	var existingErrorDiv = document.querySelector('.text-danger[data-error-name="' + erreurNom + '"]');
    
    if (!existingErrorDiv) {
        var newDiv = document.createElement("div");
        var newContent = document.createTextNode(msg);
        newDiv.classList.add("text-danger");
        newDiv.dataset.errorName = erreurNom;

        newDiv.appendChild(newContent);
        var inputElement = document.getElementById(inputTvaId);
        var parentDiv = inputElement.parentNode;
        var nextSibling = inputElement.nextSibling;

        if (nextSibling) {
            parentDiv.insertBefore(newDiv, nextSibling);
        } else {
            parentDiv.appendChild(newDiv);
        }
    }
			    
}

function hiddenErreurParNom(erreurNom) {
    var errorDiv = document.querySelector('.text-danger[data-error-name="' + erreurNom + '"]');
    
    if (errorDiv) {
        errorDiv.style.display = "none";
    }
}


function verifieNombreMaxTroisChiffresApresVirgule(nombre) {
	  var regex = /^\d+(\.\d{1,3})?$/;
	  return regex.test(nombre);
	}
	
function validation(form){
    
	var montantHt = form.querySelector('input[name="montantHt"]').value; 
    var baseTva = form.querySelector('input[name="baseTva"]').value;
    var labelle = document.getElementById("commAvoir").value;
    
	inputMontantHtId = form.querySelector('input[name="montantHt"]').id
	inputTvaId = form.querySelector('input[name="baseTva"]').id
	//inputLabelleId = form.querySelector('input[name="labelle"]').id
	
	var validate = true
	
    //validation montantHt
    
	    //obligatoire
	    if (isNaN(montantHt) || montantHt <= 0) {
	    	msg = "Veuillez saisir un montant supérieur à 0."
	    	afficherErreur(inputMontantHtId, msg, "requiredMontnatHt"+inputMontantHtId)
	    	validate = false
	    }else{
	    	hiddenErreurParNom("requiredMontnatHt"+inputMontantHtId)
	    }
	
		// 3 nombres aprés virgule
	    if(verifieNombreMaxTroisChiffresApresVirgule(montantHt) == false){
	    	msg = "Le nombre saisi doit avoir au plus trois chiffres après la virgule."
	    	afficherErreur(inputMontantHtId, msg, "valideMontant"+inputMontantHtId)
	    	validate = false
	    }else{
	    	hiddenErreurParNom("valideMontant"+inputMontantHtId)
	    }

		  
    
    //validaiotn TVA 
    
	    // tva <0
	    if (baseTva < 0) {
	    	msg = "Veuillez saisir un montant supérieur ou égal à 0."
	    	afficherErreur(inputTvaId, msg, "requiredBaseTva"+inputTvaId)
	    	validate = false
	    }else{
	    	inputTvaId = form.querySelector('input[name="baseTva"]').id
	    	hiddenErreurParNom("requiredBaseTva"+inputTvaId)
	    }
	    
	 	// 3 nombres aprés virgule
	    	if(verifieNombreMaxTroisChiffresApresVirgule(baseTva) == false){
	    		msg = "Le nombre saisi doit avoir au plus trois chiffres après la virgule."
	    	    afficherErreur(inputTvaId, msg,"valideMontantTva"+inputTvaId)
	    	    validate = false
	    	}else{
	    		hiddenErreurParNom("valideMontantTva"+inputTvaId)
	    	}
    
   
    
    //validation motif entry avoir
    /*
    if(labelle.trim() === ""){
    	  msg = "Ce champ est obligatoire. Veuillez entrer une valeur."
    	  afficherErreur(inputLabelleId, msg, "requiredLabelle"+inputLabelleId)
    	  validate = false
    }else{
    	hiddenErreurParNom("requiredLabelle"+inputLabelleId)
    }
    */
    
   return validate 
}
	  
	  function saveformulaireCloned(event) {
		  event.preventDefault()
		  let formArray = [];
	        var forms = document.querySelectorAll('.cloned-form-sample');
	             
	        
	        
	        var i = 0;
	        var validationEntry = true;
	        var validationAvoir = true;

	        forms.forEach(function (form) {
	        	        	
	            // Collect data from the form	            
	             var formObj = {
                montantHt:form.querySelector('input[name="montantHt"]').value,  
                baseTva: form.querySelector('input[name="baseTva"]').value, 
                labelle: document.getElementById("commAvoir").value,
                // Add other fields as needed
   
            };
	            if(validationEntry == true){
	            	validationEntry = validation(form)
	            }else{
	            	validation(form)
	            }
	             
	            	             	              
	             i++;
	             formArray.push(formObj);
	        });
	        if(!$('#formAvoir').valid() || validationEntry == false){
	        	$('.bd-example-modal-lg').modal('hide');
	        }	        	

	        if($('#formAvoir').valid() && validationEntry == true){
	        	
	        	// Désactiver le bouton
			    $('#saveButton').prop('disabled', true);

	        	// Modifier le contenu avec le chargeur
	        	$('#saveButton').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');


	        	// Afficher le conteneur de chargeur si nécessaire
	        	$('.loader-container').show();


	        	
	        	 var myform = document.getElementById('formAvoir')
	 	        const formData = new FormData(myform);

	 	        formData.append('data', JSON.stringify(formArray));
		        $.ajax({
	                type: 'POST',
	                "processData": false,
	                "mimeType": "multipart/form-data",
	                "contentType": false,
	                url: '/AvoirClient/saveNewAvoirClient',
	                data: formData,
	                dataType: "json",
	                success: function(response) {
	                   if(response.statut == "true"){
	                	   window.location = '/AvoirClient/AllAvoirClientNotPublic';
	                   }
	                   else {
	                	   var erreurMap = response.erreur;
	                	   
	                	   $('#alertContainer').html(erreurMap.USER_NOT_FOUND || '');

	                	   $('#isUsedBrdError').html(erreurMap.USED_BRD_NOT_SELECTED || '');
	              	   
	                	   
	                	   alertContainer
	                 		 $('#ReafectModal').modal('hide');
				     	       	$(document).Toasts('create', {
				     	            		  title: "error",
				     	            		  body: "avoir n'est pas valide ",
				     	            		  class: 'bg-danger',
				     	            		  autohide:true,
				     	            		  delay: 5000
				     	            		})
	                   }
	                },
	                error: function(err) {
	                  console.log(err)
	                }
	            });
	        }
	    }
	  
	  
	  const motifsGesteCo = [
		  "Gêne occasionnée",
		  "Fidélisation client",
		  "Frais de raccordement"
		];

		const motifsPanne = [

		 "Débit inversé",
		  "Débit lent",
		 " Déconnexion courante",
		  "Modem synchro et pas d'accès internet",
		  "Pas de synchronisation",
		];

		function getMotifs(typeReclamation) {
		  return typeReclamation == "true"
		    ? motifsGesteCo
		    : motifsPanne;
		}

		document.getElementById("typeAVr").addEventListener("change", function () {
		  const type = this.value;
		  const motifs = getMotifs(type);
		  const selectMotif = document.getElementById("commAvoir");
		  const coupureDiv = document.getElementById("coupureFields");
		  const dateDebut = document.getElementById("dateDebut");
		  const dateFin = document.getElementById("dateFin");
		  const RefReclamation = document.getElementById("RefReclamation");
          const dateMseriviceDiv =document.getElementById("dateMserivice");
          const dateMservice =document.getElementById("dateMs");

		  if (type == "false") {
			    coupureDiv.style.display = "block";
			    dateMseriviceDiv.style.display = "none";
			    dateMservice.value=""
			    dateDebut.required = true;
			    dateFin.required = true;
			  } else {
			    coupureDiv.style.display = "none";
			    dateMseriviceDiv.style.display = "block";
			    dateDebut.required = false;
			    dateFin.required = false;
			    dateDebut.value = "";
			    dateFin.value = "";
			    RefReclamation.value = "";
			  }
		  // vider
		  selectMotif.innerHTML = "";

		  // ajouter nouvelle liste
		  motifs.forEach(m => {
		    const opt = document.createElement("option");
		    opt.value = m;
		    opt.textContent = m;
		    selectMotif.appendChild(opt);
		  });
		});

		  function verifMontantAndFactureExiste(verifData) {
        $.ajax({
            type: 'POST',
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            url: '/AvoirClient/verifMontantAndFactureExiste',
            data: verifData,
            dataType: "json",
            success: function(response) {
            	console.log(response.statut)
               if(response.statut){
            	   document.getElementById("saveButton").disabled = false;

               }
               else {
            	   document.getElementById("saveButton").disabled = true;

            	   $('#alertContainer').html(response.erreur || '');

            	   $('#isUsedBrdError').html(response.erreur|| '');
          	   
            	   
            	 //  alertContainer
             		 $('#ReafectModal').modal('hide');
		     	       	$(document).Toasts('create', {
		     	            		  title: "error",
		     	            		  body: response.erreur,
		     	            		  class: 'bg-danger',
		     	            		  autohide:true,
		     	            		  delay: 5000
		     	            		})
               }
            },
            error: function(err) {
              console.log(err)
            }
        });
		  }
		  
		  window.addEventListener("DOMContentLoaded", function () {
			  // force la valeur par défaut à "true"
			  const typeSelect = document.getElementById("typeAVr");
			  typeSelect.value = "true";

			  // déclenche l'événement pour remplir motifsGesteCo
			  typeSelect.dispatchEvent(new Event("change"));
			});

</script>

<script>
    $(document).ready(function() {
      $('.js-select2').select2({    placeholder: "Sélectionnez une ou plusieurs factures",
 allowClear: true});
    });
  
  </script>