<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Ajouter  Avoir Client </title>
        <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
        <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />
</head>
<body>
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

    <section class="content">
        <div class="container-fluid">

    <div >
        <div class="col-12 grid-margin">
        
            <div class="card">
                       <h4 class="card-title  m-3">Valider  un Avoir</h4>            
<div class="card-body">
		   
<div id="formContainer" class="row m-2">
<form class="cloned-form-sample p-1 rounded border border-light col-md-6" id="clonedForm1" action="#" th:action="@{/AvoirClient/avoirPublish}"  method="POST" >

				
						
						
						<input  type="hidden"  name="avoirId" id="avoirId" th:value="${avoir.avoirId}"  /> 

						<div class="col-md-10">
    							<div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Reference Avoir</label>
                                    <div class="col-sm-9">
                                        <span   th:text="${avoir.refAvoirClient}"> </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Montant Ht</label>
                                    <div class="col-sm-9">
                                        <span  th:text="${avoir.montantHt}"></span>
                                    </div>
                                </div>
                            </div>
    					<div class="col-md-10">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">% TVA</label>
                                    <div class="col-sm-9">
                                        <span th:text="${avoir.baseTva}" > </span>
                                    </div>                                    
                                </div>
                            </div>
    					<div class="col-md-10">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Montant TVA</label>
                                    <div class="col-sm-9">
                                    <span th:text="${avoir.montantTva}" > </span>
                                    
                                      
                                    </div>
                                </div>
                            </div>
                            
    					<div class="col-md-10">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Total TTC</label>
                                    <div class="col-sm-9">
                                       <span th:text="${avoir.montantAvoir}" > </span>
                                        
                                    </div>
                                  
                                </div>
                            </div>


                   
                  
                

                        	<div style="margin-top: 20px; text-align: center" th:if="${avoir.isPublish == false}" >
										<button type="submit" class="btn btn-success"
											style="margin-right: 20px">
											Valider</button>
									 
        <button type="button" class="btn btn-danger" style="margin-left: 20px"
                data-bs-toggle="modal" data-bs-target="#annulerModal">
            Annuler
        </button>
									</div>
             
						
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
        </div>
        <input type="hidden" name="message" id="message"
					th:value="${message} ?  ${message} : ''" />
					
					<!-- Modal Annulation -->
<div class="modal fade" id="annulerModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <form method="post"  th:action="@{/AvoirClient/avoirRefused}">
                <div class="modal-header">
                    <h5 class="modal-title">Annuler l’avoir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="avoirId" th:value="${avoir.avoirId}" />

                    <label for="commentaire" class="form-label">Raison de l’annulation :</label>
                    <textarea class="form-control" id="commentaire" name="commentaire"
                              rows="4" required></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Fermer
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Confirmer l’annulation
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
					
    </section>
</section>
</body>
</html>

<script th:inline="javascript">
var messagenotif = document.getElementById("message").value ;
if (messagenotif !== "") {
 	$(document).Toasts('create', {
		  title: "Erreur",
		  body: messagenotif,
		  class: 'bg-danger',
		  autohide:true,
		  delay: 10000
		})
}

</script>

