<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>CRM</title>
     <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
     <style>
     .badge-akther{
     background-color:#1FBE9D;
     }
     .badge-rose{
      background-color:#DD735D;
     }
      .badge-suspendu{
      background-color:#774BBC;
     }
     .badge-precon{
      background-color:#f01cd6;
     }
     .btn-preton{
     background-color:#db7499;
     color:white;
     }
     </style>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des revendeurs ( <span th:text="${numberRev}"></span> revendeurs )</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="card">
            <div class="card-header">
      			<button
                    id="togglebutton"
                    class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm"
                  >
                    Filtre
                  </button>
                           <form id="duplicatedDemande" class="d-none d-sm-inline-block btn btn-sm shadow-sm" action="#"
														th:action="@{/RevendeurUser/Exporter}" method="GET">
													<input type="hidden" name="villes" th:value="${selectedvilles}"
															 />
															<input type="hidden" name="Nom"   th:value="${Nom}" />
															<input type="hidden" name="Prenom" th:value="${Prenom}" />
															<input type="hidden" name="refUser" th:value="${refUser}" />
															<input type="hidden" name="distributeur" th:value="${distributeur}" />
															<input type="hidden" name="datefin" th:value="${datefin}" />
															<input type="hidden" name="datedebut" th:value="${datedebut}" />
														    <input type="hidden" name="gouvernorat" th:value="${selectedGouvernorat}" />
															 <input type="hidden" name="status" th:value="${selectedStatus}" />
															 <input type="hidden" name="role" th:value="${selectedRole}" />
															  <input type="hidden" name="classification" th:value="${selectedClassification}" />
												   <button type="submit" class="btn btn-outline-info"><i
                            class="fas fa-download fa-sm "> Exporter Revendeur</i> </a></button>
													</form>          
                  <form id="showMe3" method="post">
                    <div class="row">
  

                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="villes"
                          >Gouvernorat
                        </label>
                        <select
                         id="gouvernorat"
                          name="gouvernorat"
                          class="form-control"
                      
                        >
                          <option value="">Gouvernorat</option>
                          <option
                            th:each="gouvernorat : ${gouvernorats}"
                            th:value="${gouvernorat.gouvernoratId}"
                            th:text="${gouvernorat.gouvernoratName}"
                            th:selected="${gouvernorat.gouvernoratId== selectedGouvernorat}"
                          ></option>
                        </select>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="gouvernorat"
                          >Ville</label
                        >
                        <select
                          id="villes"
                          name="villes"
                          class="form-control"
                
                        >
                          <option value="">Ville</option>
                        </select>
                      </div>

                      <div class="col-sm-6 col-md-3">
                       <label class="col-form-label" for="Nom"
                          >Nom</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="Nom"
                          placeholder="Nom"
                          class="form-control"
                          th:value="${Nom}"
                        />
                      </div>
                      <div class="col-sm-6 col-md-3">
                          <label class="col-form-label" for="Prenom">Prénom</label>
                     
                        
                        <input
                          id="textsearch"
                          type="text"
                          name="Prenom"
                          placeholder="Prénom"
                          class="form-control"
                         th:value="${Prenom}"
                        />
                      </div>


 
                      <div class="col-sm-6 col-md-3">
                        <label class="col-form-label" for="refUser"
                          >Référence</label
                        >
                        <input
                          id="refUser"
                          type="text"
                          name="refUser"
                          placeholder="Référence User"
                          class="form-control"
                          th:value="${refUser}"
                        />
                      </div>
  
                      <div class="col-sm-6 col-md-3" sec:authorize="hasAnyAuthority('READ_RETAIL_LIST')">
                        <label class="col-form-label" for="villes"
                          >Liste Distributeur
                        </label>
                        <select
                         id="distributeur"
                          name="distributeur"
                          class="form-control"
                      
                        >
                          <option value="">Liste Distributeur</option>
                          <option
                            th:each="ld : ${listeDistributeur}"
                            th:value="${ld.userid}"
                            th:text="${ld.firstName}+' '+${ld.lastName}"
                               th:selected="${ld.userid} ==  ${distributeur}"
                          ></option>
                        </select>
                      </div>
                           <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="role">Role (Activé / Désactivé)</label>
                        <select 
                          id="role"
                          name="role"
                          class="form-control"
                        >
                            <option value = ''>Role</option>
                        	<option value="ROLE_REVENDEUR">Activé</option>
                        	<option value="ROLE_REVENDEUR_DESACTIVE">Désactivé</option>
                        </select>
                      </div>
                       <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="Status">Status (Activé / Désactivé)</label>
                        <select 
                          id="status"
                          name="status"
                          class="form-control"
                        >
                            <option value = ''>Status</option>
                        	<option value="true">Activé</option>
                        	<option value="false">Désactivé</option>
                        </select>
                      </div>
            <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="classification">Classification</label>
                        <select 
                          id="classification"
                          name="classification"
                          class="form-control" 
                        >
                      
                            <option value = ''>Classification</option>
                        	<option value="activer"  th:selected="${selectedClassification == 'activer'}">Activé</option>
                        	<option value="recouvrement"  th:selected="${selectedClassification == 'renrecouvrement'}">Recouvrement</option>
                        <option value="Suspendu" th:selected="${selectedClassification == 'Suspendu'}">Suspendu</option>
                        <option value="precontentieux" th:selected="${selectedClassification == 'precontentieux'}">Précontentieux</option>
                        	
                        	
                        </select>
                      </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-5 col-form-label"> Date de création: du</label>
                                             <div class="col-sm-7">
                                                 <input type="date" th:if="${datedebut == null }" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="datedebut" id="datedebut"  />
                                                        <input th:if="${datedebut != null }"  type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="datedebut" id="datedebut"    th:value="${datedebut}"  />
                                             </div>
                                         </div>
                       </div>
                      <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-2 col-form-label">au</label>
                                             <div class="col-sm-7">
                                                 <input th:if="${datefin == null }" type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="datefin" id="datefin"   />
                                                             <input th:if="${datefin != null }" type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="datefin" id="datefin" 
                                                          th:value="${datefin}"  />
                                             </div>
                                         </div>
                       </div>
                        <!--  
                         <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-6 col-form-label"> Date de modification: du</label>
                                             <div class="col-sm-6">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="dateDebutModification" id="dateDebutModification"  />
                                             </div> 
                                         </div>
                       </div>
                      <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-2 col-form-label">au</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="dateFinModification" id="dateFinModification" />
                                             </div>
                                         </div>
                       </div>   -->                  
                    </div>
				<div class="text-center mb-3">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)"
                        >
                          Rechercher
                        </button>
                      </div>
                  </form>
                  </div>
                  </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
             
                        <div class="card-body">
                            <!--                    <h4 class="card-title">Utilisateurs</h4>-->
                            <div class="table-responsive">
                                <table class="table display supertable  table-striped dataTable no-footer dtr-inline" id="dataTable">
                                    <thead>
                                    <tr>
                                    	<th >Code</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th>Role</th>
                                        <th>Statut</th>
                                        <th>Classification</th>
                                        <th>Date de creation</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${#lists.isEmpty(users)}"><td colspan="9" class="text-center">Aucun résultat trouvé.</td></tr>
                                    <tr th:each="user: ${users}"> 
                                      <td th:text="${user.codeUser}"/>
                                        <td th:text="${user.firstName}"/>
                                         <td th:text="${user.lastName}"/>
                                        <td th:text="${user.email}"/>
                                          <td th:text="${user.telephone}"/>
                                        <td th:text="${user.getRole().getRoleName}"/>
                                        <div th:switch="${user.isEnabled}">
                                            <td th:case="true"><span class="badge badge-akther">Activé</span></td>
                                            <td th:case="false"><span class="badge badge-danger">Désactivé</span></td>
                                        </div>
                                      
                                                 <div th:switch="${user.classification}">
                                            <td th:case="activer"><span class="badge badge-info">Activé</span></td>
                                            <td th:case="recouvrement"><span class="badge badge-rose">Recouvrement</span></td>
                                           <td th:case="Suspendu"><span class="badge badge-suspendu">Suspendu</span></td>
                                          <td th:case="precontentieux"><span class="badge badge-precon">Précontentieux</span></td>
                                       
                                        </div>
                                        <td th:text="${#dates.format(user.createdDate, 'dd-MMM-yyyy')}"/>
                                        <td class="text-center">
                                            
                                           <div class="d-inline-flex flex-wrap justify-content-center gap-2 ">
                                            <div sec:authorize="hasAnyAuthority('DEACTIVATE_RETAIL')"
                                                 th:switch="${user.isEnabled}" class="d-inline-block">
                                                <a th:case="true" data-toggle="modal" data-target="#modal-warning"
                                                   th:attr="data-target='#modal-warning'+${user.userid}">
                                                    <button type="button"
                                                            class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm m-1">
                                                        Désactiver <i class="fa fa-ban" aria-hidden="true"></i>
                                                        
                                                    </button>
                                                </a>
                                                <a th:case="false" data-toggle="modal" data-target="#modal-warning"
                                                   th:attr="data-target='#modal-warning'+${user.userid}">
                                                    <button type="button"
                                                            class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm m-1"
                                                    >Activer
                                                    </button>
                                                </a>
                                            </div>
                                            <a sec:authorize="hasAnyAuthority('UPDATE_RETAIL')"
                                          
                                            th:href="@{|/RevendeurUser/users/editrevendeur/${user.userid}|}">
                                             <button type="button"
                                                     class="d-none d-sm-inline-block btn btn-sm bg-warning shadow-sm m-1">
                                                 Modifier 
                                                 <i class="fa fa-edit"></i>
                                             </button>
                                         </a>
                                    
                                         <!-- Bouton pour ouvrir le modal -->
<a sec:authorize="hasAnyAuthority('CHANGE_CLASSIFICATION')"
   href="javascript:void(0);"
      th:data-userid="${user.userid}"
   onclick="openClassificationModal(this)">
    <button type="button" class="d-none d-sm-inline-block btn btn-preton btn-sm shadow-sm m-1">
        Changer classification
      
    </button>
</a>

<!-- Modal -->
<div class="modal fade" id="classificationModal" tabindex="-1" role="dialog" aria-labelledby="classificationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form method="post" id="classificationForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="classificationModalLabel">Changer la classification</h5>
          <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="classificationSelect">Nouvelle classification</label>
            <select class="form-control" id="classificationSelect" name="newClassification" required>
              <option value="">-- Sélectionner un statut --</option>
              <option value="activer">Activé</option>
              <option value="recouvrement">Recouvrement</option>
              <option value="Suspendu">Suspendu</option>
              <option value="precontentieux">Précontentieux</option>
            </select>
          </div>
          <div class="form-group mt-3" id="dateSuspenduContainer" style="display: none;">
    <label for="dateSuspendu">Date de suspension</label>
    <input type="date" class="form-control" id="dateSuspendu" name="dateSuspendu">
</div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Confirmer</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Script pour configurer le form dynamiquement -->

                                         
    
                                                 <a sec:authorize="hasAnyAuthority('READ_RETAIL_LIST')"
                                            
                                            th:href="@{|/RevendeurUser/users/detailrevendeur/${user.userid}|}">
                                             <button type="button"
                                                     class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                                                Detail <i class="fa fa-eye" aria-hidden="true"></i>
                                                
                                             </button>
                                         </a>
                                            <div sec:authorize="hasAnyAuthority('UNLOCK_RETAIL')"
                                            th:switch="${user.isLocked}" class="d-inline-block">
                                           <a th:case="true" data-toggle="modal" data-target="#modal-warningisLocked"
                                              th:attr="data-target='#modal-warningisLocked'+${user.userid}">
                                               <button type="button"
                                                       class="d-none d-sm-inline-block btn btn-sm btn-success  shadow-sm">
                                                       Déverrouillé <i class="fa fa-lock" aria-hidden="true"></i>
                                               </button>
                                           </a>
                                           <a th:case="false" data-toggle="modal" data-target="#modal-warningisLocked"
                                              th:attr="data-target='#modal-warningisLocked'+${user.userid}">
                                               <button type="button"
                                                       class="d-none d-sm-inline-block btn btn-danger  btn-sm  shadow-sm"
                                               >Verrouillé <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                               </button>
                                           </a>
                                       </div>
                                       </div>
                                        </td>
                                        <div class="modal modal-warning fade in" data-backdrop="false" tabindex="-1"
                                             role="dialog"
                                             th:id="modal-warning+${user.userid}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div th:switch="${user.isEnabled}" class="modal-body">
                                                        <h3 th:case="false">Êtes-vous sûr de vouloir activer cet utilisateur ?</h3>
                                                        <h3 th:case="true">Êtes-vous sûr de vouloir désactiver cet utilisateur?  </h3>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form th:action="@{'/RevendeurUser/revendeurEnableDisable/{id}'(id=${user.userid})}"
                                                              method="POST">
                                                            <button type="button" class="btn btn-outline pull-left"
                                                                    data-dismiss="modal">
                                                                Non
                                                            </button>
                                                            <div th:switch="${user.isEnabled}">
                                                                <button th:case="true" type="submit"
                                                                        class="btn btn-danger">
                                                                    <i class="fa fa-check"></i>&nbsp;Oui
                                                                </button>
                                                                <button th:case="false" type="submit"
                                                                        class="btn btn-success">
                                                                    <i class="fa fa-check"></i>&nbsp;Oui
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal modal-warning fade in" data-backdrop="false" tabindex="-1"
                                        role="dialog"
                                        th:id="modal-warningisLocked+${user.userid}" aria-hidden="true">
                                       <div class="modal-dialog">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <button type="button" class="close" data-dismiss="modal"
                                                           aria-label="Close">
                                                       <span aria-hidden="true">×</span></button>
                                               </div>
                                               <div th:switch="${user.isLocked}" class="modal-body">
                                                   <h3 th:case="false">Etes vous sure de vouloir déverrouillé cet
                                                       utilisateur ?</h3>
                                                   <h3 th:case="true">Etes vous sure de vouloir verrouillé cet
                                                       utilisateur ?</h3>
                                               </div>
                                               <div class="modal-footer">
                                                   <form th:action="@{'/RevendeurUser/revendeurisLocked/{id}'(id=${user.userid})}"
                                                         method="POST">
                                                       <button type="button" class="btn btn-outline pull-left"
                                                               data-dismiss="modal">
                                                           Non
                                                       </button>
                                                       <div th:switch="${user.isLocked}">
                                                           <button th:case="true" type="submit"
                                                                   class="btn btn-success">
                                                               <i class="fa fa-check"></i>&nbsp;Oui
                                                           </button>
                                                           <button th:case="false" type="submit"
                                                                   class="btn  btn-danger ">
                                                               <i class="fa fa-check"></i>&nbsp;Oui
                                                           </button>
                                                       </div>
                                                   </form>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div  sec:authorize="hasAnyAuthority('READ_RETAIL_LIST')" th:fragment="pager (pagination)">
                            <ul class="pagination">
                                <th:block th:each="pageNumber : ${body}">
                                    <li th:if="${pageNumberStat.first}" class="page-item">
                                        <a class="page-link" th:href="@{'/RevendeurUser/revendeurliste/'+${previous} ( Nom=${Nom} , Prenom=${Prenom} ,  refUser=${refUser} ,distributeur=${distributeur}, gouvernorat=${selectedGouvernorat},
                                        datedebut=${datedebut} , datefin=${datefin} )}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active" th:if="${pageNumber} == ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}" href="#"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${pageNumber} == -1">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <li class="page-item"
                                        th:if="${pageNumber} != -1 and ${pageNumber} != ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}"
                                           th:href="@{'/RevendeurUser/revendeurliste/'+ ${pageNumber} ( Nom=${Nom} , Prenom=${Prenom} ,  refUser=${refUser} ,distributeur=${distributeur}, gouvernorat=${selectedGouvernorat},
                                        datedebut=${datedebut} , datefin=${datefin} )}">
                                        </a>
                                    </li>
                                    <li th:if="${pageNumberStat.last}" class="page-item" aria-label="Next">
                                        <a class="page-link" th:href="@{'/RevendeurUser/revendeurliste/'+ ${next} ( Nom=${Nom} , Prenom=${Prenom} ,  refUser=${refUser} ,distributeur=${distributeur}, gouvernorat=${selectedGouvernorat},
                                        datedebut=${datedebut} , datefin=${datefin} )}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                                    <div  sec:authorize="!hasAnyAuthority('READ_RETAIL_LIST')" th:fragment="pager (pagination)">
                            <ul class="pagination">
                                <th:block th:each="pageNumber : ${body}">
                                    <li th:if="${pageNumberStat.first}" class="page-item">
                                        <a class="page-link" th:href="@{'/RevendeurUser/revendeurliste/'+${previous} ( Nom=${Nom} , Prenom=${Prenom} ,  refUser=${refUser} , gouvernorat=${selectedGouvernorat},
                                        datedebut=${datedebut} , datefin=${datefin} )}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active" th:if="${pageNumber} == ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}" href="#"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${pageNumber} == -1">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <li class="page-item"
                                        th:if="${pageNumber} != -1 and ${pageNumber} != ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}"
                                           th:href="@{'/RevendeurUser/revendeurliste/'+ ${pageNumber} ( Nom=${Nom} , Prenom=${Prenom} ,  refUser=${refUser} , gouvernorat=${selectedGouvernorat},
                                        datedebut=${datedebut} , datefin=${datefin} )}">
                                        </a>
                                    </li>
                                    <li th:if="${pageNumberStat.last}" class="page-item" aria-label="Next">
                                        <a class="page-link" th:href="@{'/RevendeurUser/revendeurliste/'+ ${next} ( Nom=${Nom} , Prenom=${Prenom} ,  refUser=${refUser} , gouvernorat=${selectedGouvernorat},
                                        datedebut=${datedebut} , datefin=${datefin} )}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                 <input
            type="hidden"
            name="message"
            id="message"
            th:value="${message} ?  ${message} : ''"
          />
    </section>

</section>
</body>
</html>

<script th:inline="javascript">
var messagenotif = document.getElementById("message").value;

if (messagenotif !== "" && messagenotif == "revendeuredited") {
	   $(document).Toasts("create", {
	        title: "Succès",
	        body: "La modification a été effectuée avec succès",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}

if (messagenotif !== "" && messagenotif == "isunLocked") {
	   $(document).Toasts("create", {
	        title: "Succès",
	        body: "Cet utilisateur a été déverrouillé avec succès",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}
if (messagenotif !== "" && messagenotif == "statutprecontentieux") {
	   $(document).Toasts("create", {
	        title: "Succès",
	        body: "La classification de l'utilisateur a été changée",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}
if (messagenotif !== "" && messagenotif == "Statut-classification-invalide") {
	   $(document).Toasts("create", {
	        title: "Danger",
	        body: "le Statut  de classification est invalide.",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}

if (messagenotif !== "" && messagenotif == "isLocked") {
	   $(document).Toasts("create", {
	        title: "Succès",
	        body: "Cet utilisateur a été verrouillé avec succès.",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}
if (messagenotif !== "" && messagenotif == "isactive") {
	   $(document).Toasts("create", {
	        title: "Succès",
	        body: "L’activation a été effectuée avec succès",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}

if (messagenotif !== "" && messagenotif == "isnoteactive") {
	   $(document).Toasts("create", {
	        title: "Succès",
	        body: "La désactivation a été effectuée avec succès.",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });	
}
if (messagenotif !== "" && messagenotif == "roleundefind") {
	   $(document).Toasts("create", {
	        title: "Update revendeur",
	        body: "role utilisateur est non défini",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });	
}

$("#togglebutton").click(function () {
    $("#showMe3").toggle();
  });
$("#showMe3").validate({
    rules: {
      CIN: {
        minlength: 7,
        maxlength: 13,
        //digits: true,
      },
      TEL: {
        minlength: 8,
        digits: true,
        maxlength: 8,
        number: true
      },
    },
    messages: {
      CIN: {
        minlength:
          "Votre cin doit être composé d'au moins 7 chiffre ",
          maxlength:
              "Votre cin doit être composé d'au plus 12 chiffre ",
           //   digits : "Merci de n'entrer que des chiffres."
      },
      TEL: {
        minlength: "Votre numero telephone  doit être d'au moins 8 chiffres",
        maxlength: "Votre numero telephone doit être d'au plus 8 chiffres",
        digits : "S'il vous plait, entrez un nombre valide.",
        number:"S'il vous plait, entrez un nombre valide."
      },
    },
    errorElement: "em",
    errorPlacement: function (error, element) {
      // Add the `invalid-feedback` class to the error element
      error.addClass("invalid-feedback");

      if (element.prop("type") === "checkbox") {
        error.insertAfter(element.next("label"));
      } else {
        error.insertAfter(element);
      }
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass("is-invalid").removeClass("is-valid");
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).addClass("is-valid").removeClass("is-invalid");
    },
  });
function onclicksherh(event) {
    //event.preventdefault()
    event.preventDefault();
 var url = "/RevendeurUser/revendeurliste/1";
$("#showMe3").attr("action", url);
$("#showMe3").submit();
    //$('#tutorialTable').DataTable().ajax.reload();
 
  }
$("#gouvernorat").change(function () {
    sendAjaxToChargeVilles();
  });
function sendAjaxToChargeVilles() {
    var gouvernoratid = $("#gouvernorat").val();
    if (gouvernoratid === "") {
      $("#villes").empty();
      var option = "<option value = ''>Ville</option>";
      $("#villes").append(option);
    } else {
      $.get("/client/getgouvernorats/" + gouvernoratid, function (data) {
        $("#villes").empty();
        var option = "<option value = ''>Ville</option>";
      $("#villes").append(option);
        data.forEach(function (item, i) {
          var option =
            "<option value = " +
            item.villeId +
            ">" +
            item.villeName +
            "</option>";
          $("#villes").append(option);
        });
      });
    }
  }
</script>
<script>
  function openClassificationModal(element) {
	  const userId = element.getAttribute("data-userid");
console.log(userId)
    const form = document.getElementById('classificationForm');
    form.action = `/RevendeurUser/edit_classification_revendeur/${userId}`;
    document.getElementById('classificationSelect').value = ""; // reset select
    const modal = new bootstrap.Modal(document.getElementById('classificationModal'));
    modal.show();
  }

  document.addEventListener("DOMContentLoaded", function () {
      const selectEl = document.getElementById("classificationSelect");
      const dateContainer = document.getElementById("dateSuspenduContainer");

      selectEl.addEventListener("change", function () {
          if (this.value === "recouvrement" || this.value === "Suspendu") {
              dateContainer.style.display = "block";
              document.getElementById("dateSuspendu").setAttribute("required", "required");
          } else {
              dateContainer.style.display = "none";
              document.getElementById("dateSuspendu").removeAttribute("required");
          }
      });
  });
</script>
