<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
<title>Home</title>
<!-- Moment.js -->

</head>
<body>
	<section layout:fragment="content">
		<section class="content">
			<div class="container-fluid">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-12">
								<h1 class="m-0">Fiche d’information Revendeur</h1>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>

				<div class="row">
					<div class="col-12 grid-margin">
				
					
					</div>
					<div class="col-12">
						<div class="card card-primary card-outline card-outline-tabs">
							<div class="card-header p-0 border-bottom-0">
								<ul class="nav nav-tabs" id="custom-tabs-four-tab"
									role="tablist">
									<li class="nav-item"><a class="nav-link active"
										id="custom-tabs-info-tab" data-toggle="pill"
										href="#custom-tabs-info" role="tab"
										aria-controls="custom-tabs-info" aria-selected="true">Information</a>
									</li>
									
									<li sec:authorize="hasAnyAuthority('VIEW_USER_HISTORY')" class="nav-item"><a class="nav-link"
										id="custom-tabs-history-tab" data-toggle="pill"
										href="#custom-tabs-history" role="tab"
										aria-controls="custom-tabs-info" aria-selected="true">Historique</a>
									</li>


								</ul>
							</div>
							<div class="card-body">
								<div class="tab-content" id="custom-tabs-four-tabContent">
									<div class="tab-pane fade active show" id="custom-tabs-info"
										role="tabpanel" aria-labelledby="custom-tabs-info-tab">

		<button  type='button'  sec:authorize="hasAnyAuthority('AFFECTED_ALL_USER')" class='btn btn-primary ' data-toggle='modal' data-target='#ReafectModal'>Réaffecter  Revendeur</button>
	
										<div  id="myForm" class="form-sample" 
											
											th:object="${user}">
										
											<div class="row">
												<div class="col-sm-6">
													<div class="card-block">
														<div class="card-block-header">
															<h4>Informations principales</h4>
															<div class="card-block-body">
															  <div class=" p-1  d-flex"  th:switch="${user.photo}">
                    <div class="image">

                        <img th:case="null" class="img-circle elevation-2" th:src="@{/img/user2-160x160.jpg}"
                             alt="Profile image" width="200px">
                        <img th:case="*" class="img-circle elevation-2" th:src="@{${'/photos/'+user.email+'/'+user.photo}}"
                             alt="Profile image" width="200px">
                    </div>

                </div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Nom:</label>
																	<div class="col-sm-8" th:text="${user.firstName}"></div>
																
																
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Prénom:</label>
																		<div class="col-sm-8" th:text="${user.lastName}"></div>
																	
																</div>

																<div class="row">
																	<label class="col-sm-4 col-form-label">Email:</label>
																	<div class="col-sm-8" th:text="${user.email}"></div>
																	
																</div>
																	<div class="row">
																<label class="col-sm-4 col-form-label">TVA:</label>
																	
																	 <span th:if="(${user.isExonoree} == true)"> Exonérée de TVA</span>
																	
																  <span th:if="(${user.isExonoree} == false or ${user.isExonoree}==null)">Soumise à la TVA</span>
																</div>

															<div class="row">
																	<label class="col-sm-4 col-form-label">Forme juridique:</label>
																	<div class="col-sm-8" th:text="${user.formeJuridique}"></div>
																	
																</div>
	                                                             <div class="row">
																	<label class="col-sm-4 col-form-label">Identification fiscale:</label>
																	<div class="col-sm-8" th:text="${user.identificationFiscale}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Class user :</label>
																	<div class="col-sm-8" th:text="${user.classUser}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">plafon  :</label>
																	<div class="col-sm-8" th:text="${user.plafonRevendeur}"></div>
																	
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">coordonnees Bancaires  :</label>
																	<div class="col-sm-8" th:text="${user.coordonneesBancaires}"></div>
																	
																</div>
																	<div class="row">
																	<label class="col-sm-4 col-form-label">typeuser  :</label>
																	<div class="col-sm-8" th:text="${user.typeUser}"></div>
																	
																</div>
																	<div class="row">
																	<label class="col-sm-4 col-form-label">Role  :</label>
																	<div class="col-sm-8" th:text="${user.role.roleName}"></div>
																	
																</div>
																		<div class="row">
																	<label class="col-sm-4 col-form-label">Activite Principale  :</label>
																	<div class="col-sm-8" th:text="${user.ActivitePrincipale}"></div>
																	
																</div>
																
																<div class="row"  th:if="${user.gouvernorat != null}">
																	<label class="col-sm-4 col-form-label">Gouvernorat:</label>
																	<div class="col-sm-8"
																		th:text="${user.gouvernorat.gouvernoratName}"></div>
																	
																</div>
																
																<div class="row" th:if="${user.ville != null}">
																	<label class="col-sm-4 col-form-label">Ville:</label>
																	<div class="col-sm-8"
																		th:text="${user.ville.villeName}"></div>
																	
																</div>
																
																<div class="row">
																	<label class="col-sm-4 col-form-label">Adresse:</label>
																	<div class="col-sm-8" th:text="${user.adresse}"></div>
																	

																</div>

																<div class="row">
																	<label class="col-sm-4 col-form-label">Code
																		postale:</label>
																	<div class="col-sm-8" th:text="${postalCode}"></div>
																	

																</div>
																
																<!-- 
																<div class="row">
																	<label class="col-sm-4 col-form-label">Commission de paiement en %:</label>
																	<div class="col-sm-8" th:text="${user.pcFactureRecurent}"></div>
																	

																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Commission d'acquisition en % :</label>
																	<div class="col-sm-8" th:text="${user.pcFirstFacture}"></div>
																	

																</div>
																 -->
																<div class="row">
																	<label class="col-sm-4 col-form-label">stock
																		:</label>
																	
																	<div th:switch="${user.withStock}"> 
  <p th:case="'true'">Avec Stock</p>
  <p th:case="'false'">Sans Stock</p>

</div>

																</div>

																
																<div class="row">
																	<label class="col-sm-4 col-form-label">Téléphone
																		:</label>
																	<div class="col-sm-8" th:text="${user.telephone}"></div>
																
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">Nom commercial
																		:</label>
																	<div class="col-sm-8" th:text="${user.nomCommercial}"></div>
																
																</div>
																<div class="row">
																	<label class="col-sm-4 col-form-label">interlocuteur
																		:</label>
																	<div class="col-sm-8" th:text="${user.interlocuteur}"></div>
																
																</div>
															

																

																<div class="row">
																	<label class="col-sm-4 col-form-label">Regime fiscal:</label>
																				<div class="col-sm-8" th:text="${user.RegimeFiscal}"></div>
																		
																	
																
																</div>
															</div>
														</div>
													</div>
													<div class="card-block row">
													<div class="col-md-6">
														<h4>Cree par</h4>
															<span 
																th:text="${creted?.firstName} "></span> <span
																th:text="${creted?.lastName}"></span>
														</div>
														
														<div class="col-md-6">
														<h4>Affecter a</h4>
														
															<span 
																th:text="${AssignedToUser?.firstName  } "></span> <span
																th:text="${AssignedToUser?.lastName}"></span>
																
															
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="card-block">
														<h4>Document Revendeur</h4>
														<div th:switch="${user.contrat}">
													 <a th:case="*" th:href="@{${'/photos/'+user.email+'/'+user.contrat}}" id="prev2Contrat"
                                      >Contrat</a>
                                          </div>
                                          
                                          <div th:switch="${user.carteFiscale}">
                                          <a th:case="*" th:href="@{${'/photos/'+user.email+'/'+user.carteFiscale}}" id="prev2imageFileFiscale"
                                        >Carte Fiscale </a>
                                          </div>
                                          
                                           <div  th:switch="${user.RNE}">
                                          <p th:case="null"></p>
                                           <a th:case="*" th:href="@{${'/photos/'+user.email+'/'+user.RNE}}" id="prev2RNE"
                                    >RNE</a>
                                    </div>
													</div>



												</div>
											</div>


										</div>

					












									</div>
									
									<!-- tab historique utilisateur -->
									<div sec:authorize="hasAnyAuthority('VIEW_USER_HISTORY')" class="tab-pane" id="custom-tabs-history"
										role="tabpanel" aria-labelledby="custom-tabs-history-tab">
										
										 <table id="historyTable" class="table table-hover">
										  	<thead>
												<tr>
													<th>Date de modification</th>
													<th>Action</th>
													<th>Modifier par</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="l : ${lUserHistories}">
													<td th:text="${#dates.format(l.createdDate, 'dd/MM/yyyy HH:mm')}"></td>
													<td th:text="${l.action}"></td>
													<td th:text="${l.editBy.firstName + ' ' +l.editBy.lastName + '(' + l.editBy.codeUser + ')'}"></td>
												</tr>
											</tbody>
										</table>
									
									</div>


								</div>
							</div>

						</div>
					</div>

				</div>
				
			</div>
		</section>
							<!-- Afectation user model -->

				<form id="AbonnementReaffectation" class="form-sample d-flex flex-column" action="/demandeabonnement/affectationClient" 
													method="POST" >

	<div class="modal fade" id="ReafectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Réaffecter Revendeur</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
																 <div class="row mb-10">
																         <div class="col-md-10">
																		
																			<label>Recherche par (cin , code user ,email, nom commerciale ,identification fiscale , Interlocuteur ) </label>
																			
																				<input type="Text" 
																					class="form-control" 
																					id="codeRevendeur" name="codeRevendeur"  required  /> 

																		</div>
																       

																			<div id="erruerMsgAffacation"></div>
																			<div id="tabResultRevendeur" class="col-md-10"></div>
																		
																			
																		</div>
	
																
											
	
											
	
												
		  <div class="d-flex justify-content-between mt-3">
		  	
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		<div id="affecterAction"></div>
			<input type="submit" class="btn btn-outline-info" value="Rechercher"></input>
			
																</div>
		  </div>
		</div>
	  </div>
	</div>
			
	</form>
	</section>
</body>
</html>
<!-- DataTables core + Bootstrap 5 integration -->
<script th:src="@{/js/jquery.dataTables.min.js}"></script> 
<script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>

<!-- Moment.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<!-- Datetime sorting plugin (must follow DataTables + moment) -->
<script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>
<script th:inline="javascript">
let userId = /*[[${user.userid}]]*/ null

$("#AbonnementReaffectation").submit(function (e) {
	    e.preventDefault();

    recherche =  $('#codeRevendeur').val()
    if(recherche){
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/RevendeurUser/affectationUser",
        data: JSON.stringify({
        	"recherche":recherche,
        }),
        dataType: "json",
        timeout: 100000,
        success: function (data) {
        	if(data && data.length > 0){
        		$('#erruerMsgAffacation').empty()
        		let affecterAction = '<button type="button" class="btn btn-success" onClick="SendaffecterRevendeur(event)">Affecter</button>'
        		$('#affecterAction').empty().append(affecterAction)
        		return generateTabRevendeur(data)
        	}
        	else {
        		let erruerMsg = "<span' class='btn text-danger' > Aucun distributeur trouvé avec les données fournies. </span>"
    	      		$('#erruerMsgAffacation').empty().append(erruerMsg)
    	      		$('#tabResultRevendeur').empty()
        	}
        },
    error: function (e) {}
    })
    }
})

function generateTabRevendeur (data) {
	 
	 var tableHtml = `<table id="affactationTabRevendeur" class="table"><thead class="class="thead-dark"><tr><th scope="col">code user</th>
	 <th scope="col">Nom</th><th scope="col">Prénom</th><th scope="col">Type user</th><th scope="Interlocuteur" > Interlocuteur </th><th scope="col">Checked</th></tr></thead><tbody>`;

	// loop through each object in the array and create a table row
	$.each(data, function(index, value) {
	
	  tableHtml += '<tr>';
	  tableHtml += '<td>' + value.codeUser + '</td>';
	  tableHtml += '<td>' + value.firstName + '</td>';
	  tableHtml += '<td>' + value.lastName + '</td>';
	  if(value.typeUser){
		  tableHtml += '<td>' + value.typeUser  + '</td>'; 
	  }
	  else {
		  tableHtml += '<td>' + "---" + '</td>';
	  }
	  if(value.interlocuteur){
		  tableHtml += '<td>' + value.interlocuteur  + '</td>'; 
	  }
	  else {
		  tableHtml += '<td>' + "---" + '</td>';
	  }
	  tableHtml += '<td><input type="radio" name="checked" value='+value.userid+'></td>';
	  tableHtml += '</tr>';
	});

	tableHtml += '</tbody></table>';





	 $('#tabResultRevendeur').empty().append(tableHtml)
 }
function SendaffecterRevendeur(event){
event.preventDefault();
var selectedDataArray = [];

$("table#affactationTabRevendeur tr").each(function(index, row) {
  var selectedValue = $(row).find("input[name^='checked']:checked").val();
  if (selectedValue) {
    selectedDataArray.push(selectedValue);
  }
});

if(selectedDataArray.length > 0 ){
	   
	    let userselected =  selectedDataArray[0]
	    $.ajax({
	        type: "POST",
	        contentType: "application/json",
	        url: "/RevendeurUser/sendAffectationClient",
	        data: JSON.stringify({
	        	"userselected":userselected,
	        	"userId":userId
	        }),
	        dataType: "json",
	        timeout: 100000,
	        success: function (data) {
	        	if(data){
	          		 $('#ReafectModal').modal('hide');
	     	       	$(document).Toasts('create', {
	     	            		  title: "Succès",
	     	            		  body: "Le revendeur a été affecté avec succès au distributeur ",
	     	            		  class: 'bg-success',
	     	            		  autohide:true,
	     	            		  delay: 5000
	     	            		})
	     	            		// Add an event listener to the toast
	     	            		$('.toast').on('hidden.bs.toast', function () {
	     	            		  // Code to execute after the toast has been hidden
	     	            		    window.location.reload()
	     	            		});
	        	}
	        	else {
	        		let erruerMsg = "<span' class='btn text-danger' > Aucun distributeur trouvé avec les données fournies. </span>"
	    	      		$('#erruerMsgAffacation').empty().append(erruerMsg)
	        	}
	        },
	    error: function (e) {
	    	 $('#ReafectModal').modal('hide');
	    	$(document).Toasts('create', {
   		  title: "Erreur",
 		  body: "vous ne pouvez pas accéder à cette page",
 		  class: 'bg-danger',
 		  autohide:true,
 		  delay: 5000
 		})}
	    })
}
else {
	let erruerMsg = "<span' class='btn text-danger' > Veuillez sélectionner un distributeur auquel vous souhaitez affecter le revendeur avant de continuer </span>"
  		$('#erruerMsgAffacation').empty().append(erruerMsg)
}

}

$('#ReafectModal').on('hidden.bs.modal', function (e) {
$('#erruerMsgAffacation').empty()
$('#tabResultRevendeur').empty()
$('#affecterAction').empty()
})
   $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
$(document).ready(function() {
 

    $('#historyTable').DataTable({
    	
        "language": {
            "sEmptyTable": "Aucune donnée disponible dans le tableau",
            "sInfo": "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
            "sInfoEmpty": "Affichage de l'élément 0 à 0 sur 0 éléments",
            "sInfoFiltered": "(filtré de _MAX_ éléments au total)",
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": "Afficher _MENU_ éléments",
            "sLoadingRecords": "Chargement...",
            "sProcessing": "Traitement...",
            "sSearch": "Rechercher :",
            "sZeroRecords": "Aucun élément correspondant trouvé",
            "oPaginate": {
                "sFirst": "Premier",
                "sPrevious": "<",
                "sNext": ">",
                "sLast": "Dernier"
            },

        },
		    "columnDefs": [
		        { "orderable": true, "targets": [0] },
		        { "orderable": false, "targets": "_all" }
		    ]
    });
});
</script>
