<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Modifier un revendeur</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="row">
        <div class="col-12 ">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Modifier un revendeur</h3>
                    </div>
                    <div class="card-body">
                    <form class="form-sample" id="form-sample" action="#" th:action="@{|/RevendeurUser/users/editrevendeur/${user.userid}|}"
                          enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nom</label>
                                    <div class="col-sm-9">
                                             <input type="text" class="form-control" name="Prenom"
                                               th:field="${user.firstName}" th:required="required"/>
                                 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Prénom</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="Nom" th:field="${user.lastName}"
                                               th:required="required"/>
                                    </div>
                                </div>
                            </div>
                                                        <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nom commercial</label>
                                    <div class="col-sm-9">
                                        <input type="text"   th:field="${user.nomCommercial}"  class="form-control" name="nomCommercial" placeholder="nomCommercial" />                                         
                                        <!-- th:required="required" -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Interlocuteur</label>
                                    <div class="col-sm-9">
                                        <input type="text"  th:field="${user.interlocuteur}" class="form-control" name="interlocuteur" placeholder="interlocuteur" />
                                    </div>
                                </div>
                            </div>
                                                   <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">code PGH</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="${user.codePGHUser} " class="form-control" name="codePGHUser" placeholder="codePGHUser" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="Email" th:field="${user.email}"
                                               th:required="required"/>
                                         <div th:if="${existedCode != null}" class="text-danger">
                                        <p>Email existe deja</p>
                                    </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Adresse</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="adresse" th:field="${user.adresse}"
                                               />
                                    </div>
                                </div>
                            </div>
                                 <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Forme juridique </label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="Formejuridique" th:field="${user.formeJuridique}" >
                                            <option value="" >Selectioner forme juridique</option>
                                           <option value="SASU" >SASU</option>
                                               <option value="EURL" >EURL</option>
                                                   <option value="SAS" >SAS</option>
                                                       <option value="SARL" >SARL</option>
                                                        <option value="SNC" >SNC</option>
                                                       <option value="SA" >SA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                        <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tva </label>
                                     
                                    
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label" >
                                            
                                                <input th:checked="(${user.isExonoree} == true )" type="radio" style="opacity: 1 !important;" class="form-check-input" name="isExonoree" id="isExonoree1" value="True"> Exonérée de TVA
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input th:checked="(${user.isExonoree} == false or ${user.isExonoree}==null)" type="radio" style="opacity: 1 !important" class="form-check-input" name="isExonoree" id="isExonoree2" value="False">Soumise à la TVA
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Identification fiscale</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="identificationfiscale" th:field="${user.identificationFiscale}"/>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Gouvernorat</label>
                                    <div class="col-sm-9">
                                                <select
								                    id="gouvernorats"
								                    name="gouvernorat"
								                    class="form-control"
								                    th:required="true"
								                  >								                
								                    <option value="">Sélectionner un Gouvernorat</option>

								                    <option
								                      th:each="gouvernorat : ${gouvernerats}"
								                      th:value="${gouvernorat.gouvernoratId}"
								                      th:text="${gouvernorat.gouvernoratName}"
								                      th:selected="${user.gouvernorat?.gouvernoratId == gouvernorat.gouvernoratId}">
								                    ></option>
							                  </select>
               
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Ajouter une ville</label>
                                    <div class="col-sm-9">
                                    
                                         <select
				                    id="ville"
				                    name="ville"
				                    class="form-control"
				                    th:required="true"
				                   
				                  >
				                     <option
								        th:each="ville : ${villes}"
								        th:value="${ville.villeId}"
								        th:text="${ville.villeName}"
								        th:selected="${user.ville?.villeId == ville.villeId}">
								       ></option>
				                  </select>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-6">
			                        <div class="form-group row">
			                          <label class="col-sm-3 col-form-label"
			                            >Code postale</label
			                          >                          
			                          <div class="col-sm-9">
			                            <select
			                            type="tel"
			                            pattern="[0-9]{4}"
			                            class="form-control"
			                            name="codePostale"
			                            id="codePostale"
			                            placeholder="Code postal"
			                            th:required="required"
			                          >
			                          <option value="">Code postal</option>
			                          <option
			                                th:each="codePostale : ${codePostaleList}"
			                                th:value="${codePostale.PostalCodeId}"
			                                th:text="${codePostale.name+'-'+codePostale.code}"
			                                th:selected="${user.codePostale == codePostale.PostalCodeId}"
			                              ></option>
			                        </select>
			                          </div>
			                        </div>
			                      </div>
                                <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Choisir un choix stock</label>
                                    <div class="col-sm-9">
                                           <select id="withstock" name="withstock" class="form-control" th:required="true" th:field="${user.withStock}">
                                            <option  th:value="true"
                                                    >avec stock</option>
                                                     <option  th:value="false"
                                                    >n'a pas de stock</option>
                                        </select>
                                      
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Taux de réalisation</label>
                                    <div class="col-sm-9">
                                           <input type="number"  min="0" max="99" name="pcActivationCommision" class="form-control" th:required="true" th:field="${user.pcActivationCommision}" / >
                                            
                                   
                                      
                                    </div>
                                </div>
                                </div>
                                
                                <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Taux rejet commercial </label>
                                    <div class="col-sm-9">
                                           <input type="number" min="0" max="99" name="pcRefusCommision" class="form-control" th:required="true" th:field="${user.pcRefusCommision}" / >
                                            
                                   
                                      
                                    </div>
                                </div>
                            </div>
                                
                            
                            <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Plafond  revendeur </label>
                                    <div class="col-sm-9">
                                           <input type="number"  class="form-control"
                                             	 name="plafonrevendeur" th:required="required" th:field="${user.plafonRevendeur}" />

                                    </div>
                                </div>
                            </div>                              
                            
                                                                                     <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">coordonnees Bancaires revendeur </label>
                                    <div class="col-sm-9">
                                           <input type="text"    name="coordonneesBancaires" class="form-control" th:required="true" th:field="${user.coordonneesBancaires}" />
                                            
                                   
                                      
                                    </div>
                                </div>
                            </div>
                            
                                                                                      <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Activité Principale</label>
                                    <div class="col-sm-9">
                                           <input type="text"   name="ActivitePrincipale" class="form-control" th:required="true" th:field="${user.ActivitePrincipale}" />
                                            
                                   
                                      
                                    </div>
                                </div>
                            </div>
                            
                                <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Régime fiscal </label>
                                    <div class="col-sm-9">
                                           <input type="text"   name="Regimefiscal" class="form-control" th:field="${user.regimeFiscal}" />
                                            
                                   
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Numéro de téléphone  </label>
                                    <div class="col-sm-9">
                                           <input type="number" pattern="[0-9]{8}"  name="telephone" class="form-control" th:required="true" th:field="${user.telephone}" />
                                            
                                   
                                      
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                <div class="form-group row">
                               <label class="col-sm-3 col-form-label">Classe  Revendeur  </label>
                                    <div class="col-sm-9">
                                          
                                                  <select id="withstock" name="withstock" class="form-control" th:required="true" th:field="${user.classUser}">
                                                  <option  value="A">Classe A</option>
                                                <option  th:value="B">Classe B</option>
              <option  th:value="C">Classe C</option>
              <option  th:value="D">Classe D</option>
                                        </select>
                                   
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"> Mot de passe</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" name="Password" id="Password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Confirmer le mot de passe</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" name="Confirm_Password"/>
                                    </div>
                                    <div th:if="${passwordnotmatch != null}" class="alert alert-danger notification"
                                         role="alert">
                                        <p>Les mot de passe ne sont pas identiques</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row" th:switch="${user.photo}">
                                    <label class="col-sm-3 col-form-label" for="imageFile">Photo de profil</label>
                                    <div class="col-sm-9">
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" className="form-control"
                                                   name="imageFile" id="imageFile"/>
                                            <label class="custom-file-label" for="imageFile">Choisir une image</label>
                                        </div>

                                    </div>
                                    <img th:case="null" src="/img/faces/choisiruneimage.png" id="prev1"
                                        width="200px" height ="200px"/>
                                    <img th:case="*" th:src="@{${'/photos/'+user.email+'/'+user.photo}}" id="prev2"
                                        width="200px" height ="200px"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row" th:switch="${user.RNE}">
                                    <label class="col-sm-3 col-form-label" for="imageFileRNE">RNE</label>
                                    <div th:case="null" class="col-sm-9">
                                        <div class="custom-file">
                                            <input type="file" accept="pdf/*" className="form-control"
                                                   name="imageFileRNE" id="imageFileRNE"/>
                                            <label class="custom-file-label" for="imageFileRNE">Choisir RNE</label>
                                        </div>

                                    </div>
                                  
                                    <a th:case="*" th:href="@{${'/photos/'+user.email+'/'+user.RNE}}" id="prev2RNE"
                                    >RNE</a>
                                </div>
                            </div>
                            <!-- <div class="col-md-6" th:switch="${user.enabled}">
                                <div th:case="true" class="form-group row">
                                    <label class="col-sm-3 col-form-label">Activation</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="activation" id="membershipRadios1"
                                                       style="opacity: 1 !important" value="True" checked> Activé
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="activation" id="membershipRadios2"
                                                       style="opacity: 1 !important" value="False"> Désactivé
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div th:case="false" class="form-group row">
                                    <label class="col-sm-3 col-form-label">Activation</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="activation" id="membershipRadios11"
                                                       style="opacity: 1 !important" value="True"> Activé
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="activation"id="membershipRadios21"
                                                       style="opacity: 1 !important" value="False" checked> Désactivé
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                         
                                       <div class="col-md-6">
                                <div class="form-group row" th:switch="${user.carteFiscale}">
                                    <label class="col-sm-3 col-form-label" for="imageFileFiscale"> Carte Fiscale</label>
                                    <div th:case="null"  class="col-sm-9">
                                        <div class="custom-file">
                                            <input type="file" accept="pdf/*" className="form-control"
                                                   name="imageFileFiscale" id="imageFileFiscale"/>
                                            <label class="custom-file-label" for="imageFileFiscale">Choisir PDF</label>
                                        </div>

                                    </div>

                                    <a th:case="*" th:href="@{${'/photos/'+user.email+'/'+user.carteFiscale}}" id="prev2imageFileFiscale"
                                         >Carte Fiscale </a>
                                </div>
                            </div>
                                         <div class="col-md-6">
                                <div class="form-group row" th:switch="${user.contrat}">
                                    <label class="col-sm-3 col-form-label" for="Contratpdf"> Contrat</label>
                                    <div  th:case="null"  class="col-sm-9">
                                        <div class="custom-file">
                                            <input type="file" accept="pdf/*" className="form-control"
                                                   name="Contratpdf" id="Contratpdf"/>
                                            <label class="custom-file-label" for="Contratpdf">Choisir une pdf</label>
                                        </div>

                                    </div>
                                  
                                    <a th:case="*" th:href="@{${'/photos/'+user.email+'/'+user.contrat}}" id="prev2Contrat"
                                        >Contrat</a>
                                </div>
                            </div>
                            </div>
                        <div class="card-footer" style="margin-top: 20px; text-align: center;">
                            <button type="submit" class="btn btn-success" style="margin-right: 20px;">Valider</button>
                            <a href="/RevendeurUser/revendeurliste/1" class="btn btn-danger" style="margin-left: 20px;">Annuler
                            </a>
                        </div>
                    </form>
                    </div>
                </div>
        </div>
    </div>
        </div>
    </section>

</section>
</body>
</html>
<script th:inline="javascript">
    var photo = "" ; 
    var prev = ''
    var prevRNE = "Contrat"
    if(photo !=null) {
        prev ='prev2'
    }
    else
    {
        prev ='prev1'
    }
    var reader = new FileReader();
    reader.onload = function (r_event) {
        document.getElementById(prev).setAttribute('src', r_event.target.result);
    }

    document.getElementsByName('imageFile')[0].addEventListener('change', function (event) {
        reader.readAsDataURL(this.files[0]);
    })

    


    ;
    /*<![CDATA[*/

    // var message = [[${user.getRole().getRoleId()}]];

    /*]]>*/
    
      $("#gouvernorats").change(function () {
        sendAjaxRequest();
      });
    
    $("#ville").change(function(){
        sendAjaxRequestCodePostal()
      })

    
         function sendAjaxRequest() {
      var villeid = $("#gouvernorats").val();
      $.get("/client/getgouvernorats/" + villeid, function (data) {
    	  
    	  if(data.length !== 0)
    	  {
    	      $.get("/client/codepostale/" + data[0].villeId, function (data) {
    	        $("#codePostale").empty();
    	        data.forEach(function (item, i) {
    	          var optiondata =
    	            "<option value = " +
    	            item.postalCodeId +
    	            ">" +
    	            item.name +"-" + item.code+
    	            "</option>";
    	          $("#codePostale").append(optiondata);
    	        });
    	   
    	      });
    	      }
    	  
		        $("#ville").empty();
		        data.forEach(function (item, i) {
		          
		          var option =
		            "<option value = " +
		            item.villeId +
		            ">" +
		            item.villeName +
		            "</option>";
		          $("#ville").append(option);
		        });
		      });
		    }        

        function sendAjaxRequestCodePostal() {
            var villeid = $("#ville").val();
            $.get("/client/codepostale/" + villeid, function (data) {
      	        $("#codePostale").empty();
              data.forEach(function (item, i) {
                var option =
                  "<option value = " +
                  item.postalCodeId +
                  ">" +
                  item.name +"-" + item.code+
                  "</option>";
                $("#codePostale").append(option);
              });
            });
          }
  $( document ).ready( function () {
	$( "#form-sample" ).validate( {
		rules: {
			lastName: {
				required: true,
				minlength: 2
			},
			firstName: {
				required: true,
				minlength: 2
			},
			gouvernorat: {
				required: true,
			
			},
			email: {
				required: true,
				email: true
			},
			
			gouvernorat:{
				required: true,
				
			},
            CIN: {
				required: true,
				minlength: 8,
                maxlength: 8
			},
            codePostale: {
				required: true,
			
			},
            plafonRevendeur: {
                required: true,
            },
			coordonneesBancaires:{
                required: true,
            },
            ActivitePrincipale:{
                required: true, 
            },  
            telephone:{
                required: true,  
            },
            Confirm_Password:{
				equalTo: "#Password"
			},
			 adresse:{
	                required: true, 
		            maxlength : 115
		        },
		        
		},
		messages: {
		
			lastName: {
				required: "Ce champ est obligatoire",
				minlength: "Veuillez entrer un Nom valide"
			},
			firstName: {
				required: "Ce champ est obligatoire",
				minlength: "Veuillez entrer un Prenom valide"
			},
			email: "S'il vous plaît, mettez une adresse email valide",
			gouvernorat: {
				required: "Ce champ est obligatoire",

			},
            CIN: {
				required: "Ce champ est obligatoire",
				minlength: "Le numéro doit comporter 8 chiffres",
                maxlength: "Le numéro doit comporter 8 chiffres"
			},
            codePostale: "Ce champ est obligatoire",
			gouvernorat: "Ce champ est obligatoire",
            plafonRevendeur:{
            	required:"Ce champ est obligatoire"
            },
            coordonneesBancaires:"Ce champ est obligatoire",
            ActivitePrincipale:"Ce champ est obligatoire",
            telephone:"Ce champ est obligatoire",
            Confirm_Password:{
				equalTo: "La confirmation n'est pas identique"
			},
			
			 adresse: {
	                required: "Ce champ est obligatoire",
	            	maxlength : "L'adresse doit contenir au maximum 115 caractères"
	            },
		},
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `invalid-feedback` class to the error element
			error.addClass( "invalid-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.next( "label" ) );
			} else {
				error.insertAfter( element );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
		},
		unhighlight: function (element, errorClass, validClass) {
			$( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
		}
	} );

    $.validator.setDefaults( {
	submitHandler: function (form) {
	
		 form.submit()
	}
} );

} );
</script>

