<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>CRM</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card-body">
        <!--                    <h4 class="card-title">Utilisateurs</h4>-->
        <div class="blocy">
            <table class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline" id="dataTable">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Type</th>
					<th>Action</th>
                </tr>
                </thead>
                </table>
                </div>
                </div>

</section>
</body>
</html>
<script th:inline="javascript">
	$(document)
			.ready(
					function() {
						   oTable =   $('#dataTable').DataTable({
							   "language": {
									"lengthMenu": "Affichage _MENU_ enregistrements par page",
						            "zeroRecords": "Rien trouvé - désolé",
						            "info": "Afficher la page _PAGE_ de _PAGES_",
						            "infoEmpty": "Aucun enregistrement disponible",
						            paginate: {
						                first: "Première",
						                last: "Dernière",
						                next: ">>",
						                previous: "<<",
						              },
						        },
						      processing: true,
						      serverSide: true,
						      ordering: true,
						      searching : false,
						      ajax: '/admin/getAllUserSystem',
						      columnDefs: [{
						    	    orderable: false,
						    	    targets: [ 2, 3]
						      
						    	  }],
						      columns: [
						          { data: 'firstName' },
						          { data: 'lastName' },
						          { data: 'email' },
						          { data: 'typeUser' },
								  {data: null,

render: function (data, type, row) {
	return (
	  "<div class='blocaction'><a href='/admin/users/edituser/" +
	  row.userid +
	  "'>" +
	  "<i type='button' class='fa  fa-edit'></i>" +
	  "</a>" +
	  "</div>"
	);
  } 
								  }
						         
						      ],
						  });

					
						
					
					});
</script>