<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <title>Accès non autorisé</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 card mt-5 p-5">
                    <div class="text-center">
                        <h1 class="text-danger">Accès non autorisé!</h1>
                        <div class="error-content">
                            <p class="mt-4">Désolé, mais vous n'êtes pas autorisé à afficher cette page.</p>
                            <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administrateur pour obtenir de l'aide.</p>
                            
                            <a th:if="${isAdmin}" th:href="@{'../../admin/dashboard'}" class="btn btn-primary mt-3">Retour au tableau de bord</a>
                            <a th:if="${!isAdmin}" th:href="@{'../../alluser/dashboard'}" class="btn btn-primary mt-3">Retour au tableau de bord</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
