<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Verification Client</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="error-page">
            <h2 class="text-danger">Something went wrong! </h2>

            <div class="error-content">
               
                
                <h2>Our Engineers are on it</h2>
                

            </div>
        </div>
        <!-- /.error-page -->

    </section>
</section>
</body>
</html>