<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Login Modem</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Ajouter un Login Modem</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">Ajouter un Login Modem</div>
                        <div class="card-body">
                            <form class="form-sample" action="#" th:action="@{/accessModem/createNew}" method="POST"
                                  th:object="${ville}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Login modem</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Login modem"
                                                       name="email" th:required="required"/>
                                            </div>
                                            <div th:if="${existedCode != null}" class="alert alert-danger notification"
                                                 role="alert">
                                                <p>Login existe deja</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Mot de passe</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control"  placeholder="Mot de passe"
                                                          rows="4" cols="50" name="password" th:required="required">
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="card-footer" style="margin-top: 20px; text-align: center;">
                                    <button type="submit" class="btn btn-success" style="margin-right: 20px;">
                                        Sauvegarder
                                    </button>
                                    <button type="reset" class="btn btn-danger" style="margin-left: 20px;">
                                        Réinitialiser
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>

