<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorator="layout"
>
  <head>
    <title>Modem access</title>
  </head>
  <body>
    <section layout:fragment="content">
      <section class="content">
        <div class="container-fluid">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0">Liste des Modem access</h1>
                </div>
              </div>
            </div>
          </div>
          <div class=" ">
           <a sec:authorize="hasAnyAuthority('CREATE_MODEM')"
                    	th:href="@{/accessModem/createaccess}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-plus fa-sm text-white-50"                          
                            ></i> Ajouter Access  modem</a>
                            
             <a sec:authorize="hasAnyAuthority('CREATE_MODEM')"
                    	data-toggle="modal" th:attr="data-target='#importModal'"
                       class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                            class="fas fa-upload fa-sm text-white-50"></i> Importer Modems</a>
                            </div>
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card shadow mb-4">
       
                <div class="card-body">
                  <div>
                    <table id="tutorialTable" class="table table-bordered display supertable  table-striped  no-footer dtr-inline">
                      <!-- Header Table -->
                      <thead class="table">
                       
                          <th>Login</th>
                          <th>Password</th>
                          <th>Statut</th>
                          <th>Action</th>
                   
                    </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
                  <div sec:authorize="hasAnyAuthority('CREATE_MODEM')" 
                      class="modal fade" th:attr="id='importModal'" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">Vous voulez vraiment importer un
                                        ficher?</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">


                                    <form th:action="@{/accessModem/confirm_import}" method="post" enctype="multipart/form-data">

                                        <div class="input-group">
                                            <input class="form-control" id="file" type="file" name="file"/ accept=".xlsx">
                                        </div>
										<p class="mt-2">merci de respecter <a href="/file/TemplateAddModemAccess.xlsx">cette template</a></p>
										<p class="mt-2 text-warning">Limite d'importation : 700 lignes max.<br> Veuillez vérifier que votre fichier ne dépasse pas cette limite avant de l'importer.</a></p>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" name ="uploadXls" id="uploadXls" type="submit">Confirmer</button>
                                            <button class="btn btn-danger" type="button" data-dismiss="modal">Annuler
                                            </button>
                                        </div>


                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
          <input type="hidden" name="hasediterole" th:value="${hasediterole}" id="hasediterole"/>
        </div>
      </section>
    </section>
  </body>
</html>
<script th:inline="javascript">
  var oTable;
  var hasediterole = document.getElementById("hasediterole").value;
  function updateModalajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
    let href = "/statut/editstatut/" + data.statutId;
    window.location.href = href;
  }
  $(document).ready(function () {
    oTable = $("#tutorialTable").DataTable({
      language: {
        lengthMenu: "Affichage _MENU_ enregistrements par page",
        zeroRecords: "Rien trouvé - désolé",
        info: "Afficher la page _PAGE_ de _PAGES_",
        infoEmpty: "Aucun enregistrement disponible",
        paginate: {
          first: "Première",
          last: "Dernière",
          next: ">>",
          previous: "<<",
        },
      },
      processing: true,
      serverSide: true,
      ordering: true,
     
      searching: false,
     // scrollY: 500,
      ajax: "/accessModem/getall",
      lengthMenu: [
        [20, 30, 50],
        [20, 30, 50],
      ],
      columnDefs: [
        {
          orderable: false,
          targets: [2, 3],
        },
      ],

      columns: [
        {
          data: null,
          render: function (data, type, row) {

            return row.email;
          },
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.password;
          },
        },
        {
            data: null,
            render: function (data, type, row) {
              return  row.status ?  "Non affecter" :"Affecter";
            },
          },
          {
            data: null,
            render: function (data, type, row) {
              if(hasediterole == "true"){
              return "<div>" +
       
            "</div>";
            }
            else
            return " "
            
          },
          },
      ],
    });
    //$('.dataTables_paginate').addClass('btn btn-sm btn-dark');
   $("#pageSizeSelect").change(function () {
      var pagesizeselected = $("#pageSizeSelect").val();
      window.location.replace("/accessModem/getall/1/" + pagesizeselected);
    });
  });
</script>
