<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Ajouter un Produit</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">Ajouter un produit</div>
                        <div class="card-body">
                            <form class="form-sample" action="#" th:action="@{/pi/createproduit}" method="POST" id="form-sample">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Code</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Code" placeholder="Code"
                                                       th:required="required"/>
                                            </div>
                                            <div th:if="${existedCode != null}" class="alert alert-danger notification"
                                                 role="alert">
                                                <p>Code existe deja</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nom</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="Nom" placeholder="Nom"
                                                       th:required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="btn  m-3">
                                        <input class="" type="checkbox" id="withIpFix" name="withIpFix" checked>
                                        <label for="scales">avec ip fixe</label>
                                     
                                    </div>
                                     <div class="btn  m-3">
                                        <input class="" type="checkbox" id="isExtra" name="isExtra" >
                                        <label for="scales">isExtra</label>
                                     
                                    </div>
                                     <div class="btn  m-3">
                                        <input class="" type="checkbox" id="isRacordement" name="isRacordement" >
                                        <label for="scales">isRacordement</label>
                                     
                                    </div>
                                       <div class="btn  m-3">
                                        <input class="" type="checkbox" id="isDefault" name="isDefault" checked>
                                        <label for="scales">isDefault</label>
                                     
                                    </div>
                                </div>
                                 <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Prix HT (TND)</label>
                                            <div class="col-sm-9">
                                                <input type="number" max="9999" min="0" class="form-control"
                                                       name="produitPrix" placeholder="Prix Ht "
                                                       th:required="required" id="produitprixHt"  onchange="calculettcProduit()"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Prix TTC (TND)</label>
                                            <div class="col-sm-9">
                                                <p id="claculettc" >0</p>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Pourcent Tva (%)</label>
                                            <div class="col-sm-9">
                                                <input type="number" max="99" min="0" class="form-control"
                                                       name="pourcentTva" placeholder="Pourcent Tva "
                                                       th:required="required" id="pourcentTva"  onchange="calculettcProduit()"/>
                                            </div>
                                        </div>
                                    </div>
                                         <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Remise</label>
                                            <div class="col-sm-9">
                                                <input type="number"  max="999" min="0" class="form-control"
                                                       name="remise" placeholder="Remise" th:required="required" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-footer" style="margin-top: 20px; text-align: center;">
                                    <button type="submit" class="btn btn-success" style="margin-right: 20px;">
                                        Sauvegarder
                                    </button>
                                    <button type="reset" class="btn btn-danger" style="margin-left: 20px;">
                                        Réinitialiser
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
</body>
</html>

<script th:inline="javascript">
$( document ).ready( function () {
	$( "#form-sample" ).validate( {
		rules: {
			Code: {
				required: true,
				minlength: 2
			},
			Nom: {
				required: true,
				minlength: 3
			},
			Debit: {
				required: true,
			
			},
			produitprix: {
				required: true,
			},
			prixTTC: "required",
			pourcentTva:"required",
			remise:{
				required: true,
			},
            categories: {
				required: true,
			},
        
		},
		messages: {
		
			Code: {
				required: "Ce champ est obligatoire",
				minlength: "Veuillez entrer un Code valide"
			},
			Nom: {
				required: "Ce champ est obligatoire",
				minlength: "Veuillez entrer un Nom valide"
			},
			Debit: "Ce champ est obligatoire",
			produitprix: {
				required: "Ce champ est obligatoire",

			},
            prixTTC: {
				required: "Ce champ est obligatoire",
			},
			pourcentTva: "Ce champ est obligatoire",
			remise:"Ce champ est obligatoire",
			categories:"Ce champ est obligatoire",


		},
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `invalid-feedback` class to the error element
			error.addClass( "invalid-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.next( "label" ) );
			} else {
				error.insertAfter( element );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
		},
		unhighlight: function (element, errorClass, validClass) {
			$( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
		}
	} );

    $.validator.setDefaults( {
	submitHandler: function (form) {
	
		 form.submit()
	}
} );

} );
function calculettcProduit()
    {
        var pourcentTva = $("#pourcentTva").val();
        var produitprixHt= $("#produitprixHt").val();
    $.post("/pi/calculettc/",{
        pourcentTva,
        produitprixHt
    } ,function (data) {
    document.getElementById("claculettc").innerHTML = data
     
    });
    }
</script>