<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des Produits</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="addcategorieproduitinternet.html" th:href="@{/pi/createproduit}"
                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               sec:authorize="hasAnyAuthority('WRITE_PRODUCT')">
                                <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un produit</a> 
                        </div>
                        <div class="card-body">
                        	<div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show mr-2 ml-2" role="alert">
							  <strong>Succès!</strong> Le changement a été effectué avec succès.
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Nom</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="produit: ${produits}">
                                        <td th:text="${produit.produitCode}"/>
                                        <td th:text="${produit.produitNom}"/>
                                       
                                        <td>
                                            <a href="editproduit.html"
                                               th:href="@{|/pi/editproduit/${produit.produitId}|}">
                                                <button type="button"
                                                        class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
                                                        sec:authorize="hasAnyAuthority('WRITE_PRODUCT')">
                                                    Modifier
                                                </button>
                                            </a>
                                            <a th:if="${produit.isActive == false}"
                                               th:href="@{|/pi/produit/activation/${produit.produitId}|}">
                                                <button type="button"
                                                        class="btn btn-success"
                                                        sec:authorize="hasAnyAuthority('WRITE_PRODUCT')">
                                                    Activer
                                                </button>
                                            </a>
                                            <a th:if="${produit.isActive == true}"
                                               th:href="@{|/pi/produit/activation/${produit.produitId}|}">
                                                <button type="button"
                                                        class="btn btn-danger"
                                                        sec:authorize="hasAnyAuthority('WRITE_PRODUCT')">
                                                    Désactiver
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:fragment="pager (pagination)">
                            <ul class="pagination">
                                <th:block th:each="pageNumber : ${body}">
                                    <li th:if="${pageNumberStat.first}" class="page-item">
                                        <a class="page-link" th:href="@{'/pi/allproduits/'+${previous}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active" th:if="${pageNumber} == ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}" href="#"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${pageNumber} == -1">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <li class="page-item"
                                        th:if="${pageNumber} != -1 and ${pageNumber} != ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}"
                                           th:href="@{'/pi/allproduits/'+ ${pageNumber}}"></a>
                                    </li>
                                    <li th:if="${pageNumberStat.last}" class="page-item" aria-label="Next">
                                        <a class="page-link" th:href="@{'/pi/allproduits/'+ ${next}}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>



