<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Ajouter Pack</title>
</head>
<body>
<section layout:fragment="content">
<div th:replace="/fragments/loader.html :: loader"></div>

      <section class="content">
      
    <div  class="card" >
        <h4 class="card-title">Ajouter un Pack</h4>
        <div class="col-12 grid-margin">
            <div class="row">
                <div class="card-body">
               
                    <form id="myForm"  class="form-sample" action="#" th:action="@{/pack/addPack}" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nom Pack</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="nom" placeholder="Nom" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="description" placeholder="Description" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Debit</label>
                                    <div class="col-sm-9">
                                        <input type="number" min="10" class="form-control" name="debitPack" placeholder="debit Pack" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                                  <div class="col-md-6">
                                <div class="form-group row">
                                  
                                    <div class="form-check">
									                <input type="checkbox" class="form-check-input" id="payLater" name="payLater" value="true">
									                <label class="form-check-label" for="payLater"><b>Payement after </b></label>
									            </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Offre</label>
                                    <div class="col-sm-9">
                                      <select id="categorie" name="offre" class="form-control"
                                                        th:required="true" onchange="changeOffre(event)">
                                                    <option value="">Selectionner une offre</option>
                                                    <option th:each="offre : ${offres}" th:value="${offre.offreId}"
                                                            th:text="${offre.title}"></option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                                <div class="col-sm-6 " id="packParent">
                                  <div class="form-group row">
                        <label class="col-sm-3 col-form-label" 
                          >Pack parent</label
                        >
                        <select
                          id="idPackBase"
                          name="idPackBase"
                          class="col-sm-9 form-control"
                          disabled
                          th:required="required"                 
                        >
                          <option value="">Pack Base</option>
                        </select>
                        </div>
                      </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Categorie</label>
                                    <div class="col-sm-9">
                                           <select id="categorie" name="categorie" class="form-control"
                                                        th:required="true">
                                                    <option value="">Selectionner une categorie</option>
                                                    <option th:each="categorie : ${categories}" th:value="${categorie.categorieProduitInternetId}"
                                                            th:text="${categorie.categorieProduitInternetNom}"></option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Engagements</label>
                                    <div class="col-sm-9">
                                           <select id="idEngagement" name="idEngagement" class="form-control"
                                                        th:required="true">
                                                    <option value="">Selectionner un engagements</option>
                                                    <option th:each="engagement : ${engagements}" th:value="${engagement.engagementId}"
                                                            th:text="${engagement.nomEngagement}"></option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            
                            
                                  <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Produit</label>
                                    <div class="col-sm-9">
                                      <select id="mesproduits"  name="mesproduits"  >
                                        <option value="">Selectionner un produit</option>
                                  <option th:each="produit : ${produits}"
              							th:value="${produit.produitId}" th:text="${produit.produitNom}">
                                  
                                   </select>
                                     <div class="input-group-append"  onclick="add_Liste_produit()" style="cursor: pointer;">
                                            <i class="fa fa-plus"></i>
                                          </div>
                                    </div>
                                     
                                </div>
                            
                                <input type="hidden" id="produits" name="produits"/>
                                <input type="hidden" id="isShowProduits" name="isShowProduits"/>
                            </div>
                        </div>
                         <div id=Liste_produit></div>
                         <div class="row">
                                <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Prix HT (TND)</label>
                                            <div class="col-sm-9">
                                                <input type="number" max="9999" min="2"  step="0.001" class="form-control"
                                                       name="Prix" placeholder="Prix Ht "
                                                       th:required="required" id="produitprixHt"  onchange="calculettcProduit()"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Prix TTC (TND)</label>
                                            <div class="col-sm-9">
                                                <p id="claculettc" >0</p>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Pourcent Tva (%)</label>
                                            <div class="col-sm-9">
                                                <input type="number" max="99" min="0" class="form-control"
                                                       name="pourcentTva" placeholder="Pourcent Tva "
                                                       th:required="required" id="pourcentTva"  onchange="calculettcProduit()"/>
                                            </div>
                                        </div>
                                    </div>
                                         <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Remise</label>
                                            <div class="col-sm-9">
                                                <input type="number"  max="999" min="0" class="form-control"
                                                       name="remise" placeholder="Remise" th:required="required" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

   
                        <div style="margin-top: 20px; text-align: center;">
                            <button type="submit" class="btn btn-success" style="margin-right: 20px;" id="buttonSave">Sauvegarder</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
            </section>
      </section>
</body>
</html>

<script th:inline="javascript">


function calculettcProduit()
{
    var pourcentTva = $("#pourcentTva").val();
    var produitprixHt= $("#produitprixHt").val();
$.post("/pi/calculettc/",{
    pourcentTva,
    produitprixHt
} ,function (data) {
document.getElementById("claculettc").innerHTML = data
 
});
}



	


</script>

<script th:inline="javascript">
var  indexlisteTelephone = 0 ; 
var  liste_Produit = Array();
var listeShowProduit =  [];
var liste_name_Produit = [];

document.getElementById("packParent").style.display = "none"; 

function listeProduit(){
	var str='';
	for (i=0;i<liste_Produit.length;i++) 
		{ 
		str +='<div><i data-id="'+i+'" class="fa fa-trash" aria-hidden="true" onclick="delete_produit(event)" ></i> '+ i + ':'+liste_name_Produit[i] + '<input type="checkbox" id="'+i+'" name="isshow"  onclick="add_Liste_is_show_produit(event)" > is show <br ></div>';  // adding each element with key number to variable
		} 

	document.getElementById('Liste_produit').innerHTML=str; // Display the elements of the array

	document.getElementById("produits").value = liste_Produit ;
	document.getElementById("isShowProduits").value = listeShowProduit
		}
		
function add_Liste_produit(){
	if(document.getElementById('mesproduits').value != ''){
 listeShowProduit.push(false);
 liste_Produit.push(document.getElementById('mesproduits').value); // adding mesproduits element to array
 liste_name_Produit.push(document.getElementById('mesproduits').selectedOptions[0].text)
 
 document.getElementById('mesproduits').value=''; // Making  mesproduits box blank
 listeProduit(); // displaying the array elements
}
}
function add_Liste_is_show_produit(event){
	listeShowProduit[event.target.id] =  event.target.checked;
	
	document.getElementById("isShowProduits").value = listeShowProduit ;
}
function delete_produit(event){
	let index = event.target.dataset.id;
	 var listItem = event.target.parentNode; // Get the parent <li> element
	  var list = listItem.parentNode; // Get the parent <div id="Liste_produit"> element

	  // Remove the <div> element from the <div id="Liste_produit">
	  list.removeChild(listItem);
	  listeShowProduit.splice(index, 1);
	  liste_Produit.splice(index, 1);
	  liste_name_Produit.splice(index, 1);

}
function changeOffre(event){

	if(event.target.value != ""){
	
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/offre/oneOffre",
        data:JSON.stringify(event.target.value),
        dataType: "json",
        timeout: 100000,
        success: function (data) {

if(data.isPromo){
	document.getElementById("packParent").style.display = "block"; 

	findAllPackParent();
	$("#idPackBase").prop("disabled", false);
}
else {
	  $("#idPackBase").empty();
	  document.getElementById("packParent").style.display = "none";
	  $("#idPackBase").prop("disabled", true);
	 
}
        },
        error: function (e) {
          console.log("ERROR: ", e);
        },
      });
	}
}

function findAllPackParent() {

      $.get("/pack/packparent" , function (data) {
        $("#idPackBase").empty();
        var option = "<option value = ''>pack de base</option>";
      $("#idPackBase").append(option);
        data.pack.forEach(function (item, i) {
          var option =
            "<option value = " +
            item.packId +
            ">" +
            item.title +"- offre : " + item.offre.title
            "</option>";
          $("#idPackBase").append(option);
        });
      });
    
  }
  

$('#buttonSave').on('click', function(event) {
	var form = document.getElementById("myForm");
	 if (form.checkValidity()) {
	  // Désactiver le bouton
	  $(this).prop('disabled', true);
	  
	  // Ajouter la classe qui affiche le chargeur
	  $(this).addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');
	  	  
	  // Soumettre le formulaire
	  $(this).closest('form').submit();
	 }
	});	 
</script>