<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>List Pack</title>
<link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
  <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />

  <style>
    #checkedabonnementfixe {
      display: none;
    }

    #addreferenceabonnement {
      display: none;
    }

    #menu {
      display: none;
    }

    table {
      margin: 0 auto;
      width: 100%;
      clear: both;
      border-collapse: collapse;
      table-layout: fixed;
      word-wrap: break-word;
    }

    table td {
      width: 20%;
    }

    .tablebadge {
      text-align: center;
      color: white;
      padding: "2px";
      font-weight: 600;
      border-radius: 2px;
      padding: 4px 8px;
    }
    .selection>span {
      height: auto !important;
    }

    .selection ul {
      height: auto !important;

    }

    /* width */
    .selection ul ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    .selection ul ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    .selection ul ::-webkit-scrollbar-thumb {
      background: grey;
      border-radius: 10px;
    }

    /* Handle on hover */
    .selection ul ::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  </style>

</head>
<body>
<section layout:fragment="content">
      <section class="content">
                         <div class="container-fluid">
		   <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-12">
                <h1 class="m-0">Liste des packs</h1>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        
        <div class="row">
          <div class="col-12">
            <div class="card shadow mb-4">
              <div class="blocFilter">

                            <a href="addville.html" th:href="@{/pack/createPack}"
                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mb-3"
                               sec:authorize="hasAnyAuthority('ADD_OFFRES')">
                                <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un pack</a>
                                <button id="togglebutton" class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-3">Filtre</button>
                 
<!--                         debut de form filtre-->
        <form id="showMe3" method="get" autocomplete="off">
                  <div class="row">                                               
                    <div class="col-sm-6 col-md-3">
                      <label class="col-form-label" for="titre">Titre</label> <input id="titre" type="text" name="titre"
                        placeholder="Titre" class="form-control" th:onchange="|onchangeSearch(event)|" />
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <!--<label class="col-form-label" for="forfait">Forfait</label> <input id="forfait" type="text"
                        name="forfait" placeholder="Forfait" class="form-control" th:onchange="|onchangeSearch(event)|" />-->
                         <label class="col-form-label" for="forfait">Forfait</label>
                      <select id="forfait" name="forfait" class="form-control"
                        th:onchange="|onchangeSearch(event)|">
                        <option value="">Forfait</option>
                        <option th:each="offre : ${offres}" th:value="${offre.title}"
                          th:text="${offre.title}"></option>
                      </select>
                    </div>
                                     
                    <div class="col-sm-6 col-md-3">
                      <label class="col-form-label" for="categories">Catégorie</label>
                      <select id="categories" name="categories" class="form-control"
                        th:onchange="|onchangeSearch(event)|">
                        <option value="">Catégorie</option>
                        <option th:each="categorie : ${categories}" th:value="${categorie.categorieProduitInternetId}"
                          th:text="${categorie.categorieProduitInternetNom}"></option>
                      </select>
                    </div>                             
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-3  mt-3">
                      <div class="form-group row">
                        <label class="col-sm-5 col-form-label"> Date de
                          création: du</label>
                        <div class="col-sm-7">
                          <input type="date" class="form-control" placeholder="Choisissez une date de début"
                            name="datedebut" id="datedebut" th:onchange="|onchangeSearch(event)|" />
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3  mt-3">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">au</label>
                        <div class="col-sm-7">
                          <input type="date" class="form-control" placeholder="Choisissez une date de fin"
                            name="datefin" id="datefin" th:onchange="|onchangeSearch(event)|" />
                        </div>
                      </div>
                    </div>               
                  </div>
                  <div class="text-center">
                    <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                      th:onclick="onclicksherh(event)">Rechercher</button>
                  </div>
                </form>
                </div>
                </div>
                </div>
                </div>
                       <div class="row">
          <div class="col-12">
            <div class="card shadow mb-4">
              <div class="card-body">
                <div>
                  <div class="blocy">
<!--                         fin de form filtre-->

                        </div>
                            <table
                        id="listeOffreTable"
                        class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline"
                      >
                        <!-- Header Table -->
                        <thead class="table dataTable no-footer">
                          <tr>
                             <th scope="col">Date creation</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Categorie</th>
                           <th scope="col">Forfait</th>
                           <th scope="col">Prix TTC</th>
                            <th scope="col" >Action</th>
                          </tr>
                        </thead>
                      </table>
                       </div>
                       </div>
                        </div>
                         </div>
                          </div>
                                                 
                   </div>

                      
                      
    </section>
       </section>
</body>
</html>
<script th:inline="javascript">
	let changeRecherche = true;
	  var title = "";
  var Forfait = "";
  var Categorie = "";
  var dateStart = "";
  var dateEnd = "";
 
function sendAjaxRequest2() {
    var option = "<option value = ''>Pack</option>";
    var categorieid = $("#categories").val();
    if (categorieid === "") {
      $("#produit").empty();

      $("#produit").append(option);
    } else {
      $.get("/pack/packByCategory/" + categorieid, function (data) {
        $("#produit").empty();
        $("#produit").append(option);
        data.forEach(function (item, i) {
          var option =
            "<option value = " +
            item.packId +
            ">" +
            item.title +
            "</option>";
          $("#produit").append(option);
        });
      });
    }
  }
      
    $("#togglebutton").click(function () {
      $("#showMe3").toggle();
    });
    function onchangeSearch(event) {
    let name = event.target.name;

    switch (name) {
		
      case "titre": {
        title = event.target.value;
        break;
      }
      case "forfait": {
        Forfait = event.target.value;
        break;
      }
      case "categories": {
        Categorie = event.target.value;
        break;
      }
      case "datefin": {
        dateEnd = event.target.value;
        break;
      }
      case "datedebut": {
        dateStart = event.target.value;
        break;
      }
    }
  
  }

  function onclicksherh(event) {
    //event.preventdefault()
    event.preventDefault();

    //$('#tutorialTable').DataTable().ajax.reload();
    $("#listeOffreTable")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
          titre: title,
          forfait: Forfait, 
          categories: Categorie,      
          datefin: dateEnd,
          datedebut:dateStart,
     
        })
      )
      .draw();
  }

// nom data tabel 
var oTable;

oTable = $("#listeOffreTable").DataTable({
    processing: true,
    serverSide: true,
    ordering: true,
    order: [3, "desc"],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: true,

    fixedHeader: true,
    // scrollY:500,
    ajax: "/pack/allMyPack",
    lengthMenu: [
      [10, 20, 50],
      [10, 20, 50],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "Première",
        last: "Dernière",
        next: ">>",
        previous: "<<",
      },
      search: "Chercher:",
    },
    initComplete: function (json) {
        },

    columnDefs: [
    	   { orderable: false, targets: 4},
    ],

    columns: [
    
   
      {
        data: null,
        render: function (data, type, row) {
			  console.log("date creation;",row.createdDate);
        	if(row.createdDate)
        		return new Date(row.createdDate).toLocaleDateString("en-GB");
        	else
           return "";
        },
      },
      {
        data: null,
        render: function (data, type, row) {
          if (row.title) return row.title ;
          else return "";
        },
      },
   
      {
        data: null,
        render: function (data, type, row) {
          if (row.description) return row.description;
          else return "";
        },
      },
      
      {
        data: null,
        render: function (data, type, row) {
			  console.log("row.categoriePack;",row.offre);
          if (row.categoriePack){
            return  row.categoriePack;}
          else {
            return "";}
          
        },
      },
     
      {
          data: null,
          render: function (data, type, row) {
			  console.log(row.offre);
            if (row.offre){
               return  row.offre;}
            else {return "";}
            
          },
        },
        {
          data: null,
          render: function (data, type, row) {
          if (row.prixTTc){return  row.prixTTc}else{return "-"}
            
          },
        },
         

      { 
		  data: null ,
  render: function (data, type, row) {
	 
	 let action = ` <a href='/pack/viewPack/` +row.packId + `''>
          <button type="button" class="d-none d-sm-inline-block btn-sm  btn-primary  shadow-sm">
                        Details  <i class="fa fa-eye" aria-hidden="true"></i></button>  </a>
           <a href='/pack/updatePack/`+row.packId+`''><button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">Modifier <i  class="fa  fa-edit"></i></button>
         </a>` 

          return action ; 
  }},
  



      
    ],
  });

</script>
<script>
  $(document).ready(function () {
    $('.js-select2').select2({
      allowClear: true,
      width: 'style'
    });
  });
</script>
