<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorator="layout"
>
  <head>
    <title>Status</title>
  </head>
  <body>
    <section layout:fragment="content">
      <section class="content">
        <div class="container-fluid">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0">Liste des Status de réclamation</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 grid-margin">
              <div class="card shadow mb-4">
        <div class="card-header py-3">
                            <a href="addville.html" th:href="@{/parameters/createstatut}"
                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               sec:authorize="hasAnyAuthority('UPDATE_STATUS')">
                                <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un statut</a>
                        </div>
                <div class="card-body">
                  <div>
                    <table id="tutorialTable" class="table table-bordered display supertable  table-striped  no-footer dtr-inline">
                      <!-- Header Table -->
                      <thead class="table">
                       
                          <th>Nom</th>
                          <th>Nom(en)</th>
                          <th>Nom(ar)</th>
                          <th>Designation</th>
                          <th>color</th>
                          <th>Action</th>
                   
                    </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="hasediterole" th:value="${hasediterole}" id="hasediterole"/>
        </div>
      </section>
    </section>
  </body>
</html>
<script th:inline="javascript">
  var oTable;
  var hasediterole = document.getElementById("hasediterole").value;
  function updateModalajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
    let href = "/parameters/editstatutrec/" + data.statutId;
    window.location.href = href;
  }
  $(document).ready(function () {
    oTable = $("#tutorialTable").DataTable({
      language: {
        lengthMenu: "Affichage _MENU_ enregistrements par page",
        zeroRecords: "Rien trouvé - désolé",
        info: "Afficher la page _PAGE_ de _PAGES_",
        infoEmpty: "Aucun enregistrement disponible",
        paginate: {
          first: "Première",
          last: "Dernière",
          next: ">>",
          previous: "<<",
        },
      },
      processing: true,
      serverSide: true,
      ordering: true,
     
      searching: false,
     // scrollY: 500,
      ajax: "/parameters/getallstatus",
      lengthMenu: [
        [20, 30, 50,100],
        [20, 30, 50,100],
      ],
      columnDefs: [
        {
          orderable: false,
          targets: [4, 5],
        },
      ],

      columns: [
        {
          data: null,
          render: function (data, type, row) {

            return row.nomStatut;
          },
        },
        {
          data: null,
          render: function (data, type, row) {
if(row.nomStatuten)
            return row.nomStatuten;
            else return "-";
          },
        },
         {
          data: null,
          render: function (data, type, row) {
if(row.nomStatutar)
            return row.nomStatutar;
            else return "-";
          },
        },
        {
          data: null,
          render: function (data, type, row) {
            return row.designation;
          },
        },
        {
            data: null,
            render: function (data, type, row) {
              return "<input type='color' value="+ row.couleur + " disabled='true'/>";
            },
          },
          {
            data: null,
            render: function (data, type, row) {
              if(hasediterole == "true"){
              return "<div>" +
            " <i style='cursor:pointer' onclick='updateModalajax(this)' " +
            "class='fa  fa-edit  fa-2x icons-header-color d-none d-sm-inline-block btn btn-sm btn-info shadow-sm' " +
            "aria-hidden='true'></i>" +
            "</div>";
            }
            else
            return " "
            
          },
          },
      ],
    });
    //$('.dataTables_paginate').addClass('btn btn-sm btn-dark');
   $("#pageSizeSelect").change(function () {
      var pagesizeselected = $("#pageSizeSelect").val();
      window.location.replace("/parameters/allstatus/1/" + pagesizeselected);
    });
  });
</script>
