<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Statut</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Modifier un statut de réclamation</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">Modifier un statut de réclamation</div>
                        <div class="card-body">
                            <form class="form-sample" action="#" th:action="@{|/parameters/editstatutrec/${statut.statutId}|}"
                                  method="POST" th:object="${statut}">
                                  <h5 class="text-primary mt-2 mb-3">Français (par défaut)</h5>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Nom du statut</label>
                                        <div class="col-sm-9">
											<input type="text" class="form-control" placeholder="nom statut"
                                                       name="nomStatut" th:field="${statut.nomStatut}" th:required="required"/>
                                           
                                        </div>
                                        <div th:if="${existedCode != null}" class="alert alert-danger notification"
                                             role="alert">
                                            <p>Statut existe deja</p>
                                        </div>
                                    </div>
                                </div>
                                      <hr>

                                <!-- 🇬🇧 English -->
                                <h5 class="text-primary mt-2 mb-3">English</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Pattern Name (EN)</label>
                                            <div class="col-sm-8">
												 <input type="text" class="form-control" placeholder="Status name"
                                                       name="nomStatuten" th:field="${statut.nomStatuten}" th:required="required"/>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <!-- 🇸🇦 Arabic -->
                                <h5 class="text-primary mt-2 mb-3">العربية</h5>
                                <div class="row rtl">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">اسم الحالة(AR)</label>
                                            <div class="col-sm-8">
												<input type="text" class="form-control" placeholder="اسم الحالة"
                                                       name="nomStatutar" th:field="${statut.nomStatutar}" th:required="required"/>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Designation du statut</label>
                                        <div class="col-sm-9">
                                                <textarea class="form-control" rows="4" cols="50" name="designation"
                                                          th:field="${statut.designation}" th:required="required">
                                                </textarea>
                                        </div>
                                    </div>
                                </div>
                                      <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Couleur Status</label>
                                        <div class="col-sm-9">
                                                <input type="color" class="form-control" name="couleur"
                                                          th:field="${statut.couleur}" th:required="required"/>
                                              
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer" style="margin-top: 20px; text-align: center;">
                                    <button type="submit" class="btn btn-success" style="margin-right: 20px;">Valider
                                    </button>
                                    <button type="reset" class="btn btn-danger" style="margin-left: 20px;"
                                            onclick="history.go(-1);">Annuler
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
