<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des Roles</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="addrole.html" th:href="@{/role/createrole}"
                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               sec:authorize="hasAnyAuthority('WRITE_ROLE')">
                                <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter un role</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Nom du role</th>
                                        <th>Les priviléges du role</th>
                                        <th>Modifier les priviléges</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ro: ${roles}">
                                        <td th:text="${ro.roleName}"/>
                                        <td/>
                                        <p th:each="priv: ${ro.privileges}">
                                            <span th:text="${priv.privilegeName}"></span>
                                        </p>
                                        <td>
                                            <a href="editrole.html" th:href="@{|/role/editrole/${ro.roleId}|}"
                                               sec:authorize="hasAnyAuthority('WRITE_ROLE')">
                                                <button type="button"
                                                        class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"
                                                >Modifier
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:fragment="pager (pagination)">
                            <ul class="pagination">
                                <th:block th:each="pageNumber : ${body}">
                                    <li th:if="${pageNumberStat.first}" class="page-item">
                                        <a class="page-link" th:href="@{'/role/allroles/'+${previous}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active" th:if="${pageNumber} == ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}" href="#"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${pageNumber} == -1">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <li class="page-item"
                                        th:if="${pageNumber} != -1 and ${pageNumber} != ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}"
                                           th:href="@{'/role/allroles/'+ ${pageNumber}}"></a>
                                    </li>
                                    <li th:if="${pageNumberStat.last}" class="page-item" aria-label="Next">
                                        <a class="page-link" th:href="@{'/role/allroles/'+ ${next}}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
