<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Modifier un Role</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3" th:text="${role.roleName}">
                        </div>
                        <div class="card-body">
                            <form class="form-sample" action="#" th:action="@{|/role/editrole/${role.roleId}|}"
                                  method="POST" th:object="${role}">
                                <label class="col-sm-3 col-form-label">Nom du role</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="roleName" th:field="${role.roleName}"
                                           th:required="required"/>
                                </div>
                                <div th:if="${existedCode != null}" class="alert alert-danger notification"
                                     role="alert">
                                    <p>role existe deja</p>
                                </div>
                                <br>
                                <br>
                                <ul>
                                    <li th:each="item : ${privileges}">
                                        <div class="ui check-box">
                                            <input type="checkbox" th:field="*{privileges}"
                                                   th:value="${item.privilegeId}"/>
                                            <label th:text="${item.privilegeName}"></label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="card-footer" style="margin-top: 20px; text-align: center;">
                                    <button type="submit" class="btn btn-success" style="margin-right: 20px;">Valider
                                    </button>
                                    <button type="reset" class="btn btn-danger" style="margin-left: 20px;"
                                            onclick="history.go(-1);">Annuler
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
