<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Historique XLS</title>

    <!--    <link th:href="@{/vendors/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">-->

    <style type="text/css">
        :required {
            border: 2px dotted orange;
        }
    </style>

</head>

<body id="page-top">
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

    <!-- Page Wrapper -->
    <div class="card m-2 p-2">
<h1 class="pt-2 text-center">Historique modem</h1>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline" id="dataTable"  cellspacing="0">
                                    <thead class="table dataTable no-footer">
                                    <tr>
                                        <th>Date</th>
                                        <th>Nom de ficher</th>
                                        <th>Originale Nom de  ficher</th>
                                        <th>Succès ligne</th>
                                        <th>Erreur ligne</th>
                                        <th>Total ligne</th>
                                        <th>Creé par</th>
                                        <th>Detail</th>
                                    </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
        <!-- End of Content Wrapper -->

    </div>

</section>
</body>

</html>
<script th:inline="javascript">
var oTable;
$('.loader-container').show();

$(document)
.ready(
function() {
	oTable = $("#dataTable").DataTable({
    processing: true,
    serverSide: true,
    ordering: false,
    "processing": true, // activer le mode processing
    "serverSide": true, // activer le mode server-side
    order: [],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: false,
    fixedHeader: true,
    ajax: "/historyXls/getAllModemHistorique",
    lengthMenu: [
        [10, 20, 50 , 100 , 200,500],
        [10, 20, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "<i class='fa fa-fast-backward'></i>",
				  last: "<i class='fa  fa-fast-forward '></i>",
				  next: "<i class='fa fa-solid fa-chevron-right'></i>",
				  previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
      search: "Chercher:",
    },
    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
    ],

    columns: [

            {
        data: null,
        render: function (data, type, row) {
          return new Date(row.createdDate).toLocaleDateString("en-GB") ;
         
        },
      },
     

      {
        data: null,
        render: function (data, type, row) {
        	if(row.nameFile)
        		return `<a href='/xlsModeme/`+row.nameFile+`' target="_blank">
                                        `+row.nameFile+`</a>`;
      
        	else
        		
           return "";
        },
      },
      {
        data: "origineNameFile",

      },

      {
        data: "successRow",

      },

          
      {
        data: "errorRow",

      },
      {
        data: "totalRow",

      },
      {
        data: null,
        render: function (data, type, row) {
        	if(row.user)
        		return row.user.firstName+" "  + row.user.lastName + "("+ row.user.codeUser+")" ;
      
        	else
        		
           return "";
        }
      },
      {
        data: null,
        render: function (data, type, row) {
        		return `<a href='/historyXls/modemhistoriqueDetails/`+row.idModemImportXlsHistory+`'><i>
                                        <i class="fa fa-eye" aria-hidden="true"></i></i></a>` ;
        },
      },
      ],
	  });

	oTable.on('processing.dt',function(e, settings, processing) {
	 	   
	      if (processing) {
	          // afficher le spinner
	          $('.loader-container').show();
	      } else {
	          // cacher le spinner
	          $('.loader-container').hide();
	      }
	});
					
});

    
</script>