<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Demande D'abonnement</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Demande d'abonnement</h3>
                </div>
                <div class="card-body">
                    <form class="form-sample" action="#" th:action="@{/demandeabonnement/addanotherdemandeabonnement}"
                          method="POST" th:object="${demande}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Catégorie</label>
                                    <div class="col-sm-9">
                                        <select id="categories" name="categories" class="form-control"
                                                th:required="true">
                                            <option value="">Selectionner une catégorie</option>
                                            <option th:each="categorie : ${categories}"
                                                    th:value="${categorie.categorieProduitInternetId}"
                                                    th:text="${categorie.categorieProduitInternetNom}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Produit</label>
                                    <div class="col-sm-9">
                                        <select id="produit" name="produit" class="form-control" th:required="true">
                                            <option value="">Selectionner une catégorie avant</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nom</label>
                                    <div class="col-sm-9" th:text="${demande.lastName}"></div>
                                    <input type="hidden" name="lastName" th:field="${demande.lastName}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Prénom</label>
                                    <div class="col-sm-9" th:text="${demande.firstName}"></div>
                                    <input type="hidden" name="firstName" th:field="${demande.firstName}"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9" th:text="${demande.email}"></div>
                                    <input type="hidden" name="email" th:field="${demande.email}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">CIN</label>
                                    <div class="col-sm-9" th:text="${demande.cin}"></div>
                                    <input type="hidden" name="cin" th:field="${demande.cin}"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ville</label>
                                    <div class="col-sm-9" th:text="${demande.ville.villeName}"></div>
                                    <input type="hidden" name="villeName" th:field="${demande.ville.gouvernoratId}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gouvernorat</label>
                                    <div class="col-sm-9" th:text="${demande.gouvernorat.villeName}"></div>
                                    <input type="hidden" name="gouvernoratName"
                                           th:field="${demande.gouvernorat.villeId}"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adresse</label>
                                    <div class="col-sm-9" th:text="${demande.adresse}"></div>
                                    <input type="hidden" name="adresse" th:field="${demande.adresse}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Code postale</label>
                                    <div class="col-sm-9" th:text="${demande.codePostale}"></div>
                                    <input type="hidden" name="codepostale" th:field="${demande.codePostale}"></input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Téléphone mobile</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{8}" class="form-control" name="telMobile"
                                               th:field="${demande.telMobile}"
                                               th:required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Téléphone fixe</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{8}" class="form-control" name="telFixe"
                                               th:field="${demande.telFixe}"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Profession</label>
                                    <div class="col-sm-9" th:text="${demande.profession.name}"></div>
                                    <input type="hidden" name="name" th:field="${demande.profession.professionId}"></input>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Fax</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{8}" class="form-control" name="fax"
                                               th:field="${demande.fax}"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Photo Recto de la CIN</label>
                                    <br>
                                    <img th:src="@{${'/demandeabonnement/'+demande.cin+'/'+demande.photocin1}}"
                                         id="prev2" style="height: 200px; width: 200px;"/>
                                </div>
                                <input type="hidden" name="photocin1" th:field="${demande.photocin1}"></input>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> Photo verso de la CIN</label>
                                    <br>
                                    <img th:src="@{${'/demandeabonnement/'+demande.cin+'/'+demande.photoCin2}}"
                                         id="prev4" style="height: 200px; width: 200px;"/>
                                </div>
                                <input type="hidden" name="photoCin2" th:field="${demande.photoCin2}"></input>
                            </div>
                        </div>
                        <div class="card-footer" style="margin-top: 20px; text-align: center;">
                            <button type="submit" class="btn btn-success" style="margin-right: 20px;">
                                Sauvegarder</button>
                            <button type="reset" class="btn btn-danger" style="margin-left: 20px;" onclick="resetimage()">
                                Réinitialiser
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>

</section>
</body>
</html>

<script th:inline="javascript">

    function sendAjaxRequest2() {
        var categorieid = $("#categories").val();
        $.get("/demandeabonnement/getproduits/" + categorieid, function (data) {
            $("#produit").empty();
            data.forEach(function (item, i) {
             
                var option = "<option value = " + item.produitId + ">" + item.produitNom + "</option>";
                $("#produit").append(option);
            });
        });
    };
    $(document).ready(function () {
        $("#categories").change(function () {
            sendAjaxRequest2();
        });
    });
</script>

