<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Demandes D'Abonnement</title>
    <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}">
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0">Liste des abonnements validées</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="blocFilter">
                            <button id="downloadenmasse"
                                    class="d-inline-block btn btn-sm btn-info  shadow-sm mb-3"
                                    sec:authorize="hasAnyAuthority('UPDATE_SUBSCRIPTION_REQUEST_STATUS')">
                                Extraire les demandes
                            </button>
                            <form id="myForm" class="form-sample" method="post" action="" style="display: none;">
                                <!--        <div th:if = "${_csrf.parameterName">
                                       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                       </div>-->
                            </form>


                            <button type="button" class="d-inline-block btn btn-sm bg-violet shadow-sm mb-3"
                                    sec:authorize="hasAnyAuthority('UPDATE_SUBSCRIPTION_REQUEST_STATUS')"
                                    th:attr="onclick=|triggerModalUploadenmasse(event)|">
                                Changer le statut des demandes
                            </button>
      <button type="button" class="d-inline-block btn btn-sm bg-olive shadow-sm mb-3"
                                    sec:authorize="hasAnyAuthority('UPDATE_SUBSCRIPTION_REQUEST_STATUS')"
                                    th:attr="onclick=|triggerModalAddReference(event)|">
                               Ajouter reference
                            </button>

                            <button id="togglebutton" class="d-none d-sm-inline-block btn btn-sm  bg-oronge shadow-sm mb-3">
                                Filtre
                            </button>

                            <form id="showMe3"
                                  method="get">
                                <div class="row">

                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="statutListfiltre">Status</label>
                                        <select id="statutListfiltre" name="statutListfiltre" class="form-control"
                                                th:onchange="|onchangeSearch(event)|">
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3">

                                        <label class="col-form-label" for="villes">Gouvernorat </label>
                                        <select id="villes" name="villes" class="form-control" th:onchange="|onchangeSearch(event)|">
                                            <option value="">Gouvernorat </option>
                                            <option th:each="ville : ${villes}" th:value="${ville.gouvernoratId}"
                                                    th:text="${ville.gouvernoratName}"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3">

                                        <label class="col-form-label" for="gouvernorat">Ville</label>
                                        <select id="gouvernorat" name="gouvernorat" class="form-control"  th:onchange="|onchangeSearch(event)|">
                                            <option value="">Ville</option>

                                        </select>
                                    </div>

                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="Nom">Nom</label>
                                        <input id="textsearch" type="text" name="Nom" placeholder="Nom"
                                               class="form-control" th:onchange="|onchangeSearch(event)|">
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="Prenom">Prénom</label>
                                        <input id="textsearch" type="text" name="Prenom" placeholder="Prénom"
                                               class="form-control" th:onchange="|onchangeSearch(event)|">
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="CIN">Identification</label>
                                        <input id="textsearch" type="text" name="CIN" placeholder="Identification"
                                               class="form-control" th:onchange="|onchangeSearch(event)|">
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="TEL">Téléphone</label>
                                        <input id="textsearch" type="text" name="TEL" placeholder="Téléphone"
                                               class="form-control" th:onchange="|onchangeSearch(event)|">
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class=" col-form-label" for="RefTT">Référence TT</label>
                                        <input id="textsearch" type="text" name="RefTT" placeholder="Référence TT"
                                               class="form-control" th:onchange="|onchangeSearch(event)|">
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="RefChif">Référence</label>
                                        <input id="textsearch" type="text" name="RefChif" placeholder="Référence"
                                               class="form-control" th:onchange="|onchangeSearch(event)|">
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="professions">Profession</label>
                                        <select id="professions" name="professions" class="form-control"
                                                th:onchange="|onchangeSearch(event)|">
                                            <option value="">Profession</option>
                                            <option th:each="profession : ${professions}"
                                                    th:value="${profession.professionId}"
                                                    th:text="${profession.name}"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class=" col-form-label" for="categories">Catégorie</label>
                                        <select id="categories" name="categories" class="form-control"
                                                th:onchange="|onchangeSearch(event)|">
                                            <option value="">Catégorie</option>
                                            <option th:each="categorie : ${categories}"
                                                    th:value="${categorie.categorieProduitInternetId}"
                                                    th:text="${categorie.categorieProduitInternetNom}"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <label class="col-form-label" for="professions">Pack</label>
                                        <select id="produit" name="produit" class="form-control"
                                                th:onchange="|onchangeSearch(event)|">
                                            <option value="">Pack</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">

                                    <!-- <div class="col-sm-3">
                                         <div class="form-group row">
                                             <label class="col-sm-4 col-form-label">Date debut</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="datedebut" id="datedebut"/>
                                             </div>
                                         </div>
                                     </div>-->
                                    <!-- <div class="col-sm-3">
                                         <div class="form-group row">
                                             <label class="col-sm-4 col-form-label">Date fin</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="datefin" id="datefin"/>
                                             </div>
                                         </div>
                                     </div>-->
                                    <div class="col-sm-3 mt-3">
                                        <button
                                                class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                                                th:onclick="onclicksherh(event)">
                                            Rechercher
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div>


                                <div class="blocy">
                                    <table id="tutorialTable" class="table table-bordered display supertable  table-striped dataTable no-footer dtr-inline">

                                        <!-- Header Table -->
                                        <thead class="table dataTable no-footer">

                                        <tr>
                                            <!-- <th><input name="select_all" value="1" type="checkbox"></th> -->
                                            <th>Référence</th>
                                            <th>Référence TT</th>
                                            <th>Statut TT</th>
                                            <th>Statut</th>
                                            <th>CIN</th>
                                            <th>Nom et prénom</th>
                                            <th>Téléphone</th>
                                            <th>Forfait</th>
                                            <th>Date de Creation</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>

                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" data-backdrop="false" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabel"
                 aria-hidden="true">
                <form th:action="@{/demandeabonnement/editabonnement}" enctype="multipart/form-data" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Edit Statut</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <input type="hidden" name="demandeAbonnementid" id="demandeAbonnementid"/>
                                     <input type="hidden" name="fromlocation" id="fromlocation"  th:value="${'tableuxvalider'}"/>
                                </div>
                                <div class="form-group">
                                    <label for="statutList">Statut</label>
                                    <select id="statutList" name="statutList" class="form-control" th:required="true">
                                    </select>
                                </div>

                                <div id="showMe" class="form-group">
                                    <label for="modemList">Liste des modems</label>
                                    <select id="modemList" name="modemList" class="form-control">
                                    </select>
                                </div>
                                <div id="showMe2" class="form-group">
                                    <label for="modemList">Télécharger le contrat</label>
                                    <input type="file" accept="application/pdf" className="form-control"
                                           name="file"/>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" onclick="cacherliste()"
                                        data-dismiss="modal">
                                    Fermer
                                </button>
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="uploadModal" data-backdrop="false" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabel"
                 aria-hidden="true">

                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Changer le statut des demandes</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/demandeabonnement/uploadeditabonnementenmasse}" enctype="multipart/form-data"
                              method="post">
                            <div class="modal-body">

                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" className="form-control"
                                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                               name="file" th:required="true" id="customFile">
                                        <label class="custom-file-label" for="customFile">Télécharger le fichier</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Fermer
                                </button>
                                <button type="submit" class="btn btn-primary">Télécharger</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>


</section>
</body>
</html>
<script th:inline="javascript">
var oTable;

var villes="";
var gouvernorat="" ; 
var keyword="";
var professions="" ;
var categories="" ;
var produit="";
var TEL="";
var Nom="";
var Prenom="";
var CIN="";
var RefTT="";
var RefChif="";
var datedebut="";
var datefin = "";
    /*<![CDATA[*/


    var listedes_ids = /*[[${listedes_ids}]]*/ 'default';


/*]]>*/

function updatecheklist(){
    if (listedes_ids.length !== 0) {
        listedes_ids.forEach(function (item, index, array) {
          
            var elem = document.getElementById(item);
            if (elem !== null) {
                document.getElementById(item).checked = true;
            }
        });
    }

}
    $('#downloadenmasse').click(function (e) {
        e.preventDefault();
         if (listedes_ids.length !== 0) {
            var url = "/demandeabonnement/extractenmasse";
            $("#myForm").attr('action', url);
            $("#myForm").submit();
         } else {
             if (!alert('Veuillez selectionner les demandes à extraire')) {
                 window.location.reload();
             }
         }
    });
 function toggleCheckboxajax(column){
	 var data = oTable.row($(column).parents('tr')).data();
	 this.toggleCheckbox(column , data.demandeId)
 }
    function toggleCheckbox(element, id) {
        
        
        if (element.checked === true) {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/demandeabonnement/addid",
                data: JSON.stringify(id),
                dataType: 'json',
                timeout: 100000,
                success: function (data) {
                   
                    listedes_ids.push(id)
                    updatecheklist()
                    //document.location.reload(true)
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                },
            });
        } else {
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/demandeabonnement/removeid",
                data: JSON.stringify(id),
                dataType: 'json',
                timeout: 100000,
                success: function (data) {
                    let newelm =   listedes_ids.filter(el => el !== id);
                   listedes_ids = newelm;
                  
                    updatecheklist()
                   // document.location.reload(true)
                },
                error: function (e) {
                    console.log("ERROR: ", e);
                },
            });
        }

    }

    function cacherliste() {
        var hiddenDiv = document.getElementById("showMe");
        var hiddenDiv2 = document.getElementById("showMe2");
        hiddenDiv.style.display = "none";
        hiddenDiv2.style.display = "none";
    };
    function onchangeSearch(event) {
        let name = event.target.name
       
    switch(name)
  {

    case "villes":{
        villes=event.target.value
        if(villes == "")
        gouvernorat=""
    break;
    }
    case "gouvernorat":{
        gouvernorat=event.target.value
     
    break;
    }
    case "keyword":{
        keyword=event.target.value
    break;
    }
    case "professions":{
        professions=event.target.value
    break;
    }
    case "categories":{
        categories=event.target.value
    break;
    }
    case "produit":{
        produit=event.target.value
    break;
    }  
    case "RefChif":{
    	RefChif=event.target.value
        break;
        }
        case "RefTT":{
        	RefTT=event.target.value
        break;
        }
        case "CIN":{
        	CIN=event.target.value
        break;
        }
        case "Prenom":{
        	Prenom=event.target.value
        break;
        }
        case "Nom":{
        	Nom=event.target.value
        break;
        }
        case "TEL":{
        	TEL=event.target.value
        break;
        }
}
}
function onclicksherh(event){
	//event.preventdefault()
	 event.preventDefault()
	
	//$('#tutorialTable').DataTable().ajax.reload();
    $('#tutorialTable').DataTable().column(0).search(
        JSON.stringify({gouvernorat:gouvernorat, professions:professions , 
            categories:categories, produit:produit ,villes:villes,refChif:RefChif,refTT:RefTT,cin:CIN,prenom:Prenom , nom:Nom, tel:TEL ,
            datedebut:"",
          datefin : "",})
    ).draw();
}
function showdetailsajax(column){
	  var data = oTable.row($(column).parents('tr')).data();
  let href = "/demandeabonnement/getdemandeabonnementtoimprimer/" + data.demandeId;
  window.location.href =href ; 

}


function  triggerModalajax(column){
	  let abonement = {};
	  var data = oTable.row($(column).parents('tr')).data();
    
      
      let url = "/demandeabonnement/changerstatutabonnement/" + data.demandeId;
      $.get(url, function (selecteditem) {
      $.get("/demandeabonnement/getmodems", function (listmodems) {
          $("#modemList").empty();
          listmodems.forEach(function (item, i) {
              var option = "<option value = " + item.modemId + ">" + item.numSerie + "</option>";
              $("#modemList").append(option);
          });
          document.getElementById("demandeAbonnementid").value = data.demandeId;
          $.get("/demandeabonnement/getallstatusabonnement", function (data) {
              $("#statutList").empty();
              data.forEach(function (item, i) {
                
                  if (item.statutId === selecteditem.statutId) {
                      var option = "<option selected='selected' value = " + item.statutId + ">" + item.designation + "</option>";
                      $("#statutList").append(option);
                  } else {
                      var option = "<option value = " + item.statutId + ">" + item.designation + "</option>";
                      $("#statutList").append(option);
                  }

              });
          });

      });
      });
  $('#editModal').modal();
}
    function triggerModal(id, e) {

        var url = "/demandeabonnement/changerstatutabonnement/" + id;

        e.preventDefault();
        $.get("/demandeabonnement/changerstatutabonnement/" + id, function (selecteditem) {

            $.get("/demandeabonnement/getmodems", function (listmodems) {
                $("#modemList").empty();
                listmodems.forEach(function (item, i) {
                    var option = "<option value = " + item.modemId + ">" + item.numSerie + "</option>";
                    $("#modemList").append(option);
                });
                document.getElementById("demandeAbonnementid").value = id;
                $.get("/demandeabonnement/getallstatusabonnement", function (data) {
                    $("#statutList").empty();
                    data.forEach(function (item, i) {
                       
                        if (item.statutId === selecteditem.statutId) {
                            var option = "<option selected='selected' value = " + item.statutId + ">" + item.designation + "</option>";
                            $("#statutList").append(option);
                        } else {
                            var option = "<option value = " + item.statutId + ">" + item.designation + "</option>";
                            $("#statutList").append(option);
                        }

                    });
                });
            });
        });
        $('#editModal').modal();
    };

    function triggerModalUploadenmasse(e) {

        e.preventDefault();

        $('#uploadModal').modal();
    };
    var elem = document.getElementById("statutList");
    elem.onchange = function () {
        var hiddenDiv = document.getElementById("showMe");
        var hiddenDiv2 = document.getElementById("showMe2");
        hiddenDiv.style.display = (this.value !== "280") ? "none" : "block";
        hiddenDiv2.style.display = (this.value !== "281") ? "none" : "block";
    };

    function sendAjaxRequest() {
        var villeid = $("#villes").val();
   
        if (villeid === "") {
            $("#gouvernorat").empty();
            var option = "<option value = ''>Ville</option>";
            $("#gouvernorat").append(option);
        } else {
            $.get("/client/getgouvernorats/" + villeid, function (data) {
                $("#gouvernorat").empty();
                var option = "<option value = ''>Ville</option>";
      $("#gouvernorat").append(option);
                data.forEach(function (item, i) {
                    var option = "<option value = " + item.villeId + ">" + item.villeName + "</option>";
                    $("#gouvernorat").append(option);
                });
            });
        }

    };

    function sendAjaxRequest2() {
	    var option = "<option value = ''>Pack</option>";
	    var categorieid = $("#categories").val();
	    if (categorieid === "") {
	      $("#produit").empty();

	      $("#produit").append(option);
	    } else {
	      $.get("/pack/packByCategory/" + categorieid, function (data) {
	        $("#produit").empty();
	        $("#produit").append(option);
	        data.forEach(function (item, i) {
	          var option =
	            "<option value = " +
	            item.packId +
	            ">" +
	            item.title +
	            "</option>";
	          $("#produit").append(option);
	        });
	      });
	    }
	  }
    $(document).ready(function () {
    	 oTable =   $('#tutorialTable').DataTable({
             processing: true,
             serverSide: true,
             ordering: true,
	         order: [2, "desc"],
             searching : true,
           //  scrollY:500,
             ajax: '/demandeabonnement/getfiltredstatusabonnemnt?status=282',
             lengthMenu: [
                 [10, 20, 50],
                 [10, 20, 50],
             ],
             "language": {
     			"lengthMenu": "Affichage _MENU_ par page",
	            "zeroRecords": "Rien trouvé - désolé",
	            "emptyTable":     "aucune donnée disponible",
	            "info": "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
	            "infoEmpty": "Aucun enregistrement disponible",
	            "paginate": {
                    first: "<i class='fa fa-fast-backward'></i>",
				  last: "<i class='fa  fa-fast-forward '></i>",
				  next: "<i class='fa fa-solid fa-chevron-right'></i>",
				  previous: "<i class='fa fa-solid fa-chevron-left'></i>",
	            },
	            "search":         "Chercher:",
    	       
    	        },
                "initComplete": function ( json ) {
                //Make your callback here.
                document.getElementById("tutorialTable_filter").style.opacity = "0"
                updatecheklist()
            },
             columnDefs: [{
                 orderable: false,
                 targets: 0
             },{ orderable: false, targets: 10 }],
           	  "columnDefs" : [ {
                    "targets" : 12,
                    "data" : null,
                    "defaultContent" : "<div>  <i style='cursor:pointer' onclick='showdetailsajax(this)' "
                        + "class='fa fa-eye  fa-2x icons-header-color d-none d-sm-inline-block btn btn-sm btn-success shadow-sm'"
                        + "aria-hidden='true'></i>" 
                        + " <i style='cursor:pointer' onclick='triggerModalajax(this)' "
                        + "class='fa  fa-edit  fa-2x icons-header-color  d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm' "
                        + "aria-hidden='true'></i>"
                        
                        
                        + "</div>"

                } ,

            

                ] , 
             columns: [
                //  {
                //      data: null,
                //      render: function (data, type, row) {
                //          return "<input type='checkbox' name='chekelement' onclick='toggleCheckboxajax(this)' id=" + row.demandeId + " name='idChecked' />";
                //      }
                //  },
                 {data: 'referenceChifco'},
                 {
                     data: null, render: function (data, type, row) {

                         if (row.referenceTT)
                             return row.referenceTT
                         else
                             return ""
                     }
                 },
                 {
                     data: null, render: function (data, type, row) {


                         if (row.etatTT)
                             return "<div class='badge bg-success'>"+row.etatTT+"</div>"
                         else
                             return ""
                     }
                 },

                 {
                     data: null, render: function (data, type, row) {


                         if (row.statut.designation)
                        	   return (
                                       "<div class='badge' style=background-color:" +
                                       row.statut.couleur +
                                       ">" +
                                       row.statut.designation +
                                       "</div>"
                                     );
                         else
                             return ""
                     }
                 },
                 // {data: 'statut.designation'},
                 {data: 'cin'},


                 {
                     data: null,
                     render: function (data, type, row) {
                         return row.firstName + ' ' + row.lastName;
                     }
                 },


                 {data: 'telFixe'},
                 { data: null,
                 	render : function (data , type , row){
                 		let divpack = "<ul>";
                 	
                 		for (let i = 0; i < row.entriesDemandeAbonnement.length ;  i++) {
                 			
                 		  if(row.entriesDemandeAbonnement[i].pack != null){
                 			  divpack += "<li>"+ row.entriesDemandeAbonnement[i].pack.title + "</li>"
                 			}
                 		if(row.entriesDemandeAbonnement[i].produit != null){
                 		
                 			 divpack += "<li>"+ row.entriesDemandeAbonnement[i].produit.produitNom + "</li>"
                 		
                 		}
                 		}
                 		divpack +=	"</ul>"
                 	return divpack ; 
                 }
                 },
                 {
                     data: null,
                     render: function (data, type, row) {


                         return new Date(row.createdDate).toLocaleDateString('en-GB');
                     }
                 },
                 // {data: null},
                 {
                     data: null,
           		   render: function ( data, type, row ) {
           			
           			   if(row.statut.nomStatut=="DRAFT" ||row.statut.nomStatut=="SIGNED_DOC" ){
           				
           		     return  "<div class='blocaction'><a href='/demandeabonnement/editabonnement/"+row.demandeId+"'>"
                          +"<i type='button' class='fa  fa-edit'></i>"
                      +"</a></div>";
           			   }
           			   else
           				   return ""
           				   }},
                

                // <td th:text="${cl.produit.produitNom}"/>
                   
             ],
         });
	   
        $.get("/demandeabonnement/getallstatusabonnement", function (data) {
            $("#statutListfiltre").empty();
            var option = "<option value = ''>Statut</option>";
            $("#statutListfiltre").append(option);
            data.forEach(function (item, i) {
                var option = "<option value = " + item.statutId + ">" + item.designation + "</option>";
                $("#statutListfiltre").append(option);
            });
        });
        $("#villes").change(function () {
            sendAjaxRequest();
        });
        $("#categories").change(function () {
            sendAjaxRequest2();
        });
        $("#togglebutton").click(function () {
            $("#showMe3").toggle();
          
        });
        $("#pageSizeSelect").change(function () {
            var pagesizeselected = $("#pageSizeSelect").val();
            /*<![CDATA[*/
            var paginationwithsearch = /*[[${paginationwithsearch}]]*/'default'

            var key, sta, vil, gou, prof, cat, pro, dd, df;
            if (paginationwithsearch === true) {

                key =  /*[[${key}]]*/'default'
             
                sta = /*[[${sta}]]*/'default'
              
                vil = /*[[${vil}]]*/'default'
              
                gou = /*[[${gou}]]*/'default'
              
                prof = /*[[${prof}]]*/'default'
              
                cat = /*[[${cat}]]*/'default'
               
                pro = /*[[${pro}]]*/'default'
              
                dd = /*[[${dd}]]*/'default'
             
                df = /*[[${df}]]*/'default'
            

                window.location.replace("/demandeabonnement/alldemandesabonnement/1/" + pagesizeselected + "?keyword=" + key +
                    "&statutListfiltre=" + sta + "&villes=" + vil + "&gouvernorat=" + gou + "&professions=" + prof + "&categories=" + cat +
                    "&produit=" + pro + "&datedebut=" + dd + "&datefin=" + df);
            } else {
                window.location.replace("/demandeabonnement/alldemandesabonnement/1/" + pagesizeselected);
            }
            /*]]>*/
        });
        $( "#showMe3" ).validate( {
    		rules: {
    			

    			CIN:{
    				
    				minlength: 8,
    				maxlength:8,
                    digits: true,
    			},
    			telFixe:{
    			    minlength: 8,
    				maxlength:8,
                    digits: true,
    			}
    		},
    		messages: {
    			
    			CIN: {
    				digits:"un numero de 8 chiffre est obligatoir",
    				minlength: "Votre nom d'utilisateur doit être composé d'au moins 2 caractères"
    			},
    			TEL: {
                    digits:"un numero de 8 chiffre est obligatoir",
    				minlength: "Your Prenom must be at least 5 characters long"
    			},
    			
    		},
    		errorElement: "em",
    		errorPlacement: function ( error, element ) {
    			// Add the `invalid-feedback` class to the error element
    			error.addClass( "invalid-feedback" );

    			if ( element.prop( "type" ) === "checkbox" ) {
    				error.insertAfter( element.next( "label" ) );
    			} else {
    				error.insertAfter( element );
    			}
    		},
    		highlight: function ( element, errorClass, validClass ) {
    			$( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
    		},
    		unhighlight: function (element, errorClass, validClass) {
    			$( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
    		}
    	} );
    });
</script>

