<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorator="layout"
  >
<header>
  <title>duplication  demande</title>
</header>
<body>
<section layout:fragment="content">
      <section class="content">
        <div class="container-fluid">
          <div class="content-header">
            <h1 class="m-0">Dupliquer une demande d'abonnemen</h1>
            <!-- /.container-fluid -->
          </div>
        </div>
      </section>
      <!--     th:object="${demande}" -->
      <form
          id="form-sample"
        action="#"
     
        th:action="@{/demandeabonnement/duplicatedDemandesave}"
        enctype="multipart/form-data"
        method="POST"
        class="m-3"
      >
       
           <fieldset class="border p-2">
            <legend  class="float-none w-auto p-2">Demande d'abonnement</legend>
 <input
                              type="hidden"
                              class="form-control"
                              name=".demandeId"
                              th:field="${demande.demandeId}"
                              th:required="required"
                            />
                                                <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label"
                            >Offres</label
                          >
                          <div class="col-sm-9">
                            <select
                              id="offres"
                              name="offres"
                              class="form-control"
                              th:required="true"
                            >
                              <option
                                th:each="offre : ${offres}"
                                th:value="${offre.offreId}"
                                th:text="${offre.title}"
                                th:selected="${demande.pack?.offre?.offreId == offre.offreId}"
                              ></option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Packs</label>
                          <div class="col-sm-9">
                            <select
                              id="packes"
                              name="packes"
                              class="form-control"
                              th:required="true"
                            >
                              <option
                                th:each="pack : ${packs}"
                                th:value="${pack?.packId}"
                                th:text="${pack?.title}"
                                th:selected="${demande?.pack?.packId == pack?.packId}"
                              ></option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom *</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    placeholder="Nom"
                    th:field="${demande.firstName}"
                    th:required="required"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prénom *</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    placeholder="Prénom"
                     th:field="${demande.lastName}"
                    th:required="required"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                    th:field="${demande.email}"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Identifiant *</label>
               <!--  <p th:text="${demande.cin}" />-->
                 <div class="col-sm-9">
                       <input
                    type="text"
                    class="form-control"
                    name="cin"
                    required
                    th:field="${demande.cin}"
                  />
                     </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"> Gouvernorat*</label>
                <div class="col-sm-9">
                  <select
                    id="gouvernorats"
                    name="gouvernorats"
                    class="form-control"
                    th:required="true"
                  >
                    <option value="">Sélectionner un Gouvernorat</option>
                    <option
                      th:each="gov : ${gouvernorats}"
                      th:value="${gov.gouvernoratId}"
                      th:text="${gov.gouvernoratName}"
                 th:selected="${demande.gouvernorat.gouvernoratId == gov.gouvernoratId}"
                    ></option>
                        <!--  --> 
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"> Ville*</label>
               
                <div class="col-sm-9">
                  <select
                    id="villes"
                    name="villes"
                    class="form-control"

                    th:required="true"
                  >
                    <option value="">Sélectionner une ville</option>
                          <option
                                th:each="ville : ${villes}"
                                th:value="${ville.villeId}"
                                th:text="${ville.villeName}"
                                th:selected="${demande.ville.villeId == ville.villeId}"
                              ></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Adresse *</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    name="adresse"
                    id="adresse"
                    placeholder="Adresse"
                      th:field="${demande.adresse}"
                    th:required="required"
                    />
                   
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Code postal *</label>
                <div class="col-sm-9">
                <!--                     th:selected="${demande.codePostale?.postalCodeId == codePostale.postalCodeId}" -->
                  <select
                    type="tel"
                    pattern="[0-9]{4}"
                    class="form-control"
                    name="codepostale"
                    id="codepostale"

                    placeholder="Code postal"
                    th:required="required"
                  >
                  <option value="">Sélectionner un code postal</option>
                          <option
                                th:each="codePostale : ${codePostaleList}"
                                th:value="${codePostale.postalCodeId}"
                                th:text="${codePostale.name+'-'+codePostale.code}"
                                th:selected="${demande.codePostale.postalCodeId == codePostale.postalCodeId}"
                              ></option>
                </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >Téléphone mobile *</label
                >
                <div class="col-sm-9">
                  <input
                    type="tel"
                    pattern="[0-9]{8}"
                    class="form-control"
                    name="telMobile"
                    placeholder="Téléphone mobile"
                    th:field="${demande.telMobile}"
                    th:required="required"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >Téléphone mobile 2</label
                >
                <div class="col-sm-9">
                  <input
                    type="tel"
                    pattern="[0-9]{8}"
                    class="form-control"
                    name="telMobile2"
                      th:field="${demande.telMobile2}"
                    placeholder="Téléphone mobile"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >Position XY *</label
                >
                <div class="row col-sm-9">
                <div class="col-md-10 pr-0">
	                <input
	                    type="text"
	                    class="form-control"
	                    name="positionxy"
	                      th:field="${demande.positionxy}"
	                    placeholder="Position xy"
	                    th:required="required"
	                  />
                </div>
                <div class="col-md-2 pl-0">
	                  <div class="input-group-prepend">
	                    <span class="input-group-text btn btn-primary" id="basic-addon1"  data-toggle="modal" data-target="#modalTT"><i class="fas fa-map-marker-alt"></i></span>
	                  </div>
                  </div>                 
                </div>
              </div>
            </div>
            <div class="col-md-6">


              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Téléphone fixe</label>
                <div class="col-sm-3">
                  <input
                    type="tel"
                    pattern="[0-9]{8}"
                    class="form-control"
                    name="telFixe"
                    id="telFixe"
                      th:field="${demande.telFixe}"
                    placeholder="Téléphone fixe"

                  />
                </div>
                <div class="col-sm-6" id="raccordementtranche" >


                  <div class=" row">
                    <label class="col-sm-5 col-form-label">Payer frais de raccordement par </label>
                 
                    <div class="col-sm-7">
                      <select name="raccordementtranche" style="width: 100%;">
                        <option  value="1" th:selected="${demande.nbFaisApayeReccardement == 1}">À l'avance</option>
                        <option value="2"  th:selected="${demande.nbFaisApayeReccardement == 2 }">Sur deux tranches</option>

                      </select>
                    </div>
                  </div>

                </div>

              </div>


            </div>

      



          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Profession *</label>
                <div class="col-sm-9">
                  <select
                    id="professions"
                    name="professions"
                    class="form-control"
                  >
                    <option value="">Sélectionner une profession</option>
                    <option
                      th:each="profession : ${professions}"
                      th:value="${profession.professionId}"
                      th:text="${profession.name}"
                      th:selected="${demande.profession?.professionId == profession.professionId}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fax</label>
                <div class="col-sm-9">
                  <input
                    type="tel"
                    pattern="[0-9]{8}"
                    class="form-control"
                    name="fax"
                    placeholder="Fax"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >Date de naissance *</label
                >
                <div class="col-sm-9">
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Choisissez la date de naissance"
                    name="datedenaissance"
                       th:value="${#dates.format(demande.dateNaissance, 'yyyy-MM-dd')}"
                  />
                 
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >Type de paiement *</label
                >
                <div class="col-sm-9">
                  <select
                    id="typepaiements"
                    name="typepaiements"
                    class="form-control"
                    th:required="true"
                  >
                    <option value="">Sélectionner Périodicité de Facturation</option>
                    <option
                      th:each="tp : ${typepaiements}"
                      th:value="${tp.typePaiementId}"
                      th:text="${tp.nomTypePaiement}"
                      th:selected="${demande.typePaiement?.typePaiementId == tp.typePaiementId}"
                    ></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"
                  >Situation Familiale: *</label
                >
                <div class="col-sm-9">
                  <select
                    id="situationFamiliale"
                    name="situationFamiliale"
                    class="form-control"
                    th:required="true"
                  >
                    <option value="">Sélectionner Situation Familiale:</option>
                    <option value="Célibataire"  th:selected="${demande.situationFamiliale == 'Célibataire'}">Célibataire </option>
                     <option value="Marié(e)"  th:selected="${demande.situationFamiliale== 'Marié(e)'}">Marié(e) </option>
                      <option value="Divorcé" th:selected="${demande.situationFamiliale == 'Divorcé'}">Divorcé(e) </option>
                      <option value="Veuf" th:selected="${demande.situationFamiliale == 'Veuf'}">Veuf(e) </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Résidence </label>
            <div class="col-sm-4">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="residence" id="membershipRadios11"
                               style="opacity: 1 !important" value="False" checked = ${!demande.proprietaire}> Locataire
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="residence" id="membershipRadios21"
                               style="opacity: 1 !important" value="True" th:checked = ${demande.proprietaire}> Propriétaire
                    </label>
                </div>
            </div>
        </div>
      <div class="form-group row">
            <label class="col-sm-3 col-form-label">Chef de famille </label>
            <div class="col-sm-4">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="houseHolder" id="membershipRadios13"
                               style="opacity: 1 !important" value="True" th:checked="${demande.houseHolder != null && demande.houseHolder}"> Oui
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="houseHolder" id="membershipRadios14"
                               style="opacity: 1 !important" value="False" th:checked="${demande.houseHolder != null && !demande.houseHolder}"> Non
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">A une carte bancaire </label>
            <div class="col-sm-4">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="hasBankCard" id="membershipRadios15"
                               style="opacity: 1 !important" value="True" th:checked = "${demande.hasBankCard != null && demande.hasBankCard}"> Oui
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-radio">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="hasBankCard" id="membershipRadios16"
                               style="opacity: 1 !important" value="False" th:checked = "${demande.hasBankCard != null && !demande.hasBankCard}"> Non
                    </label>
                </div>
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
            
              <div class="form-group row"
              th:switch="${demande.photoCin1}">
                <label class="col-sm-3 col-form-label" for="imageFile"
                  >Recto de la CIN
                </label>
                <div class="col-sm-9">
                  <div class="custom-file">
                    <input
                      type="file"
                       accept="application/pdf , image/*"
                      class="custom-file-input"
                      id="imageFile"
                      name="imageFile"
                    />
                    <label class="custom-file-label" for="imageFile"
                      >Choisir une image</label
                    >
                  </div>
                </div>
              <img
                            th:case="null"
                            src="/img/faces/choisiruneimage.png"
                            id="prev1"
                           style="height: 200px;width: 300px" 

                          />
                          <div  th:case="*">
                           <a 	class="m-5"
							        th:if="${demande.photoCin1 != null  && demande.photoCin1.toLowerCase().endsWith('.pdf')}"
							        th:href="@{${'/demandeabonnement/'+demande.cin+'/'+demande.photoCin2}}"
							        target="_blank"
							    >      <span>Copie numérique du CIN au format PDF</span>
							    </a>
                          <img
                             th:if="${demande.photoCin1 != null && ! demande.photoCin1.toLowerCase().endsWith('.pdf')}"
                            th:src="@{${'/demandeabonnement/'+demande.cin+'/'+demande.photoCin1}}"
                            id="prev2"
                           style="height: 200px;width: 300px" 
                          />
                          </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row"
                    th:switch="${demande.photoCin2}">
                <label class="col-sm-3 col-form-label" for="imageFile2"
                  >Verso de la CIN</label
                >
                <div class="col-sm-9">
                  <div class="custom-file">
                    <input
                      type="file"
                      accept="application/pdf , image/*"
                      class="custom-file-input"
                      id="imageFile2"
                      name="imageFile2"
                    />
                    <label class="custom-file-label" for="imageFile2"
                      >Choisir une image</label
                    >
                  </div>
                </div>
                                      <img
                            th:case="null"
                            src="/img/faces/choisiruneimage.png"
                            id="prev3"
                            style="height: 200px;width: 300px" 

                          />
                           <div  th:case="*">
                              <a 	class="m-5"
							        th:if="${ demande.photoCin2.toLowerCase().endsWith('.pdf')}"
							        th:href="@{${'/demandeabonnement/'+demande.cin+'/'+demande.photoCin2}}"
							        target="_blank"
							    >      <span>Copie numérique du CIN au format PDF</span>
							    </a>
                          <img
                             th:if="${! demande.photoCin2.toLowerCase().endsWith('.pdf')}"
                            th:src="@{${'/demandeabonnement/'+demande.cin+'/'+demande.photoCin2}}"
                            id="prev4"
                            style="height: 200px;width: 300px" 

                          />
                          </div>

              </div>
            </div>
          </div>
              </fieldset>
          
        <fieldset id="step2" class="border p-2" th:if="${produitsAndTarifications.size > 0}">
        <legend  class="float-none w-auto p-2">Ajouter un sous produit</legend>
         <div class="row">
            <div class="col-md-12 text-center">
                                 
             <label class="col-sm-12 col-form-label" 
                  >Si vous voulez ajouter un sous-produit, cochez-le(s) avant de cliquer sur le bouton Finir :</label>
                  
                  <table class="table table-bordered border-primary table-hover col-sm-6 text-center mx-auto">
					  <tr class="bg-white">
					      <th scope="col">Nom de produit</th>
					      <th scope="col">Prix TTC</th>
					      <th scope="col">Selection</th>
					  </tr>
					   <tr class="checkbox-cell cursor-pointer" th:each="subproduct : ${produitsAndTarifications}" >
						  <td><span th:text="${subproduct[0].produitNom}"></span></td>
						  <td><span th:text="${#numbers.formatDecimal(subproduct[1].prixTTc, 1, 'COMMA', 3, 'POINT')}+' TND'"></span></td>
						  <td><input type="checkbox" name="multipleSubproduct[]" th:value="${subproduct[0].produitId}" checked></td>
					</tr>
				</table>                  
                  
                    
             </div>
             </div>           
         </fieldset>
                  <div style="margin-top: 20px; text-align: center">
                      <input
                        type="submit"
                        id="submitform"
                        class="btn btn-success"
                        style="margin-right: 20px"
                        value="Sauvegarder " 
                      />
                        
                      <a 	class="m-5"
							       
							        th:href="@{/demandeabonnement/alldemandesabonnement/1/20}"
							        target="_blank"
							    >      <span>Annuler</span>
							    </a>
   
                    </div>
  </form>
      <div class="modal fade" id="modalTT" tabindex="-1" role="dialog" aria-labelledby="modalTTlabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalTTlabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe src="https://geo.tunisietelecom.tn/mytaghtia" width="700" height="700" title="mytaghtia"></iframe>
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
      
      <input type="hidden" name="message" id="message"
					th:value="${message} ?  ${message} : ''" />
 </section>
 		
</body>

</html>
<script th:inline="javascript">

var cinRecto = /*[[${demande.photoCin1}]]*/ "default";
var cinVerso = /*[[${demande.photoCin2}]]*/ "default";
var demande = /*[[${demande.demandeId}]]*/ "default";
var messagenotif = document.getElementById("message").value ;

if(messagenotif !== "" && messagenotif == "erreurCin1"){
    $(document).Toasts("create", {
	        title: "Erreur",
	        body: "Le champ 'cin recto' est obligatoire.",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
  }
if(messagenotif !== "" && messagenotif == "erreurCin2"){
    $(document).Toasts("create", {
	        title: "Erreur",
	        body: "Le champ 'cin verso' est obligatoire.",
	        class: "bg-danger",
	        autohide: true,
	        delay: 10000,
	      });
  }
  
jQuery.validator.addMethod(
	      "regexemail",
	      function (value, element) {
	        // allow any non-whitespace characters as the host part
	        return (
	          this.optional(element) ||
	          /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})$/.test(
	            value
	          )
	        );
	      },
	      "Please enter a valid email address."
	    );
	    
jQuery.validator.addMethod(
	    "regexInputText",
	    function(value, element, regexp) {
	        var check = false;
	        return this.optional(element) || regexp.test(value);
	    },
	    "Please check your input."
	)
jQuery.validator.addMethod(
        "validYears",
        function(value, element) {              
            var from = value.split(" "); // DD MM YYYY
            // var from = value.split("/"); // DD/MM/YYYY

            var day = from[0];
            var month = from[1];
            var year = from[2];
            var age = 18;

         
            var currdate = new Date();
            var setDate = new Date(value);

const diffdate = new Date(currdate - setDate);
const diffDays  =  Math.ceil(diffdate / (1000 * 60 * 60 * 24 * 365)); 

            if (diffdate >0 && diffDays > 17){
                return true;
            }else{
                return false;
            }
        },
        "La date semble inexacte. Veuillez entrer la date de naissance correcte."
    )
    
 
$.validator.addMethod("verifCinRecto", function(value, element) {
  const fileInput = document.getElementById('imageFile');
  return fileInput.files.length > 0 || cinRecto != null;
}, "Veuillez sélectionner une image.");

$.validator.addMethod("verifCinVerso", function(value, element) {
	  const fileInput = document.getElementById('imageFile2');
	  return fileInput.files.length > 0 || cinVerso != null;
}, "Veuillez sélectionner une image.");


$( "#form-sample" ).validate( {
		rules: {
			firstName: {
        	required: true,
            minlength: 2,
        	regexInputText : /[a-zA-Z]/,
        },
        lastName: {
          required: true,
        },
    	cin: {
			required: true,
			minlength: 7,
		    maxlength: 13,
	      remote: {
	            url: "/demandeabonnement/verificationcinEdit",
	            type: "post",
	            cache: false,
	            data: {
	              cin: function () {
	                return $("#cin").val();
	              },
	              idAbonnement : demande
	            },

	            dataFilter: function (response) {
	              if (response !== "true") 
	            	  {
	            	  return false;}
	              else return true;
	            },
	          }},
        adresse:{
            maxlength : 115
        },
        customRadio: { required: true },
        villes: {
          required: true,
        },
        email: {
          regexemail: true, //i,
          //email: true
        },
        gouvernorat: {
            required: true,        
          },
        adresse: "required",
        codepostale: {
          required: true,        
        },
        adresse: {
            required: true,
        	maxlength : 115
        },
        situationFamiliale:{
            required: true,               	
        },
        professions:{
        	required: true, 	
        },
        
        telMobile: {
          required: true,
          digits: true,
          minlength: 8,
          maxlength: 8,
        },
        datedenaissance: {
          date: true,
          maxlength: 10,
          required: true,
          validYears : true
                
        },
        telFixe: {
          digits: true,
          minlength: 8,
          maxlength: 8,
          remote: {
            url: "/demandeabonnement/verificationtelfix",
            type: "post",
            cache: false,
            data: {
                telFixe: function () {

                return $("#telFixe").val();
              },
            },
            dataFilter: function (response) {

              if (response !== "true"){

                $('#raccordementtranche').show();
              return false;
              }
              else {

                 $('#raccordementtranche').hide();

               return true;}
            },
          },
        },
        fax: {
          digits: true,
          minlength: 8,
          maxlength: 8,
        },
        telMobile2: {
          digits: true,
          minlength: 8,
          maxlength: 8,
        },
        positionxy:{
           regexInputText : /[a-zA-Z]/,
        },
        imageFile: {
        	verifCinRecto: true
        },
        imageFile2: {
        	verifCinVerso: true
        }
      },
      messages: {
    	  firstName: {
        	 required: "Ce champ est obligatoire",
             minlength: "Veuillez entrer un Nom valide",
        	regexInputText : "Au moins 1 caractère majuscule ou minuscule"
        },
        lastName: {
          required: "Ce champ est obligatoire",
        },
      
        email: "Veuillez entrer une adresse email valide",
        villes: {
        	required: "Ce champ est obligatoire"
        },
        gouvernorat:{
        	required: "Ce champ est obligatoire",
        },
        professions:{
        	required:"Ce champ est obligatoire",	
        },
        adresse: {
            required: "Ce champ est obligatoire",
        	maxlength : "L'adresse doit contenir au maximum 115 caractères"
        },
        codepostale:{
          required: "Ce champ est obligatoire",
    
        },
        situationFamiliale : {
            required: "Ce champ est obligatoire",       	
        },
        telMobile: {
        	required: "Ce champ est obligatoire",
        	 digits: "Veuillez entrer un numéro de téléphone valide ",
             minlength: "Veuillez entrer un numéro de téléphone valide ",
             maxlength: "Veuillez entrer un numéro de téléphone valide ",
        },
        telFixe: {
            remote: "Numéro de fixe est déja utilisé",
            minlength: "Le numéro fixe doit comporter 8 chiffres",
            digits: "Le numéro fixe doit comporter  8 chiffres  ",
            maxlength: "Le numéro fixe  doit comporter 8 chiffres",
        },
        datedenaissance:{
          required: "Ce champ est obligatoire",
        	date:  "Veuillez entrer une date de naissance  valide",
          maxlength:  "Veuillez entrer une date de naissance  valide",
        },
        cin: {
			required: "Ce champ est obligatoire",
			remote: "Numéro de cin est déja utilisé",
			 maxlength: "Veuillez entrer un identifiant valide",
			 minlength: "Veuillez entrer un identifiant valide"
		},
        typepaiements: "Ce champ est obligatoire",
        fax: "Veuillez saisir un numéro de fax valide",
        telMobile2: "Veuillez entrer un numéro de téléphone valide ",
        positionxy:{
           required:"Veuillez saisir la position xyz valide ",
           regexInputText : "Veuillez saisir la position xyz valide"

        },
      },
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `invalid-feedback` class to the error element
			error.addClass( "invalid-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.next( "label" ) );
			} else {
				error.insertAfter( element );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
		},
		unhighlight: function (element, errorClass, validClass) {
			$( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
		},
		
	    submitHandler: function(form) {
	        // disable the submit button
	        $('#submitform').prop('disabled', true);
	        $('#submitform').hide();
	        // submit the form
	        form.submit();
	      }
	} );
	
	
$("#villes").change(function(){
    sendAjaxRequestCodePostal()
  })
    function sendAjaxRequest() {
    var gouvid = $("#gouvernorats").val();
    $.get("/client/getgouvernorats/" + gouvid, function (data) {
      $("#villes").empty();
      if(data.length !== 0)
{
    $.get("/client/codepostale/" + data[0].villeId, function (data) {
      $("#codepostale").empty();

      data.forEach(function (item, i) {
      
        var optiondata =
          "<option value ='" +
          item.postalCodeId+"'>" +
          item.name +"-" + item.code +
          "</option>";
        
        $("#codepostale").append(optiondata);
      });
 
    });
    }
      data.forEach(function (item, i) {
        var option =
          "<option value = " +
          item.villeId +
          ">" +
          item.villeName +
          "</option>";
        $("#villes").append(option);
      });
    });
  }
  
function sendAjaxRequestCodePostal() {
    var villeid = $("#villes").val();
    $.get("/client/codepostale/" + villeid, function (data) {
      $("#codepostale").empty();
   
      data.forEach(function (item, i) {
        
        var option =
          "<option value = '" +
          item.postalCodeId+"'>" +
          item.name +"-" + item.code +
          "</option>";
        $("#codepostale").append(option);
      });
    });
  }
  
$(document).ready(function() {
	$("#gouvernorats").change(function() {
		sendAjaxRequest();
	});
});

$("#offres").change(function () {
    getPackByOffres();
  });
function getPackByOffres() {
    var offreId = $("#offres").val();
    $.get("/pack/getpack/" + offreId, function (data) {
      $("#packes").empty();
      data.forEach(function (item, i) {
        var option =
          "<option value = " +
          item.packId +
          ">" +
          item.title +
          "</option>";
        $("#packes").append(option);
      });
    });
  }

</script>