<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Ajouter Client </title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ajouter un client</h4>
                    <form class="form-sample" action="#" th:action="@{/client/add-client}" enctype="multipart/form-data" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Nom</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="Nom" placeholder="Nom" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Prénom</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="Prenom" placeholder="Prénom" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="Email" placeholder="Email" th:required="required"/>
                                    </div>
                                    <div th:if="${existedCode != null}" class="alert alert-danger notification" role="alert">
                                        <p>Email existe deja</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">CIN</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{8}" class="form-control" name="CIN" placeholder="CIN"
                                               th:required="required"/>
                                    </div>
                                    <div th:if="${existedCode2 != null}" class="alert alert-danger notification" role="alert">
                                        <p>CIN existe deja</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Ville</label>
                                    <div class="col-sm-9">
                                        <select id="villes" name="villes" class="form-control" th:required="true">
                                            <option value="">Selectionner une ville</option>
                                            <option th:each="ville : ${villes}" th:value="${ville.gouvernoratId}"
                                                    th:text="${ville.gouvernoratName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gouvernorat</label>
                                        <div class="col-sm-9">
                                            <select id="gouvernorat" name="gouvernorat" class="form-control" th:required="true">
                                            </select>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Adresse</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="adresse" placeholder="adresse" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Code postale</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{4}" class="form-control" name="codepostale" placeholder="codepostale"
                                                th:required="required"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Téléphone mobile</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{8}" class="form-control" name="telMobile"
                                               placeholder="téléphonemobile" th:required="required"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Téléphone fixe</label>
                                    <div class="col-sm-9">
                                        <input type="tel" pattern="[0-9]{8}" class="form-control" name="telFixe" placeholder="téléphonefixe"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Activation</label>
                                    <div class="col-sm-4">
                                        <div class="form-radio">
                                            <label class="form-check-label" >
                                                <input type="radio" style="opacity: 1 !important;" class="form-check-input" name="activation" id="membershipRadios1" value="True" checked> Activé
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-radio">
                                            <label class="form-check-label">
                                                <input type="radio" style="opacity: 1 !important" class="form-check-input" name="activation" id="membershipRadios2" value="False"> Désactivé
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 20px; text-align: center;">
                            <button type="submit" class="btn btn-success" style="margin-right: 20px;">Sauvegarder</button>
                            <button type="reset" class="btn btn-danger" style="margin-left: 20px;" >Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>

</section>
</body>
</html>

<script th:inline="javascript">
    function sendAjaxRequest() {
        var villeid = $("#villes").val();
        $.get( "/client/getgouvernorats/" + villeid, function( data ) {
            $("#gouvernorat").empty();
            data.forEach(function(item, i) {
             
                var option = "<option value = " + item.villeId + ">" + item.villeName +  "</option>";
                $("#gouvernorat").append(option);
            });
        });
    };
    $(document).ready(function() {
        $("#villes").change(function() {
            sendAjaxRequest();
        });
    });
</script>

