<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Clients</title>
     <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
     <style>
#tutorialTable_filter{
display:none
}
</style>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Liste des Clients</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="row">
            <div class="col-12">
          
              <div class="card shadow mb-4">
              <div class="d-flex">
                <div class="blocFilter">
                   <button
                    id="togglebutton"
                    class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-3"
                  >
                    Filtre
                  </button>
                </div>
                  <div class="blocFilter">
                                   <button
                    id="downloadenmasse"
                    class="d-inline-block btn btn-sm btn-info shadow-sm mb-3"
                    sec:authorize="hasAnyAuthority('UPDATE_SUBSCRIPTION_REQUEST_STATUS')"
                  >
                    Extraire les clients
                  </button>
                  </div>
                          <form
                    id="myForm"
                    class="form-sample"
                    method="get"
                    action=""
                    style="display: none"
                  >
                     <input type="hidden" id="ExportRechercheNom" name="ExportRechercheNom"><br>
        <input type="hidden" id="ExportRecherchePrenom" name="ExportRecherchePrenom"><br>
        <input type="hidden" id="ExportRechercheCIN"  name="ExportRechercheCIN"><br>
        <input type="hidden" id="ExportRechercheCodeClient" name="ExportRechercheCodeClient"><br>
        <input type="hidden" id="ExportRechercheStatus" name="ExportRechercheStatus"><br>
        <input type="hidden" id="ExportRechercheTel" name="ExportRechercheTel"><br>
        <input type="hidden" id="ExportRecherchegouvernorats" name="ExportRecherchegouvernorats"><br>
        <input type="hidden" id="ExportRecherchevilles" name="ExportRecherchevilles"><br>
        <input type="hidden" id="ExportRechercheCategories" name="ExportRechercheCategories"><br>
        <input type="hidden" id="ExportRechercheProduit" name="ExportRechercheProduit"><br>
        <input type="hidden" id="ExportRecherchedatedebut" name="ExportRecherchedatedebut"><br>
        <input type="hidden" id="ExportRecherchedatefin" name="ExportRecherchedatefin"><br>
        <input type="hidden" id="ExportRecherchedateDebutModification" name="ExportRecherchedateDebutModification"><br>
        <input type="hidden" id="ExportRecherchedateFinModification" name="ExportRecherchedateFinModification"><br>
        <input type="hidden" id="ExportRechercheloginModem" name="ExportRechercheloginModem"><br>
        <input type="hidden" id="ExportRechercheAffecterTo" name="ExportRechercheAffecterTo"><br>
        <input type="hidden" id="ExportRechercheCreepar" name="ExportRechercheCreepar"><br>
     <input type="hidden" id="ExportRechercheStatutChifcoListfiltre" name="ExportRechercheStatutChifcoListfiltre"><br>
          <input type="hidden" id="ExportRechercheListeClientFilter" name="ExportRechercheListeClientFilter"><br>
     
     
                    <!--        <div th:if = "${_csrf.parameterName">
                                       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                       </div>-->
                  </form>
                  </div>
                    <form id="showMe3" method="get" >

                    <div class="row">

          <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="Nom">Nom</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="Nom"
                          placeholder="Nom"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="Prenom"
                          >Prénom</label
                        >
                        <input
                          id="textsearch"
                          type="text"
                          name="Prenom"
                          placeholder="Prénom"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="CIN">Identification</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="CIN"
                          placeholder="CIN ou Passport"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="CodeClient">Code client</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="CodeClient"
                          placeholder="Code Client"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="Tel">Numéro de téléphone fixe</label>
                        <input
                          id="textsearch"
                          type="number"
                          name="Tel"
                          placeholder="Numéro de téléphone fixe"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>

                       <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="gouvernorats"
                          >Gouvernorat
                        </label>
                        <select
                          id="gouvernorats"
                          name="gouvernorats"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                          <option value="">Gouvernorat</option>
                          <option
                            th:each="gouvernorat : ${gouvernorats}"
                            th:value="${gouvernorat.gouvernoratId}"
                            th:text="${gouvernorat.gouvernoratName}"
                          ></option>
                        </select>
                      </div>
                       <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="gouvernorat"
                          >Ville</label
                        >
                        <select
                          id="villes"
                          name="villes"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                          <option value="">Ville</option>
                        </select>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="categories"
                          >Catégorie</label
                        >
                        <select
                          id="Categories"
                          name="Categories"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                          <option value="">Catégorie</option>
                          <option
                            th:each="categorie : ${categories}"
                            th:value="${categorie.categorieProduitInternetId}"
                            th:text="${categorie.categorieProduitInternetNom}"
                          ></option>
                        </select>
                      </div>
                      <div class="col-sm-6 col-md-4">
                        <label class="col-form-label" for="professions"
                          >Pack</label
                        >
                        <select
                          id="Produit"
                          name="Produit"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                          <option value="">Pack</option>
                        </select>
                      </div>

                       <div class="col-sm-6 col-md-4">
	                        <label class="col-form-label" for="Nom">Login Modem</label>
	                        <input
	                          id="textsearch"
	                          type="text"
	                          name="loginModem"
	                          placeholder="login Modem"
	                          class="form-control"
	                          th:onchange="|onchangeSearch(event)|"
	                        />
                       </div>

                      </div>
                      <div class="row w-100 ml-2">
                      <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-5 col-form-label"> Date de création: du</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="datedebut" id="datedebut"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                       </div>
                      <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-2 col-form-label">au</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="datefin" id="datefin"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                       </div>
                         <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-6 col-form-label"> Date de modification: du</label>
                                             <div class="col-sm-6">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de début"
                                                        name="dateDebutModification" id="dateDebutModification"    th:onchange="|onchangeSearch(event)|"/>
                                             </div> 
                                         </div>
                       </div>
                      <div class="col-sm-6 col-md-3  mt-3">
                                         <div class="form-group row">
                                             <label class="col-sm-2 col-form-label">au</label>
                                             <div class="col-sm-7">
                                                 <input type="date" class="form-control"
                                                        placeholder="Choisissez une date de fin"
                                                        name="dateFinModification" id="dateFinModification"    th:onchange="|onchangeSearch(event)|"/>
                                             </div>
                                         </div>
                       </div>     
                       
             
                    </div>
                   
                          <div class="col-sm-3 mt-3">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)"
                        >
                          Rechercher
                        </button>
                      </div>
                      </form>
                             </div>
                             </div>
                             </div>
             
    <div class="row">
        <div class="col-12 grid-margin">
            <div >
                <div class="card-body">
                    <div >

                              <div id="model">

                              </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
        </div>
        
                  <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div>
                    <div class="blocy">
                      <table
                        id="tutorialTable"
                        class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline"
                      >
                        <!-- Header Table -->
                        <thead class="table dataTable no-footer">
                          <tr>
                          <th>CIN</th>
                                <th scope="col">Nom et Prénom </th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Ville</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Pack </th>
                                <th scope="col">Etat</th>
                            <th scope="col"> Creé par</th>
                            <th scope="col">Date de Creation</th>
                        
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="hasediterole" th:value="${hasediterole}" id="hasediterole"/>
          <input type="hidden" name="message" id="message"
					th:value="${message} ?  ${message} : ''" />
    </section>

</section>
</body>


</html>
<script  th:inline="javascript">
var oTable;
var hasediterole = document.getElementById("hasediterole").value;
let DEACTIVATE_SUBSCRIPTION = /*[[${DEACTIVATE_SUBSCRIPTION}]]*/ "default";
let Nom = "";
let Prenom = "";
let  CIN = ""; 
let  CodeClient = "";
let Tel ="";
let gouvernorats = "";
let villes ="";
let Categories = "";
let Produit = "";
let datedebut = "";
let datefin = "";
let dateDebutModification = "";
let dateFinModification ="";
let loginModem = "";
let AffecterTo = "";
let Creepar = "" ;
function showmodel(rows) {
  var data = oTable.row($(rows).parents("tr")).data();
  let htmlfooter = "";
 
let htmlmodel =                `
                              <div class="modal modal-warning fade in" data-backdrop="false" tabindex="-1" role="dialog" id="modal-warning`+data.clientid+`" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                        </div>`
                                        if(data.enabled){
                                        htmlmodel+=  `<div  class="modal-body">
                                            <h3 >Etes vous sure de vouloir désactiver ce client ?</h3>
                                        </div>`
                                        htmlfooter = `<button th:case="true" type="submit" class="btn btn-danger" ><i class="fa fa-check"></i>&nbsp;Oui</button>`
                                      }else {
                                          htmlmodel+= `<div  class="modal-body">
                                            <h3 th:case="false">Etes vous sure de vouloir activer ce client ?</h3>
                                          </div>`
                                          htmlfooter = `<button th:case="false" type="submit" class="btn btn-success" ><i class="fa fa-check"></i>&nbsp;Oui</button>`
 
                                        }
                                        htmlmodel += `<div class="modal-footer">
                                            <form action="/client/enabledisable/`+data.clientid+`" method="POST">
                                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non</button>
                                                <div >`
                                                  htmlmodel+= htmlfooter;
                                                  
                                                  htmlmodel+= `</div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            `


  $('#model').empty().append(htmlmodel); 
  $("#modal-warning").modal();
                       
}
var messagenotif = document.getElementById("message").value ;
    if (messagenotif !== "" && messagenotif == "clientupdated") {
     	$(document).Toasts('create', {
  		  title: "La modification a été effectuée avec succès",
  		  body: "",
  		  class: 'bg-success',
  		  autohide:true,
  		  delay: 10000
  		})
    }
$("#togglebutton").click(function () {

    $("#showMe3").toggle();
  });
  
function onchangeSearch(event) {
    let name = event.target.name;
    switch (name) {
      case "Nom": {
    	  Nom = event.target.value;
        break;
      }
      case "Prenom": {
    	  Prenom = event.target.value;
        break;
      }
      case "CIN": {
    	  CIN = event.target.value;

        break;
      }
      case "CodeClient": {
    	  CodeClient = event.target.value;
        break;
      }
 
      case "Tel": {
    	  Tel = event.target.value;
        break;
        
      }
      case "gouvernorats": {
          gouvernorats = event.target.value;
          villes = "" ; 
    	  
          break;
     }
      case "Produit": {
    	  Produit = event.target.value;
          break;
     }
      case "villes": {
    	  villes = event.target.value;
          break;
     }
      case "Categories": {
    	  Categories = event.target.value;
          break;
     }
      case "datefin": {
    	  datefin = event.target.value;
          break;
        }
        case "datedebut": {
        	datedebut = event.target.value;
        break;
      }
        case "dateDebutModification": {
        	dateDebutModification = event.target.value;
        break;
      }
        case "dateFinModification": {
        	dateFinModification = event.target.value;
        break;
      }case "loginModem": {
    	  loginModem = event.target.value;
        break;
      }
        case "AffecterTo" : {
        	AffecterTo = event.target.value ; 
        	break;
        }
        case "Creepar" : {
        	Creepar = event.target.value ;
        	break ; 
        }
    }}
    
function onclicksherh(event) {
    //event.preventdefault()
    
    event.preventDefault();
    //$('#tutorialTable').DataTable().ajax.reload();
    $("#tutorialTable")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
        	firstName:Nom ,
        	lastName: Prenom,
        	cin: CIN,
        	CodeClient : CodeClient,
			Tel : Tel,
			gouvernorats : gouvernorats,
			Produit : Produit,
			villes : villes,
			Categories : Categories, 
			 datefin:datefin,
	          datedebut:datedebut,
	          dateDebutModification:dateDebutModification,
	          dateFinModification:dateFinModification,
	          loginModem : loginModem,
	          AffecterTo:AffecterTo , 
	          Creepar : Creepar,

        })
      )
      .draw();
  } 
  
//-------------------------------
//Ville  : Ville

		 $("#gouvernorats").change(function () {
		      sendAjaxRequest();
		    });
		 function sendAjaxRequest() {
			    var villeid = $("#gouvernorats").val();
			    if (villeid === "") {
			      $("#villes").empty();
			      var option = "<option value = ''>Ville</option>";
			      $("#villes").append(option);
			    } else {
			      $.get("/client/getgouvernorats/" + villeid, function (data) {
			        $("#villes").empty();
			        var option = "<option value = ''>Ville</option>";
			      $("#villes").append(option);
			        data.forEach(function (item, i) {
			          var option =
			            "<option value = " +
			            item.villeId +
			            ">" +
			            item.villeName +
			            "</option>";
			          $("#villes").append(option);
			        });
			      });
			    }
			  }
//---------------------------------------------- 
  //-------------------------------
  //categorie  : produit
			$("#Categories").change(function () {
			    sendAjaxRequest2();
			  });
		
			  function sendAjaxRequest2() {
				    var option = "<option value = ''>Pack</option>";
				    var categorieid = $("#Categories").val();
				 
				    if (categorieid === "") {
				      $("#Produit").empty();
				      
				      $("#Produit").append(option);
				    } else {
				      $.get("/pack/packByCategory/" + categorieid, function (data) {
				        $("#Produit").empty();
				        $("#Produit").append(option);
				    
				        data.forEach(function (item, i) {
				          var option =
				            "<option value = " +
				            item.packId +
				            ">" +
				            item.title +
				            "</option>";
				          $("#Produit").append(option);
				        });
				      });
				    }
				  }
 //---------------------------------------------- 
  
oTable = $("#tutorialTable").DataTable({
    processing: true,
    serverSide: true,
    ordering: true,
    order: [3, "desc"],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: true,
    fixedHeader: true,
    ajax: "/client/getallClientNonConnecter",
    lengthMenu: [
      [10, 20, 50 , 100 , 200,500],
      [10, 20, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "<i class='fa fa-fast-backward'></i>",
				  last: "<i class='fa  fa-fast-forward '></i>",
				  next: "<i class='fa fa-solid fa-chevron-right'></i>",
				  previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
      search: "Chercher:",
    },
    initComplete: function (json) {
      //Make your callback here.
      //updatecheklist();
     // document.getElementById("tutorialTable_filter").style.display = "none";
    },

    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
      {
        className: "dtr-control",
        orderable: false,
        targets: 9,
      },
       { "width": "15%", "targets":6 },
       { "width": "8%", "targets":7}
    ],

    columns: [

      { data: "cin" },
      {
        data: null,
        render: function (data, type, row) {
          return  row.firstName+" "+ row.lastName;
         
        },
      },
      {
        data: "adresse",

      },

      {
        data: null,
        render: function (data, type, row) {
        	if(row.ville == null &&  row.gouvernorat == null)
        		return "" ;
        
        else if(row.ville != null &&  row.gouvernorat == null)
        		 return row.gouvernorat.gouvernoratName ;
        	else if( row.ville == null &&  row.gouvernorat != null)
          return row.gouvernorat.villeName ;
          else
           return row.gouvernorat.gouvernoratName + ' : ' +row.ville.villeName;
        },
      },
    

      {
        data: "telFixe",

      },
      {data : null ,
          render : function(data , type , row){
         	 if(row.pack)
         	return row.pack.title
         	else
         		return ""
          }
         },

          { data: null ,
    	  render: function (data, type, row) {
    		 
          	if(row.statut.designation != null )
          		return     row.statut.designation ;
          else
          		 return   null
          
          }},
          { data: null ,
        	  render: function (data, type, row) {
        		 
              	if(row.user != null )
              		return row.user.firstName + "  "  + row.user.lastName  ;
              else
              		 return   null
              
              }},
              {
                  data: null,
                  render: function (data, type, row) {
                    return new Date(row.createdDate).toLocaleDateString("en-GB");
                  },
                },
       
          {
        	  data : null , 
        	  render : function (data , type , row){
              let viewclient =     ` <a  href='/client/viewclient/`+row.clientid+`''>
                        <button type="button" class="d-none d-sm-inline-block btn  btn-primary btn-flat shadow-sm">
                        Details  <i class="fa fa-eye" aria-hidden="true"></i></button> 
                    </a>` 

                    let enabel = "";
             
             if(row.enabled ){
               enabel =  `<a  data-toggle="modal" 
                     data-target='#modal-warning`+row.clientid+`'>
                   <button type="button" onclick='showmodel(this)' class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
                   >Désactiver</button>
               </a>`
               
             }
             else
               {
               enabel = `<a  data-toggle="modal" 
                       data-target='#modal-warning`+row.clientid+`'>
                        <button type="button"  onclick='showmodel(this)' class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                        >Activer</button>
                    </a>`
               }

               let editclient =  `<a  href='/client/editclient/`+row.clientid+`''>
                        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            Modifier  <i class="fa fa-edit"></i></button>
                    </a>`
              if(hasediterole == "true" && DEACTIVATE_SUBSCRIPTION == true){

            
                    return `<span >`+editclient+enabel+viewclient+ `</span>`
               
                 
                   
             
        	  }
            else if (hasediterole == "false" && DEACTIVATE_SUBSCRIPTION == true)
           {
           
              return   `<div >` +enabel + viewclient  + `</div>` ;
           }

            else if (hasediterole == "true" && DEACTIVATE_SUBSCRIPTION == false)
               {
             
                return   `<div >` +editclient + viewclient  + `</div>` ;
               }

            else {
      
              return `<a  href='/client/viewclient/`+row.clientid+`''>
                        <button type="button" class="d-none d-sm-inline-block btn  btn-primary btn-flat shadow-sm">
                        Details  <i class="fa fa-eye" aria-hidden="true"></i></button> 
                    </a>
                    <div >`
            }
          }
        },
    	  





    ],
  });
 
$("#downloadenmasse").click(function (e) {
    e.preventDefault();

    document.getElementById("ExportRechercheNom").value = Nom;
    document.getElementById("ExportRecherchePrenom").value = Prenom;
    document.getElementById("ExportRechercheCIN").value = CIN;
    document.getElementById("ExportRechercheCodeClient").value = CodeClient;
    document.getElementById("ExportRechercheTel").value = Tel;
    document.getElementById("ExportRecherchegouvernorats").value = gouvernorats;
    document.getElementById("ExportRecherchevilles").value = villes;
    document.getElementById("ExportRechercheCategories").value = Categories;
    document.getElementById("ExportRechercheProduit").value = Produit;
    document.getElementById("ExportRecherchedatedebut").value = datedebut;
    document.getElementById("ExportRecherchedatefin").value = datefin;
    document.getElementById("ExportRecherchedateDebutModification").value = dateDebutModification;
    document.getElementById("ExportRecherchedateFinModification").value = dateFinModification;
    document.getElementById("ExportRechercheloginModem").value = loginModem;
    document.getElementById("ExportRechercheAffecterTo").value = AffecterTo;
    document.getElementById("ExportRechercheCreepar").value = Creepar;
      var url = "/client/getallClientNonConnecterExtractEnMasse";
      $("#myForm").attr("action", url);
      $("#myForm").submit();


  });
</script>
<script>
    $(document).ready(function() {
      $('.js-select2').select2({ allowClear: true});
    });
  
  </script>