<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des  Gouvernorats</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="addville.html" th:href="@{/ville/creategouvernerat}"
                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                               sec:authorize="hasAnyAuthority('UPDATE_CITY')">
                                <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter une  Gouvernorat</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Nom de la des Gouvernorat</th>
                                        <th>Actions</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="v: ${villes}">
                                        <td th:text="${v.GouvernoratName}"/>
                                        <td>
                                            <div sec:authorize="hasAnyAuthority('UPDATE_CITY')">

                                            
                                            <a href="editville.html" th:href="@{|/ville/editgouvernorat/${v.gouvernoratId}|}">
                                                <button type="button"
                                                        class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                                                    Modifier
                                                </button>
                                            </a>
                                        </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:fragment="pager (pagination)">
                            <ul class="pagination">
                                <th:block th:each="pageNumber : ${body}">
                                    <li th:if="${pageNumberStat.first}" class="page-item">
                                        <a class="page-link" th:href="@{'/ville/allgouvernorats/'+${previous}}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item active" th:if="${pageNumber} == ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}" href="#"></a>
                                    </li>
                                    <li class="page-item disabled" th:if="${pageNumber} == -1">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                    <li class="page-item"
                                        th:if="${pageNumber} != -1 and ${pageNumber} != ${thisnumber}">
                                        <a class="page-link" th:text="${pageNumber}"
                                           th:href="@{'/ville/allgouvernorats/'+ ${pageNumber}}"></a>
                                    </li>
                                    <li th:if="${pageNumberStat.last}" class="page-item" aria-label="Next">
                                        <a class="page-link" th:href="@{'/ville/allgouvernorats/'+ ${next}}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
