<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Liste des Bordereaux</title>
<style>
  #tutorialTable_filter{
  display:none
  }
  </style>
</head>
<body>
<section layout:fragment="content">
     <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-12">
                  <h1 class="m-0">Liste des Bordereaux</h1>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <form id="showMe3" method="get"   sec:authorize="hasAnyAuthority('READ_SLIP_LIST_RETAIL','READ_SLIP_LIST')">
              <div class="row">
         <div class="col-sm-6 col-md-6" sec:authorize="hasAnyAuthority('READ_SLIP_LIST_RETAIL')">
                        <label class="col-form-label" for="TEL"
                          >Statut bordereau </label
                        >
                        <select
                          id="statut"
                          type="text"
                          name="statut"
                          placeholder="prix maximal"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|">
                            <option value="">Statut Bordereau</option>
                         <option value="versement en instance">versement en instance</option>
                         <option value="versement en anomalie">versement en anomalie</option>
                         <option value="versement confirmé">  versement confirmé</option>
                         <option value="Annulé">Annulé</option>
                      
                         </select>
                      </div>
                      <div class="col-sm-6 col-md-3" sec:authorize="hasAnyAuthority('READ_SLIP_LIST')">
                        <label class="col-form-label" for="gouvernorats"
                          >Gouvernorat
                        </label>
                        <select
                          id="gouvernorats"
                          name="gouvernorats"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                          <option value="">Gouvernorat</option>
                          <option
                            th:each="gouvernorat : ${gouvernorats}"
                            th:value="${gouvernorat.gouvernoratId}"
                            th:text="${gouvernorat.gouvernoratName}"
                          ></option>
                        </select>
                      </div>
                      <div class="col-sm-6 col-md-3" sec:authorize="hasAnyAuthority('READ_SLIP_LIST')">
                        <label class="col-form-label" for="villes"
                          >Ville</label
                        >
                        <select
                          id="villes"
                          name="villes"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                          <option value="">Ville</option>
                        </select>
                      </div>
              </div>
                  <div class="col-sm-3 mt-3">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)"
                        >
                          Rechercher
                        </button>
                      </div>
            </form>
            <!-- /.container-fluid -->
          </div>
                    <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div>
                    <div class="blocy">
                      <table
                        id="tutorialTable"
                        class="table table-bordered display supertable  table-striped  dataTable no-footer dtr-inline"
                      >
                        <!-- Header Table -->
                        <thead class="table dataTable no-footer">
                          <tr>
                            <th> Réf bordereau</th>
                            <th>Nom Revendeur</th>
                            <th>Adresse</th>
                            <th>Contact</th>
                            <th>Statut bordereau</th>
                                <th>Commentaire</th>
                            <th>Nbr des  factures</th>
                              <th>Montant bordereau</th>
                          <th data-priority="2">Action</th> 
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          	     <input
            type="hidden"
            name="message"
            id="message"
            th:value="message ?   ${message} : ''"
          />
          <input type="hidden" name="hasediterole" th:value="${hasediterole}" id="hasediterole"/>
            </section>
          
</body>
</html>
<script th:inline="javascript">
let statut = ""
let gouvernorats = ""
let villes = ""
let messagenotif = document.getElementById("message").value;
let hasediterole = document.getElementById("hasediterole").value;
if(messagenotif !== "" && messagenotif == "anulationpathBordereaux"){
	   $(document).Toasts("create", {
	        title: "Le bordereau de versement est annulé avec succès",
	        body: "",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });
 }
if(messagenotif !== "" && messagenotif == "bordorauxaccepted"){
	   $(document).Toasts("create", {
	        title: "Le bordereau de versement est validé avec succès",
	        body: "",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });
}

if(messagenotif !== "" && messagenotif == "justificationBordereaux"){
	   $(document).Toasts("create", {
	        title: "Le justificatif de versement a été bien ajouté",
	        body: "",
	        class: "bg-success",
	        autohide: true,
	        delay: 10000,
	      });
}

	   
var oTable;
var  array = [] ;
var payment =  "<form id='myForm' class='form-sample'  method='post' action=''>"
	payment += "<input id='factureliste' name='factureliste' type='hidden' value='"+array+"'> </form>" ;
$('#formsendbr').append(payment)

$("#togglebutton").click(function () {

    $("#showMe3").toggle();
  });
  
$("#select_all").on("click", function (e) { 
	   if (this.checked) {
		
		   array= [] ; 
	        $('input[name="chekelement"]').each(function () {
	        	   this.checked = true ; 
	        	array.push(this.id);
	        })
	        $("#createbordauraux").prop('disabled', false) ; 
	        document.getElementById("factureliste").value = array;
	      
	   }
	        else {
	        	array = []
	        	
	        	$('input[name="chekelement"]:checked').each(function () {     	   this.checked = false ; })
	        	  $("#createbordauraux").prop('disabled', true) ;
	        }
	
	
})
function toggleCheckboxajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
    
    if(column.checked){
  	  array.push(column.id)
    }
    else{
  	  const fillterdarray = array.filter(el => el !== column.id) ; 
  	  array = fillterdarray ;  
    } 
   if(array.length > 0 )
	  {
	  
	  $("#createbordauraux").prop('disabled', false) ; 
	  document.getElementById("factureliste").value = array;

	  }
  else
	  {
	  $("#createbordauraux").prop('disabled', true) ;
	
	 
	  }
  }
$("#createbordauraux").click(function (e) {
    e.preventDefault();

    if (array.length !== 0) {
      var url = "/bordaurau/bordaurauCreation";
      $("#myForm").attr("action", url);
      $("#myForm").submit();
    } else {
      alert("Veuillez selectionner les factures");
      //  window.location.reload();
    }
  });
function onchangeSearch(event) {
    let name = event.target.name;
    switch (name) {
    case "statut": {
        statut = event.target.value;
        break;
      }
      case "gouvernorats": {
        gouvernorats = event.target.value;
        break;
      }
      case "villes": {
        villes = event.target.value;
        break;
      }
    }
    }
function onclicksherh(event) {
    //event.preventdefault()
    event.preventDefault();

    //$('#tutorialTable').DataTable().ajax.reload();
    $("#tutorialTable")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
        	statut: statut,
          gouvernorats:gouvernorats,
          villes:villes

          
        })
      )
      .draw();
  }
oTable = $("#tutorialTable").DataTable({
    processing: true,
    serverSide: true,
    ordering: true,
    order: [3, "desc"],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: true,
    fixedHeader: true,
    ajax: "/bordereau/listeBordereau",
    lengthMenu: [
    	[10, 20, 50 , 100 , 200,500],
    	[10, 20, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "<i class='fa fa-fast-backward'></i>",
				  last: "<i class='fa  fa-fast-forward '></i>",
				  next: "<i class='fa fa-solid fa-chevron-right'></i>",
				  previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
      search: "Chercher:",
    },
    initComplete: function (json) {
     
    },

    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
    ],

    columns: [
 

      {
        data: null,
        render: function (data, type, row) {
        	if(row.reference_bordereau)
          return  row.reference_bordereau ;
        	return "";
         
        },
      },
      {
          data: null,
          render: function (data, type, row) {
        	
          	if(row.last_name)
            return row.last_name + "-"+row.first_name ;
          	return "";
           
          },
        },
      {
          data: null,
          render: function (data, type, row) {
          	if(row.adresse)
            return row.adresse  ;
          	return "";
           
          },
        },
      {
    	   data: null,
           render: function (data, type, row) {
           	if(row.telephone)
             return row.telephone ;
           	return "";
            
           },
         },


      {
          data: null,
          render: function (data, type, row) {
              if (row.status == "versement confirmé") {
            
                  return (
                          "<div class='badge' style='background-color:#04c86d'>" +
                          row.status +
                          "</div>"
                        );
                  
                }
              else  if(row.status == "En attente de justificatif")
               {
                  
                   return (
                           "<div class='badge' style='background-color:#ee9c44'>" +
                           row.status +
                           "</div>"
                         );
                   
                 }
                 else  if(row.status == "versement en anomalie")
               {
                  
                   return (
                           "<div class='badge' style='background-color:#9d9493'>" +
                           row.status +
                           "</div>"
                         );
                   
                 }
               else if(row.status == "Annulé"){
            	
            
              return (
                "<div class='badge' style='background-color:#f23879'>" +
                row.status +
                "</div>"
              );
            }
            else return row.status;
          },
        },

      {
        data: "commentaire",

      },
      {    data: null,
          render: function (data, type, row)   {
          	if(row.numfacure)
                return row.numfacure ;
              	return "";
               
              },
    	

        },
        {    data: null,
            render: function (data, type, row)   {
            	if(row.montant)
                  return row.montant.toFixed(3);
                	return "";
                 
                },
      	

          },

        
  

          
           {
        	  data : null , 
        	  render : function (data , type , row){
        		  let enabel = "";
              
        	     if(row.status == "En attente de justificatif"){
        	    	 enabel =  `<a  data-toggle="modal" 
                       data-target='#modal-warning`+row.bordereau_id+`'>
                     <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
                     >Annulation</button>
                 </a>
                 
                       <div class="modal modal-warning fade in" data-backdrop="false" tabindex="-1" role="dialog" id="modal-warning`+row.bordereau_id+`" aria-hidden="true">
                       <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                       <span aria-hidden="true">×</span></button>
                               </div>
                               <div  class="modal-body">
                                 
                                   <h3 th:case="true">Êtes-vous sûr de vouloir annuler ce bordereau?</h3>
                               </div>
                               <div class="modal-footer">
                                   <form action="/bordereau/anulationBordereaux" method="POST">
                                       <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Non</button>
                                       <div >
                                       <input type="hidden" value=`+row.bordereau_id+` name="idbordereau">
                                           <button th:case="true" type="submit" class="btn btn-danger" ><i class="fa fa-check"></i>&nbsp;Oui</button>
                                          
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div> 
                 
                 
                 `
        	    	 
        	     }
                      let button =  `<a  href='/bordereau/editbordereaux/`+row.bordereau_id+`'>
                      <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">`;
                      
        	    	if(row.status == "En attente de justificatif"){
        	    		button +=  `Uplode justificatif     </button>
        	                </a><div >`
        	    	}
        	    	else {
        	    		button +=  `Detail bordereau </button>
        	                </a><div >`
        	    	}

                    return  button +
                       
                    enabel + 
                    `</div>` ; 
             
        	  }
          },
    	  





    ],
    // "rowCallback": function( row, data, index ) {
    //     if (data.status == "versement confirmé") {
    //       $('td:eq(4)',row).css('background-color', '#04c86d');
    //       $('td:eq(4)',row).css('color', '#fff');
          
    //     }
    //    if(data.status == "En attente de justificatif")
    //    {
    //        $('td:eq(4)',row).css('background-color', '#ee9c44');
    //        $('td:eq(4)',row).css('color', '#fff');
           
    //      }
   
    // if(data.status == "Annulé"){
    // 	 $('td:eq(4)',row).css('background-color', '#f23879');
    //      $('td:eq(4)',row).css('color', '#fff');
    // }   }
  });
  $("#gouvernorats").change(function () {
    sendAjaxGetVille();
    });
    function sendAjaxGetVille() {
    var villeid = $("#gouvernorats").val();
    if (villeid === "") {
      $("#villes").empty();
      var option = "<option value = ''>Ville</option>";
      $("#villes").append(option);
    } else {
      $.get("/client/getgouvernorats/" + villeid, function (data) {
        $("#villes").empty();
        var option = "<option value = ''>Ville</option>";
      $("#villes").append(option);
        data.forEach(function (item, i) {
          var option =
            "<option value = " +
            item.villeId +
            ">" +
            item.villeName +
            "</option>";
          $("#villes").append(option);
        });
      });
    }
  }
</script>