<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Ajouter un type d'engagement</title>
</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Ajouter un type d'engagement</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">Ajouter un type d'engagement</div>
                          <!-- Error message if engagement  already exists -->
                                <div th:if="${existedName != null}" class="alert alert-danger" role="alert">
                                    <p>Type de d'engagement existe déjà: <span th:text="${existedName}"></span></p>
                                </div>
                        <div class="card-body">
                            <form class="form-sample" th:action="@{/parameters/createEngagement}" method="POST"
                                  th:object="${engagement}">
                                <!-- Category Type -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Nom Engagement</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Nom de l'engagement"
                                                       name="nomEngagement" th:required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">nombre</label>
                                            <div class="col-sm-9">
                                               <input class="form-control"  placeholder="Nombre de mois d'engagement"
                                                          rows="4" cols="50" name="nombre" th:required="required" />
                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="card-footer" style="margin-top: 20px; text-align: center;">
                                    <button type="submit" class="btn btn-success" style="margin-right: 20px;">
                                        Sauvegarder
                                    </button>
                                    <button type="reset" class="btn btn-danger" style="margin-left: 20px;">
                                        Réinitialiser
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
