<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Statut</title>
      <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />

</head>
<body>
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Modification du statut de la demande de parrainage</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">Modifier le statut de la demande de parrainage

</div>
   <input type="hidden" name="message" id="message" th:value="${message} ?  ${message} : ''" /> 

                        <div class="card-body">
                            <form class="form-sample" action="#" th:action="@{|/parinage/updateStatus/${findParinage.idParinage}|}"
                                  method="POST" >
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Nom du statut</label>
                                        <div class="col-sm-9">
                                         <select id="status" name="status" required>
                                          <option value="" disabled >Selectioner status</option>
                                          <option th:each="item : ${items.entrySet()}"   th:selected="${item.key==findParinage.statut}" th:value="${item.key}" th:text="${item.value}"></option>
                                            </select>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="col-md-6" style="margin-top: 15px;">
								    <div class="form-group row">
								        <label for="commentaire" class="col-sm-3 col-form-label">Commentaire</label>
								        <div class="col-sm-9">
								            <textarea id="commentaire" name="commentaire" rows="4" class="form-control" 
								                      th:text="${findParinage.commentaire}"></textarea>
								        </div>
								    </div>
								</div>


                                
                     
                                <div class="card-footer" style="margin-top: 20px; text-align: center;">
                                    <button type="submit" class="btn btn-success" style="margin-right: 20px;">Valider
                                    </button>
                                    <button type="reset" class="btn btn-danger" style="margin-left: 20px;"
                                            onclick="history.go(-1);">Annuler
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



</body>
</html>
<script th:inline="javascript">
  $(document).ready(function () {
  var messagenotif = document.getElementById("message").value;
  console.log(messagenotif);
    if (messagenotif === 'parrainage modified') {
      $(document).Toasts("create", {
        title: "Succès",
        body: "Statut parrainage modifié",
        class: "bg-success",
        autohide: true,
        delay: 5000,
      });
    }
    if (messagenotif === 'comment is required') {
      $(document).Toasts("create", {
        title: "Erreur",
        body: "Le commentaire est obligatoire si le statut est annulé.",
        class: "bg-danger",
        autohide: true,
        delay: 8000,
      });
    }
  });
</script>
