<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>
<link rel="stylesheet" href="/css/customvariablestyle.css">
    <title>Liste de toutes les commissions</title>

</head>

<body>
<section layout:fragment="content">

<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">                           
                            <h1 class="m-0">
                            	Liste des commissions des revendeurs
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
<section class="card m-2 p-2">
             <div class="mr-2 ml-2">
             
             <div class="mb-4">
	             <div class="py-3">
		           <a data-toggle="modal" id="togglebutton" 
		                       class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i
		                            class="fas fa-filter fa-sm text-white-50"></i> Filtre</a>
		            <button
	                    id="downloadenmasse"
	                    class="d-inline-block btn btn-sm btn-info shadow-sm"
	                  >
                    	Extraire la liste des commissions
                  	</button>
		          </div>
		          
		          <!-- Ajoutez un formulaire caché pour l'extraction en masse -->
					<form id="extractEnMasseForm" method="GET" action="/commission/extracteExcel" style="display: none;">
					  <!-- Les champs de saisie nécessaires pour l'extraction en masse -->
					  <input type="hidden" name="date" id="date" />
					  <input type="hidden" name="statut" id="statut" />
					  <input type="hidden" name="codeRevendeur" id="codeRevendeur" />
					  <input type="hidden" name="startCreatedDate" id="startCreatedDate" />
					  <input type="hidden" name="endCreatedDate" id="endCreatedDate" />
					  <input type="hidden" name="reference" id="reference" />
					 <input type="hidden" name="typeC" id="typeC" />
					  
					</form>    
		          
		          <form id="showMe3" method="get">
                    <div class="row">                      
						<div class="col-md-3" id="divDate">
	                        <label class="col-form-label" for="date">Sélectionnez une date (année-mois)</label>
							<input class="form-control" type="month" id="date" name="date" th:onchange="onchangeSearch(event);">
	                    </div>
	                    <!-- Date pour fireFox -->
	                    <div class="col-md-3" id="divDateFireFox" style="display: none;">
	                        <label class="col-form-label " id="date_label_fireFox" >Entrez une date (année-mois) </label>
							<input class="form-control ml-2" type="text" id="alternativeDate" name="dateFireFox" placeholder="Format attendu : 2023-01" th:onchange="onchangeSearch(event);">
							<p id="errorMessage" style="display: none; color: red;">Le format doit être YYYY-MM (2023-01)</p>
	                    </div>
                       <div class="col-md-3">                      
	                      <label class="col-form-label" for="modem">Statut ( Payé / Non Payé )</label>
							<select  class="form-control" id="statut" name="statut" th:onchange="|onchangeSearch(event)|">
							  <option value = ''>Statut</option>
							  <option value="PAID">Payé</option>
							  <option value="NOT_PAID"> En attente de Facture</option>
							   <option value="IN_PROGRESS">En cours</option>
							  
							  <option value=CANCELLED>Annulé</option>
							   <option value=AWAINTING_INVOICING>En Attente de Règlement </option>
							  
							 
							</select>
 						</div>
 						
 						     <div class="col-md-3">                      
	                      <label class="col-form-label" for="modem">Type </label>
							<select  class="form-control" id="type" name="type" th:onchange="|onchangeSearch(event)|">
							  <option value = ''>Type</option>
							  <option value="true">Freelancer</option>
							  <option value="false"> Normal</option>
						
							</select>
 						</div>
 						<div class="col-md-3">
                           <label class="col-form-label" for="type">Commission de</label>
                           <input list="users" 
                           			class="form-control" 
                           			autocomplete="off" 
                           			type="text" 
                           			name="codeRevendeur" 
                           			id="codeRevendeur" 
                           			th:required="true" 
                           			placeholder="Veuillez entrer le nom de votre revendeur"
                           			th:onchange="onchangeSearch(event);">
                           			
							<datalist id="users">
							<option th:each="u:${listeUser}"
		                             th:value="${u.codeUser}"
        							 th:text="${u.firstName + ' ' + u.lastName + (u.nomCommercial != null ? ' ' + u.nomCommercial : '')}">
		                     </option>
							</datalist>
                      </div>
                      <div class="col-md-3">
	                      <label class="col-form-label"
	                          >Date de validation
	                        </label>
							<div class="input-group">
						      <input type="date" class="form-control" id="startCreatedDate" name="startCreatedDate" placeholder="Date de début" th:onchange="|onchangeSearch(event)|"/>
						      <div class="input-group-prepend input-group-append">
						        <span class="input-group-text">à</span>
						      </div>
						      <input type="date" class="form-control" id="endCreatedDate" name="endCreatedDate" placeholder="Date de fin" th:onchange="|onchangeSearch(event)|"/>
						    </div>
                      </div> 
                      <div class="col-md-3">
	                      <label class="col-form-label"
	                          >Référence
	                        </label>
							<div class="input-group">
						      <input type="text" class="form-control" id="reference" name="reference" placeholder="Référence" th:onchange="|onchangeSearch(event)|"/>
						    </div>
                      </div>                                               
                    </div>
					<div class="text-center">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm mt-3"
                          th:onclick="onclicksherh(event)"
                          id="buttonRecherche"
                        >
                          Rechercher
                        </button>
                      </div>
                  </form>
	          </div> 
		   			<table class="table table table-hover" id="commissionTable">
		                            <thead>
			                            <tr>
			                            	<th>Date de validation</th>
			                                <th>Référence</th>
			                                <th>Revendeur</th>
			                                <th>Mois / Année</th>
			                                <th>Commission des demandes</th>
			                                <th>Commission d'acquisition</th>
			                                <th>Commission des paiements</th>
			                                <th>Total Ht</th>
			                                <th>Statut</th>
			                                <th>Type</th>
			                                <th>Action</th>
			                            </tr>
		                            
		                            </thead>
		                    </table>
                   </div>
</section>
<!-- model pour annulation commission -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <form th:action="@{/commission/annuler-commission}" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation d'annulation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" name="id" id="id">
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir annuler ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" id="confirmCancelButton">Confirmer l'annulation</button>
            </div>
        </div>
     </form>
    </div>
</div>
<!-- pour les message alert par controlleur -->
<div id="result" th:text="${result}" style="display: none;"></div>
</section>
</body>
</html>
<script th:inline="javascript">

var isCancelCommission = /*[[${isCancelCommission}]]*/ false;
var oTable1;

$(document)
.ready(
		function() {
			   oTable1 = $('#commissionTable').DataTable({
				   "language": {
						"lengthMenu": "Affichage _MENU_ enregistrements par page",
			            "zeroRecords": "Rien trouvé - désolé",
			             "info": "Afficher _START_ -  _END_ de _TOTAL_ commissions ",
			            "infoEmpty": "Aucun enregistrement disponible",
			            paginate: {
                            first: "<i class='fa fa-fast-backward'></i>",
			                last: "<i class='fa  fa-fast-forward '></i>",
			                next: "<i class='fa fa-solid fa-chevron-right'></i>",
			                previous: "<i class='fa fa-solid fa-chevron-left'></i>",
			              },
			        },
			      processing: true,
			      serverSide: true,
			      ordering: true,
			      searching : true,
			      "processing": true, // activer le mode processing
			      "serverSide": true, // activer le mode server-side
			        "ajax": "/commission/allCommission",
			      lengthMenu: [
			          [10, 20, 50 , 100 , 200,500],
			          [10, 20, 50 , 100 , 200,500],
			        ],
			      columnDefs: [{
			    	    orderable: false,
			    	    targets: [0, 1, 2, 3, 4, 5, 6, 7]
			      
			    	  }],
			      columns: [
			          {
			              data: null,
			              render: function (data, type, row) {			             		
			            	// Convertissez la date en un objet Date JavaScript
			                  var dateObj = new Date(row.createdDate);

			                  // Obtenez le jour, le mois et l'année
			                  var day = dateObj.getDate();
			                  var month = dateObj.getMonth() + 1; // Les mois sont indexés de 0 à 11, donc ajoutez 1
			                  var year = dateObj.getFullYear();

			                  // Formatez la date au format "DD/MM/YYYY"
			                  var formattedDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + year;

			                  return formattedDate;
			              }
			           },
			          {
			              data: null,
			              render: function (data, type, row) {
			            	  let ispromo = ""
			            	  if(row.isPromo)
			            		  ispromo = "Promotionnel"
			             		 return row.refCommission + "<span class='btn-success'>" + ispromo + "<span>";
			              }
			           },
			          {
			              data: null,
			              render: function (data, type, row) {			             		
			             		 return row.revendeur.firstName+" "+row.revendeur.lastName+" ("+row.revendeur.codeUser+")";
			              }
			           },
			    	  {
			    		    data: null,
			    		    render: function (data, type, row) {
			    		        var moisNoms = [
			    		            "Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
			    		            "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"
			    		        ];
			    		        
			    		        if (!isNaN(row.mois) && row.mois >= 1 && row.mois <= 12) {
			    		            return moisNoms[row.mois-1]+" / "+row.annee;
			    		        } else {
			    		            return ""; 
			    		        }
			    		    }
			    		},

			    	  {
			              data: null,
			              render: function (data, type, row) {	
			            	  if(row.primeCommision)
		            		  {
		            		  let somme = row.primeCommision + row.montantCommissionDemandes
		             		 return  somme.toFixed(3) +" TND";
		              }
		            	  else {
			             		
			             		 return row.montantCommissionDemandes.toFixed(3)+" TND";
			              }
			           }},
			           {
				              data: null,
				              render: function (data, type, row) {		
				             	  if(row.montantCommissionPremiereFactureMiseService)
			            		  {
			            		  let somme = row.montantCommissionPremiereFactureMiseService + row.montantCommissionPremiereFacture
			             		 return  somme.toFixed(3) +" TND";
			              }
			            	  else {
				             		 return row.montantCommissionPremiereFacture.toFixed(3)+" TND";
				              }
				        }},
			           {
				              data: null,
				              render: function (data, type, row) {		
				       
				            		  return row.montantCommissionPaiements.toFixed(3)+" TND"  
				            	  }
				              },
				           
				        {
					              data: null,
					              render: function (data, type, row) {
					          var Total = row.montantCommissionDemandes + row.montantCommissionPremiereFacture + row.montantCommissionPaiements + row.primeCommision +   row.montantCommissionPremiereFactureMiseService


					             		 return Total.toFixed(3)+" TND";
					              }
					    },
				        {
				              data: null,
				              render: function (data, type, row) {
				            	  if(row.statut == "PAID"){
				            		  return "<span class='badge badge-success'>Payé</span>";
				            	  }else if(row.statut == "NOT_PAID"){
				            		  return "<span class='badge badge-danger'> En attente de Facture</span>";
				            	  }else if(row.statut == "IN_PROGRESS"){
				            		  return "<span class='badge badge-warning'>En cours</span>";
				            	  }
				            	  else if (row.statut == "AWAINTING_INVOICING"){
				            		  return "<span class='badge badge-info'>En Attente de Règlement</span>";

				            	  }
				            	  else{
				            		  return "<span class='badge badge-dark'>Annulée</span>";
				            	  }
				             		 
				              }
				      },
				      {
			              data: null,
			              render: function (data, type, row) {
			            	  if(row.isFreelance == true){
			            		  return "<span class='badge badge-success'>Freelance</span>";
			            	 
			            	  }else{
			            		  return "<span class='badge badge-dark'>Normal</span>";
			            	  }
			             		 
			              }
			      },
			          {
			              "data": null,
			              "render": function(data, type, row) {
			            	  var html ="<div class='row'>";
			                   html+="<div class='col-md-4'><button class='btn btn-primary' onclick='details(this)'><i class='fas fa-info-circle'></i></button></div>";
			                  if(isCancelCommission && (row.statut == "NOT_PAID" || row.statut == "IN_PROGRESS")){
				                   html+='<div class="col-md-4 ml-3"><button class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal" data-commission-reference="' + row.refCommission + '" data-commission-id="' + row.id + '""><i class="fas fa-times"></i></button></div>'
			                  }
			                  html+='</div>'
			                  return html
			              }
			          }
			        ],
			  });

			   oTable1.on('processing.dt',function(e, settings, processing) {
		    	
			 });							
		
		});
		
$('#confirmationModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Bouton qui a déclenché l'affichage de la modale
    var commissionId = button.data('commission-id'); 
    var commissionReference = button.data('commission-reference');

    // Afficher la valeur dans la modale de confirmation (par exemple, dans le texte)
    var modal = $(this);
    modal.find('.modal-body').html('Voulez-vous annuler la commission avec réference : <strong>' + commissionReference + '</strong> ?');
    document.getElementById('id').value = commissionId;

});

function details(column){
	  var data = oTable1.row($(column).parents('tr')).data();


	  let href = "/commission/details_commission_page/" + data.id;
	  if(data.isFreelance){
		  href = "/commission/details_commission_page_freelancer/" + data.id;
	  }
	  window.location.href =href ; 
}

//filtre
$("#togglebutton").click(function () {

    $("#showMe3").toggle();
});

var date = ""
var statut = ""
var codeRevendeur = ""
var startCreatedDate = ""
var endCreatedDate = ""
var reference = ""
var type = ""
	function onchangeSearch(event) {
    let name = event.target.name;
  
    switch (name) {
      case "date": {
    	  date = event.target.value;
        break;
      }
      case "dateFireFox": {
    	  date = event.target.value;
          break;
        } 
      case "statut": {
    	  statut = event.target.value;
        break;
      }
      case "codeRevendeur": {
    	  codeRevendeur = event.target.value;
        break;
      }
      case "startCreatedDate": {
    	  startCreatedDate = event.target.value;
        break;
      }
      case "endCreatedDate": {
    	  endCreatedDate = event.target.value;
        break;
      }
      case "reference": {
    	  reference = event.target.value;
        break;
      }
      case "type": {
    	  type = event.target.value;
        break;
      }
    }
    
  }

function onclicksherh(event) {
	  //event.preventdefault()
	  event.preventDefault();

	  //$('#tutorialTable').DataTable().ajax.reload();
	  $("#commissionTable")
	    .DataTable()
	    .column(0)
	    .search(
	      JSON.stringify({
	    	  date: date,
	    	  statut: statut,
	    	  codeRevendeur: codeRevendeur,
	    	  startCreatedDate : startCreatedDate,
	    	  endCreatedDate : endCreatedDate,
	    	  reference : reference,
	    	  type: type,
	      })
	    )
	    .draw();
}
$("#downloadenmasse").click(function (e) {
    e.preventDefault();
 
   // Mettre à jour les valeurs des champs cachés avec les valeurs des variables
      document.getElementById("date").value = date;
      document.getElementById("statut").value = statut;
      document.getElementById("codeRevendeur").value = codeRevendeur;
      document.getElementById("startCreatedDate").value = startCreatedDate;
      document.getElementById("endCreatedDate").value = endCreatedDate;
      document.getElementById("reference").value = reference;
      document.getElementById("typeC").value = type;      
      // Soumettre le formulaire
      $("#extractEnMasseForm").submit();
});

$(document).ready(function() {
  $('.js-select2').select2({ allowClear: true});
});

const browser = navigator.userAgent;
//Vérifier si le navigateur est Firefox
if (browser.indexOf("Firefox") > -1) {
	
 const dateDiv = document.getElementById("divDate");
 const dateDivFirefox = document.getElementById("divDateFireFox");
 const alternativeInputElement = document.getElementById("alternativeDate");
 const buttonRecherche = document.getElementById("buttonRecherche");
 const errorMessageElement = document.getElementById("errorMessage");

 
 dateDiv.style.display = "none";
 dateDivFirefox.style.display = "block";
 
 alternativeInputElement.addEventListener("input", function() {
 	
 	// Vérifier que la valeur a le format attendu (YYYY-MM)
     const inputValue = alternativeInputElement.value;
     const regex = /^(\d{4})-(\d{2})$/;
     
     if (inputValue !== null && inputValue !== "") {
         if (regex.test(inputValue)) {
         	// La valeur a le bon format
             const [, year, month] = inputValue.match(regex);
         	
             if (parseInt(month, 10) >= 1 && parseInt(month, 10) <= 12) {
                 alternativeInputElement.style.borderColor = "initial";
                 errorMessageElement.style.display = "none";
                 buttonRecherche.disabled = false;
             } else {
                 alternativeInputElement.style.borderColor = "red";
                 errorMessageElement.style.display = "block";
                 buttonRecherche.disabled = true;
             }
             
         } else {
             alternativeInputElement.style.borderColor = "red";
             errorMessageElement.style.display = "block";
             buttonRecherche.disabled = true;
         }
     }else{
     	alternativeInputElement.style.borderColor = "initial";
     	errorMessageElement.style.display = "none";
     	buttonRecherche.disabled = false;
     } 

     
 });
}

//pour afficher les message alert par controlleur
$(document).ready(function () {
    var result = $('#result').text();
    
    if (result == "success") {
    	$(document).Toasts("create", {
    	     title: "Succès",
    	     body: "Le changement que vous avez effectué a été enregistré avec succès.",
    	     class: "bg-succes",
    	     autohide: true,
    	     delay: 10000,
    	   });
    }else if (result == "erreur"){
    	$(document).Toasts("create", {
    	     title: "Erreur",
    	     body: "Cette commission ne peut pas être annulée.",
    	     class: "bg-danger",
    	     autohide: true,
    	     delay: 10000,
    	   });
    }
});

</script>
