<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Details demande</title>
	<style>
	.cursor-pointer{
	  cursor: pointer;
	}
	.hidden {
            display: none;
        }
	</style>
</head>

<body>
<section layout:fragment="content">

<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">                           
                            <h1 class="m-0">
                            	Détails de la demande de commission
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            
<section th:if="${demandeCommission == null}"  class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 card mt-5 p-5">
                    <div class="text-center">
                        <h1 class="text-danger">Cette demande n'existe pas.</h1>
                    </div>
                </div>
            </div>
        </div>
</section> 
           
<section th:if="${demandeCommission != null}" class="card m-2 p-2">
    <div id="resultatsDiv" class="row">
    <div class="col-md-6">
        <div class="alert alert-info text-center" role="alert">
            <h4>Résumé des Commissions - Mois de 
            <!-- afficher le nom de mois : si mois = 1 affiche janvier -->
            <span th:with="moisNames=${T(java.time.Month).values()}">
		        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == demandeCommission.commission.mois}">
		            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
		        </span>
		    </span>
    		<span th:text="' ' + ${demandeCommission.commission.annee}"></span>
    		<br>sous la référence <span th:text="${demandeCommission.commission.refCommission}"></span>
    		</h4>
        </div>
			<div class="container mt-4">
			    <div class="row">
			        <div class="col-md-6">
			            <div>
			                <div class="card-body">
			                    <table class="table">
			                        <tr>
			                            <th>Montant HT</th>
			                            <td th:text="${#numbers.formatDecimal(demandeCommission.commission.totalHt, 1, 'COMMA', 3, 'POINT')+ ' TND'}"></td>
			                        </tr>
			                        <tr>
			                            <th>TVA</th>
			                            <td th:text="${demandeCommission.commission.tva} + '%'"></td>
			                        </tr>
			                        <tr>
			                            <th>Montant TVA</th>
			                            <td th:text="${#numbers.formatDecimal(demandeCommission.commission.montantTva, 1, 'COMMA', 3, 'POINT')+ ' TND'}"></td>
			                        </tr>
			                        <tr>
			                            <th>Montant TTC</th>
			                            <th th:text="${#numbers.formatDecimal(demandeCommission.commission.totalTtc, 1, 'COMMA', 3, 'POINT')+ ' TND'}"></th>
			                        </tr>
			                    </table>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

        <div class="container mt-5">
         <h2>Résumé de la Commission sur Demande</h2>

            <table class="table table-bordered">
		    <tbody>
		        <tr>
		            <th>Mois</th>
		            <td>
						<span th:with="moisNames=${T(java.time.Month).values()}">
					        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == demandeCommission.commission.mois}">
					            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
					        </span>
					    </span>
			    		<span th:text="' ' + ${demandeCommission.commission.annee}"></span></h4>
		            </td>
		        </tr>
		        <tr>
		            <th>Nombre Total Demandes</th>
		            <td><span th:text="${demandeCommission.commission.nbrTotalDemandes}"></span></td>
		        </tr>
		        <tr>
		            <th>Nombre Demandes Acceptées</th>
		            <td><span th:text="${demandeCommission.commission.nbrDemandesAcceptees}"></span></td>
		        </tr>
		        <tr>
		            <th>Nombre Demandes Rejetées</th>
		            <td><span th:text="${demandeCommission.commission.nbrDemandesRejetees}"></span></td>
		        </tr>
		         <tr>
		            <th>Demandes en Attente</th>
		            <td><span th:text="${demandeCommission.commission.nbrDemandesEnAttente}"></span></td>
		        </tr>
		        <tr>
		            <th>Demande Non réalisée</th>
		            <td><span th:text="${demandeCommission.commission.nbrDemandesNonRealisee}"></span></td>
		        </tr>
		        <tr>
		            <th>Total des Commissions / demandes</th>
		            <td><span th:text="${#numbers.formatDecimal(demandeCommission.commission.montantCommissionDemandes + demandeCommission.commission.primeCommision , 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
		        </tr>
		    </tbody>
		</table>
            
        </div>
		<div class="container mt-5">
		    <h2>Résumé de la commission d'acquisition ( Première facture )</h2>
		    <table class="table table-bordered">
		        <tbody>
		            <tr>
		                <th>Mois</th>
		                <td>
							<span th:with="moisNames=${T(java.time.Month).values()}">
						        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == demandeCommission.commission.mois}">
						            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
						        </span>
						    </span>
				    		<span th:text="' ' + ${demandeCommission.commission.annee}"></span></h4>
		           	 	</td>
		            </tr>
		            <tr>
		                <th>Nombre Demandes Activées</th>
		                <td><span th:text="${demandeCommission.commission.nbrDemandesActivees}"></span></td>
		            </tr>
		               <tr>
		                <th>Total avances consommés </th>
		                <td><span th:text="${#numbers.formatDecimal(demandeCommission.commission.montantAvancePremiereFacture, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
		            </tr>
		               <tr>
		                <th>Total des Commissions avec avance </th>
		                <td><span th:text="${#numbers.formatDecimal(demandeCommission.commission.montantTotalPremiereFacture, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
		            </tr>
		            <tr>
		                <th>Total des Commissions / activation</th>
		                <td><span th:text="${#numbers.formatDecimal(demandeCommission.commission.montantCommissionPremiereFacture, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
		            </tr>
		        </tbody>
		    </table>
		</div>

		<div class="container mt-5">
		    <h2>Résumé de la commission sur paiement ( hors premiére facture )</h2>
		    <table class="table table-bordered">
		        <tbody>
		            <tr>
		                <th>Mois</th>
		                <td>
							<span th:with="moisNames=${T(java.time.Month).values()}">
						        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == demandeCommission.commission.mois}">
						            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
						        </span>
						    </span>
				    		<span th:text="' ' + ${demandeCommission.commission.annee}"></span></h4>
		           	 	</td>
		            </tr>
		            <tr>
		                <th>Nombre de Factures Payées</th>
		                <td><span th:text="${demandeCommission.commission.nbrFacturesPayees}"></span></td>
		            </tr>
		            <tr>
		                <th>Total des Commissions / Paiement</th>
		                <td><span th:text="${#numbers.formatDecimal(demandeCommission.commission.montantCommissionPaiements, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</div>
	
	<div class="col-md-6 border-left border-primary">
		<div class="container">
		<div class="alert alert-info text-center" role="alert">
            <h4>Demande de Commission par revendeur
            <br>sous la référence <span th:text="${demandeCommission.refDemandeCommission}"></span>
            </h4>
            
        </div>
		    <div class="row">
		    	<div class="col-md-6">
		    	<b>Date de demande :</b> <span class="badge badge-success" th:text="${#dates.format(demandeCommission.createdDate, 'dd MMMM yyyy HH:mm')}"></span><br><br>
			    	 <h5 class="mb-2">Facture de revendeur :</h5>
			    	 	<div  th:if="${demandeCommission.photoRecuRev.endsWith('.jpg')} or  ${demandeCommission.photoRecuRev.endsWith('.png')} or  ${demandeCommission.photoRecuRev.endsWith('.gif')}">
						    <img th:src="@{${'/commission/'+demandeCommission.commission.id+'/'+demandeCommission.photoRecuRev}}"
						        id="prev4" style="height: 200px; width: 200px" class="cursor-pointer prev-image" data-toggle="modal" data-target="#imageModal" />
							
							
						    <a th:href="@{${'/commission/'+demandeCommission.commission.id+'/'+demandeCommission.photoRecuRev}}" download>
						        <button class="btn btn-primary mt-2">
						            <i class="fas fa-download"></i> Télécharger
						        </button>
						    </a>
						
						</div>
						<div th:unless="${demandeCommission.photoRecuRev.endsWith('.jpg')} or  ${demandeCommission.photoRecuRev.endsWith('.png')} or  ${demandeCommission.photoRecuRev.endsWith('.gif')}" class="mb-3">
						    <a th:href="@{${'/commission/'+demandeCommission.commission.id+'/'+demandeCommission.photoRecuRev}}" target="_blank" download>
						        <b><i class="fas fa-file-pdf"></i> Télécharger la Facture</b>
						    </a>
						</div>
					

		    	</div>
  
		    	<div th:if="${demandeCommission.commentaireRev != null}" class="col-md-6">
			    	<h5 class="mb-2">Commentaire</h5>
			    	<div th:text="${demandeCommission.commentaireRev}">
			    	</div>
		    	</div>		          				            
		    </div>
		</div>	
		
	   <div class="container mt-2" id="desicionContainer">
			<div class="alert alert-info text-center" role="alert">
	            <h4>Décision de l'administrateur
	        </div>
	      
		        <h5 class="mb-2">Statut : 
		        		<span th:if="${demandeCommission.statut} == 'PAID'" class='badge badge-success'>Payé</span>
						<span th:if="${demandeCommission.statut} == 'IN_PROGRESS'" class='badge badge-warning'>En cours</span>
						<span th:if="${demandeCommission.statut} == 'REFUSED'" class='badge badge-danger'>Refusée</span>
						<span  sec:authorize="hasAnyAuthority('COMMISSION_ADMIN')" th:if="${demandeCommission.statut} == 'AWAINTING_INVOICING'" class='badge badge-info'>En attente de règlement</span>
						<span  sec:authorize="!hasAnyAuthority('COMMISSION_ADMIN')" th:if="${demandeCommission.statut} == 'AWAINTING_INVOICING'" class='badge badge-info'>En cours</span>
			
			
				</h5>
				
				<div sec:authorize="hasAnyAuthority('COMMISSION_ADMIN')" th:if="${demandeCommission.statut} == 'IN_PROGRESS'">
					<button type="button" class="btn btn-warning mt-2" data-toggle="modal" data-target="#change-commission-to-awaiting">
						<i class="fas fa-edit"></i> Changer statut commission
					</button>
				</div>
				
				<b th:if="${demandeCommission.dateDecission != null}">Date de décission :</b> <span class="badge badge-info" th:text="${#dates.format(demandeCommission.dateDecission, 'dd MMMM yyyy HH:mm')}"></span>
				
			    <div class="row" th:if="${demandeCommission.statut} == 'REFUSED' ">
			    	<div class="col-md-12 mt-3">
				    	<h5 class="mb-2">Raison :</h5>
				    	<div th:text="${demandeCommission.commentaireAdmin}">
				    	</div>
			    	</div>		          				            
			    </div>
			     <div class="row mt-3" th:if="${demandeCommission.statut} == 'PAID' ">
			    	<div class="col-md-6">
				    	 <h5 class="mb-2">Justification</h5>   				
	    				<div th:if="${demandeCommission.photoRecuAdmin.endsWith('.jpg')} or  ${demandeCommission.photoRecuAdmin.endsWith('.png')} or  ${demandeCommission.photoRecuAdmin.endsWith('.gif')}">
	    				<img th:src="@{${'/commission/'+demandeCommission.commission.id+'/'+demandeCommission.photoRecuAdmin}}"
										id="prev4" style="height: 200px; width: 200px" class="cursor-pointer prev-image" data-toggle="modal" data-target="#imageModal" />
	    				</div>
	    				<div th:unless="${demandeCommission.photoRecuAdmin.endsWith('.jpg')} or  ${demandeCommission.photoRecuAdmin.endsWith('.png')} or  ${demandeCommission.photoRecuAdmin.endsWith('.gif')}">
	    					<a th:href="@{${'/commission/'+demandeCommission.commission.id+'/'+demandeCommission.photoRecuAdmin}}" target="_blank" download>
							        <button class="btn btn btn-outline-primary">
					        			<i class="fas fa-file-pdf"></i> Télécharger recu
					        		</button>
					        		
							</a>
	    						
	    				</div>
    				
					</div>
			    	<div th:if="${demandeCommission.commentaireAdmin != null}" class="col-md-6">
				    	<h5 class="mb-2">Commentaire</h5>
				    	<div th:text="${demandeCommission.commentaireAdmin}">
				    	</div>
			    	</div>		          				            
			    </div>
			    <div sec:authorize="hasAnyAuthority('COMMISSION_ADMIN')" class="row" th:if="${demandeCommission.statut} == 'IN_PROGRESS' or ${demandeCommission.statut} == 'AWAINTING_INVOICING'">
			    	<h5 class="ml-2 mt-2">Formulaire de décision :</h5>
               
			    	<div class="container mt-3">			    	
					        <form id="myForm">
					            <div class="form-group">
					                <label>
					                    <input type="radio" name="decision" value="accept" onclick="showFields('accepte')"> <span class="text-success">Accepté</span>
					                </label>
					                <label class="ml-3">
					                    <input type="radio" name="decision" value="refuse" onclick="showFields('refuse')"> <span class="text-danger">Réfuser</span>
					                </label>
					            </div>
					            <input type="hidden" id="id" name="id" th:value="${demandeCommission.id}">					
					            <div id="imageField" class="form-group hidden">
					                <label for="imageInput">Image de Paiement</label>
					                <input type="file" accept="image/*,application/pdf" class="form-control-file" id="imageInput">
					            </div>
					            
					            <div id="textFieldCommentaire" class="form-group hidden">
					                <label>Commentaire :</label>
					                <textarea class="form-control" name="commentaire" rows="4"></textarea>
					            </div>
					
					            <div id="textField" class="form-group hidden">
					                <label>Raison du refus:</label>
					                <textarea class="form-control" name="raison" rows="4"></textarea>
					            </div>
					
					            <button type="submit" id="decissionButton" class="btn btn-primary" onclick="submitDecision(event)">Envoyer</button>
					        </form>
    			</div>   				            
			  </div>
		</div>
	</div>
    </div>
    

    <!-- Modal for changing commission status -->
    <div th:if="${demandeCommission.statut == 'IN_PROGRESS'}" class="modal fade" id="change-commission-to-awaiting" tabindex="-1" role="dialog" aria-labelledby="changeCommissionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeCommissionModalLabel">Changer le statut de la commission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
  


    <div th:if="${demandeCommission.statut} == 'IN_PROGRESS'" sec:authorize="hasAnyAuthority('CANCEL_COMMISSION')" class="modal fade" id="change-commission-to-awaiting" tabindex="-1" role="dialog" aria-labelledby="changeCommissionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{|/commission/change-commission-to-awaiting|}" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeCommissionModalLabel">Changer le statut de la commission</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous changer le statut de la commission liée à cette demande en « En attente de règlement » ?</p>
                        <input type="hidden" name="commissionId" th:value="${demandeCommission.commission.id}" />
                                             <input type="hidden" name="demandeid" th:value="${demandeCommission.id}" />
                     
                      <input type="hidden" name="source" value="demande" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 
 <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Image Zoom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="zoomedImage" style="width: 100%">
            </div>
        </div>
    </div>
</div>
    
</section>
</section>
</body>
</html>
<script th:inline="javascript">
$(document).ready(function() {
    $('#imageModal').on('show.bs.modal', function(event) {
        var $clickedImage = $(event.relatedTarget); // L'élément image cliqué
        var imgSrc = $clickedImage.attr('src');
        $('#zoomedImage').attr('src', imgSrc);
    });
});


function submitDecision(e) {
	
	// Désactiver le bouton
	  $('#decissionButton').prop('disabled', true);
	  
	  // Ajouter la classe qui affiche le chargeur
	  $('#decissionButton').addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');

	e.preventDefault()
	var id = $("#id").val()
    var decision = $("input[name='decision']:checked").val();
    
    var imageInput = $("#imageInput")[0];   
    var commentaire = $("textarea[name='commentaire']").val();

    var raison  = $("textarea[name='raison']").val();

    var formData = new FormData();
    formData.append("decision", decision);
    formData.append("image", imageInput.files[0]);
    formData.append("commentaire", commentaire);
    formData.append("raison", raison);
    formData.append("id", id);

    $.ajax({
        type: "POST",
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        url: "/demandeCommission/validationCommission",
        data: formData,

        success: function(response) {       
	        // Code to execute after the toast has been hidden
	         window.location.reload()          	
        },
        error: function(error) {
        	
        	// Réactiver le bouton
        	$('#decissionButton').prop('disabled', false);

        	// Supprimer la classe qui affiche le chargeur et rétablir le texte d'origine du bouton
        	$('#decissionButton').removeClass('disabled').html('Envoyer');

        	var errorMsg  = ""
    		    if (error.responseText === 'DECISSION_REQUIRED') {
    		        errorMsg = "decission est requise.";
    		    } else if (error.responseText === 'IMAGE_REQUIRED') {
    		        errorMsg = "L'image est requise.";
    		    } else if (error.responseText === 'COMMENTAIRE_REQUIRED') {
    		        errorMsg = "commentaire est requise.";
    		    } else if (error.responseText === 'RAISON_REQUIRED') {
    		        errorMsg = "raison est requise.";
    		    } else if (error.responseText === 'UNCHANGEABLE_COMMISSION') {
			        errorMsg = "Statut de la demande de commission non modifiable.";
			    }
        	$(document).Toasts("create", {
                title: "Une erreur est survenue",
                body: errorMsg ,
                class: "bg-danger",
                autohide: true,
                delay: 5000,
            });
        }
    });
    return false
}

function showFields(decision) {
    var imageField = document.getElementById('imageField');
    var textField = document.getElementById('textField');

    if (decision === 'accepte') {
        imageField.classList.remove('hidden');
        textField.classList.add('hidden');
        textFieldCommentaire.classList.remove('hidden');
    } else if (decision === 'refuse') {
        imageField.classList.add('hidden');
        textField.classList.remove('hidden');
        textFieldCommentaire.classList.add('hidden');
    }
}
</script>
