<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Détails commission</title>
	<style>
	.cursor-pointer{
	  cursor: pointer;
	}
	</style>
</head>

<body>
<section layout:fragment="content">

<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">                           
                            <h1 class="m-0">
                            	<a sec:authorize="hasAnyAuthority('COMMISSION_ADMIN')" th:href="@{/commission/all_commission_page}"><button class ="btn btn-primary">Voir la liste des commissions</button></a>
                            	<a sec:authorize="hasAnyAuthority('COMMISSION_OWNER')" th:href="@{/commission/mes_commission_page}"><button class ="btn btn-primary">Voir la liste de mes commissions</button></a>
                            	 Détails de la commission
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

<section th:if="${commission == null}"  class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 card mt-5 p-5">
                    <div class="text-center">
                        <h1 class="text-danger">Cette commission n'existe pas.</h1>
                    </div>
                </div>
            </div>
        </div>
</section> 
           
<section th:if="${commission != null}"  class="card m-2 p-2">

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="resume-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="home" aria-selected="true">Résumé</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="historique-tab" data-toggle="tab" href="#historique" role="tab" aria-controls="profile" aria-selected="false">Historique</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
				           

  <div class="tab-pane fade show active" id="resume" role="tabpanel" aria-labelledby="resume-tab">
				  	    <div id="resultatsDiv" class="mt-1">
				        <div class="alert alert-info text-center" role="alert">
				            <h4>Résumé de la commission - Mois de 
				            <!-- afficher le nom de mois : si mois = 1 affiche janvier -->
				            <span th:with="moisNames=${T(java.time.Month).values()}">
						        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == commission.mois}">
						            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
						        </span>
						    </span>
				    		<span th:text="' ' + ${commission.annee}"></span>
				    		<br>sous la référence <span th:text="${commission.refCommission}"></span>
				    		
				    		<br>commission  
				    		    <span th:if="${commission.isPromo}" class='badge badge-success'>promotionnel</span>
                                <span th:unless="${commission.isPromo}" class='badge badge-danger'>mensuel</span>
                                <span  class=' '>Freelance</span>

				   <p th:if="${commission.isPromo}">
				   Periode Promotionnel
				    		<span th:if="${commission.isPromo}"  th:text="${commission.periodPromoDebut}"></span>
<span th:if="${commission.isPromo}"  th:text="${commission.periodPromoFin}"></span>
</p>
				    		
				    		
				    		</h4>
				        </div>
				        <div class="container mt-5">
				        	<table class="table col-md-5">
						      <thead>
						        <tr>
						          <th>Montant Commission</th>
						          <th>Montant</th>
						          <th>Staut</th>
						        </tr>
						      </thead>
						      <tbody>
						        <tr>
						          <td>Commission sur Demande</td>
						          <td><span th:text="${#numbers.formatDecimal(commission.montantCommissionDemandes, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
									<td rowSpan="5" id="commissionStatusCell" th:classappend="${commission.statut == 'PAID'} ? 'align-middle text-center bg-success' : (${commission.statut == 'IN_PROGRESS'} ? 'align-middle text-center bg-warning' : (${commission.statut == 'NOT_PAID'} ? 'align-middle text-center bg-danger' : 'align-middle text-center bg-dark'))">
									    <div class="d-flex flex-column justify-content-center">
									        <span th:if="${commission.statut == 'PAID'}" class="text-white">Payé</span>
									        <span th:if="${commission.statut == 'IN_PROGRESS'}" class="text-white">En cours</span>
									        <span th:if="${commission.statut == 'NOT_PAID'}" class="text-white"> En attente de Facture</span>
        									<span th:if="${commission.statut == 'CANCELLED'}" class="text-white">Annulé</span>
									    </div>
									</td>
									<td rowSpan="5" id="statutEnCoursBlock" class="align-middle text-center bg-warning hidden">
									    <div class="d-flex flex-column justify-content-center">
									        <span class="text-white">En cours</span>
									    </div>
									</td>
				
						        </tr>
						        <tr>
						          <td>Total avances consommés </td>
						          <td><span th:text="${#numbers.formatDecimal(commission.montantAvancePremiereFacture, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
						        </tr>
						        <tr>
						          <td>Total Commission d'acquisition</td>
						          <td><span th:text="${#numbers.formatDecimal(commission.totalCommissionsActivationNewFreelance, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
						        </tr>
						        <tr>
						          <td>Commission sur paiement</td>
						          <td><span th:text="${#numbers.formatDecimal(commission.montantCommissionPaiements, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
						        </tr>
						        	<tr>
							<td>Prime demande Mise en service</td>
							<td><span th:text="${commission.primeCommision}"></span> TND  </td>
							 </tr>
							 			<tr>
								<td>Total Commissions sur Mise en Service (30%) </td>
								<td><span  th:text="${#numbers.formatDecimal(commission.montantCommissionPremiereFactureMiseService, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
							</tr>
								<!-- 	<tr>
								<td>Retard Commissions sur paiement</td>
								<td><span>-</span><span th:text="${#numbers.formatDecimal(commission.montantCommissionPremiereFactureMiseService, 1, 'COMMA', 3, 'POINT')}"></span></span> TND</td>
							</tr> -->
						        <!-- Ajoutez plus de lignes ici pour d'autres montants et statuts -->
						        <tfoot>
						        <tr>
						          <th>Total Ht :</th>
						          <th><span th:text="${#numbers.formatDecimal(commission.totalHt - commission.montantAvancePremiereFacture, 1, 'COMMA', 3, 'POINT')}"></span> TND</th>
						          <th></th>
						        </tr>
						      </tfoot>
						      </tbody>
						      <tfoot>
						       <!--  <tr>
						          <th>Total retunu source  :</th>
						          <th><span th:text="${#numbers.formatDecimal(commission.retunu_source, 1, 'COMMA', 3, 'POINT')}"></span> TND</th>
						          <th></th>
						        </tr>--> 
						      </tfoot>
						    </table>
				        </div>
				        <div class="container mt-2">
				         <h2>Résumé de la Commission sur Demande</h2>
				            <table class="table table-bordered">
				                <thead>
				                    <tr>
				                        <th>Mois</th>
				                        <th>Nombre Total Demandes</th>
				                        <th>Nombre Demandes Acceptées</th>
				                        <th>Nombre Demandes Rejetées</th>
				                        <th>Demandes en Attente</th>
				                        <th>Demande Non réalisée</th>
				                        <th>Total des Commissions / demandes</th>
						        	    <th>Détails</th>
						        </tr>
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr>
				                        <td>
										    <span th:with="moisNames=${T(java.time.Month).values()}">
										        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == commission.mois}">
										            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
										        </span>
										    </span>
										    <span th:text="' ' + ${commission.annee}"></span>
										</td>                        <td><span th:text="${commission.nbrTotalDemandes}"></span></td>
				                        <td><span th:text="${commission.nbrDemandesAcceptees}"></span></td>
				                        <td><span th:text="${commission.nbrDemandesRejetees}"></span></td>
				                        <td><span th:text="${commission.nbrDemandesEnAttente}"></span></td>
				                        <td><span th:text="${commission.nbrDemandesNonRealisee}"></span></td>
				                        <td><span th:text="${#numbers.formatDecimal(commission.montantCommissionDemandes, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
				                        <td>
												  <a class="btn btn-primary" data-toggle="collapse" href="#detailsDemande" role="button" aria-expanded="false" aria-controls="collapseExample">
												    Details
												  </a>		
						                </td>                       
				                    </tr>
				                </tbody>
				            </table>
				           <div class="collapse ml-3 mr-3" id="detailsDemande">
										<div class="border border-primary rounded border-light p-2">
												<div class="text-center mb-3">
											        <h3 class="text-primary">Détails de la commission sur demande acceptées</h3>
											    </div>
										    <table id="tableau_details_commission_demande" class="table table-bordered">
									            <thead class="thead-primary">
									                <tr>
									                    <th>Code Client</th>
									                    <th>Etat</th>
									                    <th>status</th>
									                </tr>
									            </thead>
									                    <tbody>
										            <tr th:each="detail : ${lDetailsCommissionDemandes}">
										                <td th:text="${detail.referenceClient}"></td>
										                <td>
														    <span th:if="${detail.etatCommission == false}" class="badge badge-danger">Non réalisée</span>
														</td>
										                <td th:text="${detail.statutCommission}"></td>
										            </tr>
										        </tbody>
				        					</table>
										</div>
								</div> 
				        </div>
				        <div class="container mt-5">
				        						<div class="alert alert-secondary" role="alert">
						<h2>Résumé des commission Mise en service  (30% de  Première facture )</h2>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Nbr Demandes Activées</th>
							
								<th>Total des Commissions / activation</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								     <td>
										    <span th:with="moisNames=${T(java.time.Month).values()}">
										        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == commission.mois}">
										            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
										        </span>
										    </span>
										    <span th:text="' ' + ${commission.annee}"></span>
										</td> 
								<td><span th:text="${commission.nbrFactureMiseService}"></span></td>
							   <td><span  th:text="${commission.montantCommissionPremiereFactureMiseService}"></span> TND </td>
								<td>
									<a class="btn btn-primary" data-toggle="collapse" href="#detailsFirstFactureMiseService"
										role="button" aria-expanded="false" aria-controls="collapseExample">
										Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
								<div class="collapse ml-3 mr-3" id="detailsFirstFactureMiseService">
						<div class="border border-primary rounded border-light p-2">
							<div class="text-center mb-3">
								<h3 class="text-primary">Détails de la commission mise en service (30%)</h3>
							</div>
							<table id="tableau_details_commission_first_facture_mise_ajours" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
									<th>Reference Client</th>
										<th>Facture</th>
										<th>Montant</th>
										
									</tr>
								</thead>
								<tbody>
 
        <tr th:each="detail : ${ DetailsCommissionFactureMiseEnService}">
         <td th:text="${detail.referenceClient}"></td>
										                <td th:text="${detail.referenceFacture}"></td>
										              
										                <td th:text="${detail.montantCommisison}"></td>
										            </tr>
								</tbody>
							</table>
						</div>
					</div>
				            <h2>Résumé de la commission d'acquisition ( Première facture 70%) </h2>
				            <table class="table table-bordered">
				                <thead>
				                    <tr>
				                        <th>Mois</th>
				                        <th>Nombre Demandes Activées</th>
				                        <th>Total des Commissions / activation</th>
				                        <th>Détails</th>                       
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr>
				                        <td>
										    <span th:with="moisNames=${T(java.time.Month).values()}">
										        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == commission.mois}">
										            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
										        </span>
										    </span>
										    <span th:text="' ' + ${commission.annee}"></span>
										</td>                        <td><span th:text="${commission.nbrDemandesActivees}"></span></td>
				                        <td><span th:text="${#numbers.formatDecimal(commission.totalCommissionsActivationNewFreelance, 1, 'COMMA', 3, 'POINT')}"></span> TND</td>
				                        <td>
											<a class="btn btn-primary" data-toggle="collapse" href="#detailsFirstFacture" role="button" aria-expanded="false" aria-controls="collapseExample">
												Détails
											</a>		
						               </td>                                                  
				                    </tr>                  
				                </tbody>
				            </table>
				 		        <div class="collapse ml-3 mr-3" id="detailsFirstFacture">
										<div class="border border-primary rounded border-light p-2">
												<div class="text-center mb-3">
													<h3 class="text-primary">Détails de la commission d'acquisition</h3>								
											    </div>
										    <table id="tableau_details_commission_first_facture" class="table table-bordered">
									            <thead class="thead-primary">
									                <tr>
									                    <th>Code Client</th>
									                    <th>facture</th>
									                    <th>Montant</th>
									                    <th>Echéance</th>
									                </tr>
									            </thead>
										        <tbody>
										            <tr th:each="detail : ${lDetailsCommissionPremiereFactures}">
										                <td th:text="${detail.referenceClient}"></td>
										                <td th:text="${detail.referenceFacture}"></td>
										                <td th:text="${detail.montantCommisison}"></td>
														<td th:utext="${detail.isEcheance ? '<span class=&quot;badge badge-success&quot;>Oui</span>' : '<span class=&quot;badge badge-danger&quot;>Non</span>'}"></td>
										            </tr>
										        </tbody>
				        					</table>
										</div>
								</div>           
				        </div>
				        <div class="container mt-5">
				            <h2>Résumé de la commission des paiements ( hors premiére facture )</h2>
				            <table class="table table-bordered">
				                <thead>
				                    <tr>
				                        <th>Mois</th>
				                        <th>Nombre de Factures Payées</th>
				                        <th>Total des Commissions / Paiement</th>
				                        <th>Détails</th>                     
				                    </tr>
				                </thead>
				                <tbody>
				                    <tr>
				                        <td>
										    <span th:with="moisNames=${T(java.time.Month).values()}">
										        <span th:each="mois : ${moisNames}" th:if="${mois.getValue() == commission.mois}">
										            <span th:text="${mois.getDisplayName(T(java.time.format.TextStyle).FULL, T(java.util.Locale).FRENCH)}"></span>
										        </span>
										    </span>
										    <span th:text="' ' + ${commission.annee}"></span>
										</td>
				
				                        <td><span th:text="${commission.nbrFacturesPayees}"></span></td>
				                        <td><span th:text="${#numbers.formatDecimal(commission.montantCommissionPaiements, 1, 'COMMA', 3, 'POINT')}"></span> TND</td> 
				                        <td>
												  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
												    Details
												  </a>		
						                </td>                                                                     
				                    </tr>
				                </tbody>
				            </table>
				            <div class="collapse ml-3 mr-3" id="collapseExample">
										<div class="border border-primary rounded border-light p-2">
												<div class="text-center mb-3">
											        <h3 class="text-primary">Détails de la commission sur le paiement de la facture</h3>
											    </div>
										    <table id="tableau_details_commission_facture" class="table table-bordered">
									            <thead class="thead-primary">
									                <tr>
									                    <th>Réference des Factures</th>
									                    <th>Montant HT de Facture</th>
									                    <th>Echéance</th>
									                    <th>Montant Commission</th>
									                </tr>
									            </thead>
											     <tbody>
											            <tr th:each="detail : ${lDetailsCommissionFactures}">
											                <td th:text="${detail.referenceFacture}"></td>
											                <td th:text="${detail.montantFacture}"></td>
														<td th:utext="${detail.isEcheance ? '<span class=&quot;badge badge-success&quot;>Oui</span>' : '<span class=&quot;badge badge-danger&quot;>Non</span>'}"></td>
											                <td th:text="${detail.montantCommisison}"></td>
											            </tr>
											        </tbody>
				        					</table>
										</div>
							</div>
				        </div>
				        <!-- Bouton pour Ajouter la facture -->
				<button sec:authorize="hasAnyAuthority('COMMISSION_OWNER_FREELANCER')" th:if="${commission.statut == 'NOT_PAID'}" id="demandeButton" class="btn btn-outline-primary" data-toggle="modal" data-target="#validationModal">
				    Demande de Paiement
				</button>
					<button sec:authorize="hasAnyAuthority('COMMISSION_OWNER_FREELANCER')" th:if="${commission.statut == 'NOT_PAID'}"  class="btn btn-outline-primary"
					data-toggle="modal" data-target="#donwloadfactureModal" >
				    Télécharger votre facture 
				</button>
				<!-- downlad facture modal -->
								<div th:if="${commission.statut == 'NOT_PAID'}" class="modal fade" id="donwloadfactureModal" tabindex="-1" role="dialog" aria-labelledby="#donwloadfactureModalLabel" aria-hidden="true">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				        <form th:action="@{|/commission/telechergerFacturePdf/${commission.id}|}" enctype="multipart/form-data" method="POST">
				            <div class="modal-header">
				                <h5 class="modal-title" id="validationModalLabel">Facture</h5>
				                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
				                    <span aria-hidden="true">&times;</span>
				                </button>
				            </div>
				            <div class="modal-body">
				                
				                	<input type="hidden" id="commissionId" name="commissionId" th:value="${commission.id}">
				                    <div class="form-group">
				                        <label for="matfiscale">Matricule fiscale</label>
				                        <input type="text" name="matfiscale" class="form-control-file" th:value="${commission.revendeur?.identificationFiscale}" readonly/>
				                    </div>
				                      <div class="form-group">
				                        <label for="cbancaire">Compte bancaire</label>
				                        <input type="text" name="cbancaire" class="form-control-file" th:value="${commission.revendeur?.coordonneesBancaires}" readonly/>
				                    </div>
				                    <div class="form-group mt-2">
				                        <label for="numfact">Numero de Facture</label>
				                        <input  type="text" name="numfact" class="form-control"  required /></textarea>
				                    </div>
				                    

				                
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				                <button type="submit" class="btn btn-primary" >Valider</button>
				            </div>
				            </form>
				        </div>
				    </div>
				</div>
				<!-- Modèle d'ajouter la facture -->
				<div th:if="${commission.statut == 'NOT_PAID'}" class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true">
				    <div class="modal-dialog" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <h5 class="modal-title" id="validationModalLabel">Facture</h5>
				                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
				                    <span aria-hidden="true">&times;</span>
				                </button>
				            </div>
				            <div class="modal-body">
				                <form>
				                	<input type="hidden" id="commissionId" name="commissionId" th:value="${commission.id}">
				                    <div class="form-group">
				                        <label for="imageInput">Ajouter la facture</label>
				                        <input type="file" accept="image/*,application/pdf" class="form-control-file" id="imageInput">
				                    </div>
				                    <img src="/img/faces/choisiruneimage.png" id="prev2" class="cursor-pointer"
													style="height: 200px; width: 200px" data-toggle="modal" data-target="#imageModal"/>
				                    <div class="form-group mt-2">
				                        <label for="commentTextarea">Commentaire</label>
				                        <textarea class="form-control" id="commentTextarea" rows="3"></textarea>
				                    </div>
				                </form>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				                <button type="button" class="btn btn-primary" onclick="submitValidation()">Valider</button>
				            </div>
				        </div>
				    </div>
				</div>
				        
				    </div>
				    
				        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
						    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h5 class="modal-title" id="imageModalLabel">Image Zoom</h5>
						                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
						                    <span aria-hidden="true">&times;</span>
						                </button>
						            </div>
						            <div class="modal-body">
						                <img id="zoomedImage" style="width: 100%">
						            </div>
						        </div>
						    </div>
						</div>
  
  </div>
  <div class="tab-pane fade" id="historique" role="tabpanel" aria-labelledby="historique-tab">
			
			<div th:if="${commission.statut == 'CANCELLED'}" class="row w-50">
			    <div class="col-md-6">
			        <h3>Date d'Annulation :</h3>
			        <p>
			            <span th:text="${#dates.format(commission.cancelledDate, 'dd/MM/yyyy')}" class="badge badge-danger"></span>
			        </p>
			    </div>
			    <div class="col-md-6">
			        <h3>Annulée par :</h3>
			        <p>
			            <span class="badge badge-danger" th:text="${commission.cancelledBy.firstName + ' ' + commission.cancelledBy.lastName + ' (' + commission.cancelledBy.codeUser + ')'}"></span>
			        </p>
			    </div>
			</div>

		<h3 class="mt-3">Liste des Demandes de Commission</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date de creation</th>
                    <th>Référence</th>
                    <th>Statut</th> 
                    <th>Commentaire Revendeur</th>
                    <th>Facture revendeur</th>
                    <th>date de decission</th>
                    <th>Accepté/Refusé par</th>
                    <th>Commentaire admin</th>
                    <th>Récu admin</th>
                </tr>
            </thead>
            <tbody>
            	<tr th:if="${lDemandeCommissions == null or lDemandeCommissions.isEmpty()}">
    				<td colspan="7" style="text-align: center;">Aucune information disponible</td>
			    </tr>
                <tr th:each="demande : ${lDemandeCommissions}">
					<td th:text="${#dates.format(demande.createdDate, 'dd/MM/yyyy')}"></td>
					<td>
					    <a th:href="@{/demandeCommission/details_demande_commission_page/{id}(id=${demande.id})}" target="_blank" th:text="${demande.refDemandeCommission}"></a>
					</td>

					<td>
					    <span th:if="${demande.statut == 'PAID'}">
					        <span class="badge badge-success">Payé</span>
					    </span>
					    <span th:if="${demande.statut == 'IN_PROGRESS'}">
					        <span class="badge badge-warning">En attente</span>
					    </span>
					    <span th:if="${demande.statut == 'REFUSED'}">
					        <span class="badge badge-danger">Refusé</span>
					    </span>
					    <span th:if="${demande.statut == 'CANCELLED'}">
					        <span class="badge badge-dark">Annulé</span>
					    </span>
					</td>
					<td th:text="${demande.commentaireRev}"></td>
			
					<td th:if="${demande.photoRecuRev.endsWith('.jpg')} or  ${demande.photoRecuRev.endsWith('.png')} or  ${demande.photoRecuRev.endsWith('.gif')}">
	        			<!-- Bouton "Afficher" pour ouvrir la modal avec la photo -->
				        <button th:if="${demande.photoRecuRev} != null" type="button" class="btn btn btn-outline-primary" data-toggle="modal" th:attr="data-target='#photoRevModal' + ${demande.id}" >
				        	Afficher
				        </button>
    				</td>
    						<td th:unless="${demande.photoRecuRev.endsWith('.jpg')} or  ${demande.photoRecuRev.endsWith('.png')} or  ${demande.photoRecuRev.endsWith('.gif')}">
	        			<!-- Bouton "Afficher" pour ouvrir la modal avec la photo -->
				        <a th:href="@{${'/commission/'+demande.commission.id+'/'+demande.photoRecuRev}}" target="_blank"  >
						        <span class="btn btn btn-outline-primary">
				        			<i class="fas fa-file-pdf"></i> Télécharger
				        		</span>
						</a>				       
    				</td>
    				<td><span th:text="${#dates.format(demande.dateDecission, 'dd/MM/yyyy')}"></span></td>
					<td><span th:if="${demande.acceptedBy} != null" th:text="${demande.acceptedBy.firstName + ' ' + demande.acceptedBy.lastName + ' (' + demande.acceptedBy.codeUser+')'}"></span></td>
					<td th:text="${demande.commentaireAdmin}"></td>
					<td th:if="${demande.photoRecuAdmin != null} and  (${demande.photoRecuAdmin.endsWith('.jpg')} or  ${demande.photoRecuAdmin.endsWith('.png')} or  ${demande.photoRecuAdmin.endsWith('.gif')})">
	        			<!-- Bouton "Afficher" pour ouvrir la modal avec la photo -->
				        <button th:if="${demande.photoRecuAdmin} != null" type="button" class="btn btn-outline-success" data-toggle="modal" th:attr="data-target='#photoAdminModal' + ${demande.id}" >
				        	Afficher
				        </button>
    				</td>
				     <td th:if="${demande.photoRecuAdmin != null} and  (!${demande.photoRecuAdmin.endsWith('.jpg')} or  !${demande.photoRecuAdmin.endsWith('.png')} or  !${demande.photoRecuAdmin.endsWith('.gif')})">
	        			<!-- Bouton "Afficher" pour ouvrir la modal avec la photo -->
				        <a th:href="@{${'/commission/'+demande.commission.id+'/'+demande.photoRecuAdmin}}" target="_blank" download>
						        <button class="btn btn btn-outline-primary">
				        			<i class="fas fa-file-pdf"></i> Télécharger
				        		</button>
						</a>			        				       
    				</td>
					
    				</td>

                </tr>
            </tbody>
        </table>
			<!-- Modal pour afficher la photo recue revendeur -->
			<div th:each="demande : ${lDemandeCommissions}" th:id="'photoRevModal' + ${demande.id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title" id="exampleModalLabel">Récu revendeur</h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="modal-body"> 
			                <!-- Image à afficher -->
			                <img th:src="@{'/commission/' + ${demande.commission.id} + '/' + ${demande.photoRecuRev}}" alt="Photo" style="max-width: 100%; height: auto;">
			                <!-- Bouton de téléchargement -->
			                <a th:href="@{'/commission/' + ${demande.commission.id} + '/' + ${demande.photoRecuRev}}" >
			                    <button type="button" class="btn btn-primary mt-3">Télécharger</button>
			                </a>
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
			            </div>
			        </div>
			    </div>
			</div>
	
		<!-- Modal pour afficher la photo recue admin -->
		<div th:each="demande : ${lDemandeCommissions}" th:id="'photoAdminModal' + ${demande.id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title" id="exampleModalLabel">Reçu Admin</h5>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		            <div class="modal-body">
		                <!-- Image à afficher -->
		                <img th:src="@{'/commission/' + ${demande.commission.id} + '/' + ${demande.photoRecuAdmin}}" alt="Photo" style="max-width: 100%; height: auto;">
		                <!-- Bouton de téléchargement -->
		                <a th:href="@{'/commission/' + ${demande.commission.id} + '/' + ${demande.photoRecuAdmin}}" >
		                    <button type="button" class="btn btn-primary mt-3">Télécharger</button>
		                </a>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		            </div>
		        </div>
		    </div>
		</div>

  </div>
</div>
    
</section>
</section>
</body>
</html>
<script th:inline="javascript">

$(document).ready(function() {
    $("#imageInput").change(function() {
        var imgElement = $("#prev2")[0];
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                imgElement.src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
            
            // Vérifiez si le fichier est un PDF
            if (this.files[0].type === "application/pdf") {
                // Si c'est un PDF, masquez l'élément #prev2
                imgElement.style.display = "none";
            } else {
                // Si ce n'est pas un PDF, affichez l'élément #prev2
                imgElement.style.display = "block";
            }
        }
    });
    $("#prev2").click(function() {
        var zoomedImageElement = $("#zoomedImage");
        zoomedImageElement.attr("src", $("#prev2").attr("src"));
    });
});

function submitValidation() {
    var imageInput = $("#imageInput")[0];
    var commentTextarea = $("#commentTextarea").val();
    var commissionId = $("#commissionId").val()

    var formData = new FormData();
    formData.append("image", imageInput.files[0]);
    formData.append("commentaire", commentTextarea);
    formData.append("commissionId", commissionId);

    $.ajax({
        type: "POST",
        url: "/demandeCommission/demande",
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
        	 
        	
            $("#demandeButton").hide();
        	 
        	$(document).Toasts("create", {
                title: "Succès",
                body: "La demande de commission a été envoyée avec succès.",
                class: "bg-success",
                autohide: true,
                delay: 5000,
            });
        	
        	commissionStatusCell.style.display = 'none';
        	statutEnCoursBlock.classList.remove('hidden');

            $("#validationModal").modal("hide");
        },
        error: function(error) {
        	var errorMsg  = ""
        		    if (error.responseText === 'FILE_REQUIRED') {
        		        errorMsg = "facture est requise.";
        		    }else if(error.responseText === 'COMMISSION_ALREADY_HAS_ACTIVE_REQUEST'){
        		    	errorMsg = "La commission spécifiée est déjà liée à une demande en cours.";
        		    }
        	
        	$(document).Toasts("create", {
                title: "Une erreur est survenue",
                body: errorMsg ,
                class: "bg-danger",
                autohide: true,
                delay: 5000, // Augmentez la durée pour que l'utilisateur ait le temps de lire le message
            });
        }
    });
}

    $(document).ready(function () {    	
        $('#tableau_details_commission_demande').DataTable({
            "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucun résultat trouvé",
                "info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
                "search": "Rechercher",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "lengthMenu": [10, 20, 50, 200, 500, 999]
        });
    });
    $(document).ready(function () {
    	
        $('#tableau_details_commission_first_facture').DataTable({
            "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucun résultat trouvé",
                "info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
                "search": "Rechercher",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "lengthMenu": [10, 20, 50, 200, 500, 999]
        });
    });

    $(document).ready(function () {

        $('#tableau_details_commission_facture').DataTable({
            "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucun résultat trouvé",
                "info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
                "search": "Rechercher",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "lengthMenu": [10, 20, 50, 200, 500, 999]
        });
    });
    $(document).ready(function () {

        $('#tableau_details_commission_first_facture_mise_ajours').DataTable({
            "language": {
                "lengthMenu": "Afficher _MENU_ entrées par page",
                "zeroRecords": "Aucun résultat trouvé",
                "info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
                "infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
                "infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
                "search": "Rechercher",
                "paginate": {
                    "first": "<<",
                    "previous": "<",
                    "next": ">",
                    "last": ">>"
                }
            },
            "lengthMenu": [10, 20, 50, 200, 500, 999]
        });
    });

</script>
