<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorator="~{layout.html}">

<head>

	<title>Suivi des Commissions</title>

</head>

<body>
	<section layout:fragment="content">

		<!-- Loader -->
		<div th:replace="/fragments/loader.html :: loader"></div>

		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">
							Calcul de commissions
						</h1>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
		<section class="card m-2 p-2">
			<div class="container mt-2">
				<div class="d-flex justify-content-between align-items-center ">
					<div class="col-md-9">
						<form>
							<div class="d-flex justify-content-between align-items-center">
								<div class="col-sm-4 ">
									<label id="date_label">Sélectionnez une date (année-mois)</label>
									<input class="form-control" type="month" id="date" name="date" placeholder="aaa">

									<!-- input pour navigateur FireFox -->
									<label style="display: none;" id="date_label_fireFox">Entrez une date (année-mois)
									</label>
									<div>
										<div class="col-md-12"><input class="ml-2 form-control" type="text"
												id="alternativeDate" name="alternativeDate"
												placeholder="Format attendu : 2023-01" style="display: none;"></div>
										<div class="col-md-12">
											<p id="errorMessage" style="display: none; color: red;">Le format doit être
												YYYY-MM (2023-01)</p>
										</div>
									</div>
								</div>
								<div class="col-sm-4 "
									sec:authorize="hasAnyAuthority('COMMISSION_FINNANCIER_ALL','COMMISSION_FINNANCIER_AREA')">
									<label class="col-form-label" for="professions"> Revendeur </label>
									<input list="userAffected" class="form-control" autocomplete="off" type="text"
										name="revendeur" id="revendeur"
										placeholder="Veuillez entrer le nom de votre revendeur">

									<datalist id="userAffected">
										<option th:each="user : ${client}" th:value="${user.codeUser}"
											th:text="${user.firstName + ' ' + user.lastName + (user.nomCommercial != null ? ' ' + user.nomCommercial : '')}">
										</option>
									</datalist>

								</div>

								<div class="col-md-4">
									<button type="button" class="btn btn-primary ml-2" id="buttonCalculer"
										onclick="getData()">Calculer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="resultatsDiv" class="hidden mt-5">

				<div class="alert alert-info text-center" role="alert">
					<h1 class="text-center mb-3">Détails Commission</h1>
					<h4>Résumé des Commissions de <span name="moisNom"></span> <span name="anneeNom"></span></h4>
				</div>
				<div class="container mt-5">
					<table class="table col-md-5">
						<thead>
							<tr>
								<th>Montant Commission</th>
								<th>Montant</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Commissions sur Demande</td>
								<td><span name="total"></span>TND</td>
							</tr>
							<tr>
							<td>Prime demande Mise en service</td>
							<td><span name="primeMs"></span>  TND </td>
							 </tr>
							<tr>
								<td>Total avances consommés  </td>
								<td><span name="totalCommissions"></span> TND</td>
							</tr>
									<tr>
								<td>Total Commissions sur Mise en Service (30%) </td>
								<td><span name="totalCommissionsMiseService"></span> TND</td>
							</tr>
								<tr>
								<td>Total Commissions sur Activation (70%) </td>
								<td><span name="totalCommissionsActivationNew"></span> TND</td>
							</tr> 
							<!-- 	<tr>
								<td>Retard Commissions sur paiement</td>
								<td><span>-</span><span name="retardlCommissionsPaiement"></span></span> TND</td>
							</tr> -->
							<tr>
								<td>Commissions sur paiement</td>
								<td><span name="totalCommissionsPaiement"></span></span> TND</td>
							</tr>
							<!-- Ajoutez plus de lignes ici pour d'autres montants et statuts -->
						</tbody>
						<tfoot>
							<tr>
								<th>Total :</th>
								<th><span name="commission"></span> TND</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="container mt-5">
					<div class="alert alert-secondary" role="alert">
						<h2>Résumé des Commissions sur Demande</h2>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Total Demandes</th>
								<th>Demandes Acceptées</th>
								<th>Demandes Rejetées</th>
								<th>Demandes en Attente </th>
								<th>Demande Non réalisée</th>
								<th>Total des Commissions / demandes</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span name="moisNom"></span></td>
								<td><span name="totalDemandes"></span></td>
								<td><span name="demandesAccepte"></span></td>
								<td><span name="demandesRejete"></span></td>
								<td><span name="demandesEnAttente"></span></td>
								<td><span name="nbFirstFactureNonPayed"></span></td>
								<td><span name="total"></span> TND</td>
								<td>
									<a class="btn btn-primary" data-toggle="collapse" href="#detailsDemande"
										role="button" aria-expanded="false" aria-controls="collapseExample">
										Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="collapse ml-3 mr-3" id="detailsDemande">
						<div class="border border-primary rounded border-light p-2">
							<div class="text-center mb-3">
								<h3 class="text-primary">Détails de la commission sur demande acceptées</h3>
							</div>
							<table id="tableau_details_commission_demande" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
										<th>Code Client</th>
										<th>Etat</th>
										<th>status</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="container mt-5">
				
								<div class="alert alert-secondary" role="alert">
						<h2>Résumé des commission Mise en service  (30% de  Première facture )</h2>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Nbr Demandes Activées</th>
							
								<th>Total des Commissions / activation</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span name="moisNom"></span></td>
								<td><span name="nbDemandeActiveMS"></span></td>
							   <td><span name="totalCommissionsmS"></span> TND </td>
								<td>
									<a class="btn btn-primary" data-toggle="collapse" href="#detailsFirstFactureMiseService"
										role="button" aria-expanded="false" aria-controls="collapseExample">
										Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
							<div class="collapse ml-3 mr-3" id="detailsFirstFactureMiseService">
						<div class="border border-primary rounded border-light p-2">
							<div class="text-center mb-3">
								<h3 class="text-primary">Détails de la commission mise en service</h3>
							</div>
							<table id="tableau_details_commission_first_facture_mise_ajours" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
									    <th>Ref client</th>
										<th>Facture</th>
										<th>Montant</th>
										
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
					<div class="alert alert-secondary" role="alert">
						<h2>Résumé des commission d'acquisition (70%  Première facture )</h2>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Nbr Demandes Activées</th>
								<th>Total des Commissions / activation</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span name="moisNom"></span></td>
								<td><span name="nbDemandeActive"></span></td>
							   <td><span name="totalCommissionsActivationNew"></span> TND </td>
								<td>
									<a class="btn btn-primary" data-toggle="collapse" href="#detailsFirstFacture"
										role="button" aria-expanded="false" aria-controls="collapseExample">
										Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="collapse ml-3 mr-3" id="detailsFirstFacture">
						<div class="border border-primary rounded border-light p-2">
							<div class="text-center mb-3">
								<h3 class="text-primary">Détails de la commission sur activation</h3>
							</div>
							<table id="tableau_details_commission_first_facture" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
									  <th>Ref client</th>
									  <th>facture</th>
										<th>Montant</th>
										<th>Echéance</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
                       <p id="totalCommissionsAvancePayee"></p>
				<div class="container mt-5">
					<div class="alert alert-secondary" role="alert">
						<h2>Commission des paiements ( hors premiére facture )</h2>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Nbr de Factures Payées</th>
								<th>Nbr de Factures Non Versé</th>
								<th>Total des Commissions / Paiement</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span name="moisNom"></span></td>
								<td><span name="nbFacturePayee"></td>
								<td><span name="nbFactureNonVerse"></td>
								<td><span name="totalCommissionsPaiement"></span></td>
								<td>
									<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
										role="button" aria-expanded="false" aria-controls="collapseExample">
										Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="collapse ml-3 mr-3" id="collapseExample">
						<div class="border border-primary rounded border-light p-2">
							<div class="text-center mb-3">
								<h3 class="text-primary">Détails de la commission sur le paiement de la facture</h3>
							</div>
							<table id="tableau_details_commission_facture" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
										<th>Réference des Factures</th>
										<th>Montant HT de Facture</th>
										<th>Echéance</th>
										<th>Montant Commission</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
					<!-- 	<div class="container mt-5">
					<div class="alert alert-secondary" role="alert">
						<h2>Retart Commission des paiements ( premiére facture )</h2>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Mois</th>
								<th>Nbr de Factures en retard</th>
								<th>Total penalite </th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span name="moisNom"></span></td>
								<td><span name="nbFactureEnRetard"></td>
								<td><span name="totalCommissionsPaiementRetard"></span></td>
								<td>
									<a class="btn btn-primary" data-toggle="collapse" href="#collapseExampleRetard"
										role="button" aria-expanded="false" aria-controls="collapseExampleRetard">
										Details
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="collapse ml-3 mr-3" id="collapseExampleRetard">
						<div class="border border-primary rounded border-light p-2">
							<div class="text-center mb-3">
								<h3 class="text-primary">Détails de la commission sur le Retart paiement de la facture</h3>
							</div>
							<table id="tableau_details_commission_facture-retard" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
										<th>Réference des Factures</th>		
										<th>Montant Commission</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>-->
				<div>
					<p> - Sauf action promotionnelle</p>
					<p> - Hors avance </p>
				</div>
				<!-- Button trigger modal -->
				<div id="validationCommisionMiseService"></div>
				<div id="validationCommision"></div>


				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirmation de Commission</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Êtes-vous sûr de vouloir valider les commissions du mois de <b><span
										name="moisNom"></span></b> ?
								<div id="msgCommissionEnAttente"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
								<button type="button" id="validationButton" class="btn btn-primary"
									onclick="sendData()">Valider</button>
							</div>
						</div>
					</div>
				</div>
				
					<!-- Modal -->
				<div class="modal fade" id="validationCommisionMiseServiceModel" tabindex="-1" role="dialog"
					aria-labelledby="validationCommisionMiseServiceModel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Confirmation de Commission Mise en service</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								Êtes-vous sûr de vouloir valider les commissions du mois de <b><span
										name="moisNom"></span></b> ?
								<div id="msgCommissionEnAttente"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
								<button type="button" id="validationButtonMiseService" class="btn btn-primary"
									onclick="sendDataMise()">Valider</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- model first facture non versé -->
			<div sec:authorize="hasAnyAuthority('COMMISSION_FINNANCIER_ALL','COMMISSION_FINNANCIER_AREA')"
				class="modal fade" id="modelNbFirstFactureNonVerse" tabindex="-1" role="dialog"
				aria-labelledby="modelNbFirstFactureNonVerse" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Liste des premières factures non versées
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<table id="tableau_list_firstFacture_nonVerse" class="table table-bordered">
								<thead class="thead-primary">
									<tr>
										<th>Facture</th>
										<th>client</th>
										<th>Payé par</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</body>

</html>
<script th:inline="javascript">
	let obj;
	function getData() {

		//Initialisation
		table = $('#tableau_details_commission_facture').DataTable()
		table.destroy();

		//Initialisation
	table = $('#tableau_details_commission_first_facture').DataTable()
    table.destroy();
		//Initialisation
		table = $('#tableau_details_commission_demande').DataTable()
		table.destroy();
table=$('#tableau_details_commission_first_facture_mise_ajours').DataTable()
       table.destroy();
		//Initialisation
		table = $('#tableau_list_firstFacture_nonVerse').DataTable()
		table.destroy();

		$('.loader-container').show();

		$('#tableau_details_commission_demande').DataTable.clear
		$('#tableau_details_commission_first_facture').DataTable.clear
		$('#tableau_details_commission_facture').DataTable.clear
		$('#tableau_list_firstFacture_nonVerse').DataTable.clear

		const inputElement = document.getElementById("date");
		//input date pour fireFox
		const alternativeInputElement = document.getElementById("alternativeDate");

		let date;
		const browser = navigator.userAgent;
		if (browser.indexOf("Firefox") > -1) {
			date = alternativeInputElement.value;
		} else {
			date = inputElement.value;
		}

		var apiUrl = "/commission/getCommissionFreelancer";
		let idRevendeur = null;
		if (document.getElementById("revendeur")) {
			idRevendeur = document.getElementById("revendeur").value;
		}
		var monthNames = [
			"Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
			"Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"
		];

		const dataToSend = {
			revendeur: idRevendeur,
			date: date
		};

		$.ajax({
			url: apiUrl,
			method: "POST",
			//  contentType: 'application/json',
			data: dataToSend,
			success: function (data) {

				var erreur = data.erreur;
				if (erreur != null) {
					const errorMessages = {
						"REV_REQUIRED": "Le champ revendeur est requis.",
						"REV_NOT_FOUND": "Le revendeur n'a pas été trouvé.",
						"DATE_REQUIRED": "La date est requise.",
					};

					for (const errorType in errorMessages) {
						if (erreur.includes(errorType)) {
							$(document).Toasts("create", {
								title: "Erreur",
								body: errorMessages[errorType],
								class: "bg-danger",
								autohide: true,
								delay: 5000,
							});
						}
					}
					$('.loader-container').hide();
					$("#resultatsDiv").addClass("hidden");
					return;
				}

				obj = data;
				$('.loader-container').hide();

				// Afficher la div resultat
				$("#resultatsDiv").removeClass("hidden");

				// Mettre à jour le contenu de la span avec le nom du mois sélectionné
				//var selectedDate = new Date(date);
				//var monthName = monthNames[selectedDate.getMonth()];
				// var year = selectedDate.getFullYear();
				$("span[name='moisNom']").text(monthNames[data.monthName - 1] + " " + data.year);

				// Mettre à jour les informations de commission de demenades
				$("span[name='totalDemandes']").text(data.commissionDemandes.totalDemandes);
				$("span[name='demandesAccepte']").text(data.commissionDemandes.demandesAccepte);
				$("span[name='demandesRejete']").text(data.commissionDemandes.demandesRejete);
				$("span[name='demandesEnAttente']").text(data.commissionDemandes.demandeEnAttente);
				$("span[name='nbFirstFactureNonPayed']").text(data.commissionDemandes.nbFirsFactureNonPayed);
				$("span[name='total']").text(parseFloat(data.commissionDemandes.total).toFixed(3));
				$("span[name='primeMs']").text(parseFloat(data.commissionDemandes.primeMs).toFixed(3));
				
				    // Metre Aa jour les information de commision de mise en service
	        $("span[name='totalCommissionsMiseService']").text(parseFloat(data.commissionMiseEnservicePaiements.montantCommissionPremiereFactureMiseService).toFixed(3));
	        $("span[name='nbDemandeActiveMS']").text(data.commissionMiseEnservicePaiements.nbrFactureMiseService);
	        $("span[name='totalCommissionsmS']").text(parseFloat(data.commissionMiseEnservicePaiements.montantCommissionPremiereFactureMiseService).toFixed(3));


				// Mettre à jour les informations de Commission sur activation (first facture)
				$("span[name='nbDemandeActive']").text(data.commissionActivation.nbCommissionActivation);

				$("span[name='totalCommissions']").text(parseFloat(data.commissionActivation.totalCommissionsAvancePayee).toFixed(3));
				$("span[name='totalCommissionsSansAvance']").text(parseFloat(data.commissionActivation.totalCommissionsActivationNewFreelance).toFixed(3));
				$("span[name='totalCommissionsActivationNew']").text(parseFloat(data.commissionActivation.totalCommissionsActivationNewFreelance).toFixed(3));

				
				
				$("p[id='totalCommissionsAvancePayee']").text("Total commission avance: " + parseFloat(data.commissionActivation.totalCommissionsAvancePayee).toFixed(3));

				// commision retard
				// $("span[name='retardlCommissionsPaiement']").text(parseFloat(data.commissionActivation.totalRetardPayement).toFixed(3));

			//	$("span[name='nbFactureEnRetard']").text(data.commissionActivation.listeRetardPayement.length);

				//$("span[name='totalCommissionsPaiementRetard']").text(parseFloat(data.commissionActivation.totalRetardPayement).toFixed(3));

								
                 // Mettre à jour les informations de Commission des paiements
				$("span[name='nbFacturePayee']").text(data.commissionPaiements.nbFacturePayee);
				$("span[name='totalCommissionsPaiement']").text(parseFloat(data.commissionPaiements.totalCommissionsPaiement).toFixed(3));
				$("span[name='nbFactureNonVerse']").text(data.commissionPaiements.nombreFactureNonVerse);

				var commission =
					parseFloat(data.commissionPaiements.totalCommissionsPaiement) +
					parseFloat(data.commissionActivation.totalCommissions) +
					parseFloat(data.commissionDemandes.total) +
					+parseFloat(data.commissionDemandes.primeMs) + 
					parseFloat(data.commissionMiseEnservicePaiements.montantCommissionPremiereFactureMiseService) ;
				$("span[name='commission']").text(commission.toFixed(3));


				$("#validationCommision").empty();
				if (data.isAdmin == false) {
					if (data.validation == true) {

						let btn = `<button type="button" class="btn btn-success ml-3" id="buttonValidationModel" data-toggle="modal" data-target="#exampleModal">
          			  valider
          			</button> `
						$("#validationCommision").append(btn);
						var validationMessage = '';


						if (!data.verif15Jours || (data.verifFirstFactureNonVerse || data.verifFactureNonVerse || data.isexsitePromo)) {

							if (data.isexsitePromo) {

								validationMessage += '<h5 class="text-danger mt-2">Pour valider cette commission, veuillez d`abord valider la promotionnelle associée.</h5>';

							}
							if (!data.verif15Jours) {
								validationMessage += '<h5 class="text-danger mt-2">Vous devez attendre au moins 15 jours après la fin du mois de cette commission pour pouvoir la valider.</h5>';

							}
							//if (data.verifFirstFactureNonVerse == true || data.verifFactureNonVerse == true) {
							//	validationMessage += '<h5 class="text-danger mt-2">Il y a des factures encore non versées. Pour pouvoir valider vos commissions, veuillez les verser le plus tôt possible.</h5>';
							//}
                              
							$("#validationCommision").html(validationMessage);
						}

						if (data.verifCommissionEnAttente == true) {
							msg = '<p class="text-danger mt-2 my-2">Attention : Il reste des demandes en attente. Veuillez noter que si vous validez votre commission pour ces demandes, elle ne pourra pas être modifiée ultérieurement.</p>';
							$("#msgCommissionEnAttente").html(msg);
						}

					/*	let btnValidationMs = `<button type="button" class="btn btn-success ml-3" id="validationCommisionMiseService" data-toggle="modal" data-target="#validationCommisionMiseServiceModel">
		          			  valider
		          			</button> `
								$("#validationCommisionMiseService").append(btn);*/
					} else {
						$("#validationCommision").empty();
						$("#validationCommision").html('<p class="font-weight-bold text-success">Cette commission est déjà validée.</p>');
					}
				}

				if (data.isAdmin == true) {
					//tableau liste first facture non versé
					var tableListFirstFactureNonVerse = document.querySelector('#tableau_list_firstFacture_nonVerse tbody');
					tableListFirstFactureNonVerse.innerHTML = ''; // Efface le contenu précédent du tableau

					data.listFirstFactureNonVerse.forEach(function (row) {
						var newRow = tableListFirstFactureNonVerse.insertRow(tableListFirstFactureNonVerse.rows.length);
						newRow.insertCell(0).textContent = row.ref_facture;
						newRow.insertCell(1).innerHTML = "<a href='/client/viewclient/" + row.clientid + "' target=_blank>" + row.referenceClient + "</a>";
						newRow.insertCell(2).textContent = row.firstName + " " + row.lastName + " / " + (row.nomCommercial ? row.nomCommercial : "") + " / ( " + row.codeUser + " )";
					});
					createDataTableListFirstFactureNonVerse()
				}


				//details commission facture
				var tableBodyDetailsFacture = document.querySelector('#tableau_details_commission_facture tbody');
				tableBodyDetailsFacture.innerHTML = ''; // Efface le contenu précédent du tableau

				data.commissionPaiements.detailsCommissionFacture.forEach(function (row) {
					var newRow = tableBodyDetailsFacture.insertRow(tableBodyDetailsFacture.rows.length);
					newRow.insertCell(0).textContent = row.referenceFacture;
					newRow.insertCell(1).textContent = row.montantFacture.toFixed(3) + " TND";
					newRow.insertCell(2).innerHTML = row.isEcheance === true ? "<span class='badge badge-success'>Oui</span>" : "<span class='badge badge-danger'>Non</span>";
					newRow.insertCell(3).textContent = row.montantCommisison.toFixed(3) + "TND";
				});
				createDataTableDetailsFacture()
                 // details commision Mise en service
                 
 				var tableBodyDetailsMiseEnService = document.querySelector('#tableau_details_commission_first_facture_mise_ajours tbody');
				console.log("tableBodyDetailsMiseEnService" ,tableBodyDetailsMiseEnService)

				tableBodyDetailsMiseEnService.innerHTML = ''; // Efface le contenu précédent du tableau
				console.log("detail" , data.commissionMiseEnservicePaiements)
				data.commissionMiseEnservicePaiements.detailsCommissionFacture.forEach(function (row) {
					var newRow = tableBodyDetailsMiseEnService.insertRow(tableBodyDetailsMiseEnService.rows.length);
					newRow.insertCell(0).textContent = row.referenceClient;
					newRow.insertCell(1).textContent = row.referenceFacture;
					newRow.insertCell(2).textContent = row.montantCommisison.toFixed(3) + "TND";

				});
				createDataTableDetailsDemande("#tableau_details_commission_first_facture_mise_ajours")
				//details commission FIRST facture
				var tableBodyDetailsFirstFacture = document.querySelector('#tableau_details_commission_first_facture tbody');
				tableBodyDetailsFirstFacture.innerHTML = ''; // Efface le contenu précédent du tableau

				data.commissionActivation.detailsCommissionFirstFactures.forEach(function (row) {
					var newRow = tableBodyDetailsFirstFacture.insertRow(tableBodyDetailsFirstFacture.rows.length);
					newRow.insertCell(0).textContent = row.referenceClient;
					newRow.insertCell(1).textContent = row.referenceFacture;
					newRow.insertCell(2).textContent = row.montantCommisison.toFixed(3) + "TND";
					newRow.insertCell(3).innerHTML = row.isEcheance === true ? "<span class='badge badge-success'>Oui</span>" : "<span class='badge badge-danger'>Non</span>";

				});
				createDataTableDetailsFirstFacture()

				//details commission demande
				var tableBodyDetailsDemande = document.querySelector('#tableau_details_commission_demande tbody');
				tableBodyDetailsDemande.innerHTML = ''; // Efface le contenu précédent du tableau

				data.commissionDemandes.detailsCommissionDemande.forEach(function (row) {
					var newRow = tableBodyDetailsDemande.insertRow(tableBodyDetailsDemande.rows.length);
					newRow.insertCell(0).innerHTML = row.referenceClient;
					newRow.insertCell(1).innerHTML = row.etatCommission == false ? "<span class='badge badge-danger'> Non réalisé </span>" : "";
					newRow.insertCell(2).textContent = row.statutCommission;
				});
				createDataTableDetailsDemande("#tableau_details_commission_demande")
				
				// details commision retard de payement 
			 //   var tableBodyDetailsRetard = document.querySelector('#tableau_details_commission_facture-retard tbody');
			//	tableBodyDetailsRetard.innerHTML = ''; // Efface le contenu précédent du tableau

			//	data.commissionActivation.listeRetardPayement.forEach(function (row) {
			//		var newRow = tableBodyDetailsRetard.insertRow(tableBodyDetailsRetard.rows.length);
			//		newRow.insertCell(0).innerHTML = row.facture?.ref_facture;
			//		newRow.insertCell(1).innerHTML = "-3";
			//	});
			//	createDataTableDetailsDemande("#tableau_details_commission_facture-retard")

			},
			error: function (error) {
				$('.loader-container').hide();
				console.error('Erreur lors de la récupération des données:', error);
			}
		});
	}
	function createDataTableDetailsDemande(idtabel) {
		$(document).ready(function () {

			$(idtabel).DataTable({
				"language": {
					"lengthMenu": "Afficher _MENU_ entrées par page",
					"zeroRecords": "Aucun résultat trouvé",
					"info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
					"infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
					"infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
					"search": "Rechercher",
					"paginate": {
						"first": "<<",
						"previous": "<",
						"next": ">",
						"last": ">>"
					}
				},
				"lengthMenu": [10, 20, 50, 200, 500, 999]
			});
		});
	}

	function createDataTableListFirstFactureNonVerse() {
		$(document).ready(function () {

			$('#tableau_list_firstFacture_nonVerse').DataTable({
				"language": {
					"lengthMenu": "Afficher _MENU_ entrées par page",
					"zeroRecords": "Aucun résultat trouvé",
					"info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
					"infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
					"infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
					"search": "Rechercher",
					"paginate": {
						"first": "<<",
						"previous": "<",
						"next": ">",
						"last": ">>"
					}
				},
				"lengthMenu": [10, 20, 50, 200, 500, 999],
				"autoWidth": true
			});
		});
	}


	function createDataTableDetailsFirstFacture() {
		$(document).ready(function () {

			$('#tableau_details_commission_first_facture').DataTable({
				"language": {
					"lengthMenu": "Afficher _MENU_ entrées par page",
					"zeroRecords": "Aucun résultat trouvé",
					"info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
					"infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
					"infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
					"search": "Rechercher",
					"paginate": {
						"first": "<<",
						"previous": "<",
						"next": ">",
						"last": ">>"
					}
				},
				"lengthMenu": [10, 20, 50, 200, 500, 999]
			});
		});
	}

	function createDataTableDetailsFacture() {
		$(document).ready(function () {

			$('#tableau_details_commission_facture').DataTable({
				"language": {
					"lengthMenu": "Afficher _MENU_ entrées par page",
					"zeroRecords": "Aucun résultat trouvé",
					"info": "Affichage de _START_ à _END_ sur un total de _TOTAL_ entrées",
					"infoEmpty": "Affichage de 0 à 0 sur un total de 0 entrées",
					"infoFiltered": "(filtré à partir de _MAX_ entrées au total)",
					"search": "Rechercher",
					"paginate": {
						"first": "<<",
						"previous": "<",
						"next": ">",
						"last": ">>"
					}
				},
				"lengthMenu": [10, 20, 50, 200, 500, 999]
			});
		});
	}
 function sendDataMise(){

		// Désactiver le bouton
		$('#validationButton').prop('disabled', true);

		// Ajouter la classe qui affiche le chargeur
		$('#validationButton').addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');

		// Afficher le conteneur de chargeur
		$('.loader-container').show();
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/commission/saveCommisionMiseEnService",
			data: JSON.stringify(obj),
			dataType: "json",
			timeout: 100000,
			async: false,
			success: function (data) {
				if (data == true) {
					$(document).Toasts("create", {
						title: "Ajouter commission",
						body: "Votre commision de mise en service est enregistreé  ",
						class: "bg-success",
						autohide: true,
						delay: 1000,
					});
					$('.toast').on('hidden.bs.toast', function () {
						// Code to execute after the toast has been hidden
						window.location.reload()
					});
				}
				else {

					// Masquer la modal
					$('#exampleModal').modal('hide');

					// Supprimer le bouton
					$('#buttonValidationModel').remove();

					// Masquer le conteneur de chargeur
					$('.loader-container').hide();

					$(document).Toasts("create", {
						title: "Erreur !",
						body: "Votre commision de mise en service  validée.",
						class: "bg-danger",
						autohide: true,
						delay: 10000,
					});
				}

			},
			error: function (e) {
				console.log("ERROR: ", e);
			},
		});
	 
 }
	function sendData() {

		// Désactiver le bouton
		$('#validationButtonMiseService').prop('disabled', true);

		// Ajouter la classe qui affiche le chargeur
		$('#validationButton').addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');

		// Afficher le conteneur de chargeur
		$('.loader-container').show();

		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/commission/saveCommision",
			data: JSON.stringify(obj),
			dataType: "json",
			timeout: 100000,
			async: false,
			success: function (data) {
				if (data == true) {
					$(document).Toasts("create", {
						title: "Ajouter commission",
						body: "Votre commision est enregistreé  ",
						class: "bg-success",
						autohide: true,
						delay: 1000,
					});
					$('.toast').on('hidden.bs.toast', function () {
						// Code to execute after the toast has been hidden
						window.location.reload()
					});
				}
				else {

					// Masquer la modal
					$('#exampleModal').modal('hide');

					// Supprimer le bouton
					$('#buttonValidationModel').remove();

					// Masquer le conteneur de chargeur
					$('.loader-container').hide();

					$(document).Toasts("create", {
						title: "Erreur !",
						body: "La commission est déjà validée.",
						class: "bg-danger",
						autohide: true,
						delay: 10000,
					});
				}

			},
			error: function (e) {
				console.log("ERROR: ", e);
			},
		});
	}

	const browser = navigator.userAgent;
	// Vérifier si le navigateur est Firefox
	if (browser.indexOf("Firefox") > -1) {

		const inputElement = document.getElementById("date");
		const alternativeInputElement = document.getElementById("alternativeDate");
		const errorMessageElement = document.getElementById("errorMessage");
		const date_label = document.getElementById("date_label");
		const date_label_fireFox = document.getElementById("date_label_fireFox");
		const buttonCalculer = document.getElementById("buttonCalculer");
		buttonCalculer.disabled = true;

		if (inputElement && alternativeInputElement) {
			// Masquer l'élément <input> existant
			inputElement.style.display = "none";
			date_label.style.display = "none";

			// Afficher l'élément alternatif <input>
			alternativeInputElement.style.display = "block";
			date_label_fireFox.style.display = "block";
		}

		alternativeInputElement.addEventListener("input", function () {

			// Vérifier que la valeur a le format attendu (YYYY-MM)
			const inputValue = alternativeInputElement.value;
			const regex = /^(\d{4})-(\d{2})$/;

			if (regex.test(inputValue)) {
				// La valeur a le bon format
				const [, year, month] = inputValue.match(regex);

				if (parseInt(month, 10) >= 1 && parseInt(month, 10) <= 12) {
					alternativeInputElement.style.borderColor = "initial";
					errorMessageElement.style.display = "none";
					buttonCalculer.disabled = false;
				} else {
					alternativeInputElement.style.borderColor = "red";
					errorMessageElement.style.display = "block";
					buttonCalculer.disabled = true;
				}

			} else {
				alternativeInputElement.style.borderColor = "red";
				errorMessageElement.style.display = "block";
				buttonCalculer.disabled = true;
			}

		});
	}

	function getTenthDayOfNextMonth() {

		let date;
		const browser = navigator.userAgent;
		if (browser.indexOf("Firefox") > -1) {
			const alternativeInputElement = document.getElementById("alternativeDate");
			date = alternativeInputElement.value;
		} else {
			const input = document.getElementById("date");
			date = input.value;
		}

		const nextMonth = new Date(date);

		nextMonth.setMonth(nextMonth.getMonth() + 1); // Ajouter un mois

		// Définir le jour au 10 pour obtenir le 10e jour du mois
		nextMonth.setDate(10);

		const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
		return nextMonth.toLocaleDateString(undefined, options);
	}

	
	

</script>
