<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Ajouter Offre</title>
</head>
<body>
<section layout:fragment="content">
<div th:replace="/fragments/loader.html :: loader"></div>

      <section class="content">
      <div class="card m-3">
             <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Ajouter un offre</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        <div class="col-12 grid-margin">
            <div class="row">
                <div class="card-body">
                    
                    <form id="myForm" class="form-sample" action="#" th:action="@{/offre/add-offre}" enctype="multipart/form-data" method="POST">
						<div class="row">
							<div class="col-md-4">
							        <div class="form-group">
							            <label for="nom">Nom d'offre</label>
							            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" th:required="required"/>
							        </div>
							        <div class="form-group">
							            <label for="type">Type</label>
							            <input type="text" class="form-control" id="type" name="type" placeholder="Type" th:required="required"/>
							        </div>
							        
									    <div class="row">
									        <div class="col">
									            <div class="form-check">
									                <input type="checkbox" class="form-check-input" id="isActive" name="isActive" value="isActive">
									                <label class="form-check-label" for="isActive"><b>Offre activée</b></label>
									            </div>
									        </div>
									        <div class="col">
									            <div class="form-check">
									                <input type="checkbox" class="form-check-input" id="IsPrivate" name="IsPrivate" value="true">
									                <label class="form-check-label" for="IsPrivate"><b>Offre privée</b></label>
									            </div>
									        </div>
									        
									            <div class="col">
									            <div class="form-check">
									                <input type="checkbox" class="form-check-input" id="isRevSelected" name="isRevSelected" value="true">
									                <label class="form-check-label" for="isRevSelected"><b>Offre accessible </b></label>
									            </div>
									        </div>
									    </div>
							</div>
							<div class="col-md-5 ml-3 pl-5 border-left border-primary">
							
									<div class="container">
									    <div class="form-group">
									        <div class="form-check">
									            <input type="checkbox" class="form-check-input" id="IsPromo" name="isPromo" value="IsPromo" onchange="chekIfIsPromo(event)">
									            <label class="form-check-label" for="IsPromo"><b>Offre promotionnelle</b></label>
									        </div>
									    </div>
									</div>

								    <div id="offreParent">
	                                  <div class="form-group row">
				                        <label class="col-sm-3 col-form-label" 
				                          >offre parent</label
				                        >
				                        <select
				                          id="idOffre"
				                          name="idOffre"
				                          class="form-control"
				                          disabled
				                          th:required="required"
				                        >
				                          <option value="">offre de base</option>
				                        </select>
				                        </div>
				                    </div>
								    <div class="form-group">
								        <label for="dateDebutPromo">Période de vente promotion</label>
								        <div class="input-group">
								            <input type="date" class="form-control" id="dateDebutPromo" name="dateDebutPromo" th:required="required" disabled />
								            <div class="input-group-prepend input-group-append">
								                <span class="input-group-text">à</span>
								            </div>
								            <input type="date" class="form-control" id="dateFinPromo" name="dateFinPromo" th:required="required" disabled />
								        </div>
								    </div>
								    
									    <div class="form-group">
									        <label for="periodeValidPromo">Période de validation de la Promo</label>
									        <div class="input-group">
									            <input type="number" class="form-control" id="periodeValidPromo" name="periodeValidPromo" th:required="required" disabled>
									            <div class="input-group-append">
									                <span class="input-group-text">mois</span>
									            </div>
									        </div>
									    </div>

							</div>
						</div>





                        <div class="row">


                        </div>
                        <div class="row">

                        </div>
                        <div style="margin-top: 20px; text-align: center;">
                            <button type="submit" class="btn btn-success" style="margin-right: 20px;" id="buttonSave">Sauvegarder</button>
                            <button type="reset" class="btn btn-danger" style="margin-left: 20px;" >Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        </section>
      </section>
</body>
</html>
<script th:inline="javascript">

function chekIfIsPromo(event){
	if(event.target.checked){
	findAllOffreParent()
	 $("#dateDebutPromo").prop("disabled", false);
    $("#dateFinPromo").prop("disabled", false);
    $("#periodeValidPromo").prop("disabled", false);
    $("#idOffre").prop("disabled", false);
    $("#offreParent").prop("disabled", false);
    
	}
	else {
		$("#dateDebutPromo").prop("disabled", true);
        $("#dateFinPromo").prop("disabled", true);
        $("#periodeValidPromo").prop("disabled", true);
        $("#idOffre").prop("disabled", true);
        $("#offreParent").prop("disabled", true);
        
        $("#dateDebutPromo").prop("disabled", true).val("");
        $("#dateFinPromo").prop("disabled", true).val("");
        $("#periodeValidPromo").prop("disabled", true).val("");
        $("#idOffre").prop("disabled", true).val("");
        $("#offreParent").prop("disabled", true).val("");

	}
}

function findAllOffreParent() {

    $.get("/offre/offreParent" , function (data) {
      $("#idOffre").empty();
      var option = "<option value = ''>offre de base</option>";
    $("#idOffre").append(option);
      data.listeOffre.forEach(function (item, i) {
        var option =
          "<option value = " +
          item.offreId +
          ">" +
          item.title +
          "</option>";
        $("#idOffre").append(option);
      });
    });
  
}



$('#buttonSave').on('click', function(event) {
	 
	 var form = document.getElementById("myForm");
	 
	 if (form.checkValidity()) {
		 // Désactiver le bouton
	 
	  $(this).prop('disabled', true);
	  
	  // Ajouter la classe qui affiche le chargeur
	  $(this).addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');
	  	  
	  // Soumettre le formulaire
	  $(this).closest('form').submit();
	}
	});	 
</script>