<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Facture</title>
<link rel="stylesheet" href="/css/customvariablestyle.css">
</head>


<body id="page-top">
<section layout:fragment="content">

    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Liste des Factures Proformat</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

    <section class="content">

    <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="blocFilter">
                   <button
                    id="togglebutton"
                    class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-3"
                  >
                    Filtre
                  </button>
                </div>
                    <form id="showMe3" method="get" autocomplete="off">
                    <div class="row">
                      
          			<div class="col-md-3">
                        <label class="col-form-label" for="Reference">Réference Facture</label>
                        <input
                          id="textsearch"
                          type="text"
                          name="Reference"
                          placeholder="Reference Facture"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="col-form-label" for="codeClient">Code Client</label>
                        <input
                          id="codeClient"
                          type="text"
                          name="codeClient"
                          placeholder="Code Client"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="col-form-label" for="numeroFixe">Numero Fixe</label>
                        <input
                          id="numeroFixe"
                          type="text"
                          name="numeroFixe"
                          placeholder="Numero Fixe"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      <div class="col-md-3">
                        <label class="col-form-label" for="identifientClient">Identifient Client</label>
                        <input
                          id="identifientClient"
                          type="text"
                          name="identifientClient"
                          placeholder="Identifient Client"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                       <div class="col-md-3 mt-2">
                        <label class="col-form-label" for="status">Status (Payée / Non payée)</label>
                        <select 
                          id="status"
                          name="status"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        >
                            <option value = ''>Status</option>
                        	<option value="1">Payée</option>
                        	<option value="0">Non payée</option>
                        </select>
                      </div>
                      <div class="col-md-3 mt-2">
                        <label class="col-form-label" for="Reference">Montant minimum</label>
                        <input
                          id="textsearch"
                          type="number"
                          name="montantMinimum"
                          placeholder="Montant minimum"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      
                      <div class="col-md-3 mt-2">
                        <label class="col-form-label" for="Reference">Montant maximum</label>
                        <input
                          id="textsearch"
                          type="number"
                          name="montantMaximum"
                          placeholder="Montant maximum"
                          class="form-control"
                          th:onchange="|onchangeSearch(event)|"
                        />
                      </div>
                      
			                    <div class="row ml-1 mt-2">
			                      <div class="col-sm-6 col-md-6  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-4 col-form-label"> Date de creation : du</label>
			                                             <div class="col-sm-7">
			                                                 <input type="date" class="form-control"
			                                                        placeholder="Choisissez une date de début"
			                                                        name="dateCreationDebut" id="dateCreationDebut"   th:onchange="|onchangeSearch(event)|"/>
			                                             </div>
			                                         </div>
			                       </div>
			                      <div class="col-sm-6 col-md-6  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-2 col-form-label">au</label>
			                                             <div class="col-sm-7">
			                                                 <input type="date" class="form-control"
			                                                        placeholder="Choisissez une date de fin"
			                                                        name="dateCreationFin" id="dateCreationFin" th:onchange="|onchangeSearch(event)|"/>
			                                             </div>
			                                         </div>
			                       </div>
			                         <div class="col-sm-6 col-md-6  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-4 col-form-label"> Date d'echéance: du</label>
			                                             <div class="col-sm-7">
			                                                 <input type="date" class="form-control"
			                                                        placeholder="Choisissez une date de début"
			                                                        name="dateEcheanceDebut" id="dateDebutModification"  th:onchange="|onchangeSearch(event)|"/>
			                                             </div> 
			                                         </div>
			                       </div>
			                      <div class="col-sm-6 col-md-6  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-2 col-form-label">au</label>
			                                             <div class="col-sm-7">
			                                                 <input type="date" class="form-control"
			                                                        placeholder="Choisissez une date de fin"
			                                                        name="dateEcheanceFin" id="dateFinModification" th:onchange="|onchangeSearch(event)|"/>
			                                             </div>
			                                         </div>
			                       </div>    
			                       
			                                <div class="col-sm-6 col-md-6  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-4 col-form-label"> Date de paiement du</label>
			                                             <div class="col-sm-7">
			                                                 <input type="date" class="form-control"
			                                                        placeholder="Choisissez une date de début"
			                                                        name="datePayementDebut" id="dateDebutModification"  th:onchange="|onchangeSearch(event)|"/>
			                                             </div> 
			                                         </div>
			                       </div>
			                      <div class="col-sm-6 col-md-6  mt-3">
			                                         <div class="form-group row">
			                                             <label class="col-sm-2 col-form-label">au</label>
			                                             <div class="col-sm-7">
			                                                 <input type="date" class="form-control"
			                                                        placeholder="Choisissez une date de fin"
			                                                        name="datePayementFin" id="dateFinModification" th:onchange="|onchangeSearch(event)|"/>
			                                             </div>
			                                         </div>
			                       </div>            
			                    </div>

                      </div>
				<div class="text-center">
                        <button
                          class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
                          th:onclick="onclicksherh(event)"
                        >
                          Rechercher
                        </button>
                      </div>
                      </form>
                </div>
                </div>
                </div>
</section>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div>

  <form
                    id="myFormExporterFactures"
                    class="form-sample"
                    method="post"
                    action=""
                  >
                  <!-- th:href="@{/factureexporterData}" -->
                    <button 
                       id="ExporterFactures" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Exporter Factures sélectionnées (<span id="countFactureSelected"></span>)</button>

                    <!--        <div th:if = "${_csrf.parameterName">
                                       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                       </div>-->
                                       <div id="facturesListSelected">
                                       </div>
                  </form>
<!--                    <a th:href="@{/ajouterFacture}"-->
<!--                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i-->
<!--                            class="fas fa-plus fa-sm text-white-50"></i> Ajouter facture</a>-->

                </div>


          <div class="row">
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="card-body">
                  <div>
                    <div class="blocy">
                      <table
                        id="tutorialTable"
                        class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline"
                      >
                        <!-- Header Table -->
                        <thead class="table dataTable no-footer">
                          <tr>
 							<th scope="col">
                              <input
                                name="select_all"
                                value="1"
                                id="select_all"
                                type="checkbox"
                              />                              
                            </th><th>Référence</th>
                             <th>Total Ht (TND)</th>
                              <th>Total Tva (TND)</th>
                            <th>Montant à payer (TND)</th>
                            <!-- <th>Taux TVA</th> -->
                              <th>Date Creation</th>
                            <th>Date d'echéance</th>
                            <th>Payée</th>
                            <th>Date de Payéement</th>
                            <th>Reference Abonnement</th>
                            <th>Nom et 	Prenom  Client</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            </div>

        </div>

    </section>

</section>
</body>

</html>
<script th:inline="javascript">
var listedes_ids = /*[[${session.liste_facture_ids}]]*/ "[]";
var countFactureSelected =0 ;

if(listedes_ids && listedes_ids.length.length ==0){
	var countFactureSelected = 0;
	  document.getElementById('countFactureSelected').innerHTML = countFactureSelected;
}else if(listedes_ids !== null) {	
	  var countFactureSelected = 0;
	  const index = listedes_ids.indexOf(0);
	  if(index !== -1){
		  countFactureSelected = listedes_ids.length - 1
	  }else{
		  countFactureSelected = listedes_ids.length
	  }
	  document.getElementById('countFactureSelected').innerHTML = countFactureSelected;
}



function toggleCheckboxajax(column) {
    var data = oTable.row($(column).parents("tr")).data();
    if (column.checked === true) {
    	if (typeof listedes_ids !== 'object' || !Array.isArray(listedes_ids)) {

    	    listedes_ids = [];
    	}
   	 listedes_ids.push(data.factureId);
   	 updateChekListFacture()

   }
   else {
       let newelm = listedes_ids.filter((el) => el !== data.factureId);
       listedes_ids = newelm;
       updateChekListFacture()

   }
    this.toggleCheckbox(column, data.factureId);
  }

function updateChekListFacture(){
    if (listedes_ids && listedes_ids.length !== 0) {
        listedes_ids.forEach(function (item, index, array) {
          var elem = document.getElementById(item);
          if (elem !== null) {
            document.getElementById(item).checked = true;
          }
        });
      }
}
var oTable;
oTable = $("#tutorialTable").DataTable({
    processing: true,
    serverSide: true,
    ordering: false,
    deferRender: true ,
    order: [],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: true,

    fixedHeader: true,
    // scrollY:500,
    ajax: "/factureProformatListe",
    
    lengthMenu: [
    	[10, 20, 50 , 100 , 200,500],
    	[10, 20, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
        first: "Première",
        last: "Dernière",
        next: ">>",
        previous: "<<",
      },
      search: "Chercher:",
    },
    initComplete: function (json) {
        //Make your callback here.
        updatecheklist();
        document.getElementById("tutorialTable_filter").style.display = "none";
      },

    columnDefs: [
      // {
      //   className: "dtr-control",
      //   orderable: false,
      //   targets: 0,
      // },
      // { orderable: false, targets: 10 },
    ],

    columns: [
        {

            data: null,
            render: function (data, type, row) {
              return (
                "<input type='checkbox' name='chekelement' onclick='toggleCheckboxajax(this)' id=" +
                row.factureId +
                " name='idChecked' />"
              );
            },
          },
      { data: null,
      render : function(data,type,row){
        if(row.factureId)
       return `<a href='/facture/`+row.factureId+`'><i>
                                        `+row.ref_facture+`</i></a>`
      }
      
      },
      
      {
    	  
        data: null,
        render: function (data, type, row) {
          if (row.montantHt) return row.montantHt;
          else return "";
        },
      },
      {
    	  
          data: null,
          render: function (data, type, row) {
            if (row.montantTva) return row.montantTva;
            else return "";
          },
        },
        {
      	  
            data: null,
            render: function (data, type, row) {
              if (row.montant_payer) return row.montant_payer;
              else return "";
            },
          },
      // {
      //   data: null,
      //   render: function (data, type, row) {
      //     if (row.tauxTva)
      //       return  row.tauxTva 
      //     else return "";
      //   },
      // },
            {
          data: null,
          render: function (data, type, row) {
        var options = {
           day: 'numeric',
           month: 'numeric',
           year: 'numeric'
          };
             if(row.createdDate!= null )
               return   new Date(row.createdDate).toLocaleString('en-GB' , options)
               else
               return ""

             
            
          },
        },
      {
          data: null,
          render: function (data, type, row) {
        var options = {
    day: 'numeric',
    month: 'numeric',
    year: 'numeric'
};
             if(row.date_echeance!= null )
               return   new Date(row.date_echeance).toLocaleString('en-GB' , options)
else
return ""

             
            
          },
        },

      {
          data: null,
          render: function (data, type, row) {
             if(row.etat_facture!= null && row.etat_facture == true)
             return "<span  style='color:green'>Oui</span>"
             else  return "<span  style='color:red'>Non</span>"

             
            
          },
        },
        {
            data: null,
            render: function (data, type, row) {
            	 var options = {
            	           day: 'numeric',
            	           month: 'numeric',
            	           year: 'numeric'
            	          };
               if(row.dateDePayement!= null )
               return  new Date(row.dateDePayement).toLocaleString('en-GB' , options) 
               else  return ""

               
              
            },
          },

        {
            data: null,
            render: function (data, type, row) {
               if(row.referenceClient!= null )
               return row.referenceClient
               

               
              
            },
          },
          {
              data: null,
              render: function (data, type, row) {
                 if(row.clientFirstName!= null )
                 return row.clientFirstName + " " + row.clientLastName
                 

                 
                
              },
            },

    ],
  });    
  oTable.on("draw", function () {
   

      // Update state of "Select all" contrselect_allol
      updatecheklist();
    });
  
$("#downloadenmasse").click(function (e) {
    e.preventDefault();

    if (listedes_ids && listedes_ids.length !== 0) {
      var url = "/demandeabonnement/extractenmasse";
      $("#myForm").attr("action", url);
      $("#myForm").submit();
      listedes_ids = []

      $('thead input[name="select_all"]').each(function () {
      	
          this.checked = false;
      })
      $('input[name="chekelement"]:checked').each(function () {
      	
          
          this.checked = false;
      })
    } else {
      alert("Veuillez selectionner les demandes à extraire");
        window.location.reload();
    }
  });
$("#ExporterFactures").click(function (e) {
    e.preventDefault();

 
    	let content = '<input type="hidden" value='+listedes_ids+' name="listefacture">'
           
      if (listedes_ids && listedes_ids.length !== 0) {
      	$('#facturesListSelected').empty().append(content);
          var url = "/factureexporterData";
          $("#myFormExporterFactures").attr("action", url);
          $("#myFormExporterFactures").submit();
          listedes_ids = []
          countFactureSelected = 0
    	  document.getElementById('countFactureSelected').innerHTML = 0;
          $('thead input[name="select_all"]').each(function () {
          	
              this.checked = false;
          })
          $('input[name="chekelement"]:checked').each(function () {
          	
              
              this.checked = false;
          })
        } else {
          alert("Veuillez selectionner les demandes à extraire");
        }
        listedes_ids=[];

})

$("#togglebutton").click(function () {

    $("#showMe3").toggle();
  });
  
var Reference = "";
var montantMinimum = "";
var montantMaximum = "";
var status ="";
var dateCreationDebut = "";
var dateCreationFin = "";
var dateEcheanceDebut = "";
var dateEcheanceFin = "";
var codeClient = "";
var numeroFixe = "";
var identifientClient = "";
var datePayementDebut ="";
var datePayementFin = "";
function onchangeSearch(event) {
    let name = event.target.name;
  
    switch (name) {
      case "Reference": {
    	  Reference = event.target.value;
        break;
      }
      case "montantMinimum": {
    	  montantMinimum = event.target.value;
        break;
      }
      case "montantMaximum": {
    	  montantMaximum = event.target.value;
        break;
      }
      case "status": {
    	  status = event.target.value;
        break;
      }
      case "dateCreationDebut": {
    	  dateCreationDebut = event.target.value;
        break;
      }
      case "dateCreationFin": {
    	  dateCreationFin = event.target.value;
        break;
      }
      case "dateEcheanceDebut": {
    	  dateEcheanceDebut = event.target.value;
        break;
      }
      case "dateEcheanceFin": {
    	  dateEcheanceFin = event.target.value;
        break;
      }
      case "codeClient": {
    	  codeClient = event.target.value;
        break;
      }
      case "numeroFixe": {
    	  numeroFixe = event.target.value;
        break;
      }
      case "identifientClient": {
    	  identifientClient = event.target.value;
        break;
      }
      case "datePayementDebut": {
    	  datePayementDebut = event.target.value;
        break;
      }
      case "datePayementFin": {
    	  datePayementFin = event.target.value;
        break;
      }

    }
  }
function onclicksherh(event) {
  //event.preventdefault()
  event.preventDefault();

  //$('#tutorialTable').DataTable().ajax.reload();
  $("#tutorialTable")
    .DataTable()
    .column(0)
    .search(
      JSON.stringify({
    	  ref_facture: Reference,  
    	  montantMinimum : montantMinimum,
    	  montantMaximum : montantMaximum,
    	  status : status,
    	  dateCreationDebut : dateCreationDebut,
    	  dateCreationFin : dateCreationFin,
    	  dateEcheanceDebut : dateEcheanceDebut,
    	  dateEcheanceFin : dateEcheanceFin,
    	  codeClient : codeClient,
    	  numeroFixe : numeroFixe,
    	  identifientClient : identifientClient,
    	  datePayementDebut:datePayementDebut,
    	  datePayementFin:datePayementFin
      })
    )
    .draw();
}


$('thead input[name="select_all"]').on("click", function (e) {
	
    if (this.checked) {
     	let selectedid = this.id;
             	 $.ajax({
                      type: "POST",
                      contentType: "application/json",
                      url: "/facture/addallProformat",
                      data: JSON.stringify({
                    	  ref_facture: Reference,  
                    	  montantMinimum : montantMinimum,
                    	  montantMaximum : montantMaximum,
                    	  status : status,
                    	  dateCreationDebut : dateCreationDebut,
                    	  dateCreationFin : dateCreationFin,
                    	  dateEcheanceDebut : dateEcheanceDebut,
                    	  dateEcheanceFin : dateEcheanceFin,
                    	  codeClient : codeClient,
                    	  numeroFixe : numeroFixe,
                    	  identifientClient : identifientClient,
                    	  datePayementDebut:datePayementDebut,
                    	  datePayementFin:datePayementFin
                      }),
                      dataType: "json",
                      timeout: 100000,
                      async:false,
                      success: function (data) {
                        listedes_ids=data;
                        updatecheklist();
                        countFactureSelected = data.length - 1;
                        document.getElementById('countFactureSelected').innerHTML = countFactureSelected ;
                      },
                      error: function (e) {
                        console.log("ERROR: ", e);
                      },
                    });        	
   } else {
     
 	  $.ajax({
           type: "POST",
           contentType: "application/json",
           url: "/facture/removeall",
           dataType: "json",
           timeout: 100000,
           async:false,
           success: function (data) {
             listedes_ids.forEach(function (item, index, array) {
                 var elem = document.getElementById(item);
                 if (elem !== null) {
                   document.getElementById(item).checked = false;
                 }
               });
             listedes_ids=[]
             countFactureSelected = 0
             document.getElementById('countFactureSelected').innerHTML = listedes_ids.length;
           },
           error: function (e) {
             console.log("ERROR: ", e);
           },
         });     
  }
   e.stopPropagation();
 });
 

function updatecheklist() {
	  
	  if(listedes_ids && listedes_ids.length !== 0){
		 // Vérifier 0 existe pour checked checkbox select-all  	  }
		const found = listedes_ids.find(element => element == 0);	  
	  	if(found == 0){
		  document.getElementById("select_all").checked = true;
	  	}
	  }
	  
	
	  if(listedes_ids && listedes_ids.length >= $('input[name="chekelement"]').length   ){
		  
	  
		   $('thead input[name="select_all"]').each(function () {		      	
		          
		          this.checked = true;
		    	  
		      })
    }
  if (listedes_ids && listedes_ids.length !== 0) {
    listedes_ids.forEach(function (item, index, array) {
      var elem = document.getElementById(item);
      if (elem !== null) {
        document.getElementById(item).checked = true;
      }
    });
  }
}
                    
function toggleCheckbox(element, id) {
    if (element.checked === true) {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/facture/addid",
        data: JSON.stringify(id),
        dataType: "json",
        timeout: 100000,
        success: function (data) {
      
          //listedes_ids.push(id);
      
          updatecheklist();
          countFactureSelected ++;
          document.getElementById('countFactureSelected').innerHTML = countFactureSelected;        },
        error: function (e) {
          console.log("ERROR: ", e);
        },
      });
    } else {
      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/facture/removeid",
        data: JSON.stringify(id),
        dataType: "json",
        timeout: 100000,
        success: function (data) {
          //  findIndex(isLargeNumber)

          let newelm = listedes_ids.filter((el) => el !== id);
          listedes_ids = newelm;
          //  if (index !== -1) listedes_ids.splice(index, 1);
          updatecheklist();
          countFactureSelected --;
          document.getElementById('countFactureSelected').innerHTML = countFactureSelected;
          },
        error: function (e) {
          console.log("ERROR: ", e);
        },
      });
    }
  }
 
</script>
