<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/customvariablestyle.css}" />
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/swisnl/jQuery-contextMenu/master/dist/jquery.contextMenu.css" />
</head>
<body>
<style>
    .card-statistics .float-left i {
        color: #007bff; 
        font-size: 24px; 
    }
    .green-text {
    color: green;
}

.red-text {
    color: red;
}

    #checkedabonnementfixe {
      display: none;
    }

    #addreferenceabonnement {
      display: none;
    }

    #menu {
      display: none;
    }

    table {
      margin: 0 auto;
      width: 100%;
      clear: both;
      border-collapse: collapse;
      table-layout: fixed;
      word-wrap: break-word;
    }

    table td {
      width: 20%;
    }

    .tablebadge {
      text-align: center;
      color: white;
      padding: "2px";
      font-weight: 600;
      border-radius: 2px;
      padding: 4px 8px;
    }
    .selection>span {
      height: auto !important;
    }

    .selection ul {
      height: auto !important;

    }

    /* width */
    .selection ul ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    .selection ul ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    .selection ul ::-webkit-scrollbar-thumb {
      background: grey;
      border-radius: 10px;
    }

    /* Handle on hover */
    .selection ul ::-webkit-scrollbar-thumb:hover {
      background: black;
    }
  </style>
<section layout:fragment="content">

    <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Tableau de bord</h1>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="text-center">
                    <img src="/img/Banner5GCRM.jpg" alt="Nety" class="brand-image rounded" width="70%">

            </div>

       <li sec:authorize="hasAnyAuthority('VIEW_MONTANT_ENCAISSE')" class="nav-item">
           <!--   <a href="/commission/listeCommision" class="nav-link text-danger"
              style="text-decoration: underline dotted red;"> Nouveau plan de commission depuis le 01 Avril !
            </a>-->

          </li>        <!-- alert -->   
        <div class="row justify-content-center ml-3" th:if="${(ContHorsEcheance != null && ContHorsEcheance != 0) || (ContLimit != null && ContLimit != 0)}">
            <div class="col-12 col-md-8"> <!-- Adjust the width by changing the classes here -->
                <div class="alert alert-danger alert-dismissible text-white" role="alert" style="background-color: #eb4844;border-radius:20px;">
                    <h3 class="mb-2 ml-4 text-white"><strong>Attention !!</strong></h3>
                    <h5 class="text-white mt-2 ml-4 mb-2" th:if="${ContHorsEcheance != null && ContHorsEcheance != 0}">
                        <span th:text="'- Vous serez bloqué en raison du nombre de factures non versées qui ont dépassé les 25 jours (nombre de factures non versées: ' + ${ContHorsEcheance} + ')'"></span>
                    </h5>
                    <h5 class="text-white mt-0 ml-4 mb-0" th:if="${ContLimit != null && ContLimit != 0}">
                        <span th:text="'- Veuillez vous dépêcher pour verser ces factures avant de dépasser les 25 jours (nombre de factures non versées: ' + ${ContLimit} + ')'"></span>
                    </h5>
                </div>
            </div>
        </div>
        
                <div class="row justify-content-center ml-3" th:if="${(roleRevendeur != null &&  roleRevendeur=='ROLE_REVENDEUR_DESACTIVE')}">
            <div class="col-12 col-md-8" th:if="${montantAverserAutorisee != null && montantAverserAutorisee!= 0}"> <!-- Adjust the width by changing the classes here -->
                <div class="alert alert-danger alert-dismissible text-white" role="alert" style="background-color: #eb4844;border-radius:20px;">
                    <h3 class="mb-2 ml-4 text-white"><strong>Attention !!</strong></h3>
                  
                    <h5 class="text-white mt-0 ml-4 mb-0" >
                        <span th:text="'- Veuillez effectuer un versement supérieur à '+ ${montantAverserAutorisee}+' DT afin de réactiver votre compte.:  )'"></span>
                    </h5>
                </div>
            </div>
        </div>
      
<!--alert end -->
    <div class="row  justify-content-center mt-2" >
		<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 grid-margin stretch-card ml-3" sec:authorize="hasAnyAuthority('READ_CARD_NEW_CLIENTS_OTHERS')">
    <div class="card card-statistics" style="background-color: white; border: 1px solid white; border-radius: 5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div class="clearfix">
					<div class=" float-right icon icon-lg icon-shape  shadow-dark  border-radius-xl mt-n4 ">
		     <img th:src="@{/img/newClient.png}" width="50px" style="margin-left: 10px;">
		</div>
                <div class="float-left ml-4">
                    <p class="mb-0 text-left text-muted"><strong>Nouveaux clients</strong></p>
                    <div class="fluid-container">
                        <h4 class="font-weight-medium text-left mb-0" th:text="${nouvelleAbonnementsThisMonth}"></h4>
                    </div>
                </div>
               
            </div>
            <p class="mdi mdi-alert-octagon mr-1 mb-3 ml-4" th:style="${percentageChange.startsWith('-') ? 'color: red;' : 'color: green;'}"
               th:text="${percentageChange}" ></p>
        </div>
    </div>
</div>
     <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 grid-margin stretch-card ml-3"  sec:authorize="hasAnyAuthority('READ_CARD_REV_OF_DIST')">
    <div class="card card-statistics" style="background-color: white; border: 1px solid white; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div class="clearfix">
				<div class=" float-right icon icon-lg icon-shape  shadow-dark  border-radius-xl mt-n4 ">
			<img th:src="@{/img/RevDesac.png}" width="50px" style="margin-left: 10px;">
		</div>
                <div class="float-left ml-4">
                    <p class="mb-0 text-left text-muted"><strong>Total Revendeurs Désactivés</strong></p>
                    <div class="fluid-container">
                        <h4 class="font-weight-medium text-left mb-0" th:text="${NbreRevendeur}"></h4>
                    </div>
                </div>
                
            </div>
            <p class="text-muted mt-0 mb-3 ml-4">
                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" th:text="${NbreRevendeurActive}"></i>
            </p>
        </div>
    </div>
</div>
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 grid-margin stretch-card ml-3" sec:authorize="hasAnyAuthority('READ_CARD_AFFECT_MODEM_OTHERS')">
    <div class="card card-statistics" style="background-color: white; border: 1px solid white; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div class="clearfix">
					<div class=" float-right icon icon-lg icon-shape  shadow-dark  border-radius-xl mt-n4 ">
		        <img th:src="@{/img/affectedModem.png}" width="50px" style="margin-left: 10px;">
		</div>
                <div class="float-left ml-4">
                    <p class="mb-0 text-left text-muted"><strong>Modems afféctés</strong></p>
                    <div class="fluid-container">
                        <h4 class="font-weight-medium text-left mb-0" th:text="${nbrModemAffectedToday}"></h4>
                    </div>
                </div>
                
            </div>
            <p 
          class="text-muted mt-0 mb-3 ml-4">
              <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" th:text="${nbrModemAffectedCurrentMonth}"></i></p>
        </div>
    </div>
</div>
   <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 grid-margin stretch-card ml-3" sec:authorize="hasAnyAuthority('READ_CARD_RECIEVED_MODEMS')">
    <div class="card card-statistics" style="background-color: white; border: 1px solid white; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div class="clearfix">
					<div class=" float-right icon icon-lg icon-shape  shadow-dark  border-radius-xl mt-n4 ">
		        <img th:src="@{/img/affectedModem.png}" width="50px" style="margin-left: 10px;">
		</div>
                <div class="float-left ml-4">
                    <p class="mb-0 text-left text-muted"><strong>Modems Reçus</strong></p>
                    <div class="fluid-container">
                        <h4 class="font-weight-medium text-left mb-0" th:text="${nbrModemRecievedToday}"></h4>
                    </div>
                </div>               
            </div>
            <p 
          class="text-muted mt-0 mb-3 ml-4">
              <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" th:text="${nbrModemRecievedCurrentMonth}"></i></p>
        </div>
    </div>
</div>
   <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 grid-margin stretch-card ml-3" sec:authorize="hasAnyAuthority('READ_CARD_DEM_MODEM_OTHERS')">
    <div class="card card-statistics" style="background-color: white; border: 1px solid white; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div class="clearfix">
				<div class=" float-right icon icon-lg icon-shape  shadow-dark  border-radius-xl mt-n4 ">
		    <img th:src="@{/img/demandModem.png}" width="50px" style="margin-left: 10px;">
		</div>
                <div class="float-left">
                    <i class="mdi mdi-poll-box text-success icon-lg"></i>
                </div>
                <div class="float-left ml-4">
                    <p class="mb-0 text-left text-muted"><strong>Modems Demandés </strong></p>
                    <div class="fluid-container">
                        <h4 class="font-weight-medium text-left mb-0" th:text="${nbrDemandModemToday}" ></h4>
                    </div>
                </div>
                
            </div>
            <p 
          class="text-muted mt-0 mb-3 ml-4">
              <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" th:text="${nbrDemandModemCurrentMonth}"></i></p>
        </div>
    </div>
</div>
<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 grid-margin stretch-card ml-3" sec:authorize="hasAnyAuthority('READ_CARD_DABON_RESIL_OTHERS')">
    <div class="card card-statistics" style="background-color: white; border: 1px solid white; border-radius: 5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <div class="clearfix">
				<div class=" float-right icon icon-lg icon-shape  shadow-dark  border-radius-xl mt-n4 ">
		     <img th:src="@{/img/AbonResil.png}" width="50px" style="margin-left: 10px;">
		</div>
                <div class="text-end pt-1 float-left ml-4">
                    <p class="mb-0 mt-0 text-left text-muted"><strong>Abonnements Résiliés</strong></p>
                    <div class="fluid-container">
                        <h4 class="font-weight-medium text-left mb-0"  th:text="${resilierAbonnementThisMonth}"></h4>
                    </div>
                </div>
                
            </div>
       <p class="text-muted mt-0 mb-3 ml-4">
                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true" th:text="${resilierAbonnementLastMonth}"></i>
            </p>          
        </div>
    </div>
</div>
    </div>
  
    <div class="row justify-content-center mb-3">		 
	
        <div class="col-lg-5 grid-margin stretch-card mb-3 ml-3" sec:authorize="hasAnyAuthority('READ_GRAPH_MODEM_STOCK_DIST')">
            <div class="card card-weather">
				 <div class="card-header border-0">
                                <h3 class="card-title"> Modem en stock par modèle</h3>                              
                            </div>
            
            <canvas id="barChart"></canvas>
            </div>
      
        </div>
        <div class="col-lg-5 grid-margin stretch-card mb-3 ml-3" sec:authorize="hasAnyAuthority('READ_GRAPH_MODEM_STOCK_OTHERS')">
            <div class="card card-weather">
				 <div class="card-header border-0">
                                <h3 class="card-title"> Modem en stock par modèle</h3>                              
                            </div>
            
            <canvas id="barChart"></canvas>
            </div>
      
        </div>
                 <div class="col-lg-5 grid-margin stretch-card mb-3 ml-3" sec:authorize="hasAnyAuthority('READ_GRAPH_DABON_STATUS_OTHERS')">
            <div class="card card-weather">
				 <div class="card-header border-0">
                                <h3 class="card-title"> Informations sur demande abonnements</h3>                              
                            </div>           
            <canvas id="areaChart"></canvas>                 
        </div>
      </div>
      <!-- <div class="col-lg-5 grid-margin stretch-card mb-3 ml-3" sec:authorize="hasAnyAuthority('READ_GRAPH_ABON_PACK')">
            <div class="card card-weather">
				 <div class="card-header border-0">
                                <h3 class="card-title"> Abonnement par Pack</h3>                              
                            </div>
            
            <canvas id="polarArea"></canvas>
            </div>
      
        </div>-->
          
            <div class="col-lg-5 grid-margin mb-3 ml-3" sec:authorize="hasAnyAuthority('READ_TABLE_COMMISSION_REV')">
            <div class="card">
				 <div class="card-header border-0">
                                <h3 class="card-title">10 Dérniers commissions payées</h3>
                                <div class="card-tools">                            
                    <button  class="btn btn-primary active comission-active" onclick="updateDataComission('all')">Tous</button>
                    <button  class="btn btn-primary ml-2" onclick="updateDataComission('lastMonth')">Mois précédent</button>
                    <button  class="btn btn-primary ml-2" onclick="updateDataComission('currentYear')">Année courante</button>               
                                </div>
                            </div>
           <div class="card-body">               
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Revendeur</th>
                            <th class="text-center">Commission (TND)</th>
                            <th class="text-center">Mois/Année</th>					         
                        </tr>
                    </thead>
                    <tbody id="commissionTableBody">
               <tr th:if="${#lists.isEmpty(topRevendeurs)}">
                            <td class="text-center" colspan="3">Rien trouvé - désolé</td>
                        </tr>
                       <tr th:each="topRevendeur : ${topRevendeurs}" th:unless="${#lists.isEmpty(topRevendeurs)}">
                            <td class="text-center" th:text="${topRevendeur.revendeur.firstName + ' ' + topRevendeur.revendeur.lastName + ' (' + topRevendeur.revendeur.codeUser + ')'}"></td>
                            <td class="text-center" th:text="${topRevendeur.formattedTotalTtc}"></td>
                            <td class="text-center" th:text="${topRevendeur.monthName+'/'+topRevendeur.annee}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                <div class="card-body">
            <div class="card-header border-0">
                <h3 class="card-title">Informations sur commissions</h3>
            </div>
          <div class="row mb-2 ml-3">
    <div class="col-md-4">
        <h5 class="text-center">Commissions payés</h5>
        <p id="commissionPayées"  class="text-center" th:text="${totalPaidAllTime}"></p>
    </div>
    <div class="col-md-4">
        <h5 class="text-center">Commissions annulés</h5>
        <p id="commissionAnnuler"  class="text-center" th:text="${totalCancelledAllTime}"></p>
    </div>
    <div class="col-md-4">
        <h5 class="text-center">Commissions non payés</h5>
        <p id="commissionNonPayées"  class="text-center" th:text="${totalNotPaidAllTime}"></p>
    </div>
</div>
        </div>
            </div>
        </div>        
          <div class="col-lg-5 grid-margin mb-1 ml-3"   sec:authorize="hasAnyAuthority('READ_INFO_INVOICE_INTERVAL')">
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">Infos Factures Payées Non vérsées Interval</h3><br>
            </div>  
              <div class="row" style="margin-top: -50px;">
            <div class="col-12 mb-4 ">          
            <div class="blocFilter mb-2">
				     <button id="togglebutton" class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-0 mb-5 ml-5 mt-3">
                  Filtre</button>
                  <form id="showMe3" method="get" autocomplete="off">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <label class="col-form-label" for="status">Status</label>
            <select id="status" name="status" class="form-control" th:onchange="|onchangeSearch(event)|">
                <option value=''>Status</option>
                <option value="Limite">Limite</option>
                <option value="Hors échéance">Hors échéance</option>
                <option value="Toutes versées">Toutes versées</option>
            </select>
        </div>
        <div class="col-sm-1 col-md-6" style="margin-top: 30px;">
            <div class="text-center">
                <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" th:onclick="onclicksherh(event)">Rechercher</button>
            </div>
        </div>
    </div>
</form>
			</div>
			</div>
          </div>
              
        <div class="card-body">
			<div>
            <div class="blocy">
                <table class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline" id="tutorial">
                    <thead class="table">
                        <tr>
                            <th>Revendeur</th>
                            <th>Total Factures (TND)</th>
                            <th>Entre [15-25] jours</th>
                            <th>> à 25 jours</th>
                              <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    </div>
<!-- revendeurs rendement -->
   <div class="col-lg-5 grid-margin mb-1 ml-3"   sec:authorize="hasAnyAuthority('READ_TABLE_PERFORMANCE_REV')">
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">Performance des Revendeurs sur les Demandes</h3><br>
            </div>  
              <div class="row" style="margin-top: -50px;">
            <div class="col-12 mb-4 ">          
            <div class="blocFilter mb-2">
				     <button id="togglebuttonDemRev" class="d-none d-sm-inline-block btn btn-sm bg-oronge shadow-sm mb-0 mb-5 ml-5 mt-3">
                  Filtre</button>
                  <form id="showMe" method="get" autocomplete="off">
    <div class="row">
        <div class="col-sm-6 col-md-6">
               <label  id="date_label">Sélectionnez une date (année-mois)</label>
					<input class="form-control" type="month" id="date" name="selectedDate" placeholder="aaa"  th:onchange="|onchangeSearchRen(event)|">          
        </div>
        <div class="col-sm-1 col-md-6" style="margin-top: 30px;">
            <div class="text-center">
                <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" th:onclick="onclicksherhRend(event)">Rechercher</button>
            </div>
        </div>
    </div>
</form>
			</div>
			</div>
          </div>
              
        <div class="card-body">
			<div>
            <div class="blocy">
                <table class="table table-bordered display supertable table-striped dataTable no-footer dtr-inline" id="RevendeurRend">
                    <thead class="table">
                        <tr>
                            <th>Revendeur</th>
						   <th>En attente</th>
						   <th>Accépté</th>
						   <th> Rejeté</th>
                            <th>Total demandes</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- end of revendeurs rendement -->
   <div class="col-lg-5 grid-margin stretch-card mb-3 ml-3" sec:authorize="hasAnyAuthority('READ_GRAPH_ABON_PAYM')">
            <div class="card card-weather">
				 <div class="card-header border-0">
                                <h3 class="card-title"> Abonnement par Type de paiement</h3>                              
                            </div>
            
            <canvas id="AbonnementBytypePayment"></canvas>
            </div>
      
        </div>
        </div>
                     
</section>
</body>

</html>
<script  th:inline="javascript">
	$(document).ready(function() {
 /*<![CDATA[*/ 
     var modelModemCounts = /*[[${modelModemCounts}]]*/ [];
  var modelModemCountsDetailsAffec = /*[[${modelModemCountsDetailsAffec}]]*/ []; 
  
		 var yearForDemandAbon = /*[[${yearForDemandAbon}]]*/ [];
    var totalDemandeAbonnement = /*[[${totalDemandeAbonnement}]]*/ [];
    var annuleeDemandeAbonnement = /*[[${annuleeDemandeAbonnement}]]*/ [];
    var refuseDemandeAbonnement = /*[[${refuseDemandeAbonnement}]]*/ [];
    var activeDemandeAbonnement = /*[[${activeDemandeAbonnement}]]*/ [];  
    var gouvernoratLabels = [ /*[[${gouvernoratLabels}]]*/ ];

    
 /*]]>*/
if(modelModemCounts!= null){
   var labels = modelModemCounts.map(function(item) {
        return item.label;
    });

    var dataValues = modelModemCounts.map(function(item) {
        return item.count;
    });
};
 var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        };
var data = {
        labels: labels,
        datasets: [{
            label: "Modems",
            data: dataValues,         
         backgroundColor: [
          'rgba(58, 65, 111,0.7)',
            'rgba(168, 184, 216,0.7)',
            'rgba(248, 0, 87,0.7)',
            'rgba(23, 193, 232,0.7)',          
            'rgb(153, 100, 135,0.7)',
	        'rgba(255, 99, 132, 0.7)',
	        'rgba(54, 162, 235, 0.7)',
	        'rgba(255, 206, 86, 0.7)',
	        'rgba(75, 192, 192, 0.7)',
	        'rgba(153, 102, 255, 0.7)',
	        'rgba(255, 159, 64, 0.7)'
      ],
      borderColor: [
       'rgba(58, 65, 111,1)',
         'rgba(168, 184, 216,1)',
       'rgba(248, 0, 87,1)',
        'rgba(23, 193, 232,1)',       
          'rgb(153, 100, 135,1)',
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
            borderWidth: 1
        }]
    };
    if ($("#barChart").length) {
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: data,
      options: options
    });
  
  }
  var areaData = {
    labels: yearForDemandAbon,
    datasets: [{
        label: 'Annulées ',
        data: annuleeDemandeAbonnement,
        borderColor: [
            '#587ce4'
        ],
        borderWidth: 2,
        fill: false
    },
    {
        label: 'Refusées ',
        data: refuseDemandeAbonnement,
        borderColor: [
            '#ede190'
        ],
        borderWidth: 2,
        fill: false
    },
    {
        label: 'Activées',
        data: activeDemandeAbonnement,
        borderColor: [
            '#66cc00'
        ],
        borderWidth: 2,
        fill: false
    },
    {
        label: 'Total',
        data: totalDemandeAbonnement,
        borderColor: [
            '#cc00cc'
        ],
        borderWidth: 2,
        fill: false
    }]
};

  var areaOptions = {
    plugins: {
      filler: {
        propagate: true
      }
    }
  }
if ($("#areaChart").length) {
    var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
    var areaChart = new Chart(areaChartCanvas, {
      type: 'line',
      data: areaData,
      options: areaOptions
    });
  }
  //polar area
    var packName = /*[[${packName}]]*/ [];
    var abonnementNumber = /*[[${abonnementNumber}]]*/ [];
    var concatPack = /*[[${concatPack}]]*/ [];
      var Typepayments = /*[[${Typepayments}]]*/ [];
    var abonnementTotal = /*[[${abonnementTotal}]]*/ [];
  const dataPolar = {
  labels: packName,
  datasets: [{
    label: 'Nombre Abonnements',
    data: abonnementNumber,
    backgroundColor: [
      'rgba(248, 0, 87,1)',          
            'rgb(153, 100, 135,1)',
             'rgba(168, 184, 216,1)',
             'rgba(23, 193, 232,1)',
             'rgba(251, 140, 0,1)',
			'rgba(21, 73, 53,1)',
			'rgba(5, 152, 98,1)',
			'rgba(14, 79, 109,1)',
			'rgba(229, 229, 195,1)',
			'rgba(122, 54, 176,1)',
			'rgba(54, 80, 175,1)',
             'rgba(21, 73, 53,1)',
			'rgba(251, 140, 0,1)',
			'rgba(14, 79, 109,1)',
			'rgba(255, 255, 0,1)',
			'rgba(255, 192, 203,1)',
			'rgba(0, 128, 128,1)',
			'rgba(255, 69, 0,1)' ,
			'rgba(0, 255, 255,1)',
			'rgba(255, 99, 71,1)',
			'rgba(102, 51, 153,1)',
			'rgba(0, 255, 0,1)',
    ]
  }]
};
  

if ($("#polarArea").length) {
    var areaChartPolar = $("#polarArea").get(0).getContext("2d");
    var areapolar = new Chart(areaChartPolar, {
      type: 'line',
      data: dataPolar,
      options:  {}
    });
  }
  //end of polar chart
   const dataAbonneByTypePaym = {
  labels: Typepayments,
  datasets: [{
    label: 'My First Dataset',
    data: abonnementTotal,
    backgroundColor: [
      'rgba(248, 0, 87,1)',
            'rgba(58, 65, 111,1)',
            'rgb(153, 100, 135,1)',
             'rgba(168, 184, 216,1)',
             'rgba(23, 193, 232,1)',
             'rgba(251, 140, 0,1)',
			'rgba(21, 73, 53,1)',
			'rgba(5, 152, 98,1)',
			'rgba(14, 79, 109,1)',
			'rgba(229, 229, 195,1)',
			'rgba(122, 54, 176,1)',
			'rgba(54, 80, 175,1)',
             'rgba(21, 73, 53,1)',
			'rgba(251, 140, 0,1)',
			'rgba(14, 79, 109,1)',
			'rgba(255, 255, 0,1)',
			'rgba(255, 192, 203,1)',
			'rgba(0, 128, 128,1)',
			'rgba(255, 69, 0,1)' ,
			'rgba(0, 255, 255,1)',
			'rgba(255, 99, 71,1)',
			'rgba(102, 51, 153,1)',
			'rgba(0, 255, 0,1)',
    ]
  }]
};
  

if ($("#AbonnementBytypePayment").length) {
    var AbonnementBytypePayment = $("#AbonnementBytypePayment").get(0).getContext("2d");
    var AbonnementBytypePay = new Chart(AbonnementBytypePayment, {
      type: 'polarArea',
      data: dataAbonneByTypePaym,
      options:  {}
    });
  }
  }); 

    //commissions
     /*<![CDATA[*/
    var totalPaidAllTime = /*[[${totalPaidAllTime}]]*/ '';
    var totalPaidCurrentYear = /*[[${totalPaidCurrentYear}]]*/ '';
    var totalPaidLastMonth = /*[[${totalPaidLastMonth}]]*/ '';
    var totalNotPaidCurrentYear = /*[[${totalNotPaidCurrentYear}]]*/ '';
    var totalNotPaidLastMonth = /*[[${totalNotPaidLastMonth}]]*/ '';
    var totalNotPaidAllTime = /*[[${totalNotPaidAllTime}]]*/ '';
    var totalCancelledAllTime = /*[[${totalCancelledAllTime}]]*/ '';
    var totalCancelledCurrentYear = /*[[${totalCancelledCurrentYear}]]*/ '';
    var totalCancelledLastMonth = /*[[${totalCancelledLastMonth}]]*/ '';
    /*]]>*/
    function updateDataComission(option) {
        $(".comission-active").removeClass("active");
        $("button[data-option='" + option + "']").addClass("active");

        var commissionPayées, commissionNonPayées, CancelledCommissions=0;
        if (option === 'all') {
            commissionPayées = totalPaidAllTime;
            commissionNonPayées = totalNotPaidAllTime;
            CancelledCommissions = totalCancelledAllTime;
        } else if (option === 'lastMonth') {
            commissionPayées = totalPaidLastMonth;
            commissionNonPayées = totalNotPaidLastMonth;
            CancelledCommissions = totalCancelledLastMonth;
        } else if (option === 'currentYear') {
            commissionPayées = totalPaidCurrentYear;
            commissionNonPayées = totalNotPaidCurrentYear;
            CancelledCommissions = totalCancelledCurrentYear;
        }
        $("#commissionPayées").text(commissionPayées);
        $("#commissionNonPayées").text(commissionNonPayées);
        $("#commissionAnnuler").text(CancelledCommissions);
    
        
    }    
    //Avoirs + Bordereaux
     /*<![CDATA[*/
    var montantnonpayerAll = /*[[${montantnonpayerAll}]]*/ '';
    var montantnonpayerLastMonth = /*[[${montantnonpayerLastMonth}]]*/ '';
    var montantnonpayerThisMonth = /*[[${montantnonpayerThisMonth}]]*/ '';
    var montantpayerAll = /*[[${montantpayerAll}]]*/ '';
    var montantpayerLastMonth = /*[[${montantpayerLastMonth}]]*/ '';
    var montantpayerThisMonth = /*[[${montantpayerThisMonth}]]*/ '';
    var avoirConsommeAll = /*[[${avoirConsommeAll}]]*/ '';
    var avoirConsommeLastMonth = /*[[${avoirConsommeLastMonth}]]*/ '';
    var avoirConsommeThisMonth = /*[[${avoirConsommeThisMonth}]]*/ '';
    
       var totalAvoirAll = /*[[${totalAvoir}]]*/ '';
    var totalAvoirLastMonth = /*[[${totalAvoirLastMonth}]]*/ '';
    var totalAvoirThisMonth = /*[[${totalAvoirThisMonth}]]*/ '';
    var montantAll = /*[[${montant}]]*/ '';
    var montantLastMonth = /*[[${montantLastMonth}]]*/ '';
    var montantThisMonth = /*[[${montantThisMonth}]]*/ '';

       //factures
       var allTotalPayee = /*[[${allTotalPayee}]]*/ '';
    var totalPayeeLastMonth = /*[[${totalPayeeLastMonth}]]*/ '';
    var totalPayeeThisMonth = /*[[${totalPayeeThisMonth}]]*/ '';
    var totalNonPayee = /*[[${totalNonPayee}]]*/ ''; 
     var totalNonPayeeLastMonth = /*[[${totalNonPayeeLastMonth}]]*/ '';
 var totalNonPayeeThisMonth = /*[[${totalNonPayeeThisMonth}]]*/ '';  
 var totalFacturess = /*[[${totalFactures}]]*/ '';
 var totalFacturesLastMonth = /*[[${totalFacturesLastMonth}]]*/ '';
 var totalFacturesThisMonth = /*[[${totalFacturesThisMonth}]]*/ '';   
 var avoirNonPayeeAll = /*[[${avoirNonPayeeAll}]]*/ '';
 var montantTotalPayeeNonVerseAll = /*[[${montantTotalPayeeNonVerseAll}]]*/ '';
 var montantTotalPayeeVerseAll = /*[[${montantTotalPayeeVerseAll}]]*/ '';
 var avoirNonPayeeLastMonth = /*[[${avoirNonPayeeLastMonth}]]*/ '';
 var montantTotalPayeeNonVerseLastMonth = /*[[${montantTotalPayeeNonVerseLastMonth}]]*/ '';
 var montantTotalPayeeVerseLastMonth = /*[[${montantTotalPayeeVerseLastMonth}]]*/ '';
 var avoirNonPayeeThisMonth = /*[[${avoirNonPayeeThisMonth}]]*/ '';
 var montantTotalPayeeNonVerseThisMonth = /*[[${montantTotalPayeeNonVerseThisMonth}]]*/ '';
 var montantTotalPayeeVerseThisMonth = /*[[${montantTotalPayeeVerseThisMonth}]]*/ '';
 
  var totalBordAllConfirm = /*[[${totalBordAllConfirm}]]*/ '';
    var bordConfirmThisMonth = /*[[${bordConfirmThisMonth}]]*/ '';
    var bordConfirmLastMonth = /*[[${bordConfirmLastMonth}]]*/ '';
    var totalInstanceBordThisMonth = /*[[${totalInstanceBordThisMonth}]]*/ '';
    var totalInstanceBordLastMonth = /*[[${totalInstanceBordLastMonth}]]*/ '';
    var totalInstanceAllTime = /*[[${totalInstanceAllTime}]]*/ '';
    var totalNumberBordInstance = /*[[${totalNumberBordInstance}]]*/ '';
    var totalNumberBordInstanceThisMonth = /*[[${totalNumberBordInstanceThisMonth}]]*/ '';
    var totalNumberBordInstanceLastMonth = /*[[${totalNumberBordInstanceLastMonth}]]*/ '';
    /*]]>*/
    function updateDataAvoirBord(option) {
        $(".avoir-active").removeClass("active");
        $("button[data-option='" + option + "']").addClass("active");

        var montantnonpayer, montantpayer, avoirConsomme,totalAvoir,borInstance,bordConfirm,bordInstanceCount,montant,avoirNonPayee,montantTotalPayeeNonVerse,montantTotalPayeeNonVerse,
        montantTotalPayeeVerse;
        if (option === 'all') {
            montantnonpayer = montantnonpayerAll;
            montantpayer = montantpayerAll;
            avoirConsomme = avoirConsommeAll;
            totalAvoir=totalAvoirAll;
            avoirNonPayee=avoirNonPayeeAll;
            montant= montantAll;
            montantTotalPayeeNonVerse=montantTotalPayeeNonVerseAll;
            montantTotalPayeeVerse=montantTotalPayeeVerseAll;           
            borInstance=totalInstanceAllTime;
            bordConfirm= totalBordAllConfirm;
            bordInstanceCount=totalNumberBordInstance;
           
        } else if (option === 'lastMonth') {
            montantnonpayer = montantnonpayerLastMonth;
            montantpayer = montantpayerLastMonth;
            avoirConsomme = avoirConsommeLastMonth;
            totalAvoir=totalAvoirLastMonth;
            avoirNonPayee=avoirNonPayeeLastMonth;
            montant= montantLastMonth;
            montantTotalPayeeNonVerse=montantTotalPayeeNonVerseLastMonth;
            montantTotalPayeeVerse=montantTotalPayeeVerseLastMonth;           
             borInstance=totalInstanceBordLastMonth;
            bordConfirm= bordConfirmLastMonth;
            bordInstanceCount=totalNumberBordInstanceLastMonth;
        } else if (option === 'thisMonth') {
             montantnonpayer = montantnonpayerThisMonth;
            montantpayer = montantpayerThisMonth;
            avoirConsomme = avoirConsommeThisMonth;
            totalAvoir=totalAvoirThisMonth;
            avoirNonPayee=avoirNonPayeeThisMonth;
            montant= montantThisMonth;
            montantTotalPayeeNonVerse=montantTotalPayeeNonVerseThisMonth;
            montantTotalPayeeVerse=montantTotalPayeeVerseThisMonth;
            borInstance=totalInstanceBordThisMonth;
            bordConfirm= bordConfirmThisMonth;
            bordInstanceCount=totalNumberBordInstanceThisMonth;
        }
        $("#montantnonpayer").text(montantnonpayer);
        $("#montantpayer").text(montantpayer);
        $("#avoirConsomme").text(avoirConsomme);   
        $("#totalAvoir").text(totalAvoir);
        $("#avoirNonPayee").text(avoirNonPayee);
        $("#montant").text(montant);  
         $("#montantTotalPayeeNonVerse").text(montantTotalPayeeNonVerse);
        $("#montantTotalPayeeVerse").text(montantTotalPayeeVerse);   
         $("#bordConfirm").text(bordConfirm);
        $("#bordInstance").text(borInstance);
        $("#bordInstanceCount").text(bordInstanceCount);  
              
    }
		oTable = $("#tutorialTable").DataTable({
    processing: false,
    serverSide: true,
    ordering: false,
    order: [2, "desc"],
    responsive: {
      details: {
        type: "column",
      },
    },
    searching: false,
    fixedHeader: true,
    ajax: "/payement/recaperevendeur",
    lengthMenu: [
    	[5, 10, 50 , 100 , 200,500],
    	[5, 10, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
       first: "<i class='fa fa-fast-backward'></i>",
          last: "<i class='fa  fa-fast-forward '></i>",
          next: "<i class='fa fa-solid fa-chevron-right'></i>",
          previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
      search: "Chercher:",
    },
    columnDefs: [
      {
        orderable: false,
        targets: 0,
      },
    ],"autoWidth": true,

    columns: [
          {
              data: null,
              render: function (data, type, row) {
              	if(row.lastname &&  row.firstname && row.code_user)
              		return  row.firstname + "  " + row.lastname+"("+row.code_user+")" ;
              	if(row.lastname && row.code_user)
              		
                 return row.lastname+"("+row.code_user+")";
              	else if(row.firstname && row.code_user) 
              		
              		return row.firstname+"("+row.code_user+")";
              },
            },  
        
      {
          data: null,
          render: function (data, type, row) {
          	if(row.montantnonpayer){
          		
          	let avoirNonPayee =  Number(row.totalAvoir.toFixed(3)) - Number(row.avoirConsomme.toFixed(3))
          	   return Number((row.montantnonpayer.toFixed(3) - avoirNonPayee).toFixed(3)) ;
          	}
         
          	return "0";
           
          },
        },

        {
            data: null,
            render: function (data, type, row) {

            if(row.plafon_revendeur != null && row.montant != null  &&  row.montantpayer!= null ){
                                                          
            	var calcule  = Number(((row.montantnonpayer -  (row.totalAvoir - row.avoirConsomme )) / row.plafon_revendeur *100).toFixed(2));
            	var colorcalcule = "bg-success"
            	var	 poucentprogrss="20%"
            		if(calcule <= 50 && calcule > 30 )
            			{
            			 poucentprogrss="40%"
            				 colorcalcule=" bg-info"
            			}
            	if(calcule <= 70 && calcule > 50 ){
            		 colorcalcule = "bg-primary"
            			 poucentprogrss="65%"
            	}
            			if(calcule <= 100 && calcule > 70 )
            				{
            				colorcalcule="bg-warning"
            				poucentprogrss="85%"
            				}
            				
            				if(calcule > 100){
            					colorcalcule="bg-danger"
            					poucentprogrss = "100%"
            				}
            					
            					
            	var htmlcaclul = "<span>"+calcule + "% "+  "</span>";
            	 var progressbar = `<div class="progress">
            	 <div class="progress-bar `+colorcalcule+`  progress-bar-striped" role="progressbar" aria-valuenow="`+calcule+`" aria-valuemin="0" aria-valuemax="100" style="width: `+poucentprogrss+`">
            	 <span class="sr-only">`+calcule+`% Complete (success)</span>
            	 </div>
            	 </div>`
            	return "<div>" +  htmlcaclul  + progressbar +"</div>"
            }
            	else
            	return "";
            }

          },
    ],

  });
	 function onchangeSearch(event) {
    let name = event.target.name;

    switch (name) {
      case "status": {
        status = event.target.value;
        break;
      }
      }
      }
function onclicksherh(event) {
    //event.preventdefault()
    event.preventDefault();

    //$('#tutorialTable').DataTable().ajax.reload();
    $("#tutorial")
      .DataTable()
      .column(0)
      .search(
        JSON.stringify({
        	status: status 
        })
      )
      .draw();
  }
	oTable = $("#tutorial").DataTable({
   pagingType: 'full_numbers',

						      ordering: true,
						      searching : true,
						      "processing": true, 
						      "serverSide": true,
    ajax: "/recapFactureLimit",
    lengthMenu: [
    	[5, 10, 50 , 100 , 200,500],
    	[5, 10, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
       first: "<i class='fa fa-fast-backward'></i>",
          last: "<i class='fa  fa-fast-forward '></i>",
          next: "<i class='fa fa-solid fa-chevron-right'></i>",
          previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
  
    },
    initComplete: function (json) {
    },

    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
    ],

    columns: [
          {
              data: null,
              render: function (data, type, row) {
              		return  row.lastname+" "+row.firstname+"("+row.code_user+")" ;
              },
            },  
        
      {
          data: null,
          render: function (data, type, row) {		
          	return Number(row.montanttotal.toFixed(3));
          },
        },

        {
            data: null,
            render: function (data, type, row) {
return row.quantiteonecheance;
            }

          },
          {
            data: null,
            render: function (data, type, row) {
return row.quantitehorsecheance;
            }

          },
            
            {
            data: null,
            render: function (data, type, row) {
if(row.quantiteonecheance == 0 && row.quantitehorsecheance == 0){
return '<span class="badge badge-success">Toutes versées</span>';	
}else if(row.quantiteonecheance !==0 && row.quantitehorsecheance == 0){
	return '<span class="badge badge-warning">Limite</span>';
}else{return '<span class="badge badge-danger">Hors échéance</span>'}

            }

          },
    ],

  });	
	  $("#togglebutton").click(function () {
      $("#showMe3").toggle();
    });
      //rendement revendeur table
var selectedDate="";
  function onchangeSearchRen(event) {
    let name = event.target.name;
    switch (name) {
      case "selectedDate": {
       selectedDate = event.target.value;
          console.log(selectedDate);
        break;
      }
      }
      }
function onclicksherhRend(event) {
  event.preventDefault();
  console.log(event);
    // Perform the search using selectedDate
    $("#RevendeurRend")
        .DataTable()
        .column(0)
        .search(JSON.stringify({ date: selectedDate }))
        .draw();
}
  
    oTableRevendeur = $("#RevendeurRend").DataTable({
   pagingType: 'full_numbers',
						      processing: true,
						      serverSide: true,
						      ordering: true,
						      searching : true,
						      "processing": true, 
						      "serverSide": true,
    ajax: "/commission/AllCommissionDashboard",
    lengthMenu: [
    	[5, 10, 50 , 100 , 200,500],
    	[5, 10, 50 , 100 , 200,500],
    ],

    language: {
      lengthMenu: "Affichage _MENU_ par page",
      zeroRecords: "Rien trouvé - désolé",
      emptyTable: "aucune donnée disponible",
      info: "Afficher _START_ -  _END_ de _TOTAL_ entrées ",
      infoEmpty: "Aucun enregistrement disponible",
      paginate: {
       first: "<i class='fa fa-fast-backward'></i>",
          last: "<i class='fa  fa-fast-forward '></i>",
          next: "<i class='fa fa-solid fa-chevron-right'></i>",
          previous: "<i class='fa fa-solid fa-chevron-left'></i>",
      },
      search: "Chercher:",
    },
    initComplete: function (json) {

    },

    columnDefs: [
      {
        className: "dtr-control",
        orderable: false,
        targets: 0,
      },
    ],

    columns: [
          {
              data: null,
              render: function (data, type, row) {
              		return  row.lastname+" "+row.firstname+"("+row.codeuser+")" ;
              },
            },  
        
      {
          data: null,
          render: function (data, type, row) {		
          	return row.countAllDemandeEnAttente;
          },
        },

        {
            data: null,
            render: function (data, type, row) {
return row.countAllDemandeAccecpted;
            }

          },
          {
            data: null,
            render: function (data, type, row) {
return row.countAllDemandeRejected;
            }

          },
            
            {
            data: null,
            render: function (data, type, row) {
				return row.countAllDemandeClassification;
            }

          },
    ],

  });	
	  $("#togglebuttonDemRev").click(function () {
      $("#showMe").toggle();
    });
</script>
