<!--
  created by hatem ghozzi on 12 12 2022
  -->
<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorator="layout"
>
<head>

    <title>Modifier le profil</title>

</head>
<body >
<section layout:fragment="content">
    <section class="content">
        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Modifier mon profil </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Modifier mon profil</h3>
                    </div>
                    <div th:if="${message}" class="alert alert-success alert-dismissible fade show ml-2 mr-2" role="alert">
						  <strong>Succès!</strong> La modification a été effectuée avec succès.
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
					</div>
                    <div class="card-body">
                        <form class="form-sample" id="form-sample" action="#" th:action="@{|/RevendeurUser/users/mon-profile/${user.userid}|}"
                              enctype="multipart/form-data" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Nom</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="Nom" th:field="${user.lastName}"
                                                   readonly   />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Prénom</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="Prenom"
                                                   readonly     th:field="${user.firstName}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Email</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" name="Email" th:field="${user.email}"
                                                   readonly     th:required="required"/>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Numéro de téléphone  </label>
                                        <div class="col-sm-9">
                                            <input type="text" pattern="[0-9]{8}"   name="telephone" class="form-control" th:field="${user.telephone}" />
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Mot de passe</label>
                                        <div class="col-sm-9">
                                            <input    type="password" class="form-control" name="Password" id="password" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Confirmer le mot de passe</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="Confirm_Password" id="confirm_password"/>
                                            <p class="text-danger" th:if="${password_error}" th:text="${password_error}"></p>   
                                        </div>                                        	 
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Coordonnees bancaires revendeur </label>
                                        <div class="col-sm-9">
                                            <input type="text"  autocorrect="off" spellcheck="false" autocomplete="off"    name="coordonneesBancaires" class="form-control"  th:field="${user.coordonneesBancaires}" />



                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Activité principale</label>
                                        <div class="col-sm-9">
                                            <input type="text"   name="ActivitePrincipale" class="form-control"  th:field="${user.ActivitePrincipale}" />



                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row" th:switch="${user.photo}">
                                        <label class="col-sm-3 col-form-label" for="imageFile">Photo de profil</label>
                                        <div class="col-sm-9">
                                            <div class="custom-file">
                                                <input type="file" accept="image/*" className="form-control"
                                                       name="imageFile" id="imageFile"/>
                                                       
                                                <label class="custom-file-label" for="imageFile">Choisir une image</label>
                                            </div>

                                        </div>                                
                                        <img th:case="null" src="/img/faces/choisiruneimage.png" id="prev"
                                             style="height: 200px; width: 50%; display: block;margin-left: auto; margin-right: auto;
                                          margin-top: 20px;"/>
                                        <img th:case="*" th:src="@{${'/photos/'+user.email+'/'+user.photo}}" id="prev"
                                             style="height: 200px; width: 50%; display: block; margin-left: auto; margin-right: auto;
                                          margin-top: 20px;"/>
                                    </div>
                                </div>


                            </div>

                    <div class="card-footer" style="margin-top: 20px; text-align: center;">
                        <button type="submit" class="btn btn-success" style="margin-right: 20px;">Valider</button>                        
						<a th:if="${user.typeUser=='ADMINISTRATEUR'}" th:href="@{'../../admin/dashboard'}" class='text-danger font-weight-bold'>Annuler</a>   
						<a th:if="${user.typeUser!='ADMINISTRATEUR'}" th:href="@{'../../alluser/dashboard'}" class='text-danger font-weight-bold'>Annuler</a>                   						                     
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        </div>
     
    </section>
</section>

</body>

</html>
<script th:inline="javascript">
var reader = new FileReader();
reader.onload = function(r_event) {
    document.getElementById('prev').setAttribute('src', r_event.target.result);
}
document.getElementsByName('imageFile')[0].addEventListener('change', function(event) {
    reader.readAsDataURL(this.files[0]);
});

$( document ).ready( function () {
	$( "#form-sample" ).validate( {
		rules: {
			Confirm_Password:{
				equalTo: "#password"
			}
		},
		messages: {				
			Confirm_Password:{
				equalTo :"La confirmation n'est pas identique"
			},
		},
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `invalid-feedback` class to the error element
			error.addClass( "invalid-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.next( "label" ) );
			} else {
				error.insertAfter( element );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
		},
		unhighlight: function (element, errorClass, validClass) {
			$( element ).addClass( "is-valid" ).removeClass( "is-invalid" );
		}
	} );

    $.validator.setDefaults( {
	submitHandler: function (form) {
	
		 form.submit()
	}
} );

} );
</script>