<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Fiche</title>

    <!--    <link th:href="@{/vendors/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">-->
     <link rel="stylesheet" href="/css/customvariablestyle.css"> 
</head>

<body id="page-top">
<section layout:fragment="content">
<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">                  
   
                    <!-- DataTales Example -->
                    <div class="card shadow mt-3">
                                <div class="content-header">
					                <div class="container-fluid">
					                    <div class="row">
					                        <div class="col-sm-6">                           
					                            <h1>
													Liste des affectations
					                            </h1>
					                        </div><!-- /.col -->
					                    </div><!-- /.row -->
					                </div><!-- /.container-fluid -->
					            </div>
					            
					                    <div class="card-header py-3">   
                   <form method="get" class="row">
                    <div class="row col-md-12">
                    		  <div class="col-md-4" sec:authorize="hasAnyAuthority('READ_MODEM')">
		                        <label class="col-form-label" for="type">Mes affectations /toutes les affectations</label>
		                        <select 
		                          id="myAffect"
		                          name="myAffect"
		                          class="form-control"
		                          th:onchange="|onchangeSearch(event)|"
		                        >
		                            <option value = ''>toutes les affectations</option>
		                            <option value="myAffect">Mes affectations</option>
		                        </select>
		                      </div>
							  <div class="col-md-4" sec:authorize="hasAnyAuthority('READ_MODEM')">
		                        <label class="col-form-label" for="type">Affecter Par</label>							
								<select
		                          id="distId"
		                          name="distId"
		                          class="form-control js-select2"
		                           data-control="select2"
									data-placeholder="Sélectionner un distributeur"
		                          th:onchange="|onchangeSearch(event)|"
		                        >
		                          <option value="">Affecté Par</option>
									<option th:each="u:${listDistributeur}"
		                            th:value="${u.userid}"
		        					th:text="${u.firstName + ' ' + u.lastName + ' ( '+u.codeUser+' )'}">
		                          </option>
		                        </select>
		                      </div>
		                      <div class="col-md-4">
		                        <label class="col-form-label" for="type">Affect à</label>							
								<select
		                          id="affectA"
		                          name="affectA"
		                          class="form-control js-select2"
		                           data-control="select2"
									data-placeholder="Sélectionner un utilisateur"
		                          th:onchange="|onchangeSearch(event)|"
		                        >
		                          <option value="">Affecté à</option>
									<option th:each="u:${listAffectA}"
		                            th:value="${u.userid}"
		        					th:text="${u.firstName + ' ' + u.lastName + (u.nomCommercial != null && u.nomCommercial.length  > 1 ? ' / '+u.nomCommercial + ' / ' :'')+ ' ( '+u.codeUser+' )'}">
		                          </option>
		                        </select>
		                      </div>
		             </div>
                     <div class="row col-md-8 mt-3">
	                      <div class=" col-md-4">
	                                         <div class="form-group row">
	                                             <label class="col-form-label mr-2"> Date d'affectation : du</label>
	                                             <div>
	                                                 <input type="date" class="form-control"
	                                                        placeholder="Choisissez une date de début"
	                                                        name="dateDebut" id="dateDebut"    th:onchange="|onchangeSearch(event)|"/>
	                                             </div>
	                                         </div>
	                       </div>
	                      <div class="col-md-6">
	                                         <div class="form-group row">
	                                             <label class="col-form-label mr-2">au</label>
	                                             <div>
	                                                 <input type="date" class="form-control"
	                                                        placeholder="Choisissez une date de fin"
	                                                        name="dateFin" id="dateFin"    th:onchange="|onchangeSearch(event)|"/>
	                                             </div>
	                                         </div>
	                       </div>
                  
                    </div>
                      <div>
                        <button
                          class="btn btn-sm btn-success shadow-sm mt-3"
                          th:onclick="onclicksherh(event)"
                          id="buttonRecherche"
                        >
                          Rechercher
                        </button>
                      </div>
                      
                   </form>
                 </div>
                   <div>
                   
                     <div th:if="${message}" class="alert alert-success" role="alert">
					<strong th:text="${message}" ></strong>
				        </div>
				
				
                            <div class="table-responsive pr-2 pl-2">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                  <thead>
                       <tr>
                         
						<th>Réference fiche </th>
						<th>Affecté Par</th>					
						<th>Affecté à</th>
						<th>Date d'affectation</th>
						<th>Quantité</th>
						<th>Action</th>
					</tr>
					</thead>
					<!--   <tbody>
					<tr th:each="ob:${fiches}">
						<td th:value=${ob.ref_fiche} name="ref"> <a th:href="@{/fiche/{ref}(ref=${ob.ref_fiche})}"><i th:text=${ob.ref_fiche} ></i></a>  </td>
						<td th:text="${ob.affectedByFirstName + ' ' + ob.affectedByLastName + ' / ' + ob.affectedByCode}"></td>
						<td th:text="${ob.affectedToFirstName + ' ' + ob.affectedToLastName + (ob.nom_commercial != null ? ' / ' + ob.nom_commercial : '') + ' / '+ob.affectedToCode}"></td>
						<td th:text=${ob.affectequantite}></td>

					</tr>
                    </tbody>-->
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
         
            </div>
            <!-- End of Main Content -->


            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
</section>
</body>

</html>
<script th:inline="javascript">
var oTable;

function details(column){
	  var data = oTable.row($(column).parents('tr')).data();
let href = "/fiche/" + data.ref_fiche;
window.location.href =href ; 
}

$('.loader-container').show();

	$(document)
			.ready(
					function() {
						   oTable =   $('#dataTable').DataTable({
							   "language": {
									"lengthMenu": "Affichage _MENU_ enregistrements par page",
						            "zeroRecords": "Rien trouvé - désolé",
						            "info": "Afficher _START_ -  _END_ de _TOTAL_ Modems ",
						            "infoEmpty": "Aucun enregistrement disponible",
						            paginate: {
						                first: "<i class='fa fa-fast-backward'></i>",
						                last: "<i class='fa  fa-fast-forward '></i>",
						                next: "<i class='fa fa-solid fa-chevron-right'></i>",
						                previous: "<i class='fa fa-solid fa-chevron-left'></i>",
						              },
						        },
                             pagingType: 'full_numbers',
						      processing: true,
						      serverSide: true,
						      ordering: true,
						      searching : true,
						      "processing": true, // activer le mode processing
						      "serverSide": true, // activer le mode server-side
						      ajax: '/allfiches',
						      columnDefs: [{
						    	    orderable: false,
						    	    targets: [0 , 1 , 2, 3, 4, 5 ],
						    	    
						      
						    	  }],
						      columns: [
						          {
						        	    data: null,
						        	    render: function(data, type, row) {
						        	        return row.ref_fiche;
						        	    }
						          },
						          {
						        	    data: null,
						        	    render: function(data, type, row) {
						        	        return row.affectedByFirstName + ' ' + row.affectedByLastName + ' / '+row.affectedByCode;
						        	    }
						          },
						          {
						        	    data: null,
						        	    render: function(data, type, row) {
						        	        var commercialName = row.nom_commercial || '';						        	        
						        	        return row.affectedToFirstName + ' ' + row.affectedToLastName + (commercialName.length > 0 ? ' / ' + commercialName : '') +' ( '+row.affectedToCode+' )';
						        	    }
						          },                                    						          
						          {
						              "data": "createdDate"
						          },
						          {data : "affectequantite"},
						          {
										data : null,
										render : function(data,	type, row) { 
                                 
                                      	return "<button type='button' class='btn btn-primary' onclick='details(this)'>" +
                                          " <i class='fa fa-eye'></i>" +
                                          "</button>";
   								   }
 
								},

						      ],
						  });

						    oTable.on('processing.dt',function(e, settings, processing) {
						    	   
						        if (processing) {
						            // afficher le spinner
									  $('.loader-container').show();
						          } else {
						            // cacher le spinner
									  $('.loader-container').hide();
						          }
						      });					
					});
	
	  
	  	 
	 //Ajouter un loader
			$('#uploadXls').on('click', function(event) {
			  
			  // Désactiver le bouton
			  $(this).prop('disabled', true);
			  
			  // Ajouter la classe qui affiche le chargeur
			  $(this).addClass('disabled').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Chargement en cours...');
			  
			  // Afficher le conteneur de chargeur
			  $('.loader-container').show();
			  
			  // Soumettre le formulaire
			  $(this).closest('form').submit();
			});


				var dateDebut = ""
				var dateFin = ""
				var distId = ""
				var affectA = ""
				var myAffect = ""
				
				function onchangeSearch(event) {
				    let name = event.target.name;
				  
				    switch (name) {
				      case "dateDebut": {
				    	  dateDebut = event.target.value;
				        break;
				      }
				      case "dateFin": {
				    	  dateFin = event.target.value;
				        break;
				      }
				      case "distId": {
				    	  distId = event.target.value;
				        break;
				      }
				      case "affectA": {
				    	  affectA = event.target.value;
				        break;
				      }
				      case "myAffect": {
				    	  myAffect = event.target.value;
				        break;
				      }
				    }
				    
				  }
				  
				function onclicksherh(event) {
					  //event.preventdefault()
					  event.preventDefault();

					  //$('#tutorialTable').DataTable().ajax.reload();
					  $("#dataTable")
					    .DataTable()
					    .column(0)
					    .search(
					      JSON.stringify({
					    	  dateDebut : dateDebut,
					    	  dateFin : dateFin,
					    	  distId : distId,
					    	  affectA : affectA,
					    	  myAffect : myAffect
					      })
					    )
					    .draw();
				}

			    $(document).ready(function() {
			        $('.js-select2').select2({ allowClear: true});
			      });
</script>