<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Fiche</title>

    <!--    <link th:href="@{/vendors/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">-->

    <style type="text/css">
        :required {
            border: 2px dotted orange;
        }
    </style>

</head>

<body id="page-top">
<section layout:fragment="content">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
		            <div class="content-header">
		                <div class="container-fluid">
		                    <div class="row mb-2">
		                        <div class="col-sm-6">                           
		                            <h1 class="m-0">
		                            <a  th:href="@{/fiches}"><button class="btn btn-primary mr-3">Retour</button></a>
		                            Information fiche
		                            </h1>
		                        </div><!-- /.col -->
		                    </div><!-- /.row -->
		                </div><!-- /.container-fluid -->
		            </div>
					<div class="container mt-4 ">
					  <div class="row">
					    <div class="col-md-6">
					      <div class="card p-3">
					        <div class="card-header font-weight-bold">
					          <h1>Details Fiche</h1>
					        </div>
					        <div class="card-body">
					          <p class="mb-2"><span class="font-weight-bold">Réference Fiche :</span> <span th:text="${fiche.ref_fiche}"></span></p>
					          <p class="mb-2"><span class="font-weight-bold">Date de creation :</span> <span th:utext=" ${#dates.format(fiche.CreatedDate, 'dd-MM-yyyy')}"></span></p>
					          <p class="mb-2"><span class="font-weight-bold">Quantité affectée :</span> <span th:text="${fiche.affectequantite}"></span></p>
					          <p class="mb-2"><span class="font-weight-bold">Affecté Par :</span> <span th:text="${usersBy.firstName + ' '+usersBy.firstName +' / '+usersBy.codeUser}"></span></p>
					        </div>
					      </div>
					    </div>
					    <div class="col-md-6">
					      <div class="card p-3">
					        <div class="card-header font-weight-bold">
					          <h1>Details Destinataire</h1>
					        </div>
					        <div class="card-body">
					          <p class="mb-2"><span class="font-weight-bold">Destinataire :</span> <span th:utext="${users.firstName + ' ' +users.lastName}"></span></p>
							  <div th:if="${#strings.isEmpty(users.nomCommercial)} == false">
								  <p class="mb-2" >
								  <strong class="font-weight-bold">Nom commercial :</strong> 
								  <span th:utext="${users.nomCommercial}"></span>
								  </p>
							  </div>
					          <p class="mb-2"><span class="font-weight-bold">Code :</span> <span th:utext="${users.codeUser}"></span></p>
					          <p class="mb-0"><span class="font-weight-bold">Email destinataire :</span> <span th:utext="${users.email}"></span></p>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>

 
                    <!-- DataTales Example -->
                    <div class="card shadow ml-2 mr-2 mt-2 mb-2 pr-2 pl-2">
                      
                   <div class="card-body">
                        
                          <form th:action="@{/imprimer/{ref}(ref=${fiche.ref_fiche})}" target="_blank" method="post">
                          
                          <h1>Liste de modems affectés</h1>
                           
                           <table class="table table-bordered" width="100%" cellspacing="0" >
                                  <thead>
                       <tr>
                                  
						<th>Numero de série</th>	
						<th>Model</th>
						<th>Marque</th>					
						</tr>
					</thead>
				
					<tbody>
					<tr th:each="ob:${modems}">
						<td th:text=${ob.numSerie}></td>
						<td th:text=${ob.modelModem}></td>
						<td th:text=${ob.marque}></td>
	           
					</tr>
                    </tbody>
                                </table> 
                              </div>              
               
                             <div class="col-md-6 pb-2">
                                <input data-toggle="modal" data-target="#confirmerimpression"  class="btn btn-primary" value=" Imprimer ">
                                    <a th:href="@{/fiches}" class="btn btn-danger">
                                        <span class="text">Annuler</span>
                                    </a>
                                                       </div>
                           
                           
                              <div class="modal fade" id="confirmerimpression" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Imprimer Fiche</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Cliquez sur Confirmer si vous voulez continuer l'impression.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                 <input type="submit" class="btn btn-primary" value="Confirmer"> </input> 
                </div>
            </div>
        </div>
    </div>
                           
    
                   
                  </form> 
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->
         
            </div>
            <!-- End of Main Content -->



        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

<!--   -->
<!--    &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{../vendor/jquery/jquery.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!--    &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--   &lt;!&ndash;  <script src="vendor/jquery-easing/jquery.easing.min.js"></script> &ndash;&gt;-->
<!--    <script type="text/javascript" th:src="@{../vendor/jquery-easing/jquery.easing.min.js}"></script>-->

<!--    &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--   <script type="text/javascript" th:src="@{js/sb-admin-2.min.js}"></script>-->


<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--&lt;!&ndash;     <script src="vendor/datatables/jquery.dataTables.min.js"></script> &ndash;&gt;-->
<!--     <script type="text/javascript" th:src="@{../vendor/datatables/jquery.dataTables.min.js}"></script>-->
<!--&lt;!&ndash;     <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script> &ndash;&gt;-->
<!--     <script type="text/javascript" th:src="@{../vendor/datatables/dataTables.bootstrap4.min.js}"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--&lt;!&ndash;     <script src="js/demo/datatables-demo.js"></script> &ndash;&gt;-->
<!--     <script type="text/javascript" th:src="@{../js/demo/datatables-demo.js}"></script>-->
</section>
</body>

</html>
