<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout.html}">
<head>

    <title>Suivi des Commissions</title>

</head>

<body>
<section layout:fragment="content">

<!-- Loader -->
<div th:replace="/fragments/loader.html :: loader"></div>

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">                           
                            <h1 class="m-0">
                            	exporter  facture TT
                            </h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
<section class="card m-2 p-2">
 <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" th:action="@{/facturationTT/extractenmasse}"  method="get">
	                <label class="col-form-label" id="date_label">Sélectionnez une date (année-mois)</label>
					<input class="form-control ml-2" type="month" id="date" name="date"  required>
					
					<!-- input pour navigateur FireFox -->
					<label class="col-form-label " style="display: none;" id="date_label_fireFox" >Entrez une date (année-mois) </label>
					<div>					   
						<div class="col-md-12"><input class="form-control ml-2" type="text" id="alternativeDate" name="alternativeDate" placeholder="Format attendu : 2023-01" style="display: none;"></div>
						<div class="col-md-12"><p id="errorMessage" style="display: none; color: red;">Le format doit être YYYY-MM (2023-01)</p></div>
					</div>
					
                    <button type="submit" class="btn btn-primary ml-2" id="buttonCalculer" >exporter</button>                    
                </form>                
            </div>
        </div>
    </div>

</section>
</section>
</body>
</html>
<script th:inline="javascript">





    const browser = navigator.userAgent;
	// Vérifier si le navigateur est Firefox
	if (browser.indexOf("Firefox") > -1) {
		
	    const inputElement = document.getElementById("date");
	    const alternativeInputElement = document.getElementById("alternativeDate");
	    const errorMessageElement = document.getElementById("errorMessage");
	    const date_label = document.getElementById("date_label");
	    const date_label_fireFox = document.getElementById("date_label_fireFox");
		const buttonCalculer = document.getElementById("buttonCalculer");
		buttonCalculer.disabled = true;
		
	    if (inputElement && alternativeInputElement) {
	        // Masquer l'élément <input> existant
	        inputElement.style.display = "none";
	        date_label.style.display = "none";
	        
	        // Afficher l'élément alternatif <input>
	        alternativeInputElement.style.display = "block";
	        date_label_fireFox.style.display = "block";
	    }
	    
	    alternativeInputElement.addEventListener("input", function() {
	    	
	    	// Vérifier que la valeur a le format attendu (YYYY-MM)
            const inputValue = alternativeInputElement.value;
            const regex = /^(\d{4})-(\d{2})$/;
            
            if (regex.test(inputValue)) {
            	// La valeur a le bon format
                const [, year, month] = inputValue.match(regex);
            	
                if (parseInt(month, 10) >= 1 && parseInt(month, 10) <= 12) {
                    alternativeInputElement.style.borderColor = "initial";
                    errorMessageElement.style.display = "none";
                    buttonCalculer.disabled = false;
                } else {
                    alternativeInputElement.style.borderColor = "red";
                    errorMessageElement.style.display = "block";
                    buttonCalculer.disabled = true;
                }
                
            } else {
                alternativeInputElement.style.borderColor = "red";
                errorMessageElement.style.display = "block";
                buttonCalculer.disabled = true;
            }
            
        });
	}

</script>
